<table cellspacing="0" cellpadding="0" border="1">
    <tbody>


        <tr>
            <td colspan="2" width="740" >
                <p>
                    <img
                        src="http://localhost:8000/static/img/test/bg1.png"
                        width="735"
                        height="100"
                    />
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="740" >
                <p align="center">
                    <strong>INVOICE</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="370" >
                <p>
                    BAI Infosolutions Private Limited
                </p>
            </td>
            <td rowspan="9" width="370" >
                <p>
                    Religare Health Insurance Company Limited 3rd Floor, Tower
                    C
                </p>
                <p>
                    <strong>BILL TO : </strong>
                    Vipul Tech Square, Golf Course Road Sector 43 Gurgaon
                    122009
                </p>
                <p>
                    Rajeev Kumar | 7290005641
                </p>
                <p>
                    <strong>GSTIN : </strong>
                    06AADCR6281N1ZW
                </p>
                <p>
                    <strong>Billing City : </strong>
                    Gurugram
                </p>
                <p>
                    <strong>Booked By : </strong>
                    Rajeev Kumar
                </p>
            </td>
        </tr>
        <tr>
            <td width="370" >
                <p>
                    <strong>BILLED BY : </strong>
                    1/1075/1/2 GF 4, Mehrauli
                </p>
            </td>
        </tr>
        <tr>
            <td width="370" >
                <p align="center">
                    New Delhi 110030
                </p>
            </td>
        </tr>
        <tr>
            <td width="370" >
                <p align="center">
                    India
                </p>
            </td>
        </tr>
        <tr>
            <td width="370" >
                <p>
                    <strong>BILL DATE : </strong>
                    19-03-2019
                </p>
            </td>
        </tr>
        <tr>
            <td width="370" >
                <p>
                    <strong>BILL NUMBER : </strong>
                    RLGBILL5445
                </p>
            </td>
        </tr>
        <tr>
            <td width="370" >
                <p>
                    <strong>GSTIN : </strong>
                    07AAGCB3556P1Z7
                </p>
            </td>
        </tr>
        <tr>
            <td width="370" >
                <p>
                    <strong>Pan Number : </strong>
                    AAGCB3556P
                </p>
            </td>
        </tr>
        <tr>
            <td width="370" >
                <p>
                    <strong>CIN Number : </strong>
                    U72200DL2015PTC283027
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="740" >
                <p align="center">
USAGE TYPE: <strong>Outstation Taxi</strong>                    <strong></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="740" >
                <p align="center">
                    BOOKING ID: <strong>TVRLG32594</strong><strong></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="370" >
                <p>
                    <strong>Booking Date | Time </strong>
                    14-11-2018 | 16:08
                </p>
            </td>
            <td width="370" >
                <p>
                    <strong>Vehicle Type </strong>
                    Sedan
                </p>
            </td>
        </tr>
        <tr>
            <td width="370" >
                <p>
                    <strong>Pickup Date | Time </strong>
                    15-11-2018 | 08:00
                </p>
            </td>
            <td width="370" >
                <p>
                    <strong>Package </strong>
                    Outstation | 1 days
                </p>
            </td>
        </tr>
        <tr>
            <td width="370" >
                <p>
                    <strong>Pick-Up City | Address </strong>
                    Raipur (CHG) | Hotel Celebration Raipur
                </p>
            </td>
            <td width="370" >
                <p>
                    <strong>Vehicle No. </strong>
                    CG 04 LZ 6855
                </p>
            </td>
        </tr>
        <tr>
            <td width="370" >
                <p>
                    <strong>Travel To </strong>
                    Bilaspur
                </p>
            </td>
            <td width="370" >
                <p>
                    <strong>Passenger Name </strong>
                    Anubhav Mishra
                </p>
            </td>
        </tr>
        <tr>
            <td width="370" >
            </td>
            <td width="370" >
                <p>
                    <strong>Passenger Employee ID</strong>
                    <strong></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="370" >
                <p>
                    <strong>Base Package (Per Day) </strong>
                    1 day | 300kms
                </p>
                <p>
                    <strong>Base Package Charge (INR Per day) </strong>
                    3600
                </p>
                <p>
                    <strong>Driver Allowance (In INR per Day) </strong>
                    300
                </p>
            </td>
            <td width="370" >
                <p>
                    <strong>Extra Km Charge: [In INR per Kms] </strong>
                    12
                </p>
                <p>
                    <strong>Extra Day Charge: [In INR per Day] </strong>
                    3600
                </p>
                <p>
                    <strong>(Every Extra Day include min 300 Kms)</strong>
                    <strong></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="370" >
                <p>
                    **Fare Terms and Conditions Apply As Applicbale
                </p>
            </td>
            <td width="370" >
            </td>
        </tr>
        <tr>
            <td width="370" >
                <p>
                    <strong>Total Days Usage [In No. of Days] </strong>
                    1
                </p>
                <p>
                    <strong>Allowed KMs </strong>
                    300
                </p>
                <p>
                    <strong>Total Kms Usage [In Kms] </strong>
                    246
                </p>
                <p>
                    <strong>Extra Kms [In Kms] </strong>
                    0
                </p>
            </td>
            <td width="370" >
                <p>
                    <strong>Base Package Charge [In INR] </strong>
                    3600.00
                </p>
                <p>
                    <strong>Total Extra KMs Charge [In INR] </strong>
                    0.00
                </p>
                <p>
                    <strong>Total Driver Allowance [In INR] </strong>
                    300.00
                </p>
                <p>
                    <strong>Others: Toll, Parking, MCD Etc. [In INR] </strong>
                    0.00
                </p>
                <p>
                    <strong>Total Taxable [In INR] </strong>
                    3900.00
                </p>
                <p>
                    <strong>Total Non Taxable [In INR] </strong>
                    0
                </p>
                <p>
                    <strong>CGST </strong>
                    NA
                </p>
                <p>
                    <strong>SGST </strong>
                    NA
                </p>
                <p>
                    <strong>IGST [12.00%] </strong>
                    468.00
                </p>
                <p>
                    <strong>Advance Paid INR 0.00</strong>
                    <strong></strong>
                </p>
                <p>
                    <strong>TOTAL </strong>
                    <strong>INR </strong>
                    <strong>4368.00</strong>
                    <strong></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="740" >
                <p>
                    For BAI Infosolutions Private Ltd
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="740" >
                <p>
                    Authorized Signatory
                </p>
            </td>
        </tr>


     <tr>
            <td colspan="2" width="740" >
                <p>
                    <img
                        src="http://localhost:8000/static/img/test/bg2.png"
                        width="735"
                        height="100"
                    />
                </p>
            </td>
        </tr>

    </tbody>
</table>
