{% extends 'Company/Employee/layout/header.html' %}

{% block content %}

{% if user %}
			<!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">

                                      <div class="text-center">
                     <div style="font-size:14px; font-weight:bold;">
                        Add Hotel Booking
                         </div>
                </div>

 <form method="post" action="/Corporate/Employee/add-hotel-booking/{{user.id}}" enctype="multipart/form-data">
      {% csrf_token %}
                <input type="hidden" class="col-sm-8 form-control" name="cotrav_agent_id"  value="{{user.id }}">
            <input type="hidden" name="user_id" value="{{user.id}}">
            <input type="hidden" name="corporate_id" value="{{user.corporate_id}}">
            <input type="hidden" name="spoc_id" value="{{user.spoc_id}}">
            <input type="hidden" name="entity_id" value="{{user.billing_entity_id}}">
            <input type="hidden" name="employee_id" value="{{user.id}}">

                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>Booking Details</header>
                                     <button id = "panel-button"
				                           class = "mdl-button mdl-js-button mdl-button--icon pull-right"
				                           data-upgraded = ",MaterialButton">
				                           <i class = "material-icons">more_vert</i>
				                        </button>
				                        <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
				                           data-mdl-for = "panel-button">
				                           <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
				                        </ul>
                                </div>
                                <div class="card-body " id="bar-parent">

                                            <div class="form-group row">
                                                    <label class="col-sm-4">From City</label>

                                                    <select class="col-sm-8 form-control myselect" name="from_city" id="from_city"  required>
                                                        <option value="">Select City</option>
                                                        {% for city in cities %}
                                                            <option value="{{city.id}}">{{city.city_name}}</option>
                                                        {% endfor %}
                                                    </select>

                                            </div>

                                            <div class="form-group row">
                                                    <label class="col-sm-4" >City Area</label>
                                                    <select class="col-sm-8 form-control myselect" name="city_area" id="city_area"  required>
                                                       {% for city in cities %}
                                                            <option value="{{city.id}}">{{city.city_name}}</option>
                                                        {% endfor %}
                                                    </select>

                                            </div>

                                            <div class="form-group row">
                                                    <label class="col-sm-4">Preferred Hotel Area</label>
                                                    <select class="col-sm-8 form-control myselect" name="preferred_hotel_area" id="preferred_hotel_area"  required>
                                                        {% for city in cities %}
                                                            <option value="{{city.id}}">{{city.city_name}}</option>
                                                        {% endfor %}
                                                    </select>

                                            </div>

                                        <div class="form-group row">
                                                <label class="col-sm-4">Check In DateTime</label>
                                                <input type="datetime-local" class="col-sm-8 form-control" name="check_in_date">
                                        </div>

                                        <div class="form-group row">
                                                <label class="col-sm-4">Check Out DateTime</label>
                                                <input type="datetime-local" class="col-sm-8 form-control" name="check_out_date">
                                        </div>


                                        <div class="form-group row">
                                                <label class="col-sm-4">Room type (Priority 1)</label>
                                                <select class="col-sm-8 form-control myselect" name="room_type_priority1" id="room_type_priority1"  required>
                                                    {% for room_type in room_types %}
                                                        <option value="{{room_type.id}}">{{room_type.name}}</option>
                                                    {% endfor %}
                                                </select>

                                        </div>

                                        <div class="form-group row">
                                                <label class="col-sm-4">Room type (Priority 2)</label>

                                                <select class="col-sm-8 form-control myselect" name="room_type_priority2" id="room_type_priority2"  required>
                                                {% for room_type in room_types %}
                                                <option value="{{room_type.id}}">{{room_type.name}}</option>
                                                {% endfor %}
                                                </select>

                                        </div>

                                        <div class="form-group row">
                                                <label class="col-sm-4" for="room_occupancy">Room Occupancy</label>

                                                    <select class="col-sm-8 form-control myselect" name="room_occupancy" id="room_occupancy"  required>
                                                        {% for hotel_type in hotel_types %}
                                                <option value="{{hotel_type.id}}">{{hotel_type.name}}</option>
                                                {% endfor %}
                                                </select>

                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4">Preferred Hotel</label>
                                            <input type="text" class="col-sm-8 form-control" name="preferred_hotel"  placeholder="preferred_hotel">
                                        </div>


                                        <div class="form-group row">

                                                <label class="col-sm-4">Booking Date</label>
                                                <input type="datetime-local" class="col-sm-8 form-control" name="booking_datetime">

                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4">Assessment Code</label>
                                            <select class="col-sm-8 form-control myselect" name="assessment_code" id="assessment_code">
                                                {% for assessment in assessments %}
                                                <option value="{{assessment.id}}">{{assessment.assessment_code}}</option>
                                                {% endfor %}
                                                </select>

                                        </div>



                                        <div class="form-group row">
                                                <label class="col-sm-4">Assessment City</label>
                                                <select class="col-sm-8 form-control myselect" name="assessment_city" id="assessment_cities">
                                                    {% for city in cities_ass %}
                                                        <option value="{{city.id}}">{{city.city_name}}</option>
                                                        {% endfor %}
                                                </select>

                                        </div>



                                        <div class="form-group row">
                                            <label class="col-sm-4">Reason for Booking</label>
                                            <input type="text" class="col-sm-8 form-control" name="reason_for_booking" placeholder="Reason for Booking" required>
                                        </div>


                                     <div class="form-group">
                                               <div class="offset-md-3 col-md-9">
                                                   <button type="submit" class="btn btn-info">Submit</button>
                                                   <button type="button" class="btn btn-default">Cancel</button>
                                               </div>
                                           </div>


                                </div>
                            </div>
                        </div>

                    </div>
 </form>
  </div>
</div>

<!-- end page content -->




{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

$(document).ready(function() {
$(".js-example-basic-single").select2();
});


{% endblock %}