{% extends 'Company/Employee/layout/header.html' %}

{% block content %}



{% if user %}
<!-- start page content -->
{% include 'cotrav_alert_message.html' %}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="text-center">
                 <div style="font-size:14px; font-weight:bold;">
                    Add Bus Booking
                 </div>
            </div>
         <form method="post" action="/Corporate/Employee/add-bus-booking/{{user.corporate_id}}">
            <input type="hidden" name="employee_id_1" value="{{user.id}}">
            <input type="hidden" name="employee_id" value="{{user.id}}">
            <input type="hidden" name="spoc_id" value="{{user.spoc_id}}">
            <input type="hidden" name="corporate_id" value="{{user.corporate_id}}">
            <input type="hidden" name="no_of_seats" value="1">
            <input type="hidden" name="entity_id" value="{{user.billing_entity_id}}">
             <input type="hidden" name="current_url" value="{{ request.get_full_path }}">

       <div class="row">


           <div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%; ">
								<div class="card-head">
									<header>Booking Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">


                            <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield  mdl-textfield--floating-label txt-full-width is-dirty">
										  <input type="text" class="mdl-textfield__input" name="from" id="pickup_location" required>
										  <label class = "mdl-textfield__label" >From City*</label>
					                  </div>
                                </div>

                          <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield  mdl-textfield--floating-label txt-full-width is-dirty">
										  <input type="text" class="mdl-textfield__input" name="to" id="drop_location" required>
										  <label class = "mdl-textfield__label" >To City*</label>
					                  </div>
                                </div>

                         <div class="col-lg-2 p-t-20">
                                    <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
                                     <select name="bus_type" class="mdl-textfield__input js-select2" required>
                                         <option value="">--Select Bus Type--</option>
                                          <option value="1">AC Seater</option>
                                          <option value="2">AC Sleeper</option>
                                          <option value="3">NON AC Seater</option>
                                          <option value="4">NON AC Sleeper</option>
                                    </select>
                                  <label class = "mdl-textfield__label" >Bus Type*</label>
                                </div>
                              </div>


                        <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield  mdl-textfield--floating-label txt-full-width is-dirty">
										  <input type="text" class="mdl-textfield__input" name="preferred_bus" required>
										  <label class = "mdl-textfield__label" >Preferred Bus*</label>
					                  </div>
                            </div>


                             <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
					                     <input class = "mdl-textfield__input date-format" type = "text" name="journey_datetime" required>
					                     <label class = "mdl-textfield__label">Journey Date From*</label>
					                  </div>
                            </div>

                            <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
					                     <input class = "mdl-textfield__input date-format" type = "text" name="journey_datetime_to" required>
					                     <label class = "mdl-textfield__label">Journey Date To*</label>
					                  </div>
                            </div>


                             {% for corp_acces in corp_access %}
                                {% if corp_acces.has_assessment_codes == 1 %}

                              <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
											<select class="mdl-textfield__input js-select2" name="assessment_code" id="assessment_code">
                                                <option value="">--Select Assessment Code--</option>
                                                    {% for assessment in assessments %}
                                                    <option value="{{assessment.id}}">{{assessment.assessment_code}}</option>
                                                    {% endfor %}

                                            </select>
                                         <label class = "mdl-textfield__label" >Assessment Code*</label>
                                       </div>
									</div>



                              <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
											<select class="mdl-textfield__input js-select2" name="assessment_city_id" id="assessment_city_id">
                                                <option value="">--Select Assessment City--</option>
                                                    {% for city in cities %}
                                                    <option value="{{city.id}}">{{city.city_name}}</option>
                                                    {% endfor %}

                                            </select>
                                         <label class = "mdl-textfield__label" >Assessment City*</label>
                                       </div>
									</div>

                              {% endif %}
                              {% endfor %}


                             <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
					                     <textarea class = "mdl-textfield__input" name="reason_booking"> </textarea>
					                     <label class = "mdl-textfield__label">Booking Reason/ Comment*</label>
					                  </div>
						            </div>




                        </div>
                     </div>
                     </div>


                  <div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%">
								<div class="card-head">

                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div> <!-- card-head class end -->

                     <div class="card-body row">



                          <div class="col-lg-12"  align="center">
							              <button class="btn btn-info mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
											  Submit
											</button>

                              <button class="btn btn-danger mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"  >
											  Cancel
											</button>
							            </div>






                     </div>



                 </div>




        </div><!-- row end -->

       </div>
        </form>
    </div></div>
<!-- end page content -->





{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCstbhex4F6X2-AXz3B1sR1oRvxssE3sc&libraries=places"></script>

<script type="text/javascript">
$(document).ready(function() {
$(".js-example-basic-single").select2();
});
 var input = document.getElementById('pickup_location');
  var autocomplete = new google.maps.places.Autocomplete(input);

  var input = document.getElementById('drop_location');
  var autocomplete = new google.maps.places.Autocomplete(input);

</script>


{% endblock %}