{% extends 'Company/Employee/layout/header.html' %}

{% block content %}

{% if user %}
			<!-- start page content -->
{% include 'cotrav_alert_message.html' %}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="text-center">
                 <div style="font-size:14px; font-weight:bold;">
                    Add Hotel Booking
                 </div>
            </div>

 <form method="post" action="/Corporate/Employee/add-hotel-booking/{{user.id}}" enctype="multipart/form-data">
      {% csrf_token %}
                <input type="hidden" class="col-sm-8 form-control" name="cotrav_agent_id"  value="{{user.id }}">
                <input type="hidden" name="user_id" value="{{user.id}}">
                <input type="hidden" name="corporate_id" value="{{user.corporate_id}}">
                <input type="hidden" name="spoc_id" value="{{user.spoc_id}}">
                <input type="hidden" name="entity_id" value="{{user.billing_entity_id}}">
                <input type="hidden" name="employee_id" value="{{user.id}}">
                <input type="hidden" name="current_url" value="{{ request.get_full_path }}">

               <div class="row">
						<div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%; ">
								<div class="card-head">
									<header>Booking Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">

                                    <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
											<select name="from_city" id="from_city" class="mdl-textfield__input js-select2" required>
                                                <option value="">Select City</option>
                                                 {% for city in cities %}
                                                <option value="{{city.id}}">{{city.city_name}}</option>
                                                 {% endfor %}
                                            </select>
                                         <label class = "mdl-textfield__label" >From City*</label>
                                       </div>
									</div>


                                    <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="city_area" id="city_area"  required>
                                                         <option value="">Select Hotel Area</option>

                                                    </select>
					                     <label class = "mdl-textfield__label">City Area</label>
					                  </div>
						            </div>


                                     <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="preferred_hotel_area" id="preferred_hotel_area">
					                     <label class = "mdl-textfield__label">Preferred Hotel Area</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
					                     <input class = "mdl-textfield__input date-format" type = "text" name="check_in_date" required>
					                     <label class = "mdl-textfield__label">Check In DateTime*</label>
					                  </div>
						            </div>


                                     <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
					                     <input class = "mdl-textfield__input date-format" type = "text" name="check_out_date" required>
					                     <label class = "mdl-textfield__label">Check Out DateTime</label>
					                  </div>
						            </div>


                                     <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
											<select name="room_type_priority1" id="room_type_priority1" class="mdl-textfield__input js-select2" required>
                                                <option value="">Select Room Type</option>
                                                    {% for room_type in room_types %}
                                                        <option value="{{room_type.id}}">{{room_type.name}}</option>
                                                    {% endfor %}
                                            </select>
                                         <label class = "mdl-textfield__label" >Room type (Priority 1)</label>
                                       </div>
									</div>


                                     <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
											<select name="room_type_priority2" id="room_type_priority2" class="mdl-textfield__input js-select2" required>
                                                <option value="">Select Room Type</option>
                                                    {% for room_type in room_types %}
                                                <option value="{{room_type.id}}">{{room_type.name}}</option>
                                                {% endfor %}
                                            </select>
                                         <label class = "mdl-textfield__label" >Room type (Priority 2)</label>
                                       </div>
									</div>


                                    <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
											<select name="room_occupancy" id="room_occupancy" class="mdl-textfield__input js-select2" required>
                                                <option value="">Select Room Occupancy</option>
                                                        {% for hotel_type in hotel_types %}
                                                        <option value="{{hotel_type.id}}">{{hotel_type.name}}</option>
                                                        {% endfor %}
                                            </select>
                                         <label class = "mdl-textfield__label" >Room Occupancy</label>
                                       </div>
									</div>


                                    <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="preferred_hotel" >
					                     <label class = "mdl-textfield__label">Preferred Hotel</label>
					                  </div>
						            </div>


                                {% for corp_acces in corp_access %}
                                {% if corp_acces.has_assessment_codes == 1 %}


                                          <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
											<select class="mdl-textfield__input select2" name="assessment_code" id="assessment_code">
                                                <option value="">Select Assessment Code</option>
                                                    {% for assessment in assessments %}
                                                    <option value="{{assessment.id}}">{{assessment.assessment_code}}</option>
                                                    {% endfor %}

                                            </select>
                                         <label class = "mdl-textfield__label" >Assessment Code*</label>
                                       </div>
									</div>



                                    <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
											<select class="mdl-textfield__input js-select2" name="assessment_city" id="assessment_cities">
                                                 <option value="">Select Assessment City</option>
                                                    {% for city in cities_ass %}
                                                        <option value="{{city.id}}">{{city.city_name}}</option>
                                                        {% endfor %}

                                            </select>
                                         <label class = "mdl-textfield__label" >Assessment City*</label>
                                       </div>
									</div>


                                     {% endif %}
                              {% endfor %}


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
					                     <textarea class = "mdl-textfield__input" name="reason_booking"> </textarea>
					                     <label class = "mdl-textfield__label">Booking Reason/ Comment*</label>
					                  </div>
						            </div>





                                </div>
                            </div>
                        </div>

 <div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%">
								<div class="card-head">

                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div> <!-- card-head class end -->

                     <div class="card-body row">



                          <div class="col-lg-12"  align="center">
							              	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
											  Submit
											</button>

                              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="history.go(-2)" >
											  Cancel
											</button>
							            </div>



                     </div>
                 </div>
        </div><!-- row end -->

       </div>
        </form>
    </div></div>
<!-- end page content -->




{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

<script>
$(document).ready(function() {
$(".js-example-basic-single").select2();
});
$(window).on("load", function () {
var_url = '/api/'+'cities'
    $.ajaxSetup({
            headers:{
                'Authorization': "Token {{request.session.employee_access_token}}",
                'usertype': 6
            }

        });

     $.post(var_url,{},
      function(data)
      {
       //alert(data['Cities']);
       if(data['Cities'].length != 0){
        entities = data['Cities'];
        $('#current_city_id').append($("<option value=''>Select Billing Entity</option>"));
         for (var i=0;i<entities.length;i++) {
            $('#from_city').append($("<option value='"+entities[i].id+"'>"+entities[i].city_name+"</option>"));
            $('#city_area').append($("<option value='"+entities[i].id+"'>"+entities[i].city_name+"</option>"));
         }
       }else{
        alert('No Entity Available')
       }
       });

});
</script>

{% endblock %}