{% include "Company/Employee/layout/header.html" %}
{% include "Company/Employee/layout/menu_bar_layout.html" %}

{% if user %}
<!-- start page content -->

<div class="page-content-wrapper">
    <div class="page-content">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-topline-aqua">
                    <div class="card-head">
                        <header>ALL CORPORATE TAXI BOOKINGS</header>
                             <div class="row p-b-20">

                            </div>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body ">

                        <div class="row">
                             <div class="col-md-6">
                                    <div class="btn-group">
                                        <a class="btn btn-info" href="/Corporate/Employee/add-train-booking/{{user.corporate_id}}" > Taxi Bookings <i class="fa fa-plus"></i> </a>
                                    </div>
                                </div>
                            </div>

                        <div class="table-scrollable table-bordered">

                            <table id="example1" class="display full-width">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Reference No</th>
                                    <th>Pickup City</th>
                                    <th>Drop City</th>
                                    <th>Booking DateTime</th>
                                    <th>Boarding Point</th>
                                    <th>Date of Journey</th>
                                    <th>train Type Requested (Assigned)</th>
                                    <th>Client Status</th>
                                    <th>CoTrav Status</th>
                                    <th>Details</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for booking in bookings %}
                                <tr>
                                    <td>{{ booking.id }}</td>
                                    <td>{{ booking.reference_no }}</td>
                                    <td>{{ booking.pickup_location }}</td>
                                    <td>{{ booking.drop_location}}</td>
                                    <td>{{ booking.booking_datetime }}</td>
                                    <td>{{ booking.boarding_point }}</td>
                                    <td>{{ booking.boarding_datetime }}</td>
                                    <td>{{ booking.assign_train_type_id}}</td>
                                    <td>{{ booking.client_status }} </td>
                                    <td>{{ booking.cotrav_status }} ({{ booking.cotrav_agent_name|default:'' }})</td>
                                    <td>
                                        <a href="/Corporate/Employee/view-train-booking/{{ booking.id }}" class="btn btn-tbl-edit btn-xs">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end page content -->


{% else %}
<p>Welcome, new user. Please log in.<a href="/login">Login</a></p>
{% endif %}

{% include "Company/Employee/layout/footer.html" %}



