{% extends 'Company/Employee/layout/header.html' %}

{% block content %}

{% if user %}
<!-- start page content -->


 <div class="page-content-wrapper">
                <div class="page-content">
                 <div>
                 <div style="font-size:14px; font-weight:bold;" align="center">
                     Flight Booking Details
                     </div>
                   </div>


                    {% for booking in bookings %}

                     <div class="row">
						<div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%; ">
								<div class="card-head">
									<header>Basic Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">
						              <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" name="group_name"  id = "group_name" value="{{ booking.reference_no }}" readonly>
					                     <label class = "mdl-textfield__label">Reference No</label>
					                  </div>
						            </div>

									<div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "booking_datetime" name="booking_datetime" value="{{ booking.booking_datetime }}" readonly>
					                     <label class = "mdl-textfield__label">Booking Date / Time</label>
					                  </div>
						            </div>

								{% for act in booking.ActionLogs %}
									{% if act.action == 2 and user_type != 10 %}
									<div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "approval_date" name="booking_datetime" value="{{ act.action_date }}" readonly>
					                     <label class = "mdl-textfield__label">Approval Date / Time</label>
					                  </div>
						            </div>

									<div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "approval_name" name="booking_datetime" value="{{ act.employee_name }}" readonly>
					                     <label class = "mdl-textfield__label">Approved By</label>
					                  </div>
						            </div>

									{% endif %}
								{% endfor %}



						           <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "usage_type" name="usage_type" value="{{ booking.usage_type }}" readonly>
					                     <label class = "mdl-textfield__label">Usage Type</label>
					                  </div>
						            </div>

									<div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "from_location" name="from_location" value="{{ booking.from_location }}" readonly>
					                     <label class = "mdl-textfield__label">From Location</label>
					                  </div>
                                    </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "to_location" name="to_location" value="{{ booking.to_location }}" readonly>
					                     <label class = "mdl-textfield__label">To Location</label>
					                  </div>
                                    </div>

						            <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" name="flight_type"  id = "flight_type" value="{{ booking.flight_type }}" readonly>
					                     <label class = "mdl-textfield__label">Flight Type</label>
					                  </div>
						            </div>

						            <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "seat_type" name="seat_type" value="{{ booking.seat_type }}" readonly>
					                     <label class = "mdl-textfield__label">Seat Type</label>
					                  </div>
						            </div>

                                   <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "journey_type" name="journey_type" value="{{ booking.journey_type }}" readonly>
					                     <label class = "mdl-textfield__label">Journey Type</label>
					                  </div>
						            </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "flight_class" name="flight_class" value="{{ booking.flight_class }}" readonly>
					                     <label class = "mdl-textfield__label">Flight Class</label>
					                  </div>
                                    </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "fare_type" name="fare_type" value="{{ booking.fare_type }}" readonly>
					                     <label class = "mdl-textfield__label">Fare Type</label>
					                  </div>
						            </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "meal_is_include" name="meal_is_include" value="{{ booking.meal_is_include | yesno  }}" readonly>
					                     <label class = "mdl-textfield__label">Meal Included</label>
					                  </div>
						            </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "no_of_stops" name="no_of_stops" value="{{ booking.no_of_stops }}" readonly>
					                     <label class = "mdl-textfield__label">No Of Stops</label>
					                  </div>
						            </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "preferred_flight" name="preferred_flight" value="{{ booking.preferred_flight }}" readonly>
					                     <label class = "mdl-textfield__label">Preferred Flight</label>
					                  </div>
                                    </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "departure_dttime" name="departure_datetime" value="{{ booking.departure_datetime }}" readonly>
					                     <label class = "mdl-textfield__label">Departure Datetime</label>
					                  </div>
                                    </div>




                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "no_of_seats" name="no_of_seats"  value="{{ booking.no_of_seats }}" readonly>
					                     <label class = "mdl-textfield__label">No Of Seats</label>
					                  </div>
						            </div>

									<div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "assessment_code" name="cotrav_status"  value="{{ booking.assessment_code }}" readonly>
					                     <label class = "mdl-textfield__label">Assessment Code</label>
					                  </div>
						            </div>

									 <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "assessment_city" name="cotrav_status"  value="{{ booking.assessment_city }}" readonly>
					                     <label class = "mdl-textfield__label">Assessment City</label>
					                  </div>
						            </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "booking_reson" name="reason_booking"  value="{{ booking.reason_booking }}" readonly>
					                     <label class = "mdl-textfield__label">Booking Reason</label>
					                  </div>
						            </div>
                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "client_status" name="client_status"  value="{{ booking.client_status }}" readonly>
					                     <label class = "mdl-textfield__label">Client Status</label>
					                  </div>
						            </div>
                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "cotrav_status" name="cotrav_status"  value="{{ booking.cotrav_status }}" readonly>
					                     <label class = "mdl-textfield__label">CoTrav Status</label>
					                  </div>
						            </div>

<!--							         <div class="col-lg-12 p-t-20 text-center">-->
<!--						              	<button type="button" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">Submit</button>-->
<!--										<button type="button" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect m-b-10 btn-default">Cancel</button>-->
<!--						            </div>-->
								</div>
							</div>
						</div>
					</div>




                      <div class="row">
						<div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%">
								<div class="card-head">
									<header>SPOC Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">
						            <div class="col-lg-3 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" name="user_name"  id = "user_name" value="{{ booking.user_name }}" readonly>
					                     <label class = "mdl-textfield__label">Spoc Name</label>
					                  </div>
						            </div>

						            <div class="col-lg-3 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "user_contact" name="user_contact" value="{{ booking.user_contact }}" readonly>
					                     <label class = "mdl-textfield__label">Contact Number</label>
					                  </div>
						            </div>
                                    <div class="col-lg-3 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "email" name="email"  value="{{ booking.email }}" readonly>
					                     <label class = "mdl-textfield__label">Email ID</label>
					                  </div>
						            </div>



<!--							         <div class="col-lg-12 p-t-20 text-center">-->
<!--						              	<button type="button" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">Submit</button>-->
<!--										<button type="button" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect m-b-10 btn-default">Cancel</button>-->
<!--						            </div>-->
								</div>
							</div>
						</div>
					</div>


					{% if booking.operator_name %}
                      <div class="row">
						<div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%">
								<div class="card-head">
									<header>Operator Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">
						            <div class="col-lg-3 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" name="operator_name"  id = "operator_name" value="{{ booking.operator_name }}" readonly>
					                     <label class = "mdl-textfield__label">Operator Name</label>
					                  </div>
						            </div>

						            <div class="col-lg-3 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "operator_contact" name="operator_contact" value="{{ booking.operator_contact }}" readonly>
					                     <label class = "mdl-textfield__label">Contact Number</label>
					                  </div>
						            </div>






<!--							         <div class="col-lg-12 p-t-20 text-center">-->
<!--						              	<button type="button" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">Submit</button>-->
<!--										<button type="button" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect m-b-10 btn-default">Cancel</button>-->
<!--						            </div>-->
								</div>
							</div>
						</div>
					</div>
					{% endif %}



					 <div class="row">
						<div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%">
								<div class="card-head">
									<header>Passenger Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>

								{% for passanger in booking.Passangers %}

								<div class="card-body row">
						            <div class="col-lg-3 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" name="employee_name{{ forloop.counter }}"  id = "employee_name{{ forloop.counter }}" value="{{ passanger.employee_name }}" readonly>
					                     <label class = "mdl-textfield__label">Passenger Name</label>
					                  </div>
						            </div>

						            <div class="col-lg-3 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "employee_email{{ forloop.counter }}" name="employee_email{{ forloop.counter }}" value="{{ passanger.employee_email }}" readonly>
					                     <label class = "mdl-textfield__label">Email ID</label>
					                  </div>
						            </div>

									<div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "employee_contact{{ forloop.counter }}" name="employee_contact{{ forloop.counter }}" value="{{ passanger.employee_contact }}" readonly>
					                     <label class = "mdl-textfield__label">Contact Number</label>
					                  </div>
						            </div>

									<div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "age{{ forloop.counter }}" name="age{{ forloop.counter }}" value="{{ passanger.age }}" readonly>
					                     <label class = "mdl-textfield__label">Age</label>
					                  </div>
						            </div>

									<div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "gender{{ forloop.counter }}" name="gender{{ forloop.counter }}" value="{{ passanger.gender }}" readonly>
					                     <label class = "mdl-textfield__label">Gender</label>
					                  </div>
						            </div>




<!--							         <div class="col-lg-12 p-t-20 text-center">-->
<!--						              	<button type="button" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">Submit</button>-->
<!--										<button type="button" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect m-b-10 btn-default">Cancel</button>-->
<!--						            </div>-->
								</div>

								{% endfor %}

							</div>
						</div>
					</div>


                    


                    <div class="row">
						<div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%">
								<div class="card-head">
									<header>Flight Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>

								{% for flight in booking.Flights %}

								<div class="card-body row">
						            <div class="col-lg-3 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" name="flight_name{{ forloop.counter }}"  id = "flight_name{{ forloop.counter }}" value="{{ flight.flight_name }}" readonly>
					                     <label class = "mdl-textfield__label">Flight Name {{ forloop.counter }}</label>
					                  </div>
						            </div>

						            <div class="col-lg-3 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "flight_no{{ forloop.counter }}" name="flight_no{{ forloop.counter }}" value="{{ flight.flight_no }}" readonly>
					                     <label class = "mdl-textfield__label">Flight Number {{ forloop.counter }}</label>
					                  </div>
						            </div>

									<div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "pnr_no{{ forloop.counter }}" name="pnr_no{{ forloop.counter }}" value="{{ flight.pnr_no }}" readonly>
					                     <label class = "mdl-textfield__label">PNR NO {{ forloop.counter }}</label>
					                  </div>
						            </div>

									<div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "from_city{{ forloop.counter }}" name="from_city{{ forloop.counter }}" value="{{ flight.from_city }}" readonly>
					                     <label class = "mdl-textfield__label">From City {{ forloop.counter }}</label>
					                  </div>
						            </div>

									<div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "to_city{{ forloop.counter }}" name="to_city{{ forloop.counter }}" value="{{ flight.to_city }}" readonly>
					                     <label class = "mdl-textfield__label">To City {{ forloop.counter }}</label>
					                  </div>
						            </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "departure_datetime{{ forloop.counter }}" name="departure_datetime{{ forloop.counter }}" value="{{ flight.departure_datetime }}" readonly>
					                     <label class = "mdl-textfield__label">Departure Datetime {{ forloop.counter }}</label>
					                  </div>
						            </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" id = "arrival_datetime{{ forloop.counter }}" name="arrival_datetime{{ forloop.counter }}" value="{{ flight.arrival_datetime }}" readonly>
					                     <label class = "mdl-textfield__label">Arrival Datetime {{ forloop.counter }}</label>
					                  </div>
						            </div>




<!--							         <div class="col-lg-12 p-t-20 text-center">-->
<!--						              	<button type="button" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">Submit</button>-->
<!--										<button type="button" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect m-b-10 btn-default">Cancel</button>-->
<!--						            </div>-->
								</div>

								{% endfor %}

							</div>
						</div>
					</div>


                    {% endfor %}

					    <div class="row">
						<div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%; margin-bottom: 5%">
								<div class="card-head">
									<header>Comment Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">
						            <div class="col-lg-5 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                     <input class = "mdl-textfield__input" type = "text" name="reason_booking"  id = "reason_booking" value="{{ booking.reason_booking }}" readonly>
					                     <label class = "mdl-textfield__label">Comment</label>
					                  </div>
						            </div>






<!--							         <div class="col-lg-12 p-t-20 text-center">-->
<!--						              	<button type="button" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">Submit</button>-->
<!--										<button type="button" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect m-b-10 btn-default">Cancel</button>-->
<!--						            </div>-->
								</div>
							</div>
						</div>
					</div>







                </div>


            </div>
				<div></div>

{% else %}
<p>Welcome, new user. Please log in.<a href="/login">Login</a></p>
{% endif %}

{% endblock %}



