{% include "Company/Approver_2/layout/header.html" %}
{% include "Company/Approver_2/layout/menu_bar_layout.html" %}


{% if user %}
<!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">


                  <!-- Taxi live location start -->
					<div class="row">
                        <div class="col-md-12">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>Taxi Live Location</header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
										<a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div id="map" class="height-350"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Taxi live location end -->


                    <div class="row">
			               	<div class="col-xl-6 col-md-12">
			                     <div class="card">
			                         <div class="card-block">
			                             <div class="row text-center p-t-10">
				                            <div class="col-sm-4 col-6">
				                                <h4 class="margin-0">$ 209 </h4>
				                                <p class="text-muted"> Today's Income</p>
				                            </div>
				                            <div class="col-sm-4 col-6">
				                                <h4 class="margin-0">$ 837 </h4>
				                                <p class="text-muted">This Week's Income</p>
				                            </div>
				                            <div class="col-sm-4 col-6">
				                                <h4 class="margin-0">$ 3410 </h4>
				                                <p class="text-muted">This Month's Income</p>
				                            </div>
				                        </div>
			                             <div id="area_line_chart" style="height: 200px; margin:30px"></div>
			                         </div>
			                     </div>
			                 </div>
			                 <div class="col-lg-6 col-md-12 col-sm-12 col-12">
			               		<div class="row state-overview">
				                  <div class="col-lg-6 col-md-6 col-sm-6 col-12">
			                        <div class="info-box bg-b-purple">
							            <span class="info-box-icon push-bottom"><i class="material-icons">group</i></span>
							            <div class="info-box-content">
							              <span class="info-box-text">Booked Trips</span>
							              <span class="info-box-number">450</span>
							              <div class="progress">
						                <div class="progress-bar width-60"></div>
						              </div>
						              <span class="progress-description">
					                    60% Increase in 28 Days
					                  </span>
							            </div>
							            <!-- /.info-box-content -->
							          </div>
			                    </div>
			                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
			                        <div class="info-box bg-b-green">
							            <span class="info-box-icon push-bottom"><i class="material-icons">person</i></span>
							            <div class="info-box-content">
							              <span class="info-box-text">Cancelled Trip</span>
							              <span class="info-box-number">155</span>
							              <div class="progress">
							                <div class="progress-bar width-40"></div>
							              </div>
							              <span class="progress-description">
							                    40% Increase in 28 Days
							                  </span>
							            </div>
							            <!-- /.info-box-content -->
							          </div>
			                    </div>
		                    </div>
		                    <div class="row state-overview">
			                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
			                        <div class="info-box bg-b-black">
							            <span class="info-box-icon push-bottom"><i class="material-icons">content_cut</i></span>
							            <div class="info-box-content">
							              <span class="info-box-text">New Users</span>
							              <span class="info-box-number">52</span>
							              <div class="progress">
							                <div class="progress-bar width-80"></div>
							              </div>
							              <span class="progress-description">
							                    80% Increase in 28 Days
							                  </span>
							            </div>
							            <!-- /.info-box-content -->
							          </div>
			                    	</div>
				                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
				                        <div class="info-box bg-b-danger">
							            <span class="info-box-icon push-bottom"><i class="material-icons">monetization_on</i></span>
							            <div class="info-box-content">
							              <span class="info-box-text">Total Earning</span>
							              <span class="info-box-number">13,921</span><span>$</span>
							              <div class="progress">
							                <div class="progress-bar width-60"></div>
							              </div>
							              <span class="progress-description">
							                    60% Increase in 28 Days
							                  </span>
							            </div>
							            <!-- /.info-box-content -->
							          </div>
									</div>
								</div>
			                 </div>
			               </div>




                </div>
            </div>
            <!-- end page content -->

{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

{% include "Company/Approver_2/layout/footer.html" %}





