{% include "Company/layout/header.html" %}
{% include "Company/layout/menu_bar_layout.html" %}


{% if user %}
<!-- start page content -->

<!-- The Modal -->
<div class="modal fade model_custom_style" role="dialog" id="model_add_new_group">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 id="delete_label" class="modal-title-status">Add New Corporate Billing Entitie Form</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form action="/add-company-group/{{user.corporate_id}}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="group_id" id="group_id">
                 <input type="hidden" name="group_id" id="group_auth_id">

                <input type="hidden" name="user_id" value="{{user.id}}">
                <input type="hidden" name="corporate_id" value="{{user.corporate_id}}">
                <input type="hidden" name="delete_id" id="delete_id">
                <!-- Modal footer -->
                <div class="modal-body">

                    <div class="form-group row" id="group_name1">
                        <label class="col-sm-5 control-label">Group Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="group_name" id="group_name" placeholder="Entity Name">
                        </div>
                    </div>



                    <div class="form-group row" id="zone_name1">
                        <label class="col-sm-5 control-label">Zone Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="zone_name" id="zone_name"
                                   placeholder="Zone Name">
                        </div>
                    </div>

                    <div class="form-group row" id="name1">
                        <label class="col-sm-5 control-label">Authenticater Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="name" id="name"
                                   placeholder="Authenticater Name">
                        </div>
                    </div>

                    <div class="form-group row" id="email1" >
                        <label class="col-sm-5 control-label">Authenticater Email</label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control" name="email"  id="email" placeholder="Authenticater Email">
                        </div>
                    </div>

                    <div class="form-group row" id="cid1">
                        <label class="col-sm-5 control-label">Authenticater C_ID</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="cid" id="cid" placeholder="Authenticater C_ID">
                        </div>
                    </div>

                    <div class="form-group row" id="contact_no1">
                        <label class="col-sm-5 control-label">Contact</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="contact_no" id="contact_no" placeholder="Contact">
                        </div>
                    </div>

                    <div class="form-group row" id="is_radio">
                        <label class="col-sm-5 control-label">Radio Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_radio">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                     <div class="form-group row" id="is_local">
                        <label class="col-sm-5 control-label">Local Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_local">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" id="is_outstation">
                        <label class="col-sm-5 control-label">Outstation Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_outstation">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                     <div class="form-group row" id="is_bus">
                        <label class="col-sm-5 control-label">Bus Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_bus">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                      <div class="form-group row" id="is_train">
                        <label class="col-sm-5 control-label">Train Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_train">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>


                      <div class="form-group row" id="is_hotel">
                        <label class="col-sm-5 control-label">Hotel Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_hotel">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>


                     <div class="form-group row" id="is_flight">
                        <label class="col-sm-5 control-label">Flight Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_flight">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" id="is_meal">
                        <label class="col-sm-5 control-label">Meal Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_meal">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                     <div class="form-group row" id="is_water_bottles">
                        <label class="col-sm-5 control-label">Water Bottles Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_water_bottles">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" id="is_reverse_logistics">
                        <label class="col-sm-5 control-label">Reverse Logistics Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_reverse_logistics">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button id="delete_btn" type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>


        </div>
    </div>
</div>


            <div class="page-content-wrapper">
                <div class="page-content">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-topline-aqua">
                                <div class="card-head">
                                    <header>ALL CORPORATE GROUP LIST</header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
	                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
	                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="card-body ">

                                    <div class="row p-b-20">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <div class="btn-group">
                                                <a class="btn btn-info" href="#" data-toggle="modal"
                                       data-target="#model_add_new_group"> Add New <i class="fa fa-plus"></i> </a>
                                            </div>
                                        </div>
                                    </div>

                                  <div class="table-scrollable">
                                    <table id="example1" class="display full-width">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Company/Owner Name</th>
                                                <th>Group Name</th>
                                                <th>Zone Name</th>
                                                <th>Auth Name</th>
                                                <th>Auth Email</th>
                                                <th>Contact Phone</th>
                                                <th>CID</th>

                                                <th>Action</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{groups}}
                                        {% for group in groups %}
                                            <tr>
                                                <td>{{ group.id }}</td>
                                                <td>{{ group.corporate_name }}</td>
                                                <td>{{ group.group_name }}</td>
                                                <td>{{ group.zone_name }}</td>
                                                <td>{{ group.name }}</td>
                                                <td>{{ group.email }}</td>
                                                <td>{{ group.contact_no }}</td>
                                                <td>{{ group.cid }}</td>


                                                <td>
														<a href="view-company-group/{{ group.id }}" data-toggle="modal" data-target="#model_add_new_group"
                                           class="btn btn-tbl-edit btn-xs" data-id="{{group.id}}" data-id="{{group.id}}"  >
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                                    <a  href="#" data-toggle="modal" class="btn btn-tbl-delete btn-xs" data-target="#model_add_new_group"  data-id="{{group.id}}"  data-delete_id="1">
                                                        <i class="fa fa-trash-o "></i>
                                        </a>

													</td>
                                            </tr>
                                        {% endfor %}
                                            </tbody>
                                        </table>
	                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end page content -->





{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

{% include "Company/layout/footer.html" %}

<script type="text/javascript">
$(function() {
  $('#model_add_new_group').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var id = button.data('id'); // Extract info from data-* attributes


    var delete_id = button.data('delete_id');

    var modal = $(this);

    if(delete_id == 1){
    modal.find('#delete_id').val(delete_id);


    $('#delete_label').text("Do You Want to Delete This Record");
    $('#delete_btn').html("Yes");

    $('#group_id1').hide();


    }else{

    modal.find('#group_id').val(id);


    modal.find('#delete_id').val('');

    $('#delete_label').text("Entity Details");
    $('#delete_btn').html("Save");

    $('#group_id1').show();


    }

    });

});

</script>



