{% include "Company/layout/header.html" %}
{% include "Company/layout/menu_bar_layout.html" %}


{% if user %}
<!-- start page content -->

            <div class="page-content-wrapper">
                <div class="page-content">

                    <div class="row">


                        <div class="col-md-4">
                            <div class="card">
                                    <div class="card-head card-topline-aqua">
                                        <header>About Me</header>
                                    </div>
                                    <div class="card-body no-padding height-9">
                                        <div class="profile-desc">
                                            Hello I am John Deo a Professor in xyz College Surat. I love to work with all my college staff and seniour professors.
                                        </div>
                                        <ul class="list-group list-group-unbordered">
                                            <li class="list-group-item">
                                                <b>Gender </b>
                                                <div class="profile-desc-item pull-right">Female</div>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Operation Done </b>
                                                <div class="profile-desc-item pull-right">30+</div>
                                            </li>
                                             <li class="list-group-item">
                                                <b>Degree </b>
                                                <div class="profile-desc-item pull-right">B.A., M.A., P.H.D.</div>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Designation</b>
                                                <div class="profile-desc-item pull-right">Jr. Professor</div>
                                            </li>
                                        </ul>
                                        <div class="row list-separated profile-stat">
                                            <div class="col-md-4 col-sm-4 col-6">
                                                <div class="uppercase profile-stat-title"> 37 </div>
                                                <div class="uppercase profile-stat-text"> Projects </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-6">
                                                <div class="uppercase profile-stat-title"> 51 </div>
                                                <div class="uppercase profile-stat-text"> Tasks </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-6">
                                                <div class="uppercase profile-stat-title"> 61 </div>
                                                <div class="uppercase profile-stat-text"> Uploads </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>




                         <div class="col-md-4">
                            <div class="card">
                                    <div class="card-head card-topline-aqua">
                                        <header>About Me</header>
                                    </div>
                                    <div class="card-body no-padding height-9">
                                        <div class="profile-desc">
                                            Hello I am John Deo a Professor in xyz College Surat. I love to work with all my college staff and seniour professors.
                                        </div>
                                        <ul class="list-group list-group-unbordered">
                                            <li class="list-group-item">
                                                <b>Gender </b>
                                                <div class="profile-desc-item pull-right">Female</div>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Operation Done </b>
                                                <div class="profile-desc-item pull-right">30+</div>
                                            </li>
                                             <li class="list-group-item">
                                                <b>Degree </b>
                                                <div class="profile-desc-item pull-right">B.A., M.A., P.H.D.</div>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Designation</b>
                                                <div class="profile-desc-item pull-right">Jr. Professor</div>
                                            </li>
                                        </ul>
                                        <div class="row list-separated profile-stat">
                                            <div class="col-md-4 col-sm-4 col-6">
                                                <div class="uppercase profile-stat-title"> 37 </div>
                                                <div class="uppercase profile-stat-text"> Projects </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-6">
                                                <div class="uppercase profile-stat-title"> 51 </div>
                                                <div class="uppercase profile-stat-text"> Tasks </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-6">
                                                <div class="uppercase profile-stat-title"> 61 </div>
                                                <div class="uppercase profile-stat-text"> Uploads </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>



                         <div class="col-md-4">
                            <div class="card">
                                    <div class="card-head card-topline-aqua">
                                        <header>About Me</header>
                                    </div>
                                    <div class="card-body no-padding height-9">
                                        <div class="profile-desc">
                                            Hello I am John Deo a Professor in xyz College Surat. I love to work with all my college staff and seniour professors.
                                        </div>
                                        <ul class="list-group list-group-unbordered">
                                            <li class="list-group-item">
                                                <b>Gender </b>
                                                <div class="profile-desc-item pull-right">Female</div>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Operation Done </b>
                                                <div class="profile-desc-item pull-right">30+</div>
                                            </li>
                                             <li class="list-group-item">
                                                <b>Degree </b>
                                                <div class="profile-desc-item pull-right">B.A., M.A., P.H.D.</div>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Designation</b>
                                                <div class="profile-desc-item pull-right">Jr. Professor</div>
                                            </li>
                                        </ul>
                                        <div class="row list-separated profile-stat">
                                            <div class="col-md-4 col-sm-4 col-6">
                                                <div class="uppercase profile-stat-title"> 37 </div>
                                                <div class="uppercase profile-stat-text"> Projects </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-6">
                                                <div class="uppercase profile-stat-title"> 51 </div>
                                                <div class="uppercase profile-stat-text"> Tasks </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-6">
                                                <div class="uppercase profile-stat-title"> 61 </div>
                                                <div class="uppercase profile-stat-text"> Uploads </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>










                    </div>

                </div>
            </div>
            <!-- end page content -->





{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

{% include "Company/layout/footer.html" %}





