<style>
.bg-1{
  background-color: #eaeef3;
}
ul.messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.messages li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 12px;
  color: black;
  display: block;
  position: relative;
}

ul.messages li:hover {
  background-color: #eee;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
   color: #ffffff;
}

.close:hover {
  background: var(--sidebar-color);
color:black;

}

ul.messages li.success{
   background-image: url(/static/assets/img/su-1.png);
    background-repeat: no-repeat;
    background-position: left;
    color: white;
    width: 24%;
    margin-left: 635px;
    padding-left: 70px;
    border-radius: 7px;
    line-height: 14px;
    display: block;
    position: relative;
    margin-top: 20px;
    font-size: 13px;
    background-color: #51c897;
    border-top: solid 3px #d0d0d0;
}

ul.messages li.info{
background-image: url("/static/assets/img/su-2.png");
background-repeat: no-repeat;
  background-position: left;
   color: white;
   width: 24%;
   margin-left: 635px;
    padding-left: 90px;
    border-radius: 7px;
    line-height: 14px;
    display: block;
    position: relative;
    margin-top: 20px;
    font-size: 13px;
    background-color: #78a3f9;
    border-top:solid 3px #d0d0d0;

}


ul.messages li.error{
background-image: url("/static/assets/img/su-3.png");
background-repeat: no-repeat;
  background-position: left;
  color: white;
   width: 24%;
  margin-left: 635px;
    padding-left: 90px;
    border-radius: 7px;
    line-height: 14px;
    display: block;
    position: relative;
    margin-top: 20px;
    font-size: 13px;
    background-color: #fc7b68;
    border-top:solid 3px #d0d0d0;

}

ul.messages li.warning{
background-image: url("/static/assets/img/su-4.png");
background-repeat: no-repeat;
  background-position: left;
  color: white;
   width: 24%;
  margin-left: 635px;
    padding-left: 70px;
    border-radius: 7px;
    line-height: 14px;
    display: block;
    position: relative;
    margin-top: 20px;
    font-size: 13px;
    background-color: #f7c549;
    border-top:solid 3px #d0d0d0;

}

ul.messages li.debug{
background-image: url("/static/assets/img/su-5.png");
background-repeat: no-repeat;
  background-position: left;
  color: white;
    width: 24%;
   margin-left: 635px;
    padding-left: 70px;
    border-radius: 7px;
    line-height: 14px;
    display: block;
    position: relative;
    margin-top: 20px;
    font-size: 13px;
    background-color: #78a3f9;
    border-top:solid 3px #d0d0d0;

}

</style>

<!--
messages.debug(request, '%s SQL statements were executed.' % count)
messages.info(request, 'Three credits remain in your account.')
messages.success(request, 'Profile details updated.')
messages.warning(request, 'Your account expires in three days.')
messages.error(request, 'Document deleted.')

-->
                            <div class="bg-1">
                        {% if messages %}

                            <ul class="list-group messages" id="alert-message">
                                {% for message in messages %}

                            <li {% if message.tags %} class="{{ message.tags }} "{% endif %}>{{ message }}
                                <span class="close">&times;</span>


                            </li>


                        {% endfor %}
                        </ul>
                        {% endif %}
                        </div>


<script>
var closebtns = document.getElementsByClassName("close");
var i;

for (i = 0; i < closebtns.length; i++) {
  closebtns[i].addEventListener("click", function() {
    this.parentElement.style.display = 'none';
  });
}

setTimeout(function() {
    $('#alert-message').fadeOut('fast');
}, 5000); // <-- time in milliseconds


</script>