{% include "Company/Admin/layout/header.html" %}
{% include "Company/Admin/layout/menu_bar_layout.html" %}


{% if user %}
<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <form method="post" action="/Corporate/Admin/add-employee/{{user.corporate_id}}">
            {% csrf_token %}
            <input type="hidden" class="col-sm-8 form-control" name="user_id" value="{{user.id }}">
            <input type="hidden" class="col-sm-8 form-control" name="corporate_id" value="{{user.corporate_id }}">
            {% if employee %}
            {% for employee in employee %}
            <input type="hidden" class="col-sm-8 form-control" name="employee_id" value="{{employee.id }}">
            {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>General Information</header>
                            <button id="panel-button"
                                    class="mdl-button mdl-js-button mdl-button--icon pull-right"
                                    data-upgraded=",MaterialButton">
                                <i class="material-icons">more_vert</i>
                            </button>

                        </div>
                        <div class="card-body " id="bar-parent">

                            <div class="form-group row">
                                <label class="col-sm-4" >Spoc id</label>
                                {% if employee %}
                                {% for employee in employee %}
                                    <select class="col-sm-8 form-control" name="spoc_id" >
                                        <option value="">Select Spoc</option>
                                        {% for spoc in spocs %}
                                        <option value="{{spoc.id}}" {% if employee.spoc_id == spoc.id %} selected {%endif%}>{{spoc.user_name}}</option>
                                        {% endfor %}
                                    </select>
                                {% endfor %}
                                {% else %}
                                     <select class="col-sm-8 form-control" name="spoc_id" >
                                        <option value="">Select Spoc</option>
                                        {% for spoc in spocs %}
                                        <option value="{{spoc.id}}">{{spoc.user_name}}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" >Core Employee id</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="core_employee_id" value="{{employee.core_employee_id}}"
                                       placeholder="Core Employee id">
                                {% endfor %}
                                {% else %}
                                    <input type="text" class="col-sm-8 form-control" name="core_employee_id"
                                       placeholder="Core Employee id">
                                {% endif %}
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" >Employee Cid</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="employee_cid" value="{{employee.employee_cid}}"
                                       placeholder="Employee Cid">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="employee_cid"
                                       placeholder="Employee Cid">
                                {% endif %}
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" >Employee Name</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="employee_name" value="{{employee.employee_name}}"
                                       placeholder="Employee Name">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="employee_name"
                                       placeholder="Employee Name">
                                {% endif %}
                            </div>

                             <div class="form-group row">
                                <label class="col-sm-4" >Employee Email</label>
                                 {% if employee %}
                                {% for employee in employee %}
                                <input type="email" class="col-sm-8 form-control" name="employee_email" value="{{employee.employee_email}}"
                                       placeholder="Employee Email">
                                 {% endfor %}
                                {% else %}
                                 <input type="email" class="col-sm-8 form-control" name="employee_email"
                                       placeholder="Employee Email">
                                  {% endif %}
                            </div>

                             <div class="form-group row">
                                <label class="col-sm-4" >Employee Contact</label>
                                 {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="employee_contact" value="{{employee.employee_contact}}"
                                       placeholder="Employee Contact">
                                 {% endfor %}
                                {% else %}
                                 <input type="text" class="col-sm-8 form-control" name="employee_contact"
                                       placeholder="Employee Contact">
                                  {% endif %}
                            </div>




                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Billing Details</header>
                            <button
                                    class="mdl-button mdl-js-button mdl-button--icon pull-right"
                                    data-upgraded=",MaterialButton">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                data-mdl-for="panel-button">
                                <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                                <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                                <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here
                                </li>
                            </ul>
                        </div>
                        <div class="card-body ">

                            <div class="form-group row">
                                <label class="col-sm-4">Age</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="age" value="{{employee.age}}"
                                       placeholder="Age">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="age"
                                       placeholder="Age">
                                 {% endif %}
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" >Gender</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="gender" value="{{employee.gender}}"
                                       placeholder="Gender">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="gender"
                                       placeholder="Gender">
                                 {% endif %}
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-4" >Id Proof Type</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="id_proof_type" value="{{employee.id_proof_type}}"
                                       placeholder="Id Proof Type">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="id_proof_type"
                                       placeholder="Id Proof Type">
                                 {% endif %}
                            </div>

                             <div class="form-group row">
                                <label class="col-sm-4" >Id Proof No</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="id_proof_no" value="{{employee.id_proof_no}}"
                                       placeholder="Id Proof No">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="id_proof_no"
                                       placeholder="Id Proof No">
                                 {% endif %}
                            </div>

                             <div class="form-group row">
                                <label class="col-sm-4" >Home City</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="home_city" value="{{employee.home_city}}"
                                       placeholder="Home City">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="home_city"
                                       placeholder="Home City">
                                 {% endif %}
                            </div>

                             <div class="form-group row">
                                <label class="col-sm-4" >Home Address</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="home_address" value="{{employee.home_address}}"
                                       placeholder="Home Address">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="home_address"
                                       placeholder="Home Address">
                                 {% endif %}
                            </div>

                             <div class="form-group row">
                                <label class="col-sm-4" >Assistant ID</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="assistant_id" value="{{employee.assistant_id}}"
                                       placeholder="Assistant ID">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="assistant_id"
                                       placeholder="Assistant ID">
                                 {% endif %}
                            </div>

                             <div class="form-group row">
                                <label class="col-sm-4" >Date Of Birth</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="date_of_birth" value="{{employee.date_of_birth}}"
                                       placeholder="Assistant ID">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="date_of_birth"
                                       placeholder="Assistant ID">
                                 {% endif %}
                            </div>


                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Access Details</header>
                            <button id="panel-button2"
                                    class="mdl-button mdl-js-button mdl-button--icon pull-right"
                                    data-upgraded=",MaterialButton">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                data-mdl-for="panel-button2">
                                <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                                <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                                <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here
                                </li>
                            </ul>
                        </div>
                        <div class="card-body " id="bar-parent1">

                            <div class="form-group row">
                                <label class="col-sm-4 control-label">is Active</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="is_active">

                                        {% if employee %}
                                        {% for employee in employee %}
                                            <option value="0" {% if employee.is_active == 0 %} selected {%endif%}>No</option>
                                        {% endfor %}
                                        {% else %}
                                            <option value="0">No</option>
                                        {% endif %}
                                        <option value="1">Yes</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 control-label">Has Dummy Email</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="has_dummy_email">

                                        {% if employee %}
                                        {% for employee in employee %}
                                        <option value="0" {% if employee.has_dummy_email == 0 %} selected {%endif%}>No</option>
                                        {% endfor %}
                                        {% else %}
                                         <option value="0">No</option>
                                        {% endif %}
                                        <option value="1">Yes</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-4 control-label">is CXO</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="is_cxo">

                                        {% if employee %}
                                        {% for employee in employee %}
                                         <option value="0" {% if employee.is_cxo == 0 %} selected {%endif%}>No</option>
                                         {% endfor %}
                                        {% else %}
                                         <option value="0">No</option>
                                        {% endif %}
                                         <option value="1">Yes</option>
                                    </select>
                                </div>
                            </div>


                           <div class="form-group row">
                                <label class="col-sm-4" >Designation</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="designation" value="{{employee.designation}}"
                                       placeholder="Designation">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="designation"
                                       placeholder="Designation">
                                 {% endif %}
                            </div>




                            <div class="form-group">
                                <div class="offset-md-3 col-md-9">
                                    <button type="submit" class="btn btn-info">Submit</button>
                                    <button type="button" class="btn btn-default">Cancel</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- end page content -->


{% else %}
<p>Welcome, new user. Please log in.<a href="/login">Login</a></p>
{% endif %}

{% include "Company/Admin/layout/footer.html" %}

<script type="text/javascript">
 $(function() {

 });

</script>