{% extends 'Company/Admin/layout/header.html' %}

{% block content %}



{% if user %}
<!-- start page content -->

{% include 'cotrav_alert_message.html' %}

<div class="page-content-wrapper">
    <div class="page-content">
        <form method="post" action="/Corporate/Admin/add-taxi-booking/{{user.corporate_id}}">



            <input type="hidden" name="user_id" value="{{user.id}}">
            <input type="hidden" name="corporate_id" id="corporate_id" value="{{user.corporate_id}}">
             <input type="hidden" name="current_url" value="{{ request.get_full_path }}">
        <div class="row">
            <div class="col-md-5">
                <div class="card card-topline-aqua">
                    <div class="card-head">
                        <header>ADD TAXI BOOKING</header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body ">

                             <div class="form-group row">
                                <label class="col-sm-4" >Tour Type*</label>
                                 <select id="tour_type" name="tour_type" class="form-control col-sm-8 tour_type myselect" required>
                                      <option value="">Select Tour Type </option>
                                      {% if user.is_radio == 1 %}
                                      <option value="1">Radio </option>
                                      {% endif %}
                                      {% if user.is_local == 1 %}
                                      <option value="2">Local </option>
                                      {% endif %}
                                      {% if user.is_outstation == 1 %}
                                      <option value="3">Outstation </option>
                                      {% endif %}
                                  </select>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-4" >Pickup City*</label>
                                 <select id="current_city_id" name="current_city_id" class="form-control col-sm-8 myselect" required>
                                      <option value="">Select City </option>
                                        {% for cities in citiess %}
                                         <option value="{{cities.id}}">{{cities.city_name}}</option>
                                        {% endfor %}
                                  </select>
<!--                                 <input type="text" class="form-control col-sm-8" name="pickup_city" id="pickup_city" placeholder="Pickup City" required>-->
<!--                                <input type="hidden" name="current_city_id" id="current_city_id">-->
                            </div>

                                 <div class="form-group row" id="tr_taxi_type">
                                    <label class="col-sm-4" >Taxi Type</label>
                                     <select name="taxi_type" class="form-control col-sm-8 myselect" id="select_taxi_type" >
                                         <option value="">Select Taxi Type</option>
                                        {% for taxi in taxies %}
                                        <option value="{{taxi.id}}">{{taxi.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                             <div class="form-group row" id="tr_package">
                                    <label class="col-sm-4" >Select Package</label>
                                     <select name="package_id" id="package_id" class="form-control col-sm-8 myselect">

                                    </select>
                                </div>

                              <div class="form-group row" id="tr_no_of_days">
                                    <label class="col-sm-4" >No of Days</label>
                                      <input type="text" class="form-control col-sm-8" name="no_of_days" id="id_no_of_days" placeholder="No of Days">
                            </div>

                              <div class="form-group row">
                                <label class="col-sm-4" >Pickup Location*</label>
                                 <input type="text" class="form-control col-sm-8" name="pickup_location" id="pickup_location" placeholder="Pickup Location" required>
                            </div>

                              <div class="form-group row">
                                <label class="col-sm-4" >Drop Location*</label>
                                 <input type="text" class="form-control col-sm-8" name="drop_location" id="drop_location" placeholder="Drop Location" required>
                            </div>

                              <div class="form-group row">
                                <label class="col-sm-4" >Pickup DateTime*</label>
                                 <input type="text" class="form-control col-sm-8 date-format" name="pickup_datetime" placeholder="Pickup Date/Time" required>
                            </div>

                                {% for corp_acces in corp_access %}
                                {% if corp_acces.has_assessment_codes == 1 %}

                              <div class="form-group row">
                                <label class="col-sm-4" >Assessment Code*</label>
                                   <select name="assessment_code" class="form-control col-sm-8 myselect">
                                       <option value="">Select Assessment Code</option>
                                        {% for assessment in assessments %}
                                        <option value="{{assessment.id}}">{{assessment.assessment_code}}</option>
                                        {% endfor %}
                                    </select>
                            </div>



                              <div class="form-group row">
                                <label class="col-sm-4" >Assessment City*</label>
                                   <select name="assessment_city_id" class="form-control col-sm-8 myselect">
                                       <option value="">Select Assessment City</option>
                                        {% for city in cities %}
                                        <option value="{{city.id}}">{{city.city_name}}</option>
                                        {% endfor %}
                                    </select>
                            </div>

                              {% endif %}
                              {% endfor %}

                               <div class="form-group row">
                                <label class="col-sm-4" >Select Billing Entity*</label>
                                 <select id="entity_id" name="entity_id" class="form-control col-sm-8 tour_type myselect" required>
                                      <option value="">Select Billing Entity </option>
                                        {% for entity in entities %}
                                            <option value="{{entity.id}}">{{entity.entity_name}}</option>
                                        {% endfor %}
                                  </select>
                            </div>

                             <div class="form-group row">
                                <label class="col-sm-4" >Booking Reason/ Comment*</label>
                                <textarea name="reason_booking" class="form-control col-sm-8" required placeholder="Reason/Comment for Booking"></textarea>
                            </div>


                        </div>



                </div>
            </div>






                          <div class="col-md-7">
                               <div class="card card-topline-aqua">
                                <div class="card-head">
                                                   <header>SPOC and Passanger Details</header>
                                                   <div class="tools">
                                                       <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                                       <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                                       <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                                   </div>
                                               </div>
                                               <div class="card-body ">

<div class="form-group row">
                                <label class="col-sm-2" >Select Spoc*</label>
                                 <select id="spoc_id" name="spoc_id" class="form-control col-sm-8 tour_type myselect" required>
                                      <option value="">Select Spoc </option>
                                        {% for spoc in spocs %}
                                            <option value="{{spoc.id}},{{spoc.group_id}},{{spoc.subgroup_id}}">{{spoc.user_name}}</option>
                                        {% endfor %}
                                  </select>
                            </div>



                               <div class="form-group row">
                                <label class="col-sm-2" >Number Of Employees*</label>
                                <select id="no_of_seats" name="no_of_seats" class="form-control col-sm-8 no_of_seats myselect">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5" style="display: none">5</option>
                                    <option value="6" style="display: none">6</option>
                                </select>
                            </div>

                               <div class="form-group row" id="emp_row_1">
                                    <label class="col-sm-2" >Employee 1</label>
                                     <select id="employee_id_1" name="employee_id_1" class="form-control col-sm-2 myselect" required>
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="text" name="emp_id_1" id="emp_id_1" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_1" id="employee_name_1" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_1" id="employee_contact_1" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_1" id="employee_email_1" class="form-control col-sm-2" placeholder="Email">
                                </div>

                              <div class="form-group row" id="emp_row_2" >
                                    <label class="col-sm-2" >Employee 2</label>
                                     <select name="employee_id_2" id="employee_id_2" class="form-control col-sm-2 myselect">
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                  <input type="text" name="emp_id_2" id="emp_id_2" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_2" id="employee_name_2" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_2" id="employee_contact_2" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_2" id="employee_email_2" class="form-control col-sm-2" placeholder="Email">
                                </div>

                              <div class="form-group row"  id="emp_row_3" >
                                    <label class="col-sm-2" >Employee 3</label>
                                     <select name="employee_id_3" id="employee_id_3" class="form-control col-sm-2 myselect">
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                  <input type="text" name="emp_id_3" id="emp_id_3" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_3" id="employee_name_3" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_3" id="employee_contact_3" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_3" id="employee_email_3" class="form-control col-sm-2" placeholder="Email">
                                </div>

                              <div class="form-group row"  id="emp_row_4">
                                    <label class="col-sm-2" >Employee 4</label>
                                     <select name="employee_id_4" id="employee_id_4" class="form-control col-sm-2 myselect">
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                   <input type="text" name="emp_id_4" id="emp_id_4" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_4" id="employee_name_4" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_4" id="employee_contact_4" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_4" id="employee_email_4" class="form-control col-sm-2" placeholder="Email">
                                </div>

                               <div class="form-group row"  id="emp_row_5">
                                    <label class="col-sm-2" >Employee 5</label>
                                     <select name="employee_id_5" id="employee_id_5" class="form-control col-sm-2 myselect">
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                   <input type="text" name="emp_id_5" id="emp_id_5" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_5" id="employee_name_5" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_5" id="employee_contact_5" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_5" id="employee_email_5" class="form-control col-sm-2" placeholder="Email">
                                </div>

                               <div class="form-group row"  id="emp_row_6">
                                    <label class="col-sm-2" >Employee 6</label>
                                     <select name="employee_id_6" id="employee_id_6" class="form-control col-sm-2 myselect">
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_cid}}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="text" name="emp_id_6" id="emp_id_6" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_6" id="employee_name_6" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_6" id="employee_contact_6" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_6" id="employee_email_6" class="form-control col-sm-2" placeholder="Email">
                                </div>

                          </div>

                                     <div class="form-group">
                    <div class="offset-md-3 col-md-9">
                        <button type="submit" class="btn btn-info">Submit</button>
                        <button type="button" onclick="history.back();" class="btn btn-default">Cancel</button>
                    </div>
                </div>
</div>
</div>

        </div>
        </form>
    </div>
</div>
<!-- end page content -->
<script type="text/javascript">
   $(".myselect").select2();
</script>




{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCstbhex4F6X2-AXz3B1sR1oRvxssE3sc&libraries=places"></script>

<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCstbhex4F6X2-AXz3B1sR1oRvxssE3sc&libraries=places"></script>-->


 <script>

$(window).on("load", function () {

var_url = '/api/'+'cities'
    $.ajaxSetup({
            headers:{
                'Authorization': "Token {{request.session.admin_access_token}}",
                'usertype': 1
            }

        });

     $.post(var_url,{},
      function(data)
      {
       //alert(data['Cities']);
       if(data['Cities'].length != 0){
        entities = data['Cities'];
        $('#current_city_id').append($("<option value=''>Select Billing Entity</option>"));
         for (var i=0;i<entities.length;i++) {
            $('#current_city_id').append($("<option value='"+entities[i].id+"'>"+entities[i].city_name+"</option>"));
         }
       }else{
        alert('No Entity Available')
       }
       });

});



  var pickup_location = document.getElementById('pickup_location');
      var autocomplete = new google.maps.places.Autocomplete(pickup_location);

       var drop_location = document.getElementById('drop_location');
      var autocomplete = new google.maps.places.Autocomplete(drop_location);

    </script>

<script type="text/javascript">

$( document ).ready(function() {
    $('#tr_taxi_type').hide();
    $('#tr_package').hide();
    $('#tr_no_of_days').hide();
    $('#emp_row_2').hide();
    $('#emp_row_3').hide();
    $('#emp_row_4').hide();
    $('#emp_row_5').hide();
    $('#emp_row_6').hide();


        var emp_len = $('#employee_id_1 > option').length;
       for (var i=emp_len;i<7;i++) {
       var valueToCompare = $("#no_of_seats option[value='"+i+"']").text();
            if(valueToCompare == i) {
                $("#no_of_seats option[value='"+i+"']").attr("disabled", "disabled");
            }
       }
});


$("#employee_id_1").change(function()
    {
    	$("#emp_id_1").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_1").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_1").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_1").val($(this).find("option:selected").attr("emp_email"));
    });

$("#employee_id_2").change(function()
    {
    	$("#emp_id_2").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_2").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_2").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_2").val($(this).find("option:selected").attr("emp_email"));
    });

$("#employee_id_3").change(function()
    {
    	$("#emp_id_3").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_3").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_3").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_3").val($(this).find("option:selected").attr("emp_email"));
    });

$("#employee_id_4").change(function()
    {
    	$("#emp_id_4").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_4").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_4").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_4").val($(this).find("option:selected").attr("emp_email"));
    });

$("#employee_id_5").change(function()
    {
    	$("#emp_id_5").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_5").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_5").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_5").val($(this).find("option:selected").attr("emp_email"));
    });

    $("#employee_id_6").change(function()
    {
    	$("#emp_id_6").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_6").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_6").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_6").val($(this).find("option:selected").attr("emp_email"));
    });

$(".no_of_seats").change(function()
    {

    	var no_of_seats = $(this).val();

    	if(no_of_seats > 0){
           for(i=1;i<=no_of_seats;i++)
            {
                $('#emp_row_'+i).show();
                $("#employee_id_"+i).attr('required',true);

            }
            var j = parseInt(no_of_seats) + 1;
			for(j=j; j<=6; j++)
			{
				$('#emp_row_'+j).hide();
				$("#employee_id_"+j).attr('required',false);

			}
    	}
    });

$("#tour_type").change(function()
    {
    	var tour_type = $(this).val();

    	switch(tour_type){
           case '1':
              {
                $('#tr_taxi_type').hide();
                $('#tr_package').hide();
                $('#tr_no_of_days').hide();
                break;
              }
           case '2':
              {
                $('#tr_taxi_type').show();
                $('#tr_package').show();
                $('#tr_no_of_days').hide();
                getPackage();
                break;
              }
           case '3':
              {
                $('#tr_taxi_type').show();
                $('#tr_package').show();
                $('#tr_no_of_days').show();
                getPackage();
                break;
              }
    	}
    });


$("#select_taxi_type,#current_city_id").change(function(){
   getPackage();
});

function getPackage(){
$('#package_id').empty();
    var taxi_type =  $("#select_taxi_type").val();
    var corporate_id= $("#corporate_id").val();
    var tour_type= $("#tour_type").val();
    var current_city_id= $("#current_city_id").val();

    if(current_city_id && taxi_type && tour_type && corporate_id)
    {
        if(tour_type != '1')
        {
            $.ajaxSetup({
                headers:{
                    'Authorization': "Token {{request.session.admin_access_token}}",
                    'usertype': 1
                }
            });

            //       For Package

            var_url_spoc = '/api/'+'corporate_package'
             $.post(var_url_spoc,{ corporate_id: corporate_id, taxi_type : taxi_type, city_id:current_city_id, tour_type:tour_type },
              function(data)
              {
               //alert(JSON.stringify(data));
               if(data['Package'].length != 0){
                package = data['Package'];
                 $('#package_id').append($("<option value=''>Select Package</option>"));
                 for (var i=0;i<package.length;i++) {
                    $('#package_id').append($("<option value='"+package[i].id+"'>"+package[i].package_name+"</option>"));
                 }
               }else{
                alert('No Package Available')
               }
               });
        }
    }


}

</script>


{% endblock %}