{% extends 'Company/Admin/layout/header.html' %}

{% block content %}


{% if user %}
<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
{% include 'cotrav_alert_message.html' %}
                            <div class="text-center">
                 <div style="font-size:14px; font-weight:bold;">
                      {% if employee %}
                      Edit Employee Details
                      {% else %}
                     Add New Employee Details
                     {% endif %}
                     </div>
                     </div>


        <form method="post" action="/Corporate/Admin/add-employee/{{user.corporate_id}}" id="model_serialize_update">
            {% csrf_token %}
            <input type="hidden" class="col-sm-8 form-control" name="user_id" value="{{user.id }}">
            <input type="hidden" class="col-sm-8 form-control" name="corporate_id" value="{{user.corporate_id }}">
             <input type="hidden" name="current_url" value="{{ request.get_full_path }}">
            {% if employee %}
            {% for employee in employee %}
            <input type="hidden" class="col-sm-8 form-control" name="employee_id" value="{{employee.id }}">
            {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>General Information</header>
                            <button id="panel-button"
                                    class="mdl-button mdl-js-button mdl-button--icon pull-right"
                                    data-upgraded=",MaterialButton">
                                <i class="material-icons">more_vert</i>
                            </button>

                        </div>
                        <div class="card-body " id="bar-parent">

                            <div class="form-group row">
                                <label class="col-sm-4" >Select Spoc</label>
                                <select class="col-sm-8 form-control  myselect" style="width:66%"  name="spoc_id" required>
                                {% if employee %}
                                {% for employee in employee %}

                                        <option value="">Select Spoc</option>
                                        {% for spoc in spocs %}
                                        <option value="{{spoc.id}}" {% if employee.spoc_id == spoc.id %} selected {%endif%}>{{spoc.user_name}}</option>
                                        {% endfor %}

                                {% endfor %}
                                {% else %}

                                        <option value="">Select Spoc</option>
                                        {% for spoc in spocs %}
                                        <option value="{{spoc.id}}">{{spoc.user_name}}</option>
                                        {% endfor %}

                                {% endif %}
                                    </select>
                            </div>

                           <div class="form-group row">
                                <label class="col-sm-4" >Billing Entity</label>
                               <select class="col-sm-8 form-control  myselect" style="width:66%"  name="billing_entity_id" required>
                                {% if employee %}
                                {% for employee in employee %}

                                        <option value="">Billing Entity</option>
                                        {% for entity in entitys %}
                                        <option value="{{entity.id}}" {% if employee.billing_entity_id == entity.id %} selected {%endif%}>{{entity.entity_name}}</option>
                                        {% endfor %}

                                {% endfor %}
                                {% else %}

                                        <option value="">Billing Entity</option>
                                        {% for entity in entitys %}
                                        <option value="{{entity.id}}">{{entity.entity_name}}</option>
                                        {% endfor %}

                                {% endif %}
                                   </select>
                            </div>




                            <div class="form-group row">
                                <label class="col-sm-4" >Core Employee id</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="core_employee_id" value="{{employee.core_employee_id|default:''}}"
                                       placeholder="Core Employee id">
                                {% endfor %}
                                {% else %}
                                    <input type="text" class="col-sm-8 form-control" name="core_employee_id"
                                       placeholder="Core Employee id">
                                {% endif %}
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" >Employee Company id</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="employee_cid" value="{{employee.employee_cid|default:''}}"
                                       placeholder="Employee Cid">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="employee_cid"
                                       placeholder="Employee Cid">
                                {% endif %}
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4" >Employee Name</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="employee_name" value="{{employee.employee_name}}" required
                                       placeholder="Employee Name">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="employee_name" required
                                       placeholder="Employee Name">
                                {% endif %}
                            </div>

                             <div class="form-group row">
                                <label class="col-sm-4" >Employee Email</label>
                                 {% if employee %}
                                {% for employee in employee %}
                                <input type="email" class="col-sm-8 form-control" name="employee_email" value="{{employee.employee_email}}" required
                                       placeholder="Employee Email">
                                 {% endfor %}
                                {% else %}
                                 <input type="email" class="col-sm-8 form-control" name="employee_email" required
                                       placeholder="Employee Email">
                                  {% endif %}
                            </div>

                             <div class="form-group row">
                                <label class="col-sm-4" >Employee Contact</label>
                                 {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="employee_contact" value="{{employee.employee_contact}}" required
                                       placeholder="Employee Contact">
                                 {% endfor %}
                                {% else %}
                                 <input type="text" class="col-sm-8 form-control" name="employee_contact" required
                                       placeholder="Employee Contact">
                                  {% endif %}
                            </div>

                             <div class="form-group row">
                                <label class="col-sm-4" >Designation</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="designation" value="{{employee.designation|default:''}}"
                                       placeholder="Designation">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="designation"
                                       placeholder="Designation">
                                 {% endif %}
                            </div>




                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Other Details</header>
                            <button
                                    class="mdl-button mdl-js-button mdl-button--icon pull-right"
                                    data-upgraded=",MaterialButton">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                data-mdl-for="panel-button">
                                <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                                <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                                <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here
                                </li>
                            </ul>
                        </div>
                        <div class="card-body ">

                            <div class="form-group row">
                                <label class="col-sm-4" >Gender</label>
                                <select name="gender" class="col-sm-8 form-control">
                                    {% if employee %}
                                {% for employee in employee %}
                                <option value="Male" {% if employee.gender == 'Male' %} selected {%endif%}>Male</option>
                                <option value="Female" {% if employee.gender == 'Female' %} selected {%endif%}>Female</option>
                                {% endfor %}
                                {% else %}
                                <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                 {% endif %}

                                </select>

                            </div>


                            <div class="form-group row">
                                <label class="col-sm-4" >Id Proof Type</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="id_proof_type" value="{{employee.id_proof_type|default:''}}"
                                       placeholder="Id Proof Type">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="id_proof_type"
                                       placeholder="Id Proof Type">
                                 {% endif %}
                            </div>

                             <div class="form-group row">
                                <label class="col-sm-4" >Id Proof No</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="id_proof_no" value="{{employee.id_proof_no|default:''}}"
                                       placeholder="Id Proof No">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="id_proof_no"
                                       placeholder="Id Proof No">
                                 {% endif %}
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-4" >Home City</label>
                                {% if employee %}
                                {% for employee in employee %}
                                    <select class="col-sm-8 form-control  myselect" style="width:66%"  name="home_city" id="city_id">
                                        <option value="">Select Home City</option>
                                        {% for citie in cities %}
                                        <option value="{{citie.id}}" {% if employee.home_city == citie.id %} selected {%endif%}>{{citie.city_name}}</option>
                                        {% endfor %}
                                    </select>
                                {% endfor %}
                                {% else %}

                                     <select class="col-sm-8 form-control  myselect" style="width:66%"  name="home_city" id="city_id_edit">
                                        <option value="">Select Home City</option>
                                        {% for citie in cities %}
                                        <option value="{{citie.id}}">{{citie.city_name}}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-4" >Employee Band</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="employee_band" value="{{employee.employee_band|default:''}}"
                                       placeholder="Employee Band">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="employee_band"
                                       placeholder="Employee Band">
                                 {% endif %}
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-4" >Reporting Manager</label>
                                <select name="reporting_manager" id="reporting_manager" class="form-control col-sm-8  myselect" style="width:66%" >
                                    <option value=" " >Select Reporting Manager</option>
                                {% if employee %}
                                {% for employe in employee %}
                                {% for employee in employees %}
                                        <option value="{{employee.id}}" {% if employe.reporting_manager == employee.id %} selected {%endif%}>{{employee.employee_name}}</option>
                                        {% endfor %}
                                {% endfor %}
                                {% else %}
                                {% for employee in employees %}
                                        <option value="{{employee.id}}">{{employee.employee_name}}</option>
                                        {% endfor %}
                                 {% endif %}
                                </select>
                            </div>


                             <div class="form-group row">
                                <label class="col-sm-4" >Home Address</label>
                                {% if employee %}
                                {% for employee in employee %}
                                <input type="text" class="col-sm-8 form-control" name="home_address" value="{{employee.home_address|default:''}}"
                                       placeholder="Home Address">
                                {% endfor %}
                                {% else %}
                                <input type="text" class="col-sm-8 form-control" name="home_address"
                                       placeholder="Home Address">
                                 {% endif %}
                            </div>



                             <div class="form-group row">
                                <label class="col-sm-4" >Date Of Birth</label>
                                {% if employee %}
                                {% for employee in employee %}
                                 {% if employee.date_of_birth and employee.date_of_birth != 'None' %}

                                <input type="text" class="col-sm-8 form-control datepicker_download" autocomplete="off" name="date_of_birth" value="{{employee.date_of_birth}}"
                                       placeholder="Assistant ID" required>
                                {% else %}

                                <input type="text" class="col-sm-8 form-control datepicker_download" autocomplete="off" name="date_of_birth"
                                       placeholder="Date Of Birth" required>
                                 {% endif %}
                                 {% endfor %}

                                {% else %}
                                <input type="text" class="col-sm-8 form-control datepicker_download" autocomplete="off" name="date_of_birth"
                                       placeholder="Date Of Birth" required>
                                 {% endif %}
                            </div>


                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Access Details</header>
                            <button id="panel-button2"
                                    class="mdl-button mdl-js-button mdl-button--icon pull-right"
                                    data-upgraded=",MaterialButton">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                data-mdl-for="panel-button2">
                                <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                                <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                                <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here
                                </li>
                            </ul>
                        </div>
                        <div class="card-body " id="bar-parent1">

                            <div class="form-group row">
                                <label class="col-sm-4 control-label">is Active</label>

                                    <select class="form-control col-sm-8" name="is_active">

                                        {% if employee %}
                                        {% for employee in employee %}
                                            <option value="1" {% if employee.is_active == 1 %} selected {%endif%}>Yes</option>
                                            <option value="0" {% if employee.is_active == 0 %} selected {%endif%}>No</option>
                                        {% endfor %}
                                        {% else %}
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        {% endif %}

                                    </select>

                            </div>


                            <div class="form-group row">
                                <label class="col-sm-4 control-label">is CXO</label>

                                    <select class="form-control col-sm-8" name="is_cxo" id="is_cxo">

                                        {% if employee %}
                                        {% for employee in employee %}
                                            <option value="0" {% if employee.is_cxo == 0 %} selected {%endif%}>No</option>
                                            <option value="1" {% if employee.is_cxo == 1 %} selected {%endif%}>Yes</option>
                                        {% endfor %}
                                        {% else %}
                                            <option value="0">No</option>
                                            <option value="1">Yes</option>
                                        {% endif %}
                                    </select>

                            </div>

                            <div class="form-group row" id="row_assistant_id">
                                <label class="col-sm-4" >Select Assistant</label>
                                <select name="assistant_id" class="form-control col-sm-8  myselect" style="width:66%" >
                                    <option value=" " >Select Assistant</option>
                                {% if employee %}
                                {% for employe in employee %}
                                {% for employee in employees %}
                                        <option value="{{employee.id}}" {% if employe.assistant_id == employee.id %} selected {%endif%}>{{employee.employee_name}}</option>
                                        {% endfor %}
                                {% endfor %}
                                {% else %}
                                {% for employee in employees %}
                                        <option value="{{employee.id}}">{{employee.employee_name}}</option>
                                        {% endfor %}
                                 {% endif %}
                                </select>
                            </div>







                            <div class="form-group">
                                <div class="offset-md-3 col-md-9">
                                    <button type="submit" class="btn btn-info">Submit</button>
                                    <button type="button" onclick="history.back();" class="btn btn-default">Cancel</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- end page content -->


{% else %}
<p>Welcome, new user. Please log in.<a href="/login">Login</a></p>
{% endif %}

<script type="text/javascript">
$(window).on("load", function () {
var_url = '/api/'+'cities'
    $.ajaxSetup({
            headers:{
                'Authorization': "Token {{request.session.admin_access_token}}",
                'usertype': 1
            }

        });

     $.post(var_url,{},
      function(data)
      {
       //alert(data['Cities']);
       if(data['Cities'].length != 0){
        entities = data['Cities'];
        $('#current_city_id').append($("<option value=''>Select Billing Entity</option>"));
         for (var i=0;i<entities.length;i++) {
            $('#city_id').append($("<option value='"+entities[i].id+"'>"+entities[i].city_name+"</option>"));
            $('#city_id_edit').append($("<option value='"+entities[i].id+"'>"+entities[i].city_name+"</option>"));
         }
       }else{
        alert('No Entity Available')
       }
       });

});

 var getValue=$('#is_cxo').val();
    if(getValue == '1'){
        $("#row_assistant_id").show("slow");
        $("#row_assistant_id").prop('required',true);
    }else{
        $("#row_assistant_id").hide("slow");
        $("#row_assistant_id").prop('required',false);
    }

 $("#is_cxo").on('change',function(){
    var getValue=$(this).val();
    if(getValue == '1'){
        $("#row_assistant_id").show("slow");
        $("#row_assistant_id").prop('required',true);
    }else{
        $("#row_assistant_id").hide("slow");
        $("#row_assistant_id").prop('required',false);
    }
  });

</script>
<script>
    $( document ).ready(function() {

$('#model_serialize_update')
.each(function(){
$(this).data('serialized', $(this).serialize())
})
    .on('change input', function(){
        $(this)
            .find('input:submit, button:submit')
                .attr('disabled', $(this).serialize() == $(this).data('serialized'))
        ;
     })
.find('input:submit, button:submit')
.attr('disabled', true);

});

$(document.body).on("change",".myselect",function(){
  $('form')
      .find('input:submit, button:submit')
          .attr('disabled', $('#model_serialize_update').serialize() == $('#model_serialize_update').data('serialized'))
  ;
});

</script>
{% endblock %}