{% extends 'Company/Admin/layout/header.html' %}

{% block content %}


{% if user %}
<!-- start page content -->

<div class="page-content-wrapper">
    <div class="page-content">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-topline-aqua">
                    <div class="card-head">
                        <header>ALL CORPORATE TAXI BOOKINGS</header>
                             <div class="row p-b-20">

                            </div>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body ">

                        {% include 'cotrav_alert_message.html' %}

                        <div class="table-scrollable table-bordered">

                            <table id="example1" class="display full-width">
                                <thead>
                                <tr>
                                   <th>ID</th>
                                    <th>Reference No</th>
                                    <th>City</th>
                                    <th>Booking Date</th>
                                    <th>Pickup Datetime</th>
                                    <th>Pickup Location</th>
                                    <th>Drop Location</th>
                                    <th>Tour Type</th>
                                    <th>Client Status</th>
                                    <th>CoTrav Status</th>

                                    <th>Operator Details</th>
                                    <th>Taxi/Driver Assign</th>
                                    <th>Spoc Details</th>

                                    <th>Passenger Details</th>

                                    <th>Details</th>

                                </tr>
                                </thead>
                                <tbody>
                                                                {% for booking in bookings %}
                                <tr>
                                    <td>{{ booking.id }}</td>
                                    <td>{{ booking.reference_no }}</td>
                                    <td>{{ booking.city_name }}</td>
                                    <td>{{ booking.booking_date}}</td>
                                    <td>{{ booking.pickup_datetime }}</td>
                                    <td>{{ booking.pickup_location }}</td>
                                    <td>{{ booking.drop_location }}</td>
                                    {% if booking.tour_type == 1 %}
                                    <td>Local</td>
                                    {% elif booking.tour_type == 2 %}
                                    <td>Radio</td>
                                    {% else %}
                                    <td>Outstation</td>
                                    {% endif %}



                                    <td>{{ booking.client_status }} </td>
                                    <td>{{ booking.cotrav_status }}<br/>({{ booking.cotrav_agent_name|default:'' }})</td>



                                    {% if booking.operator_name %}
                                    <td>{{ booking.operator_name|default:'' }}<br/>({{ booking.operator_contact|default:'' }})</td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}


                                    {% if booking.driver_name %}
                                    <td>{{ booking.driver_name|default:'' }}<br/>({{ booking.driver_contact|default:'' }})</td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}

                                    <td>{{ booking.user_name }}<br/>({{ booking.user_contact }})</td>

                                    <td>
                                        {% for passanger in booking.Passangers %}
                                        {{ passanger.employee_name|default:'' }} <br/>({{ passanger.employee_contact|default:''}})<br/>
                                        {% endfor %}
                                    </td>

                                    <td>
                                        <a href="/Corporate/Admin/view-taxi-booking/{{ booking.id }}" class="btn btn-tbl-edit btn-xs" style="background:#6288b1;"> <i class="fa fa-search"></i> </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end page content -->


{% else %}
<p>Welcome, new user. Please log in.<a href="/login">Login</a></p>
{% endif %}

{% endblock %}



