
<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="SmartUniversity" />
    <title>CoTrav - Agent Home Page</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
	<!-- icons -->
    <link href="{% static 'fonts/material-design-icons/material-icon.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
	<!--bootstrap -->
	<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'assets/plugins/summernote/summernote.css' %}" rel="stylesheet">
    <!-- data tables -->
    <link href="{% static 'assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
	<!-- morris chart -->
    <link href="{% static 'assets/plugins/morris/morris.css' %}" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/material/material.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/material_style.css' %}">
	<!-- animation -->
	<link href="{% static 'assets/css/pages/animate_page.css' %}" rel="stylesheet">
	<!-- Theme Styles -->
    <link href="{% static 'assets/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/theme-color.css' %}" rel="stylesheet" type="text/css" />
	<!-- favicon -->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" />

    <!-- dropzone -->
    <link href="{% static 'assets/plugins/dropzone/dropzone.css' %}" rel="stylesheet" media="screen">
    <!--tagsinput-->
    <link href="{% static 'assets/plugins/jquery-tags-input/jquery-tags-input.css' %}" rel="stylesheet">

    <!--select2-->
    <link href="{% static 'assets/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}" />


</head>
<!-- END HEAD -->
