{% extends 'Agent/layout/header.html' %}

{% block content %}


{% if user %}
			<!-- start page content -->
{% include 'cotrav_alert_message.html' %}
            <div class="page-content-wrapper">
                <div class="page-content">

  <div class="text-center">
     <div style="font-size:14px; font-weight:bold;">
         {% if operator_drivers %}
         Edit Operator Drivers Details
         {% else %}
            Add New Operators Drivers Details
         {% endif %}
         </div>
   </div>


 <form method="post" action="/agents/add-operator-driver/0" id="model_serialize_update">
      {% csrf_token %}
     <input type="hidden" class="col-sm-8 form-control" name="cotrav_agent_id"  value="{{user.id }}">
     <input type="hidden" name="current_url" value="{{ request.get_full_path }}">
            {% if operator_drivers %}
            {% for driver in operator_drivers %}
            <input type="hidden" class="col-sm-8 form-control" name="driver_id" value="{{driver.id }}">
            {% endfor %}
            {% endif %}

                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>General Information</header>

				                        <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
				                           data-mdl-for = "panel-button">
				                           <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
				                        </ul>
                                </div>
                                <div class="card-body " id="bar-parent">


                                         <div class="form-group row">
                                                <label class="col-sm-4">Operator</label>
                                             {% if operator_drivers %}
                                            {% for driver in operator_drivers %}
	                                                 <select class="col-sm-8 form-control  myselect" style="width:66%"  name="operator_id" required>
                                                         <option value="">Select Operator</option>
                                                    {% for operator in operators %}
                                                     <option value="{{operator.id}}" {%if driver.operator_id == operator.id %} selected {%endif%}>{{operator.operator_name}}</option>
                                                    {% endfor %}
	                                            </select>
                                            {% endfor %}
                                              {% else %}

                                                <select class="col-sm-8 form-control  myselect" style="width:66%"  name="operator_id" required>
                                                    <option value="">Select Operator</option>
	                                                {% for operator in operators %}
                                                     <option value="{{operator.id}}" >{{operator.operator_name}}</option>
                                                    {% endfor %}
	                                            </select>
                                             {% endif %}
                                            </div>



                                     <div class="form-group row">
                                            <label class="col-sm-4" >Driver Name</label>
                                         {% if operator_drivers %}
                                            {% for driver in operator_drivers %}
                                            <input type="text" class="col-sm-8 form-control" name="driver_name"  value="{{driver.driver_name}}" required>
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="driver_name" placeholder="Driver Name" required>
                                         {% endif %}
                                        </div>

                                     <div class="form-group row">
                                            <label class="col-sm-4" >Driver Contact</label>
                                         {% if operator_drivers %}
                                            {% for driver in operator_drivers %}
                                            <input type="text" class="col-sm-8 form-control" name="driver_contact"  value="{{driver.driver_contact}}" required>
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="driver_contact" placeholder="Driver Contact" required>
                                         {% endif %}
                                        </div>


                                       <div class="form-group row">
                                            <label class="col-sm-4" >Driver Email</label>
                                         {% if operator_drivers %}
                                            {% for driver in operator_drivers %}
                                            <input type="text" class="col-sm-8 form-control" name="driver_email"  value="{{driver.driver_email}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="driver_email" placeholder="Driver Email">
                                         {% endif %}
                                        </div>

                                     <div class="form-group row">
                                            <label class="col-sm-4" >Driver Licence_no</label>
                                         {% if operator_drivers %}
                                            {% for driver in operator_drivers %}
                                            <input type="text" class="col-sm-8 form-control" name="licence_no"  value="{{driver.licence_no}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="licence_no" placeholder="Driver Licence_no">
                                         {% endif %}
                                        </div>

                                     <div class="form-group row">
                                            <label class="col-sm-4" >Fcm Regid</label>
                                         {% if operator_drivers %}
                                            {% for driver in operator_drivers %}
                                            <input type="text" class="col-sm-8 form-control" name="fcm_regid"  value="{{driver.fcm_regid}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="fcm_regid" placeholder="Fcm Regid">
                                         {% endif %}
                                        </div>

                                    <div class="form-group row">
                                                <label class="col-sm-4">Taxi Registration No</label>
                                             {% if operator_drivers %}
                                            {% for driver in operator_drivers %}
	                                                 <select class="col-sm-8 form-control  myselect" style="width:66%"  name="taxi_id" required>
                                                         <option value="">Select Taxi</option>
                                                    {% for tax in taxies %}
                                                     <option value="{{tax.id}}" {%if driver.taxi_id == tax.id %} selected {%endif%}>{{tax.taxi_reg_no}}</option>
                                                    {% endfor %}
	                                            </select>
                                            {% endfor %}
                                              {% else %}

                                                <select class="col-sm-8 form-control  myselect" style="width:66%"  name="taxi_id" required>
                                                    <option value="">Select Taxi</option>
	                                                {% for tax in taxies %}
                                                     <option value="{{tax.id}}" {%if driver.taxi_id == tax.id %} selected {%endif%}>{{tax.taxi_reg_no}}</option>
                                                    {% endfor %}
	                                            </select>
                                             {% endif %}
                                            </div>




                    <div class="text-center">
                        <input type="submit" value="Submit" class="btn btn-info">
                        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-default">  Cancel  </a>
                    </div>


                                </div>
                            </div>
                        </div>






                    </div>
 </form>
  </div>
</div>

<!-- end page content -->




{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

<script>
$( document ).ready(function() {

$('#model_serialize_update')
.each(function(){
$(this).data('serialized', $(this).serialize())
})
    .on('change input', function(){
        $(this)
            .find('input:submit, button:submit')
                .attr('disabled', $(this).serialize() == $(this).data('serialized'))
        ;
     })
.find('input:submit, button:submit')
.attr('disabled', true);

});

$(document.body).on("change",".myselect",function(){
  $('form')
      .find('input:submit, button:submit')
          .attr('disabled', $('#model_serialize_update').serialize() == $('#model_serialize_update').data('serialized'))
  ;
});

</script>

{% endblock %}