{% include "Agent/layout/header.html" %}
{% include "Agent/layout/menu_bar_layout.html" %}


{% if user %}
			<!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
 <form method="post" action="/agents/add-operator/0">
      {% csrf_token %}
     <input type="hidden" class="col-sm-8 form-control" name="cotrav_agent_id"  value="{{user.id }}">

            {% if operators %}
            {% for operator in operators %}
            <input type="hidden" class="col-sm-8 form-control" name="operator_id" value="{{operator.id }}">
            {% endfor %}
            {% endif %}

                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>General Information</header>
                                     <button id = "panel-button"
				                           class = "mdl-button mdl-js-button mdl-button--icon pull-right"
				                           data-upgraded = ",MaterialButton">
				                           <i class = "material-icons">more_vert</i>
				                        </button>
				                        <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
				                           data-mdl-for = "panel-button">
				                           <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
				                        </ul>
                                </div>
                                <div class="card-body " id="bar-parent">


                                         <div class="form-group row">
                                                <label class="col-sm-4" for="simpleFormEmail">Operator Type</label>
                                             {% if operators %}
                                            {% for operator in operators %}
	                                                 <select class="col-sm-8 form-control" name="type">
	                                                <option value="Taxi" {% if operator.type == 'Taxi' %} selected {%endif%}>Taxi</option>
	                                                <option value="Bus" {% if operator.type == 'Bus' %} selected {%endif%}>Bus</option>
                                                    <option value="Train" {% if operator.type == 'Train' %} selected {%endif%}>Train</option>
                                                    <option value="Hotel" {% if operator.type == 'Hotel' %} selected {%endif%}>Hotel</option>
                                                    <option value="Flight" {% if operator.type == 'Flight' %} selected {%endif%}>Flight</option>
                                                    <option value="Meal" {% if operator.type == 'Meal' %} selected {%endif%}>Meal</option>
	                                            </select>
                                            {% endfor %}
                                              {% else %}

                                                <select class="col-sm-8 form-control" name="type">
	                                                <option value="Taxi">Taxi</option>
	                                                <option value="Bus">Bus</option>
                                                    <option value="Train">Train</option>
                                                    <option value="Hotel">Hotel</option>
                                                    <option value="Flight">Flight</option>
                                                    <option value="Meal">Meal</option>

	                                            </select>
                                             {% endif %}
                                            </div>

                                          <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Login User Name</label>

                                            {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="username" placeholder="Login User Name" value="{{operator.username}}">
                                            {% endfor %}
                                              {% else %}
                                               <input type="text" class="col-sm-8 form-control" id="simpleFormEmail" name="username" placeholder="Login User Name">
                                            {% endif %}
                                        </div>

                                    <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Operator Name</label>
                                            {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="operator_name" value="{{operator.operator_name}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="operator_name" placeholder="Operator Name">
                                                {% endif %}
                                        </div>

                                      <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Operator Email</label>
                                          {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="operator_email" value="{{operator.operator_email}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="email" class="col-sm-8 form-control" name="operator_email" placeholder="Operator Email">
                                          {% endif %}
                                        </div>

                                      <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Operator Contact</label>
                                          {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="operator_contact" value="{{operator.operator_contact}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="operator_contact" placeholder="Operator Contact">
                                          {% endif %}
                                        </div>

                                    <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Website</label>
                                        {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="website" value="{{operator.website}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="website" placeholder="Website">
                                        {% endif %}
                                        </div>

                                    <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Operator Address</label>
                                        {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="operator_address" value="{{operator.operator_address}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="operator_address" placeholder="Operator Address">
                                        {% endif %}
                                        </div>



                                </div>
                            </div>
                        </div>



                        <div class="col-md-4 col-sm-4">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>Other Details</header>
                                    <button id = "panel-button2"
				                           class = "mdl-button mdl-js-button mdl-button--icon pull-right"
				                           data-upgraded = ",MaterialButton">
				                           <i class = "material-icons">more_vert</i>
				                        </button>
				                        <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
				                           data-mdl-for = "panel-button2">
				                           <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
				                        </ul>
                                </div>
                                <div class="card-body " id="bar-parent1">

                                     <div class="form-group row">
                                                <label class="col-sm-4">Tax Applicable</label>
                                         {% if operators %}
                                            {% for operator in operators %}

                                              <select class="col-sm-8 form-control" name="is_service_tax_applicable">
	                                                <option value="1" {% if operator.is_service_tax_applicable == 1 %} selected {%endif%}>Yes</option>
	                                                <option value="0" {% if operator.is_service_tax_applicable == 0 %} selected {%endif%}>No</option>
	                                            </select>

                                            {% endfor %}
                                              {% else %}

                                                <select class="col-sm-8 form-control" name="is_service_tax_applicable">
	                                                <option value="1">Yes</option>
	                                                <option value="0">No</option>
	                                            </select>

                                         {% endif %}

                                            </div>

                                     <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Service Tax Number</label>
                                         {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="service_tax_number"  value="{{operator.service_tax_number}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="service_tax_number" placeholder="Service Tax Number">
                                         {% endif %}
                                        </div>

                                     <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Night Start Time</label>
                                         {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="night_start_time" value="{{operator.night_start_time}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="night_start_time" placeholder="Night Start Time">
                                         {% endif %}
                                        </div>

                                     <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Night End Time</label>{% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="night_end_time"  value="{{operator.night_end_time}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="night_end_time" placeholder="Night End Time">
                                         {% endif %}
                                        </div>

                                     <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">TDS Rate</label>
                                         {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="tds_rate" value="{{operator.tds_rate}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="tds_rate" placeholder="TDS Rate">
                                         {% endif %}
                                        </div>

                                     <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">GST ID</label>
                                         {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="gst_id" value="{{operator.gst_id}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="gst_id" placeholder="GST ID">
                                         {% endif %}
                                        </div>

                                     <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">PAN NO</label>
                                         {% if operators %}
                                            {% for operator in operators %}
                                             <input type="text" class="col-sm-8 form-control" name="pan_no" placeholder="PAN NO" value="{{operator.pan_no}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="pan_no" placeholder="PAN NO">
                                         {% endif %}
                                        </div>




                                        <div class="form-group">
                                            <div class="offset-md-3 col-md-9">
                                                <button type="submit" class="btn btn-info">Submit</button>
                                                <button type="button" class="btn btn-default">Cancel</button>
                                            </div>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
 </form>
  </div>
</div>

<!-- end page content -->




{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

{% include "Agent/layout/footer.html" %}

<script type="text/javascript">
 $(function() {

 });
</script>