{% extends 'Agent/layout/header.html' %}

{% block content %}


{% if user %}
			<!-- start page content -->
{% include 'cotrav_alert_message.html' %}
            <div class="page-content-wrapper">
                <div class="page-content">

  <div class="text-center">
     <div style="font-size:14px; font-weight:bold;">
         {% if operator_drivers %}
         Edit Operator Drivers Details
         {% else %}
            Add New Operators Drivers Details
         {% endif %}
         </div>
   </div>



 <form method="post" action="/agents/add-operator-driver/0">
      {% csrf_token %}
     <input type="hidden" class="col-sm-8 form-control" name="cotrav_agent_id"  value="{{user.id }}">
 <input type="hidden" name="current_url" value="{{ request.get_full_path }}">
            {% if operator_drivers %}
            {% for driver in operator_drivers %}
            <input type="hidden" class="col-sm-8 form-control" name="driver_id" value="{{driver.id }}">
            {% endfor %}
            {% endif %}

 <div class="row">
						<div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%; ">
								<div class="card-head">
									<header>General Information: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">

                                    <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                            {% if operator_drivers %}
                                            {% for driver in operator_drivers %}
											<select class="mdl-textfield__input js-select2" name="operator_id" required >
												   <option value="">Select Operator</option>
                                                    {% for operator in operators %}
                                                     <option value="{{operator.id}}" {%if driver.operator_id == operator.id %} selected {%endif%}>{{operator.operator_name}}</option>
                                                    {% endfor %}
                                            </select>
                                            {% endfor %}
                                              {% else %}
                                            <select class="mdl-textfield__input js-select2 " name="operator_id" required >
                                                    <option value="">Select Operator</option>
	                                                {% for operator in operators %}
                                                     <option value="{{operator.id}}" >{{operator.operator_name}}</option>
                                                    {% endfor %}
                                            </select>

                                            {% endif %}

                                        <label class = "mdl-textfield__label" >Operator Name</label>
                                       </div>
									</div>


                                     <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                         {% if operator_drivers %}
                                         {% for driver in operator_drivers %}

					                     <input class = "mdl-textfield__input" type = "text" name="driver_name"  value="{{driver.driver_name}}" required   >
                                          {% endfor %}
                                              {% else %}
                                          <input class = "mdl-textfield__input"  type = "text" name="driver_name" required >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">Driver Name</label>
					                  </div>
						            </div>



                                     <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                         {% if operator_drivers %}
                                         {% for driver in operator_drivers %}

					                     <input class = "mdl-textfield__input" type = "text" name="driver_contact"  value="{{driver.driver_contact}}" required   >
                                          {% endfor %}
                                              {% else %}
                                          <input class = "mdl-textfield__input"  type = "text" name="driver_contact" required >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">Driver Contact</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                         {% if operator_drivers %}
                                         {% for driver in operator_drivers %}

					                     <input class = "mdl-textfield__input" type = "text" name="driver_email"  value="{{driver.driver_email}}" required   >
                                          {% endfor %}
                                              {% else %}
                                          <input class = "mdl-textfield__input"  type = "text" name="driver_email" required >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">Driver Email</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                         {% if operator_drivers %}
                                         {% for driver in operator_drivers %}

					                     <input class = "mdl-textfield__input" type = "text" name="licence_no"  value="{{driver.licence_no}}" required   >
                                          {% endfor %}
                                              {% else %}
                                          <input class = "mdl-textfield__input"  type = "text" name="licence_no" required >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">Driver Licence_no</label>
					                  </div>
						            </div>


                                     <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                         {% if operator_drivers %}
                                         {% for driver in operator_drivers %}

					                     <input class = "mdl-textfield__input" type = "text" name="fcm_regid"  value="{{driver.fcm_regid}}" required   >
                                          {% endfor %}
                                              {% else %}
                                          <input class = "mdl-textfield__input"  type = "text" name="fcm_regid" required >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">Fcm Regid</label>
					                  </div>
						            </div>

                                    <div class="col-lg-12"  align="center">
							              	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
											  Submit
											</button>

                                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"   >
											  Cancel
											</button>
                                    </div>



                                </div>
                            </div>
                        </div>




                    </div>
 </form>
  </div>
</div>

<!-- end page content -->




{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

<script type="text/javascript">
 $(function() {

 });
</script>

{% endblock %}