{% extends 'Agent/layout/header.html' %}

{% block content %}

{% if user %}
<!-- start page content -->


<div class="page-content-wrapper">
    <div class="page-content">
        <form method="post" action="/agents/add-flight-booking/{{user.id}}">
            <input type="hidden" name="user_id" value="{{user.id}}">
            <input type="hidden" name="group_id" id="group_id">
            <input type="hidden" name="subgroup_id" id="subgroup_id">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-topline-aqua">
                    <div class="card-head">
                        <header>Flight Booking Details</header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body ">


                              <div class="form-group row">
                                    <label class="col-sm-4" >Select Company</label>
                                     <select name="corporate_id" id="corporate_id" class="form-control col-sm-8 myselect">
                                         <option value="">Select Company</option>
                                        {% for company in companies %}
                                        <option value="{{company.id}}">{{company.corporate_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                        <div class="form-group row">
                                <label class="col-sm-4" >Usage Type*</label>
                                 <select name="usage_type"  class="form-control col-sm-8 myselect">
                                      <option value="Flight">Flight</option>
                                      <option value="Web Checkin">Web Checkin</option>

                                 </select>
                            </div>

                        <div class="form-group row">
                                <label class="col-sm-4" >Journey Type*</label>
                                 <select name="trip_type"  class="form-control col-sm-8 myselect">
                                      <option value="One Way">One Way</option>
                                      <option value="Round Trip">Round Trip</option>
                                 </select>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-4" >Select Class*</label>
                                 <select name="seat_type"  class="form-control col-sm-8 myselect">
                                      <option value="Economy">Economy</option>
                                      <option value="Premium Economy">Premium Economy</option>
                                      <option value="Business">Business</option>
                                 </select>
                            </div>





                              <div class="form-group row">
                                <label class="col-sm-4" >From City*</label>
                                 <input type="text" class="form-control col-sm-8" name="from_city" id="pickup_location" placeholder="From City" required>
                            </div>

                              <div class="form-group row">
                                <label class="col-sm-4" >To City*</label>
                                 <input type="text" class="form-control col-sm-8" name="to_city" id="drop_location" placeholder="To City" required>
                            </div>

                         <div class="form-group row">
                                <label class="col-sm-4" >Booking DateTime*</label>
                                 <input type="datetime-local" class="form-control col-sm-8 floating-label mdl-textfield__input" name="booking_datetime" placeholder="Booking DateTime" required>
                            </div>

                               <div class="form-group row">
                                <label class="col-sm-4" >Departure Date*</label>
                                 <input type="datetime-local" class="form-control col-sm-8 floating-label mdl-textfield__input" name="departure_date" placeholder="Departure Date" required>
                            </div>

                         <div class="form-group row">
                                <label class="col-sm-4" >Preferred Flights</label>
                                 <input type="text" class="form-control col-sm-8" name="preferred_flight" placeholder="Preferred Flights">
                            </div>


                              <div class="form-group row">
                                    <label class="col-sm-4" >Assessment Code*</label>
                                     <select id="assessment_code" name="assessment_code" class="form-control col-sm-8 myselect">


                                    </select>
                                </div>



                             <div class="form-group row">
                                <label class="col-sm-4" >Select Billing Entity*</label>
                                 <select id="entity_id" name="billing_entity_id" class="form-control col-sm-8 myselect">
                                      <option value="">Select Billing Entity </option>

                                  </select>
                            </div>

                          <div class="form-group row">
                                <label class="col-sm-4" >Booking Reason/ Comment*</label>
                                <textarea name="reason_booking" class="form-control col-sm-8" required placeholder="Reason/Comment for Booking"></textarea>
                            </div>






                        </div>




                     </div>




                     </div>



            <div class="col-md-4">
             <div class="card card-topline-aqua">
                    <div class="card-head">
                        <header>SPOC and Passanger Details</header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body ">

                         <div class="form-group row">
                                <label class="col-sm-4" >Select Spoc*</label>
                                 <select id="spoc_id" name="spoc_id" class="form-control col-sm-8 myselect ">
                                      <option value="">Select Spoc </option>
                                  </select>
                            </div>




                               <div class="form-group row">
                                <label class="col-sm-4" >Number Of Employees*</label>
                                <select id="no_of_seats" name="no_of_seats" class="form-control col-sm-8 no_of_seats myselect">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5" style="display: none">5</option>
                                    <option value="6" style="display: none">6</option>
                                </select>
                            </div>

                               <div class="form-group row" id="emp_row_1">
                                    <label class="col-sm-4" >Employee 1</label>
                                     <select name="employee_id_1" id="employee_id_1" class="form-control col-sm-8 myselect">
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                              <div class="form-group row" id="emp_row_2">
                                    <label class="col-sm-4" >Employee 2</label>
                                     <select name="employee_id_2" id="employee_id_2" class="form-control col-sm-8 myselect">
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                              <div class="form-group row"  id="emp_row_3">
                                    <label class="col-sm-4" >Employee 3</label>
                                     <select name="employee_id_3" id="employee_id_3" class="form-control col-sm-8 myselect">
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                              <div class="form-group row"  id="emp_row_4" >
                                    <label class="col-sm-4" >Employee 4</label>
                                     <select name="employee_id_4" id="employee_id_4" class="form-control col-sm-8 myselect">
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                               <div class="form-group row"  id="emp_row_5" style="display: none">
                                    <label class="col-sm-4" >Employee 5</label>
                                     <select name="employee_id_5" id="employee_id_5" class="form-control col-sm-8 myselect">
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                               <div class="form-group row"  id="emp_row_6" style="display: none">
                                    <label class="col-sm-4" >Employee 6</label>
                                     <select name="employee_id_6" id="employee_id_6" class="form-control col-sm-8 myselect">
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                          </div>

                  <div class="form-group">
                    <div class="offset-md-3 col-md-9">
                        <button type="submit" class="btn btn-info">Submit</button>
                        <button type="button" class="btn btn-default">Cancel</button>
                    </div>
                </div>

                </div>
                </div>




        </div>
        </form>
    </div>
</div>
<!-- end page content -->





{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCstbhex4F6X2-AXz3B1sR1oRvxssE3sc&libraries=places"></script>

<script type="text/javascript">

$(document).ready(function() {
$(".js-example-basic-single").select2();
});

    $('#tr_no_of_days').hide();
    $('#emp_row_2').hide();
    $('#emp_row_3').hide();
    $('#emp_row_4').hide();


$(".no_of_seats").change(function()
    {
    	var no_of_seats = $(this).val();

    	if(no_of_seats > 0){
           for(i=1;i<=no_of_seats;i++)
            {
                $('#emp_row_'+i).show();

            }
            var j = parseInt(no_of_seats) + 1;
			for(j=j; j<=6; j++)
			{
				$('#emp_row_'+j).hide();

			}
    	}
    });


$("#corporate_id").change(function(){
  $('#city_id').empty();
  $('#taxi_type_id').empty();
  $('#spoc_id').empty();
  $('#entity_id').empty();
  $('#assessment_code').empty();
  $('#employee_id_1').empty();
  $('#employee_id_2').empty();
  $('#employee_id_3').empty();
  $('#employee_id_4').empty();
  $('#employee_id_5').empty();
  $('#employee_id_6').empty();



   var corporate_id =  $(this).val();
   var_url = '{{ API_BASE_URL }}'+'billing_entities'

    $.ajaxSetup({
            headers:{
                'Authorization': "Token {{request.session.access_token}}",
                'usertype': 10
            }

        });
<!--   For Entity  -->
     $.post(var_url,{ corporate_id: corporate_id },
      function(data)
      {
       //alert(data['Entitys']);
       if(data['Entitys'].length != 0){
        entities = data['Entitys']
         for (var i=0;i<entities.length;i++) {
            $('#entity_id').append($("<option value='"+entities[i].id+"'>"+entities[i].entity_name+"</option>"));
         }
       }else{
        alert('No Entity Available')
       }
       });

<!--        For SPOC    -->
    var_url_spoc = '{{ API_BASE_URL }}'+'spocs'
     $.post(var_url_spoc,{ corporate_id: corporate_id },
      function(data)
      {
       //alert(data['Spocs']);
       if(data['Spocs'].length != 0){
        spocs = data['Spocs']
         for (var i=0;i<spocs.length;i++) {
            $('#spoc_id').append($("<option value='"+spocs[i].id+','+spocs[i].group_id+','+spocs[i].subgroup_id+" '>"+spocs[i].user_name+"</option>"));

         }
       }else{
        alert('No SPOC Available')
       }
       });

 <!--        For Employees    -->
    var_url_spoc = '{{ API_BASE_URL }}'+'employees'
     $.post(var_url_spoc,{ corporate_id: corporate_id },
      function(data)
      {
       //alert(data['Spocs']);
       if(data['Employees'].length != 0){
        employee = data['Employees']
         for (var i=0;i<employee.length;i++) {
            $('#employee_id_1').append($("<option value='"+employee[i].id+"'>"+employee[i].employee_name+"</option>"));
            $('#employee_id_2').append($("<option value='"+employee[i].id+"'>"+employee[i].employee_name+"</option>"));
            $('#employee_id_3').append($("<option value='"+employee[i].id+"'>"+employee[i].employee_name+"</option>"));
            $('#employee_id_4').append($("<option value='"+employee[i].id+"'>"+employee[i].employee_name+"</option>"));
            $('#employee_id_5').append($("<option value='"+employee[i].id+"'>"+employee[i].employee_name+"</option>"));
            $('#employee_id_6').append($("<option value='"+employee[i].id+"'>"+employee[i].employee_name+"</option>"));
         }
       }else{
        alert('No Employees Available')
       }
       });



  <!--        For Package    -->
    var_url_spoc = '{{ API_BASE_URL }}'+'assessment_codes'
     $.post(var_url_spoc,{ corporate_id: corporate_id },
      function(data)
      {

       if(data['Codes'].length != 0){
        package = data['Codes']
         for (var i=0;i<package.length;i++) {
            $('#assessment_code').append($("<option value='"+package[i].id+"'>"+package[i].assessment_code+"</option>"));
         }
       }else{
        alert('No Assessment Codes Available')
       }
       });


});


  <!--        For GET All Cities    -->
  var city_Names = [];

    {% for city in cities %}
        city_Names.push('{{city.city_name}}'+', '+'{{city.state_name}}'+', '+'{{city.country_name}}');
    {% endfor %}


    $( "#pickup_city" ).autocomplete({
      source: city_Names
    });


var pickup_city = document.getElementById('pickup_city');
var pickup_location = document.getElementById('pickup_location');
var drop_location = document.getElementById('drop_location');
var options = {
 types: ['(cities)'],
 componentRestrictions: {country: 'in'}
};

   var auto1 = new google.maps.places.Autocomplete(pickup_city, options);
   var auto2 = new google.maps.places.Autocomplete(pickup_location, options);
   var auto3 = new google.maps.places.Autocomplete(drop_location, options);



</script>


{% endblock %}