{% extends 'Agent/layout/header.html' %}

{% block content %}


{% if user %}
			<!-- start page content -->
{% include 'cotrav_alert_message.html' %}
            <div class="page-content-wrapper">
                <div class="page-content">

           <div class="text-center">
     <div style="font-size:14px; font-weight:bold;">
         {% if operators %}
         Edit Operators Details
         {% else %}
            Add New Operators Details
         {% endif %}
         </div>
   </div>

 <form method="post" action="/agents/add-operator/0">
      {% csrf_token %}
     <input type="hidden" class="col-sm-8 form-control" name="cotrav_agent_id"  value="{{user.id }}">
 <input type="hidden" name="current_url" value="{{ request.get_full_path }}">
            {% if operators %}
            {% for operator in operators %}
            <input type="hidden" class="col-sm-8 form-control" name="operator_id" value="{{operator.id }}">
            {% endfor %}
            {% endif %}

                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>General Information</header>
                                     <button id = "panel-button"
				                           class = "mdl-button mdl-js-button mdl-button--icon pull-right"
				                           data-upgraded = ",MaterialButton">
				                           <i class = "material-icons">more_vert</i>
				                        </button>
				                        <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
				                           data-mdl-for = "panel-button">
				                           <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
				                        </ul>
                                </div>
                                <div class="card-body " id="bar-parent">


                                         <div class="form-group row">
                                                <label class="col-sm-4" for="simpleFormEmail">Operator Type</label>
                                             {% if operators %}
                                            {% for operator in operators %}
	                                                 <select class="col-sm-8 form-control myselect" name="type" required>
	                                                <option value="1" {% if operator.service_type_id == 1 %} selected {%endif%}>Radio</option>
                                                    <option value="2" {% if operator.service_type_id == 2 %} selected {%endif%}>Local</option>
                                                    <option value="3" {% if operator.service_type_id == 3 %} selected {%endif%}>Outstation</option>
	                                                <option value="4" {% if operator.service_type_id == 4 %} selected {%endif%}>Bus</option>
                                                    <option value="5" {% if operator.service_type_id == 5 %} selected {%endif%}>Train</option>
                                                    <option value="6" {% if operator.service_type_id == 6 %} selected {%endif%}>Hotel</option>
                                                    <option value="7" {% if operator.service_type_id == 7 %} selected {%endif%}>Flight</option>
                                                    <option value="8" {% if operator.service_type_id == 8 %} selected {%endif%}>Meal</option>
	                                            </select>
                                            {% endfor %}
                                              {% else %}

                                                <select class="col-sm-8 form-control myselect" name="type" required>
	                                                <option value="1">Radio</option>
                                                    <option value="2">Local</option>
                                                    <option value="3">Outstation</option>
	                                                <option value="4">Bus</option>
                                                    <option value="5">Train</option>
                                                    <option value="6">Hotel</option>
                                                    <option value="7">Flight</option>
                                                    <option value="8">Meal</option>

	                                            </select>
                                             {% endif %}
                                            </div>

                                          <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Login User Name</label>

                                            {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="username" placeholder="Login User Name" value="{{operator.username}}" required>
                                            {% endfor %}
                                              {% else %}
                                               <input type="text" class="col-sm-8 form-control" id="simpleFormEmail" name="username" placeholder="Login User Name" required>
                                            {% endif %}
                                        </div>

                                    <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Operator Name</label>
                                            {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="operator_name" value="{{operator.operator_name}}" required>
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="operator_name" placeholder="Operator Name" required>
                                                {% endif %}
                                        </div>

                                      <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Operator Email</label>
                                          {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="operator_email" value="{{operator.operator_email}}" required>
                                            {% endfor %}
                                              {% else %}
                                            <input type="email" class="col-sm-8 form-control" name="operator_email" placeholder="Operator Email" required>
                                          {% endif %}
                                        </div>

                                      <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Operator Contact</label>
                                          {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="operator_contact" value="{{operator.operator_contact}}" required>
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="operator_contact" placeholder="Operator Contact" required>
                                          {% endif %}
                                        </div>

                                    <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Website</label>
                                        {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="website" value="{{operator.website}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="website" placeholder="Website">
                                        {% endif %}
                                        </div>

                                    <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Operator Address</label>
                                        {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="operator_address" value="{{operator.operator_address}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="operator_address" placeholder="Operator Address">
                                        {% endif %}
                                        </div>



                                </div>
                            </div>
                        </div>



                        <div class="col-md-4 col-sm-4">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>Other Details</header>
                                    <button id = "panel-button2"
				                           class = "mdl-button mdl-js-button mdl-button--icon pull-right"
				                           data-upgraded = ",MaterialButton">
				                           <i class = "material-icons">more_vert</i>
				                        </button>
				                        <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
				                           data-mdl-for = "panel-button2">
				                           <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
				                        </ul>
                                </div>
                                <div class="card-body " id="bar-parent1">

                                     <div class="form-group row">
                                                <label class="col-sm-4">Tax Applicable</label>
                                         {% if operators %}
                                            {% for operator in operators %}

                                              <select class="col-sm-8 form-control " name="is_service_tax_applicable">
	                                                <option value="1" {% if operator.is_service_tax_applicable == 1 %} selected {%endif%}>Yes</option>
	                                                <option value="0" {% if operator.is_service_tax_applicable == 0 %} selected {%endif%}>No</option>
	                                            </select>

                                            {% endfor %}
                                              {% else %}

                                                <select class="col-sm-8 form-control" name="is_service_tax_applicable">
	                                                <option value="1">Yes</option>
	                                                <option value="0">No</option>
	                                            </select>

                                         {% endif %}

                                            </div>


                                     <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Night Start Time</label>
                                         {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="night_start_time" value="{{operator.night_start_time}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="night_start_time" placeholder="Night Start Time">
                                         {% endif %}
                                        </div>

                                     <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">Night End Time</label>{% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="night_end_time"  value="{{operator.night_end_time}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="night_end_time" placeholder="Night End Time">
                                         {% endif %}
                                        </div>

                                     <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">TDS Rate</label>
                                         {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="tds_rate" value="{{operator.tds_rate}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="tds_rate" placeholder="TDS Rate">
                                         {% endif %}
                                        </div>

                                     <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">GST ID</label>
                                         {% if operators %}
                                            {% for operator in operators %}
                                            <input type="text" class="col-sm-8 form-control" name="gst_id" value="{{operator.gst_id}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="gst_id" placeholder="GST ID">
                                         {% endif %}
                                        </div>

                                     <div class="form-group row">
                                            <label class="col-sm-4" for="simpleFormEmail">PAN NO</label>
                                         {% if operators %}
                                            {% for operator in operators %}
                                             <input type="text" class="col-sm-8 form-control" name="pan_no" placeholder="PAN NO" value="{{operator.pan_no}}">
                                            {% endfor %}
                                              {% else %}
                                            <input type="text" class="col-sm-8 form-control" name="pan_no" placeholder="PAN NO">
                                         {% endif %}
                                        </div>






                                </div>
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-md-12">
                          <div class="form-group">
                                            <div class="offset-md-6 col-md-9">
                                                <button type="submit" class="btn btn-info">Submit</button>
                                                <button type="button" onclick="history.back();" class="btn btn-default">Cancel</button>
                                            </div>
                                        </div>

                    </div>
                </div>

 </form>
  </div>
</div>

<!-- end page content -->

<script type="text/javascript">
   $(".myselect").select2();
</script>


{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

<script type="text/javascript">
 $(function() {

 });
</script>

{% endblock %}