{% extends 'Agent/layout/header.html' %}

{% block content %}

{% if user.status %}
			<!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
 <form method="post" action="/agents/add-hotel-booking/{{user.id}}" enctype="multipart/form-data">
      {% csrf_token %}
     <input type="hidden" class="col-sm-8 form-control" name="cotrav_agent_id"  value="{{user.id }}">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>Booking Details</header>
                                     <button id = "panel-button"
				                           class = "mdl-button mdl-js-button mdl-button--icon pull-right"
				                           data-upgraded = ",MaterialButton">
				                           <i class = "material-icons">more_vert</i>
				                        </button>
				                        <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
				                           data-mdl-for = "panel-button">
				                           <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
				                        </ul>
                                </div>
                                <div class="card-body " id="bar-parent">

                                          <div class="form-group row">
                                            <label class="col-sm-4">Company Name</label>

                                            <select class="col-sm-8 form-control myselect" name="corporate_id" id="corporate_id"  required>
                                                <option value="">Select Company Name</option>
                                               
                                                {% for company in companies %}
                                                    <option value="{{company.id}}">{{company.corporate_name}}</option>
                                                {% endfor %}


                                               
                                            </select>
                                        
                                            </div>

                                            

                                            <div class="form-group row">
                                                    <label class="col-sm-4">Booking Email Copy</label>
                                                    <input type="file" class="col-sm-8 form-control" name="file1"  placeholder="Booking Email Copy" >
                                                    </div>

                                            <div class="form-group row">
                                                    <label class="col-sm-4">From City</label>
        
                                                    <select class="col-sm-8 form-control myselect" name="from_city" id="from_city"  required>
                                                        <option value="">Select City</option>
                                                        {% for city in cities %}
                                                            <option value="{{city.id}}">{{city.city_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                
                                            </div>

                                            <div class="form-group row">
                                                    <label class="col-sm-4" >City Area</label>
                                                    <select class="col-sm-8 form-control myselect" name="city_area" id="city_area"  required>
                                                       {% for city in cities %}
                                                            <option value="{{city.id}}">{{city.city_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                
                                            </div>

                                            <div class="form-group row">
                                                    <label class="col-sm-4">Preferred Hotel Area</label>
                                                    <select class="col-sm-8 form-control myselect" name="preferred_hotel_area" id="preferred_hotel_area"  required>
                                                        {% for city in cities %}
                                                            <option value="{{city.id}}">{{city.city_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                
                                            </div>

                                        <div class="form-group row">
                                                <label class="col-sm-4">Check In DateTime</label>
                                                <input type="datetime-local" class="col-sm-8 form-control" name="check_in_date">
                                        </div>
    
                                        <div class="form-group row">
                                                <label class="col-sm-4">Check Out DateTime</label>
                                                <input type="datetime-local" class="col-sm-8 form-control" name="check_out_date">
                                        </div>  
                                        
                                        
                                        <div class="form-group row">
                                                <label class="col-sm-4">Room type (Priority 1)</label>
                                                <select class="col-sm-8 form-control myselect" name="room_type_priority1" id="room_type_priority1"  required>

                                                </select>
                                            
                                        </div>

                                        <div class="form-group row">
                                                <label class="col-sm-4">Room type (Priority 2)</label>
    
                                                <select class="col-sm-8 form-control myselect" name="room_type_priority2" id="room_type_priority2"  required>

                                                </select>
                                            
                                        </div>

                                        <div class="form-group row">
                                                <label class="col-sm-4" for="room_occupancy">Room Occupancy</label>
    
                                                <select class="col-sm-8 form-control myselect" name="room_occupancy" id="room_occupancy"  required>

                                                </select>
                                            
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4">Preferred Hotel</label>
                                            <input type="text" class="col-sm-8 form-control" name="preferred_hotel"  placeholder="preferred_hotel" required>
                                        </div>

                                        
                                        <div class="form-group row">

                                                <label class="col-sm-4">Booking Date</label>
                                                <input type="datetime-local" class="col-sm-8 form-control" name="booking_datetime">
        
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4">Assessment Code/Project Code</label>
                                            <select class="col-sm-8 form-control myselect" name="assessment_code" id="assessment_code"  required>

                                                </select>

                                        </div>



                                        <div class="form-group row">
                                                <label class="col-sm-4">Assessment City</label>
                                                <select class="col-sm-8 form-control myselect" name="assessment_city" id="assessment_cities"  required>

                                                </select>
                                            
                                        </div>

                                        

                                        <div class="form-group row">
                                                <label class="col-sm-4">Billing Entity</label>
                                                <select class="col-sm-8 form-control myselect" name="billing_entity" id="entity_id"  required>

                                                </select>
                                            
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-sm-4">Reason for Booking</label>
                                            <input type="text" class="col-sm-8 form-control" name="reason_for_booking" placeholder="Reason for Booking" required>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-sm-4">Send SMS</label>
                                            <select class="col-sm-8 form-control" name="send_sms">
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4">Send Email</label>
                                            <select class="col-sm-8 form-control" name="send_email">
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-6">
                                <div class="col-md-8">
                                        <div class="card card-topline-aqua">
                                               <div class="card-head">
                                                   <header>SPOC and Passanger Details</header>
                                                   <div class="tools">
                                                       <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                                       <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                                       <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                                   </div>
                                               </div>
                                               <div class="card-body ">
                           
                                                    <div class="form-group row">
                                                           <label class="col-sm-4" >Select Spoc*</label>
                                                            <select id="spoc_id" name="spoc_id" class="form-control col-sm-8 myselect" >
                                                                 <option value="">Select Spoc </option>
                                                             </select>
                                                       </div>
                           
                                                          <div class="form-group row">
                                                           <label class="col-sm-4" >Number Of Employees*</label>
                                                           <select id="no_of_seats" name="no_of_seats" class="form-control col-sm-8 no_of_seats myselect" >
                                                               <option value="1">1</option>
                                                               <option value="2">2</option>
                                                               <option value="3">3</option>
                                                               <option value="4">4</option>
                                                               <option value="5" style="display: none">5</option>
                                                               <option value="6" style="display: none">6</option>
                                                           </select>
                                                       </div>
                           
                                                          <div class="form-group row" id="emp_row_1">
                                                               <label class="col-sm-4" >Employee 1</label>
                                                                <select name="employee_id_1" id="employee_id_1" class="form-control col-sm-8 myselect">
                                                                   {% for employee in employees %}
                                                                   <option value="{{employee.id}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                                                   {% endfor %}
                                                               </select>
                                                           </div>
                           
                                                         <div class="form-group row" id="emp_row_2">
                                                               <label class="col-sm-4" >Employee 2</label>
                                                                <select name="employee_id_2" id="employee_id_2" class="form-control col-sm-8 myselect">
                                                                   {% for employee in employees %}
                                                                   <option value="{{employee.id}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                                                   {% endfor %}
                                                               </select>
                                                           </div>
                           
                                                         <div class="form-group row"  id="emp_row_3">
                                                               <label class="col-sm-4" >Employee 3</label>
                                                                <select name="employee_id_3" id="employee_id_3" class="form-control col-sm-8 myselect">
                                                                   {% for employee in employees %}
                                                                   <option value="{{employee.id}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                                                   {% endfor %}
                                                               </select>
                                                           </div>
                           
                                                         <div class="form-group row"  id="emp_row_4" >
                                                               <label class="col-sm-4" >Employee 4</label>
                                                                <select name="employee_id_4" id="employee_id_4" class="form-control col-sm-8 myselect">
                                                                   {% for employee in employees %}
                                                                   <option value="{{employee.id}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                                                   {% endfor %}
                                                               </select>
                                                           </div>
                           
                                                          <div class="form-group row"  id="emp_row_5" style="display: none">
                                                               <label class="col-sm-4" >Employee 5</label>
                                                                <select name="employee_id_5" id="employee_id_5" class="form-control col-sm-8 myselect">
                                                                   {% for employee in employees %}
                                                                   <option value="{{employee.id}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                                                   {% endfor %}
                                                               </select>
                                                           </div>
                           
                                                          <div class="form-group row"  id="emp_row_6" style="display: none">
                                                               <label class="col-sm-4" >Employee 6</label>
                                                                <select name="employee_id_6" id="employee_id_6" class="form-control col-sm-8 myselect">
                                                                   {% for employee in employees %}
                                                                   <option value="{{employee.id}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                                                   {% endfor %}
                                                               </select>
                                                           </div>
                           
                                                     </div>
                           
                                             <div class="form-group">
                                               <div class="offset-md-3 col-md-9">
                                                   <button type="submit" class="btn btn-info">Submit</button>
                                                   <button type="button" class="btn btn-default">Cancel</button>
                                               </div>
                                           </div>
                           
                                           </div>
                                           </div>
                           
                        </div>
                    </div>
 </form>
  </div>
</div>

<!-- end page content -->




{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

<script>

        $( document ).ready(function() {

            $('#emp_row_2').hide();
            $('#emp_row_3').hide();
            $('#emp_row_4').hide();
        
            
        });

    $(".no_of_seats").change(function()
    {
    alert('ok')
    	var no_of_seats = $(this).val();

    	if(no_of_seats > 0){
           for(i=1;i<=no_of_seats;i++)
            {
                $('#emp_row_'+i).show();

            }
            var j = parseInt(no_of_seats) + 1;
			for(j=j; j<=6; j++)
			{
				$('#emp_row_'+j).hide();

			}
    	}
    });

    $("#tour_type").change(function()
    {
    alert('ok')
    	var tour_type = $(this).val();

    	switch(tour_type){
           case '1':
              {
                $('#tr_taxi_type').hide();
                $('#tr_package').hide();
                $('#tr_no_of_days').hide();
                break;
              }
           case '2':
              {
                $('#tr_taxi_type').show();
                $('#tr_package').show();
                $('#tr_no_of_days').hide();
                break;
              }
           case '3':
              {
                $('#tr_taxi_type').show();
                $('#tr_package').show();
                $('#tr_no_of_days').show();
                break;
              }
        }
        
       
    });



    $("#corporate_id").change(function(){

      $('#city_id').empty();
      $('#taxi_type_id').empty();
      $('#spoc_id').empty();
      $('#entity_id').empty();
      $('#package_id').empty();
      $('#employee_id_1').empty();
      $('#employee_id_2').empty();
      $('#employee_id_3').empty();
      $('#employee_id_4').empty();
      $('#employee_id_5').empty();
      $('#employee_id_6').empty();
      $('#room_type_priority1').empty();
      $('#room_type_priority2').empty();
      $('#room_occupancy').empty();
    
    
    
       var corporate_id =  $(this).val();
       var_url = '{{ API_BASE_URL }}'+'billing_entities'
    
        $.ajaxSetup({
                headers:{
                    'Authorization': "Token UEDEI1H266EBQVRLSIYK09QCP575EPILV8SQKJ3MWEWLEAEWB3X3C4IV6KN5",
                    'usertype': 10
                }
    
            });
    //   For Entity  
    
         $.post(var_url,{ corporate_id: corporate_id },
          function(data)
          {
           //alert(data['Entitys']);
           if(data['Entitys'].length != 0){
            entities = data['Entitys']
             for (var i=0;i<entities.length;i++) {
                $('#entity_id').append($("<option value='"+entities[i].id+"'>"+entities[i].entity_name+"</option>"));
             }
           }else{
            alert('No Entity Available')
           }
           });
    
    //       For SPOC    
    
    
        var_url_spoc = '{{ API_BASE_URL }}'+'spocs'
         $.post(var_url_spoc,{ corporate_id: corporate_id },
          function(data)
          {
           //alert(data['Spocs']);
           if(data['Spocs'].length != 0){
            spocs = data['Spocs']
             for (var i=0;i<spocs.length;i++) {
                $('#spoc_id').append($("<option value='"+spocs[i].id+','+spocs[i].group_id+','+spocs[i].subgroup_id+" '>"+spocs[i].user_name+"</option>"));
    
             }
           }else{
            alert('No SPOC Available')
           }
           });
    
     //       For Employees    
    
    
        var_url_spoc = '{{ API_BASE_URL }}'+'employees'
         $.post(var_url_spoc,{ corporate_id: corporate_id },
          function(data)
          {
           //alert(data['Spocs']);
           if(data['Employees'].length != 0){
            employee = data['Employees']
             for (var i=0;i<employee.length;i++) {
                $('#employee_id_1').append($("<option value='"+employee[i].id+"'>"+employee[i].employee_name+"</option>"));
                $('#employee_id_2').append($("<option value='"+employee[i].id+"'>"+employee[i].employee_name+"</option>"));
                $('#employee_id_3').append($("<option value='"+employee[i].id+"'>"+employee[i].employee_name+"</option>"));
                $('#employee_id_4').append($("<option value='"+employee[i].id+"'>"+employee[i].employee_name+"</option>"));
                $('#employee_id_5').append($("<option value='"+employee[i].id+"'>"+employee[i].employee_name+"</option>"));
                $('#employee_id_6').append($("<option value='"+employee[i].id+"'>"+employee[i].employee_name+"</option>"));
             }
           }else{
            alert('No Employees Available')
           }
           });
    
    
    
      //       For Cities
    
        var_url_spoc = '{{ API_BASE_URL }}'+'assessment_cities'
         $.post(var_url_spoc,{ corporate_id: corporate_id },
          function(data)
          {
           if(data['Cities'].length != 0){
            package = data['Cities']
             for (var i=0;i<package.length;i++) {
                $('#assessment_cities').append($("<option value='"+package[i].id+"'>"+package[i].city_name+"</option>"));
             }
           }else{
            alert('No Assessment Cities Available')
           }
           });


             <!--        For assessment_codes    -->
    var_url_spoc = '{{ API_BASE_URL }}'+'assessment_codes'
     $.post(var_url_spoc,{ corporate_id: corporate_id },
      function(data)
      {

       if(data['Codes'].length != 0){
        package = data['Codes']
         for (var i=0;i<package.length;i++) {
            $('#assessment_code').append($("<option value='"+package[i].id+"'>"+package[i].assessment_code+"</option>"));
         }
       }else{
        alert('No Assessment Codes Available')
       }
       });

    <!--        For hotel_types    -->
    var_url_spoc = '{{ API_BASE_URL }}'+'hotel_types'
     $.post(var_url_spoc,{ corporate_id: corporate_id },
      function(data)
      {

       if(data['Types'].length != 0){
        package = data['Types']
         for (var i=0;i<package.length;i++) {
            $('#room_occupancy').append($("<option value='"+package[i].id+"'>"+package[i].name+"</option>"));

         }
       }else{
        alert('No Room Type Available')
       }
       });


    <!--        For room_types    -->
    var_url_spoc = '{{ API_BASE_URL }}'+'room_types'
     $.post(var_url_spoc,{ corporate_id: corporate_id },
      function(data)
      {

       if(data['Types'].length != 0){
        package = data['Types']
         for (var i=0;i<package.length;i++) {
            $('#room_type_priority1').append($("<option value='"+package[i].id+"'>"+package[i].name+"</option>"));
            $('#room_type_priority2').append($("<option value='"+package[i].id+"'>"+package[i].name+"</option>"));
         }
       }else{
        alert('No Room Type Available')
       }
       });









    
    });


</script>





{% endblock %}