{% extends 'Agent/layout/header.html' %}

{% block content %}


{% if user %}
<!-- start page content -->
{% include 'cotrav_alert_message.html' %}
<div class="page-content-wrapper">
    <div class="page-content">

       <div class="text-center">
                 <div style="font-size:14px; font-weight:bold;">
                      {% if employee %}
                      Edit Employee Details
                      {% else %}
                     Add New Employee Details
                     {% endif %}
                     </div>
                     </div>


        <form method="post" action="/agents/add-employee/0">
            {% csrf_token %}
            <input type="hidden" class="col-sm-8 form-control" name="user_id" value="{{user.id }}">

            {% if employee %}
            {% for employee in employee %}
            <input type="hidden" class="col-sm-8 form-control" name="employee_id" value="{{employee.id }}">
            {% endfor %}
            {% endif %}

 <div class="row">
						<div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%; ">
								<div class="card-head">
									<header>General Information: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">


                                    <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                            {% if employee %}
                                            {% for employee in employee %}
											<select class="mdl-textfield__input js-select2" name="corporate_id" required>
	                                                <option value="">Select Company</option>
                                                        {% for company in companies %}
                                                        <option value="{{company.id}}" {% if employee.corporate_id == company.id %} selected {%endif%}>{{company.corporate_name}}</option>
                                                        {% endfor %}
	                                         </select>
                                            {% endfor %}
                                              {% else %}
                                            <select class="mdl-textfield__input js-select2" name="corporate_id" id="corporate_id" required>
	                                                <option value="">Select Company</option>
                                                        {% for company in companies %}
                                                        <option value="{{company.id}}">{{company.corporate_name}}</option>
                                                        {% endfor %}
	                                         </select>

                                            {% endif %}

                                        <label class = "mdl-textfield__label" >Company Name</label>
                                       </div>
									</div>


                                     <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                            {% if employee %}
                                            {% for employee in employee %}
											<select class="mdl-textfield__input js-select2" name="spoc_id"  required>
	                                                <option value="">Select Spoc</option>
                                                        {% for spoc in spocs %}
                                                        <option value="{{spoc.id}}" {% if employee.spoc_id == spoc.id %} selected {%endif%}>{{spoc.user_name}}</option>
                                                        {% endfor %}
	                                         </select>
                                            {% endfor %}
                                              {% else %}
                                            <select class="mdl-textfield__input js-select2" name="spoc_id" id="spoc_id" required>
	                                                 <option value="">Select Spoc</option>
                                                        {% for spoc in spocs %}
                                                        <option value="{{spoc.id}}">{{spoc.user_name}}</option>
                                                        {% endfor %}
	                                         </select>

                                            {% endif %}

                                        <label class = "mdl-textfield__label" >Select Spoc</label>
                                       </div>
									</div>


                              <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                            {% if employee %}
                                            {% for employee in employee %}
											<select class="mdl-textfield__input js-select2" name="billing_entity_id"  required>
	                                                <option value="">Select Billing Entity</option>
                                                        {% for entity in entitys %}
                                                        <option value="{{entity.id}}" {% if employee.billing_entity_id == entity.id %} selected {%endif%}>{{entity.entity_name}}</option>
                                                        {% endfor %}
	                                         </select>
                                            {% endfor %}
                                              {% else %}
                                            <select class="mdl-textfield__input js-select2" name="billing_entity_id" id="billing_entity_id" required>
	                                                 <option value="">Select Billing Entity</option>
                                                        {% for entity in entitys %}
                                                        <option value="{{entity.id}}">{{entity.entity_name}}</option>
                                                        {% endfor %}
	                                         </select>

                                            {% endif %}

                                        <label class = "mdl-textfield__label" >Billing Entity</label>
                                       </div>
									</div>


                        </div>
                    </div>
                </div>


 <div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%">
								<div class="card-head">
									<header>Rate Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div> <!-- card-head class end -->

                                <div class="card-body row">

                              <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                          {% if employee %}
                                          {% for employee in employee %}
					                     <input class = "mdl-textfield__input" type = "text" name="core_employee_id" value="{{employee.core_employee_id|default:''}}" required >
                                          {% endfor %}
                                              {% else %}
                                          <input class = "mdl-textfield__input" type = "text" name="core_employee_id" required >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">Core Employee id</label>
					                  </div>
						            </div>



                             <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                          {% if employee %}
                                          {% for employee in employee %}
					                     <input class = "mdl-textfield__input" type = "text" name="employee_cid" value="{{employee.employee_cid|default:''}}" required >
                                          {% endfor %}
                                              {% else %}
                                          <input class = "mdl-textfield__input" type = "text" name="employee_cid" required >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">Employee Company id</label>
					                  </div>
						            </div>

                            <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                          {% if employee %}
                                          {% for employee in employee %}
					                     <input class = "mdl-textfield__input" type = "text" name="employee_name" value="{{employee.employee_name|default:''}}" required >
                                          {% endfor %}
                                              {% else %}
                                          <input class = "mdl-textfield__input" type = "text" name="employee_name" required >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">Employee Name</label>
					                  </div>
						            </div>


                           <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                          {% if employee %}
                                          {% for employee in employee %}
					                     <input class = "mdl-textfield__input" type = "text" name="employee_email" value="{{employee.employee_email|default:''}}" required >
                                          {% endfor %}
                                              {% else %}
                                          <input class = "mdl-textfield__input" type = "text" name="employee_email" required >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">Employee Email</label>
					                  </div>
						            </div>


                          <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                          {% if employee %}
                                          {% for employee in employee %}
					                     <input class = "mdl-textfield__input" type="number" name="employee_contact" value="{{employee.employee_contact|default:''}}" required >
                                          {% endfor %}
                                              {% else %}
                                          <input class = "mdl-textfield__input" type="number" name="employee_contact" required >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">Employee Contact</label>
					                  </div>
						            </div>

                         <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                          {% if employee %}
                                          {% for employee in employee %}
					                     <input class = "mdl-textfield__input" type="text" name="designation" value="{{employee.designation}}" required >
                                          {% endfor %}
                                              {% else %}
                                          <input class = "mdl-textfield__input" type="text" name="designation" required >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">Designation</label>
					                  </div>
						            </div>


                        <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                          <select name="gender" class="mdl-textfield__input js-select2">
                                                {% if employee %}
                                                {% for employee in employee %}
                                                <option value="Male" {% if employee.gender == 'Male' %} selected {%endif%}>Male</option>
                                                <option value="Female" {% if employee.gender == 'Female' %} selected {%endif%}>Female</option>
                                                {% endfor %}
                                                {% else %}
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                {% endif %}

                                          </select>
					                     <label class = "mdl-textfield__label">Gender</label>
					                  </div>
						            </div>

                               <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                          {% if employee %}
                                            {% for employee in employee %}
                                            {% if employee.date_of_birth and employee.date_of_birth != 'None' %}
					                     <input class = "mdl-textfield__input date" type="text" name="date_of_birth" value="{{employee.date_of_birth}}" required >
                                          {% else %}
                                          <input class = "mdl-textfield__input date" type="text" name="date_of_birth" required >
                                          {% endif %}
                                            {% endfor %}
                                            {% else %}
                                          <input class = "mdl-textfield__input date" type="text" name="date_of_birth" required >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">Date Of Birth</label>
					                  </div>
						            </div>



                        </div>
                    </div>
                </div>


  <div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%">
								<div class="card-head">
									<header>Other Information: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div> <!-- card-head class end -->

                                <div class="card-body row">


                             <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                          {% if employee %}
                                          {% for employee in employee %}
					                     <input class = "mdl-textfield__input" type="text" name="id_proof_type" value="{{employee.id_proof_type|default:''}}" required >
                                          {% endfor %}
                                              {% else %}
                                          <input class = "mdl-textfield__input" type="text" name="id_proof_type" required >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">Id Proof Type</label>
					                  </div>
						            </div>

                            <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                          {% if employee %}
                                          {% for employee in employee %}
					                     <input class = "mdl-textfield__input" type="number" name="id_proof_no" value="{{employee.id_proof_no|default:''}}" required >
                                          {% endfor %}
                                              {% else %}
                                          <input class = "mdl-textfield__input" type="number" name="id_proof_no" required >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">Id Proof No</label>
					                  </div>
						            </div>


                            <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                          {% if employee %}
                                {% for employe in employee %}
                                    <select class="mdl-textfield__input js-select2" name="home_city" id="city_id" required>
                                        <option value="">Select Home City</option>
                                        {% for citie in cities %}
                                        <option value="{{citie.id}}" {% if employe.home_city == citie.id %} selected {%endif%}>{{citie.city_name}}</option>
                                        {% endfor %}
                                    </select>
                                {% endfor %}
                                {% else %}

                                     <select class="mdl-textfield__input js-select2" name="home_city" id="city_id_edit"  required>
                                        <option value="">Select Home City</option>
                                        {% for citie in cities %}
                                        <option value="{{citie.id}}">{{citie.city_name}}</option>
                                        {% endfor %}
                                    </select>

                                        {% endif %}
					                     <label class = "mdl-textfield__label">Home City</label>
					                  </div>
						            </div>


                             <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                          {% if employee %}
                                          {% for employee in employee %}
					                     <input class = "mdl-textfield__input" type="text" name="home_address" value="{{employee.home_address|default:''}}" required >
                                          {% endfor %}
                                              {% else %}
                                          <input class = "mdl-textfield__input" type="text" name="home_address" required >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">Home Address</label>
					                  </div>
						            </div>


                            <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                         <select class="mdl-textfield__input js-select2" name="is_active">

                                            {% if employee %}
                                            {% for employee in employee %}
                                                <option value="1" {% if employee.is_active == 1 %} selected {%endif%}>Yes</option>
                                            {% endfor %}
                                            {% else %}
                                                <option value="1">Yes</option>
                                            {% endif %}
                                            <option value="0">No</option>

                                        </select>
					                     <label class = "mdl-textfield__label">is Active</label>
					                  </div>
						            </div>


                           <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                         <select class="mdl-textfield__input js-select2" name="is_cxo">
                                                {% if employee %}
                                                {% for employee in employee %}
                                                    <option value="0" {% if employee.is_cxo == 0 %} selected {%endif%}>No</option>
                                                    <option value="1" {% if employee.is_cxo == 1 %} selected {%endif%}>Yes</option>
                                                {% endfor %}
                                                {% else %}
                                                    <option value="0">No</option>
                                                    <option value="1">Yes</option>
                                                {% endif %}

                                        </select>
					                     <label class = "mdl-textfield__label">is CXO</label>
					                  </div>
						            </div>


                            <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                         <select class="mdl-textfield__input js-select2" name="assistant_id" id="assistant_id" >
                                                    <option value=" " >Select Assistant</option>
                                                        {% if employee %}
                                                        {% for employe in employee %}
                                                        {% for employee in employeess %}
                                                                <option value="{{employee.id}}" {% if employe.assistant_id == employee.id %} selected {%endif%}>{{employee.employee_name}}</option>
                                                                {% endfor %}
                                                        {% endfor %}
                                                        {% else %}
                                                        {% for employee in employees %}
                                                                <option value="{{employee.id}}">{{employee.employee_name}}</option>
                                                                {% endfor %}
                                                         {% endif %}

                                        </select>
					                     <label class = "mdl-textfield__label">is CXO</label>
					                  </div>
						            </div>





                        </div>
                    </div>
                </div>



 <div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%">
								<div class="card-head">

                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div> <!-- card-head class end -->

                     <div class="card-body row">



                      <div class="col-lg-12"  align="center">
							              	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
											  Submit
											</button>

                              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"   >
											  Cancel
											</button>
                      </div>

                     </div>
                 </div>

        </div><!-- row end -->

       </div>
</form>
    </div></div>

<!-- end page content -->


{% else %}
<p>Welcome, new user. Please log in.<a href="/login">Login</a></p>
{% endif %}



<script type="text/javascript">
$(window).on("load", function () {
var_url = '/api/'+'cities'
    $.ajaxSetup({
            headers:{
                'Authorization': "Token {{request.session.agent_access_token}}",
                'usertype': 10
            }

        });

     $.post(var_url,{},
      function(data)
      {
       //alert(data['Cities']);
       if(data['Cities'].length != 0){
        entities = data['Cities'];
        $('#current_city_id').append($("<option value=''>Select Billing Entity</option>"));
         for (var i=0;i<entities.length;i++) {
            $('#city_id').append($("<option value='"+entities[i].id+"'>"+entities[i].city_name+"</option>"));
            $('#city_id_edit').append($("<option value='"+entities[i].id+"'>"+entities[i].city_name+"</option>"));
         }
       }else{
        alert('No Entity Available')
       }
       });

});

 var getValue=$('#is_cxo').val();
    if(getValue == '1'){
        $("#row_assistant_id").show("slow");
    }else{
        $("#row_assistant_id").hide("slow");
    }

 $("#is_cxo").on('change',function(){
    var getValue=$(this).val();
    if(getValue == '1'){
        $("#row_assistant_id").show("slow");
    }else{
        $("#row_assistant_id").hide("slow");
    }
  });


$("#corporate_id").change(function(){

  $('#spoc_id').empty();
  $('#entity_id').empty();

   var corporate_id =  $(this).val();

    $.ajaxSetup({
            headers:{
                'Authorization': "Token {{request.session.agent_access_token}}",
                'usertype': 10
            }

        });
//   For Entity
var_url = '/api/'+'billing_entities'
     $.post(var_url,{ corporate_id: corporate_id },
      function(data)
      {
       //alert(data['Entitys']);
       if(data['Entitys'].length != 0){
        entities = data['Entitys']
        $('#entity_id').append($("<option value=''>Select Entity</option>"));
         for (var i=0;i<entities.length;i++) {
            $('#entity_id').append($("<option value='"+entities[i].id+"'>"+entities[i].entity_name+"</option>"));
         }
       }else{
        alert('No Entity Available')
       }
       });

//       For SPOC


    var_url_spoc = '/api/'+'spocs'
     $.post(var_url_spoc,{ corporate_id: corporate_id },
      function(data)
      {
       //alert(data['Spocs']);
       if(data['Spocs'].length != 0){
        spocs = data['Spocs']
        $('#spoc_id').append($("<option value=''>Select Spoc</option>"));
         for (var i=0;i<spocs.length;i++) {
            $('#spoc_id').append($("<option value='"+spocs[i].id+"'>"+spocs[i].user_name+"</option>"));

         }
       }else{
        alert('No SPOC Available')
       }
       });


    var_url_spoc = '/api/'+'employees'
     $.post(var_url_spoc,{ corporate_id: corporate_id },
      function(data)
      {
       //alert(data['Employees']);
       if(data['Employees'].length != 0){
        spocs = data['Employees']
        $('#assistant_id').append($("<option value=''>Select Employee</option>"));
         for (var i=0;i<spocs.length;i++) {
            $('#assistant_id').append($("<option value='"+spocs[i].id+"'>"+spocs[i].employee_name+"</option>"));

         }
       }else{
        alert('No Employee Available')
       }
       });



});
</script>

{% endblock %}