{% extends 'Agent/layout/header.html' %}

{% block content %}


{% if user %}
<!-- start page content -->
{% include 'cotrav_alert_message.html' %}
<div class="page-content-wrapper">
    <div class="page-content">

      <div class="text-center">
                 <div style="font-size:14px; font-weight:bold;">
                     {% if spoc %}
                      Edit Spoc Details
                      {% else %}
                     Add New Spoc Details
                     {% endif %}
                     </div>
            </div>

        <form method="post" action="/agents/add-spoc/0">
            {% csrf_token %}
            <input type="hidden" class="col-sm-8 form-control" name="user_id" value="{{user.id }}">
 <input type="hidden" name="current_url" value="{{ request.get_full_path }}">
            {% if spoc %}
            {% for spoc in spoc %}
            <input type="hidden" class="col-sm-8 form-control" name="spoc_id" value="{{spoc.id }}">
            {% endfor %}
            {% endif %}


            <div class="row">
						<div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%; ">
								<div class="card-head">
									<header>General Information: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">


                                    <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >

                                        <select class="mdl-textfield__input js-select2" name="corporate_id"  id="corporate_id" required>
                                            <option value="">Select Company</option>
                                            {% if spoc %}
                                            {% for spoc in spoc %}

                                            {% for company in companies %}

                                            <option value="{{company.id}}" {% if company.id == spoc.corporate_id %}  selected {%endif%}>{{company.corporate_name}}</option>
                                            {% endfor %}
                                            {% endfor %}
                                            {% else %}

                                           {% for company in companies %}
                                            <option value="{{company.id}}">{{company.corporate_name}}</option>
                                            {% endfor %}

                                            {% endif %}
                                        </select>

                                        <label class = "mdl-textfield__label" >Company Name</label>
                                       </div>
									</div>


                                    <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >

                                        <select class="mdl-textfield__input js-select2" name="group_id"  id="group_id" required>
                                            <option value="">Select Group</option>
                                                {% if spoc %}
                                                {% for spoc in spoc %}
                                                {% for group in groups %}
                                                    <option value="{{group.id}}" {% if group.id == spoc.group_id %} selected {%endif%}>{{group.group_name}}</option>
                                                {% endfor %}
                                                {% endfor %}
                                                {% else %}

                                                {% for group in groups %}
                                                    <option value="{{group.id}}">{{group.group_name}}</option>
                                                {% endfor %}

                                                {% endif %}
                                        </select>

                                        <label class = "mdl-textfield__label" >Select Group Name</label>
                                       </div>
									</div>


                                    <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >

                                        <select class="mdl-textfield__input js-select2" name="subgroup_id" id="subgroup_id" >
                                            <option value="">Select SubGroup</option>
                                                    {% if spoc %}
                                                    {% for spoc in spoc %}
                                                    {% for group in subgroups %}
                                                    <option value="{{group.id}}" {% if group.id == spoc.subgroup_id %} selected {%endif%}>{{group.subgroup_name}}</option>
                                                    {% endfor %}
                                                    {% endfor %}
                                                    {% else %}
                                                    {% for group in subgroups %}
                                                    <option value="{{group.id}}">{{group.subgroup_name}}</option>
                                                    {% endfor %}
                                                    {% endif %}
                                        </select>

                                        <label class = "mdl-textfield__label" >Select SubGroup</label>
                                       </div>
									</div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                          {% if spoc %}
                                          {% for spoc in spoc %}
					                     <input class = "mdl-textfield__input"  type = "text" name="user_cid" value="{{spoc.user_cid|default:''}}" >
                                          {% endfor %}
                                          {% else %}
                                          <input class = "mdl-textfield__input"  type = "text" name="user_cid"  >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">User CID</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                          {% if spoc %}
                                          {% for spoc in spoc %}
					                     <input class = "mdl-textfield__input"  type = "text" name="user_name" value="{{spoc.user_name|default:''}}" required >
                                          {% endfor %}
                                          {% else %}
                                          <input class = "mdl-textfield__input"  type = "text" name="user_name"  >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">User Name</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                          {% if spoc %}
                                          {% for spoc in spoc %}
					                     <input class = "mdl-textfield__input"  type = "text" name="user_contact" value="{{spoc.user_contact|default:''}}" required >
                                          {% endfor %}
                                          {% else %}
                                          <input class = "mdl-textfield__input"  type = "text" name="user_contact"  >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">User Contact</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
                                          {% if spoc %}
                                          {% for spoc in spoc %}
					                     <input class = "mdl-textfield__input"  type = "text" name="email" value="{{spoc.email|default:''}}" required >
                                          {% endfor %}
                                          {% else %}
                                          <input class = "mdl-textfield__input"  type = "text" name="email"  >
                                          {% endif %}
					                     <label class = "mdl-textfield__label">User Email</label>
					                  </div>
						            </div>





                                <input type="hidden" class="col-sm-8 form-control" value="0" name="budget"
                                       placeholder="Budget">



                        </div>
                    </div>
                </div>


 <div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%">
								<div class="card-head">
									<header>Access Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div> <!-- card-head class end -->

                                <div class="card-body row">

                            <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >

                                        <select class="mdl-textfield__input js-select2" name="is_radio" >
                                            <option value="1">Yes</option>
                                        {% if spoc %}
                                        {% for spoc in spoc %}
                                            <option value="0" {% if spoc.is_radio == 0 %} selected {%endif%}>No</option>
                                        {% endfor %}
                                        {% else %}
                                            <option value="0">No</option>
                                        {% endif %}
                                        </select>

                                        <label class = "mdl-textfield__label" >Radio Bookings</label>
                                       </div>
									</div>


                             <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >

                                        <select class="mdl-textfield__input js-select2" name="is_local" >
                                            <option value="1">Yes</option>
                                        {% if spoc %}
                                        {% for spoc in spoc %}
                                        <option value="0" {% if spoc.is_local == 0 %} selected {%endif%}>No</option>
                                        {% endfor %}
                                        {% else %}
                                         <option value="0">No</option>
                                        {% endif %}
                                        </select>

                                        <label class = "mdl-textfield__label" >Local Bookings</label>
                                       </div>
									</div>


                            <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >

                                        <select class="mdl-textfield__input js-select2" name="is_outstation" >
                                            <option value="1">Yes</option>
                                        {% if spoc %}
                                        {% for spoc in spoc %}
                                         <option value="0" {% if spoc.is_outstation == 0 %} selected {%endif%}>No</option>
                                         {% endfor %}
                                        {% else %}
                                         <option value="0">No</option>
                                        {% endif %}
                                        </select>

                                        <label class = "mdl-textfield__label" >Outstation Bookings</label>
                                       </div>
									</div>


                           <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >

                                        <select class="mdl-textfield__input js-select2" name="is_bus" >
                                            <option value="1">Yes</option>
                                         {% if spoc %}
                                        {% for spoc in spoc %}
                                         <option value="0" {% if spoc.is_bus == 0 %} selected {%endif%}>No</option>
                                         {% endfor %}
                                        {% else %}
                                         <option value="0">No</option>
                                        {% endif %}
                                        </select>

                                        <label class = "mdl-textfield__label" >Bus Bookings</label>
                                       </div>
									</div>


                         <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >

                                        <select class="mdl-textfield__input js-select2" name="is_train" >
                                           <option value="1">Yes</option>
                                             {% if spoc %}
                                            {% for spoc in spoc %}
                                             <option value="0" {% if spoc.is_train == 0 %} selected {%endif%}>No</option>
                                             {% endfor %}
                                            {% else %}
                                             <option value="0">No</option>
                                            {% endif %}
                                        </select>

                                        <label class = "mdl-textfield__label" >Train Bookings</label>
                                       </div>
									</div>


                        <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >

                                        <select class="mdl-textfield__input js-select2" name="is_hotel" >
                                           <option value="1">Yes</option>
                                                 {% if spoc %}
                                                {% for spoc in spoc %}
                                                 <option value="0" {% if spoc.is_hotel == 0 %} selected {%endif%}>No</option>
                                                 {% endfor %}
                                                {% else %}
                                                 <option value="0">No</option>
                                                {% endif %}
                                        </select>

                                        <label class = "mdl-textfield__label" >Hotel Bookings</label>
                                       </div>
									</div>


                      <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >

                                        <select class="mdl-textfield__input js-select2" name="is_flight" >
                                           <option value="1">Yes</option>
                                                 {% if spoc %}
                                                {% for spoc in spoc %}
                                                 <option value="0" {% if spoc.is_flight == 0 %} selected {%endif%}>No</option>
                                                 {% endfor %}
                                                {% else %}
                                                 <option value="0">No</option>
                                                {% endif %}
                                        </select>

                                        <label class = "mdl-textfield__label" >Flight Bookings</label>
                                       </div>
									</div>


                     <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >

                                        <select class="mdl-textfield__input js-select2" name="is_meal" >
                                           <option value="1">Yes</option>
                                                 {% if spoc %}
                                                {% for spoc in spoc %}
                                                 <option value="0" {% if spoc.is_meal == 0 %} selected {%endif%}>No</option>
                                                 {% endfor %}
                                                {% else %}
                                                 <option value="0">No</option>
                                                {% endif %}
                                        </select>

                                        <label class = "mdl-textfield__label" >Meal Bookings</label>
                                       </div>
									</div>


                     <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >

                                        <select class="mdl-textfield__input js-select2" name="is_water_bottles" >
                                           <option value="1">Yes</option>
                                                 {% if spoc %}
                                                {% for spoc in spoc %}
                                                 <option value="0" {% if spoc.is_water_bottles == 0 %} selected {%endif%}>No</option>
                                                 {% endfor %}
                                                {% else %}
                                                 <option value="0">No</option>
                                                {% endif %}
                                        </select>

                                        <label class = "mdl-textfield__label" >Water Bottles Bookings</label>
                                       </div>
									</div>



                     <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >

                                        <select class="mdl-textfield__input js-select2" name="is_reverse_logistics" >
                                           <option value="1">Yes</option>
                                                 {% if spoc %}
                                                {% for spoc in spoc %}
                                                 <option value="0" {% if spoc.is_reverse_logistics == 0 %} selected {%endif%}>No</option>
                                                 {% endfor %}
                                                {% else %}
                                                 <option value="0">No</option>
                                                {% endif %}
                                        </select>

                                        <label class = "mdl-textfield__label" >Reverse Logistics</label>
                                       </div>
									</div>


                     <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >

                                        <select class="mdl-textfield__input js-select2" name="has_single_employee" >
                                           <option value="0">No</option>
                                                {% if spoc %}
                                                {% for spoc in spoc %}
                                                 <option value="1" {% if spoc.has_single_employee == 1 %} selected {%endif%}>Yes</option>
                                                 {% endfor %}
                                                {% else %}
                                                 <option value="1">Yes</option>
                                                {% endif %}
                                        </select>

                                        <label class = "mdl-textfield__label" >Single Employee</label>
                                       </div>
									</div>



                        </div>
                    </div>
                </div>

 <div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%">
								<div class="card-head">

                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div> <!-- card-head class end -->

                     <div class="card-body row">



                      <div class="col-lg-12"  align="center">
							              	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
											  Submit
											</button>

                              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"    >
											  Cancel
											</button>
                      </div>

                     </div>
                 </div>

        </div><!-- row end -->

       </div>
</form>
    </div></div>
<!-- end page content -->


{% else %}
<p>Welcome, new user. Please log in.<a href="/login">Login</a></p>
{% endif %}

<script type="text/javascript">
 $(function() {

 });
$("#corporate_id").change(function(){

  $('#spoc_id').empty();
  $('#group_id').empty();
  $('#subgroup_id').empty();

   var corporate_id =  $(this).val();
   var_url = '/api/'+'groups'

    $.ajaxSetup({
            headers:{
                'Authorization': "Token {{request.session.agent_access_token}}",
                'usertype': 10
            }

        });
//   For Entity

     $.post(var_url,{ corporate_id: corporate_id },
      function(data)
      {
       //alert(data['Groups']);
       if(data['Groups'].length != 0){
        entities = data['Groups']
         for (var i=0;i<entities.length;i++) {
            $('#group_id').append($("<option value='"+entities[i].id+"'>"+entities[i].group_name+"</option>"));
         }
       }else{
        alert('No Group Available')
       }
       });


//       For SubGroup


    var_subgroups = '/api/'+'subgroups'
     $.post(var_subgroups,{ corporate_id: corporate_id },
      function(data)
      {
       //alert(data['Subgroups']);
       if(data['Subgroups'].length != 0){
        spocs = data['Subgroups']
         for (var i=0;i<spocs.length;i++) {
            $('#subgroup_id').append($("<option value='"+spocs[i].id+" '>"+spocs[i].subgroup_name+"</option>"));

         }
       }else{
        alert('No SubGroup Available')
       }
       });

});
</script>

{% endblock %}