{% extends 'Agent/layout/header.html' %}

{% block content %}

{% if user.status %}
			<!-- start page content -->
{% include 'cotrav_alert_message.html' %}
            <div class="page-content-wrapper">
                <div class="page-content">

    <div class="text-center">
     <div style="font-size:14px; font-weight:bold;">
         Add New Company
         </div>
   </div>





 <form method="post" action="/agents/add-company">
      {% csrf_token %}
     <input type="hidden" class="col-sm-8 form-control" name="cotrav_agent_id"  value="{{user.id }}">
      <input type="hidden" name="current_url" value="{{ request.get_full_path }}">


                   <div class="row">
						<div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%; ">
								<div class="card-head">
									<header>General Information: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" id="corporate_name" name="corporate_name" required   >
					                     <label class = "mdl-textfield__label">Corporate Name</label>
					                  </div>
						            </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="corporate_code"   required   >
					                     <label class = "mdl-textfield__label">Corporate Code</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="contact_person_name"   required   >
					                     <label class = "mdl-textfield__label">Contact Name</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="contact_person_no"   required   >
					                     <label class = "mdl-textfield__label">Contact No</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="contact_person_email"   required   >
					                     <label class = "mdl-textfield__label">Contact Email</label>
					                  </div>
						            </div>



                                </div>
                            </div>
                        </div>



      <div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%">
								<div class="card-head">
									<header>Billing Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div> <!-- card-head class end -->

                                <div class="card-body row">

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="bill_corporate_name"   required   >
					                     <label class = "mdl-textfield__label">Billing Company Name</label>
					                  </div>
						            </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="address_line_1"   required   >
					                     <label class = "mdl-textfield__label">Billing Address Line 1</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="address_line_2"   required   >
					                     <label class = "mdl-textfield__label">Billing Address Line 2</label>
					                  </div>
						            </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="address_line_3"   required   >
					                     <label class = "mdl-textfield__label">Billing Address Line 3</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
										<div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >

                                            <select class="mdl-textfield__input js-select2" name="billing_city_id" id="billing_city_id" required>
                                                <option value="">Select City</option>
                                                {% for city in cities %}
                                                <option value="{{city.id}}">{{city.city_name}}</option>
                                                {% endfor %}
                                            </select>

                                        <label class = "mdl-textfield__label" >Billing City</label>
                                       </div>
									</div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="gst_id"   required   >
					                     <label class = "mdl-textfield__label">GSTIN</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="has_billing_spoc_level">
	                                                <option value="1">Yes</option>
	                                                <option value="0">No</option>
	                                     </select>
					                     <label class = "mdl-textfield__label">Has Billing Spoc Approval Level</label>
					                  </div>
						            </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="has_bill_approved_level">
	                                                <option value="1">Yes</option>
	                                                <option value="0">No</option>
	                                     </select>
					                     <label class = "mdl-textfield__label">Has Billing Admin Approval Level</label>
					                  </div>
						            </div>



                                </div>
                            </div>
                        </div>



  <div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%">
								<div class="card-head">
									<header>Access Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div> <!-- card-head class end -->

                                <div class="card-body row">

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="has_auth_level">
	                                                <option value="0">No</option>
                                                    <option value="1">Yes</option>
	                                     </select>
					                     <label class = "mdl-textfield__label">Has Booking Approval Levels</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="is_spoc">
	                                                <option value="1">Yes</option>
	                                                <option value="0">No</option>
	                                     </select>
					                     <label class = "mdl-textfield__label">IS SPOC</label>
					                  </div>
						            </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="no_of_auth_level">
	                                                <option value="1">1</option>
                                                    <option value="2">2</option>
	                                     </select>
					                     <label class = "mdl-textfield__label">Select Approval Levels</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="has_assessment_codes">
	                                                <option value="1">Yes</option>
	                                                <option value="0">No</option>
	                                     </select>
					                     <label class = "mdl-textfield__label">Has Assessment Codes</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="is_radio">
	                                                <option value="1">Yes</option>
	                                                <option value="0">No</option>
	                                     </select>
					                     <label class = "mdl-textfield__label">Radio Bookings</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="is_local">
	                                                <option value="1">Yes</option>
	                                                <option value="0">No</option>
	                                     </select>
					                     <label class = "mdl-textfield__label">Local Bookings</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="is_outstation">
	                                                <option value="1">Yes</option>
	                                                <option value="0">No</option>
	                                     </select>
					                     <label class = "mdl-textfield__label">Outstation Bookings</label>
					                  </div>
						            </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="is_bus">
	                                                <option value="1">Yes</option>
	                                                <option value="0">No</option>
	                                     </select>
					                     <label class = "mdl-textfield__label">Bus Bookings</label>
					                  </div>
						            </div>

                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="is_train">
	                                                <option value="1">Yes</option>
	                                                <option value="0">No</option>
	                                     </select>
					                     <label class = "mdl-textfield__label">Train Bookings</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="is_hotel">
	                                                <option value="1">Yes</option>
	                                                <option value="0">No</option>
	                                     </select>
					                     <label class = "mdl-textfield__label">Hotel Bookings</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="is_flight">
	                                                <option value="1">Yes</option>
	                                                <option value="0">No</option>
	                                     </select>
					                     <label class = "mdl-textfield__label">Flight Bookings</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="is_meal">
	                                                <option value="1">Yes</option>
	                                                <option value="0">No</option>
	                                     </select>
					                     <label class = "mdl-textfield__label">Meal Bookings</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="is_water_bottles">
	                                                <option value="1">Yes</option>
	                                                <option value="0">No</option>
	                                     </select>
					                     <label class = "mdl-textfield__label">Water Bottles Bookings</label>
					                  </div>
						            </div>


                                    <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <select class="mdl-textfield__input js-select2" name="is_reverse_logistics">
	                                                <option value="1">Yes</option>
	                                                <option value="0">No</option>
	                                     </select>
					                     <label class = "mdl-textfield__label">Reverse Logistics</label>
					                  </div>
						            </div>



                                </div>
                            </div>
                        </div>


   <div class="col-sm-12">
							<div class="card card-box" style="margin:10px; margin-left:3%; margin-right:3%">
								<div class="card-head">

                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div> <!-- card-head class end -->

                     <div class="card-body row">



                      <div class="col-lg-12"  align="center">
							              	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
											  Submit
											</button>

                              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"   >
											  Cancel
											</button>
                      </div>

                     </div>
                 </div>

        </div><!-- row end -->

       </div>
</form>
    </div></div>

<!-- end page content -->




{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

<script type="text/javascript">
 $(function() {
    $("#has_auth_level").on('change',function(){
    var getValue=$(this).val();
    if(getValue == '1'){
        $("#no_of_auth_level").show("slow");
        $("#is_spoc_row").hide("slow");
    }else{
        $("#no_of_auth_level").hide("slow");
        $("#is_spoc_row").show("slow");
    }
  });

 });
</script>


{% endblock %}
