{% extends 'Agent/layout/header.html' %}

{% block content %}


{% if user %}
<!-- start page content -->
 {% include 'cotrav_alert_message.html' %}

            <div class="page-content-wrapper">
                <div class="page-content">


                 <div class="row">
                        <div class="col-md-3">
                            <div class="card card-topline-lightblue">
                                <div class="card-head">
                                    <header>PIE CHART</header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
	                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
	                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="row">
                                         <canvas id="canvasTaxiBookings" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>


					   <div class="col-md-3">
                            <div class="card card-topline-lightblue">
                                <div class="card-head">
                                    <header>PIE CHART</header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
	                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
	                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="card-body " id="chartjs_pie_parent3">
                                    <div class="row">
                                         <canvas id="canvasUCBookings" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>


					   <div class="col-md-3">
                            <div class="card card-topline-lightblue">
                                <div class="card-head">
                                    <header>PIE CHART</header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
	                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
	                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="card-body " id="chartjs_pie_parent2">
                                    <div class="row">
                                         <canvas id="canvasTOMBookings" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>


					   <div class="col-md-3">
                            <div class="card card-topline-lightblue">
                                <div class="card-head">
                                    <header>PIE CHART</header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
	                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
	                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="card-body " id="chartjs_pie_parent1">
                                    <div class="row">
                                         <canvas id="chartjs_pie1" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>







                </div>
            </div>
            <!-- end page content -->


    <!--Chart JS-->
{% load staticfiles %}
    <script src="{% static 'assets/plugins/chart-js/Chart.bundle.js' %}" ></script>
    <script src="{% static 'assets/plugins/chart-js/utils.js' %}" ></script>

{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

<script>

	/*Taxi Bookings*/
	  var ctx = document.getElementById("canvasTaxiBookings");
	  var data = {
		labels: ["Active Unassigned","Active Assigned","Archived Unassigned","Archived Assigned","Cancelled/Rejected"],
		datasets: [{
		  data: [1,2,3,4,5],
		  backgroundColor: ["#455C73","#9B59B6","#BDC3C7","#26B99A","#3498DB"],
		  hoverBackgroundColor: ["#34495E","#B370CF","#CFD4D8","#36CAAB","#49A9EA"]

		}]
	  };
	  var canvasUCBookings = new Chart(ctx, {
		type: 'doughnut',
		tooltipFillColor: "rgba(51, 51, 51, 0.55)",
		data: data
	  });











	/*Upcoming Bookings*/
	  var ctx = document.getElementById("canvasUCBookings");
	  var data = {
		labels: ["Taxi","Bus","Train","Hotel","Flight"],
		datasets: [{
		  data: [1,2,3,4,5],
		  backgroundColor: ["#455C73","#9B59B6","#BDC3C7","#26B99A","#3498DB"],
		  hoverBackgroundColor: ["#34495E","#B370CF","#CFD4D8","#36CAAB","#49A9EA"]

		}]
	  };
	  var canvasUCBookings = new Chart(ctx, {
		type: 'doughnut',
		tooltipFillColor: "rgba(51, 51, 51, 0.55)",
		data: data
	  });





	  	   /*Today/Tomorrow Bookings*/
	  var ctx = document.getElementById("canvasTOMBookings");
	  var data = {
		labels: ["Taxi","Bus","Train","Hotel","Flight"],
		datasets: [{
		  data: [1,2,3,4,56],
		  backgroundColor: ["#455C73","#9B59B6","#BDC3C7","#26B99A","#3498DB"],
		  hoverBackgroundColor: ["#34495E","#B370CF","#CFD4D8","#36CAAB","#49A9EA"]

		}]
	  };
	  var canvasTOMBookings = new Chart(ctx, {
		type: 'doughnut',
		tooltipFillColor: "rgba(51, 51, 51, 0.55)",
		data: data
	  });

</script>


{% endblock %}





