{% extends 'Agent/layout/header.html' %}

{% block content %}

{% if user %}
<!-- start page content -->
{% include 'cotrav_alert_message.html' %}
{% for booking in bookings %}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="text-center">
     <div style="font-size:14px; font-weight:bold;">
         Assign Flight Booking
         </div>
   </div>

<form method="post" action="/agents/assign-flight-booking/{{booking.id}}" enctype="multipart/form-data">
        <div class="row">

                        <div class="col-md-3">

                <div class="card">
                    <div class="card-head card-topline-aqua">
                        <header>Booking Details</header>
                    </div>
                    <div class="card-body no-padding height-9">

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Booking Reference No</label>
                            <div class="col-sm-7">
                                <input  class="form-control" type="text" value="{{booking.reference_no}}" readonly>
                            </div>
                        </div>



                        <div class="form-group row">
                            <label class="col-sm-5 control-label">From City</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.from_location}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">To City</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.to_location}}" readonly>
                            </div>
                        </div>



                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Booking Date</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.booking_datetime}}" readonly>
                            </div>
                        </div>

                         <div class="form-group row">
                            <label class="col-sm-5 control-label">Departure DateTime</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.departure_datetime}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Seat Type</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.usage_type}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Preferred Flight</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.preferred_flight}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Cotrav Status</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.cotrav_status}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Client Status</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.client_status}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Reason for Booking</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.reason_booking}}" readonly>
                            </div>
                        </div>


                     </div>
                    </div>
                 </div>





            <div class="col-md-3">
                <div class="card">
                    <div class="card-head card-topline-aqua">
                        <header>Onward Flight Details</header>
                    </div>
                    <div class="card-body no-padding height-9">

    <input type="hidden" name="booking_id" value="{{booking.id}}">
    <input type="hidden" name="user_id" value="{{user.id}}">
    <input type="hidden" name="no_of_passanger" value="{{booking.no_of_seats}}">
    <input type="hidden" name="current_url" value="{{ request.get_full_path }}">

    <input type="hidden" name="tax_on_management_fee" id="tax_on_management_fee" value="0">
    <input type="hidden" name="tax_on_management_fee_percentage" id="tax_on_management_fee_percentage" value="0">
    <input type="hidden" name="management_fee_igst" id="management_fee_igst" value="0">
    <input type="hidden" name="management_fee_cgst" id="management_fee_cgst" value="0">
    <input type="hidden" name="management_fee_sgst" id="management_fee_sgst" value="0">
    <input type="hidden" name="management_fee_igst_rate" id="management_fee_igst_rate" value="0">
    <input type="hidden" name="management_fee_cgst_rate" id="management_fee_cgst_rate" value="0">
    <input type="hidden" name="management_fee_sgst_rate" id="management_fee_sgst_rate" value="0">
                        <input type="hidden" name="igst_amount" id="igst_amount" value="0">
    <input type="hidden" name="cgst_amount" id="cgst_amount" value="0">
    <input type="hidden" name="sgst_amount" id="sgst_amount" value="0">
                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Flight Type</label>
                            <div class="col-sm-7">
                            <select name="flight_type" id="flight_type" class="form-control myselect" required>
                                    <option value="Domestic">Domestic</option>
                                    <option value="International">International</option>
                               </select>
                            </div>   
                        </div>



                         <div class="form-group row">
                            <label class="col-sm-5 control-label">Seat Type</label>
                            <div class="col-sm-7">

                                <select name="seat_type" id="seat_type" class="form-control myselect" required>
                                   <option value="Economy" >Economy</option>
                                   <option value="Corporate Economy" >Corporate Economy</option>
                                   <option value="Premium Economy" >Premium Economy</option>
                                   <option value="Business" >Business</option>
                               </select>

                            </div>
                        </div>

                         <div class="form-group row">
                            <label class="col-sm-5 control-label">Trip Type</label>
                            <div class="col-sm-7">
                                    <select name="trip_type" id="trip_type" class="form-control myselect" required>
                                           <option value="One Way" >One Way</option>
                                           <option value="Round Trip" >Round Trip</option>
                                       </select>
                            </div>
                        </div>

                         <div class="form-group row">
                            <label class="col-sm-5 control-label">Fare Type</label>
                            <div class="col-sm-7">
                                    <select name="fare_type" id="fare_type" class="form-control myselect" required>
                                           <option value="Refundable" >Refundable</option>
                                           <option value="Non Refundable" >Non Refundable</option>
                                           <option value="Partially Refundable">Partial Refundable</option>
                                       </select>
                            </div>
                        </div>

                         <div class="form-group row">
                            <label class="col-sm-5 control-label">Is Meal Included</label>
                            <div class="col-sm-7">
                                    <select name="meal_is_include" id="meal_is_include" class="form-control myselect" required>
                                           <option value="1" >Yes</option>
                                           <option value="0">No</option>
                                    </select>        
                            </div>
                        </div>


                         <div class="form-group row">
                            <label class="col-sm-5 control-label">No. Of Stops</label>
                            <div class="col-sm-7">
                                    <select name="no_of_stops" id="no_of_stop" class="form-control myselect" required>
                                        <option value="0">no stop</option>
                                            <option value="1">1 stop</option>
                                            <option value="2" >2 stop</option>
                                           <option value="3">3 stop</option>
                                    </select> 
                            </div>
                        </div>

                        {% for employee in booking.Passangers %}
                        <input type="hidden" name="employee_booking_id" value="{{employee.id}}">
                          <div class="form-group row">
                            <label class="col-sm-5 control-label">Ticket Number : {{employee.employee_name}} </label>
                            <div class="col-sm-7">
                                <input class="form-control" name="ticket_number" placeholder="ticket number" type="text" value="">
                            </div>
                        </div>

                        {% endfor %}

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">From</label>
                            <div class="col-sm-7">
                                <input class="form-control" name="from" placeholder="Flight From" type="text" value="">
                            </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-5 control-label">To</label>
                                <div class="col-sm-7">
                                    <input class="form-control" name="to" placeholder="Flight To" type="text" value="">
                                </div>
                            </div>


                            <div class="form-group row">
                                    <label class="col-sm-5 control-label">Departure Time</label>
                                    <div class="col-sm-7">
                                        <input class="form-control date-format" name="departure_time" type="text" value="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-5 control-label">Arrival Time</label>
                                    <div class="col-sm-7">
                                        <input class="form-control date-format" name="arival_time" type="text" value="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-5 control-label">Flight Name</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" name="flight_name" placeholder="Flight Name" type="text" value="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-5 control-label">Flight No.</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" name="flight_no" placeholder="Flight No." type="text" value="">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-5 control-label">PNR Number</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" name="pnr_number" placeholder="PNR Number" type="text" value="">
                                    </div>
                                </div>


                                <div class="form-group row">
                                        <div class="col-sm-3">

                                        </div>
                                        <div class="col-sm-3" style="text-align: center;">
                                            <span class="stop-head stop1" style="font-size: 2.2em">Stop 1</span>
                                        </div>
                                        <div class="col-sm-3" style="text-align: center;">
                                            <span class="stop-head stop2" style="font-size: 2.2em">Stop 2</span>
                                        </div>
                                        <div class="col-sm-3" style="text-align: center;">
                                            <span class="stop-head stop3" style="font-size: 2.2em">Stop 3</span>
                                        </div>

                                </div>

                                    <div class="form-group row">
                                            <label class="col-sm-3 control-label stop1">From</label>
                                            <div class="col-sm-3 stop1">
                                                    <input class="form-control" name="from" placeholder="From"
                                                           type="text" value="">
                                                </div>
                                                <div class="col-sm-3 stop2">
                                                        <input class="form-control" name="from" placeholder="From"
                                                               type="text" value="">
                                                </div>
                                                <div class="col-sm-3 stop3">
                                                        <input class="form-control" name="from" placeholder="From"
                                                               type="text" value="">
                                                </div>
                                    </div>

                                    <div class="form-group row">
                                            <label class="col-sm-3 control-label stop1">To</label>
                                            <div class="col-sm-3 stop1">
                                                    <input class="form-control" name="to" placeholder="To"
                                                           type="text" value="">
                                                </div>
                                                <div class="col-sm-3 stop2">
                                                        <input class="form-control" name="to" placeholder="To"
                                                               type="text" value="">
                                                </div>
                                                <div class="col-sm-3 stop3">
                                                        <input class="form-control" name="to[]" placeholder="To"
                                                               type="text" value="">
                                                </div>
                                    </div>

                                <div class="form-group row">
                                        <label class="col-sm-3 control-label stop1">Arrival Time</label>
                                        <div class="col-sm-3 stop1">
                                            <input class="form-control date-format" name="arival_time" placeholder="arival_time"
                                                   type="text" value="">
                                        </div>
                                        <div class="col-sm-3 stop2">
                                                <input class="form-control date-format" name="arival_time" placeholder="arival_time"
                                                       type="text" value="">
                                        </div>
                                        <div class="col-sm-3 stop3">
                                                <input class="form-control date-format" name="arival_time" placeholder="arival_time"
                                                       type="text" value="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-3 control-label stop1">Departure Time</label>
                                        <div class="col-sm-3 stop1">
                                            <input class="form-control date-format" name="departure_time" placeholder="Departure Time"
                                                   type="text" value="">
                                        </div>
                                        <div class="col-sm-3 stop2">
                                                <input class="form-control date-format" name="departure_time" placeholder="Departure Time"
                                                       type="text" value="">
                                        </div>
                                        <div class="col-sm-3 stop3">
                                                <input class="form-control date-format" name="departure_time" placeholder="Departure Time"
                                                       type="text" value="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                            <label class="col-sm-3 control-label stop1">Flight Name</label>
                                            <div class="col-sm-3 stop1">
                                                    <input class="form-control" name="flight_name" placeholder="Flight Name"
                                                           type="text" value="">
                                                </div>
                                                <div class="col-sm-3 stop2">
                                                        <input class="form-control" name="flight_name" placeholder="Flight Name"
                                                               type="text" value="">
                                                </div>
                                                <div class="col-sm-3 stop3">
                                                        <input class="form-control" name="flight_name" placeholder="Flight Name"
                                                               type="text" value="">
                                                </div>
                                    </div>  
                                    
                                    <div class="form-group row">
                                            <label class="col-sm-3 control-label stop1">Flight No.</label>
                                            <div class="col-sm-3 stop1">
                                                    <input class="form-control" name="flight_no" placeholder="Flight No."
                                                           type="text" value="">
                                                </div>
                                                <div class="col-sm-3 stop2">
                                                        <input class="form-control" name="flight_no" placeholder="Flight No."
                                                               type="text" value="">
                                                </div>
                                                <div class="col-sm-3 stop3">
                                                        <input class="form-control" name="flight_no" placeholder="Flight No."
                                                               type="text" value="">
                                                </div>
                                    </div>  


                                    <div class="form-group row">
                                            <label class="col-sm-3 control-label stop1">PNR Number</label>
                                            <div class="col-sm-3 stop1">
                                                    <input class="form-control" name="pnr_number" placeholder="PNR Number"
                                                           type="text" value="">
                                                </div>
                                                <div class="col-sm-3 stop2">
                                                        <input class="form-control" name="pnr_number" placeholder="PNR Number"
                                                               type="text" value="">
                                                </div>
                                                <div class="col-sm-3 stop3">
                                                        <input class="form-control" name="pnr_number" placeholder="PNR Number"
                                                               type="text" value="">
                                                </div>
                                    </div>  

                            <div class="form-group row">
                            <label class="col-sm-5 control-label">Send Client SMS</label>
                            <div class="col-sm-7">
                                <select class="form-control" name="is_client_sms">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>

                         <div class="form-group row">
                            <label class="col-sm-5 control-label">Send Client Email</label>
                            <div class="col-sm-7">
                                 <select class="form-control" name="is_client_email">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>




                                    <div class="form-group">
                                            <div class="offset-md-3 col-md-9">
                                                <button type="submit" class="btn btn-info">Submit</button>
                                                <button type="button" onclick="history.back();" class="btn btn-default">Cancel</button>
                                            </div>
                                        </div>




                    </div>
                </div>
            </div>


             <div class="col-md-3">

                    <div class="card">
                      <div class="card-head card-topline-aqua">
                          <header>Billing Details</header>
                      </div>
                      <div class="card-body no-padding height-9">

                          <div class="form-group row">
                              <label class="col-sm-6 control-label">Ticket Price:</label>
                              <div class="col-sm-6">
                                    <input type="number" name="ticket_price" id="ticket_price" class="form-control" required >
                              </div>
                          </div>

                        <div class="form-group row">
                                <label class="col-sm-6 control-label">Management_fee:</label>
                                <div class="col-sm-6">
                                        <input type="text" name="management_fee" id="mng_fee" class="form-control" readonly >
                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-6 control-label">Tax amount management fee:</label>
                                <div class="col-sm-6">
                                    <input type="text" name="tax_mng_amt" id="tax_mng_amt" class="form-control" readonly >
                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-6 control-label">Total billing amount</label>
                                <div class="col-sm-6">
                                        <input type="text" name="sub_total" id="total_billing_amt" class="form-control" readonly >
                                </div>
                        </div>


                      {% for c_enttity in c_entitys %}

                          <div class="form-group row">
                                <label class="col-sm-6 control-label">Select Cotrav Billing Entity</label>
                                <div class="col-sm-6">

                                        <select class="form-control" id="cotrav_billing_entity" required name="cotrav_billing_entity">


                                                <option value="{{c_enttity.id}}" gst="{{c_enttity.gst_id}}">{{c_enttity.entity_name}} </option>


                                        </select>

                                </div>
                        </div>

                       {% endfor %}

                        <div class="form-group row">
                                <label class="col-sm-6 control-label">Booking Billing Entity</label>
                                <div class="col-sm-6">

                                        <input type="text" class="form-control" name="bb_entity" gst="{{be_gst}}" id="booking_billing_entity" value="{{be_name}}">

                                </div>
                        </div>



                        <div class="form-group row">
                                <label class="col-sm-6 control-label">CGST (perscentage)</label>
                                <div class="col-sm-6">

                                        <input type="text" class="form-control" name="cgst" id="cgst"  readonly>

                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-6 control-label">SGST (perscentage)</label>
                                <div class="col-sm-6">

                                        <input type="text"  class="form-control" name="sgst" id="sgst"  readonly>

                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-6 control-label">IGST (perscentage)</label>
                                <div class="col-sm-6">

                                        <input type="text" class="form-control" name="igst" id="igst"  readonly>

                                </div>
                        </div>

                          <div class="form-group row browse" >

                          <input class="client_ticket form-control" type="checkbox" name="client_ticket" value="1" onchange="valueChanged()"/>
                            Generate System Ticket
                          </div>
                          <div class="form-group row" id="client-tkt" >
                                <label class="col-sm-6 control-label">Browse Bus Ticket</label>
                                <div class="col-sm-6">

                                        <input type="file" class="form-control" name="busticketToUpload" id="bus-ticket">
                                </div>
                           </div>


                       </div>
                  </div>
              </div>


             <div class="col-md-3">

                    <div class="card">
                      <div class="card-head card-topline-aqua">
                          <header>Operator Billing Details</header>
                      </div>
                      <div class="card-body no-padding height-9">

                           <div class="form-group row">
                            <label class="col-sm-5 control-label">Operator Name</label>
                            <div class="col-sm-7">
                               <select name="operator_name" id="operator_id" class="form-control myselect" required>
                                    <option value="">Select Operator Name</option>
                                    {% for operator in flight_operators %}
                                        <option value="{{operator.id}}" gst="{{operator.gst_id}}">{{operator.operator_name}} ({{operator.operator_contact}})</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" id="operator_gst_id">
                            </div>
                        </div>

                          <div class="form-group row">
                              <label class="col-sm-6 control-label">Ticket Price:</label>
                              <div class="col-sm-6">
                                    <input type="number" class="form-control" name="oper_ticket_price" id="oper_ticket_price" required >
                              </div>
                          </div>

                          <div class="form-group row">
                              <label class="col-sm-6 control-label">Commission:</label>
                              <div class="col-sm-6">
                                    <input type="number" class="form-control" name="operator_commission" id="operator_commission" required>
                              </div>
                          </div>

                          <div class="form-group row">
                                <label class="col-sm-6 control-label">Commission Type</label>
                                <div class="col-sm-6">
                                        <select class="form-control" id="oper_commission_type" name="oper_commission_type">
                                                <option value="1">Percent</option>
                                                <option value="1">Fixed</option>
                                        </select>
                                </div>
                        </div>

                      {% for c_enttity in c_entitys %}

                          <div class="form-group row">
                                <label class="col-sm-6 control-label">Select Cotrav Billing Entity</label>
                                <div class="col-sm-6">

                                        <select class="form-control" id="oper_cotrav_billing_entity" name="oper_cotrav_billing_entity">


                                                 <option value="{{c_enttity.id}}" gst="{{c_enttity.gst_id}}">{{c_enttity.entity_name}} </option>

                                        </select>

                                </div>
                        </div>

                       {% endfor %}


                           <div class="form-group row">
                                <label class="col-sm-6 control-label">CGST (perscentage)</label>
                                <div class="col-sm-6">

                                        <input type="text" class="form-control" name="oper_cgst" id="oper_cgst"  readonly>

                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-6 control-label">SGST (perscentage)</label>
                                <div class="col-sm-6">

                                        <input type="text"  class="form-control" name="oper_sgst" id="oper_sgst"  readonly>

                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-6 control-label">IGST (perscentage)</label>
                                <div class="col-sm-6">

                                        <input type="text" class="form-control" name="oper_igst" id="oper_igst"  readonly>

                                </div>
                        </div>


                          <div class="form-group row">
                                <label class="col-sm-6 control-label">Browse Vendor Ticket</label>
                                <div class="col-sm-6">

                                        <input type="file" class="form-control" name="vendorticketToUpload" id="vendor-bus-ticket">
                                </div>
                           </div>



                       </div>
                  </div>
              </div>



        </div>

  </form>

    </div>
</div>
<!-- end page content -->
{% endfor %}

{% else %}
<p>Welcome, new user. Please log in.<a href="/login">Login</a></p>
{% endif %}

<script type="text/javascript">

  $('.stop2').hide();
  $('.stop1').hide();
  $('.stop3').hide();


$('#no_of_stop').change(function(){

  
  // var option = $('option:selected', this).attr('room-type');

  var option = $('option:selected', this).attr('value');

if(option == 0){
  $('.stop2').hide();
  $('.stop1').hide();
  $('.stop3').hide();
}

  if(option == 1  || option == 2 || option == 3)
  {
    $('.stop1').show();
  }

  if(option == 2 || option == 3)
  {
    $('.stop2').show();
  }
  else {
    $('.stop2').hide();
  }
  if(option == 3)
  {
    $('.stop3').show();
  }
  else{
    $('.stop3').hide();
  }

  
});
 </script>

<script type="text/javascript">
function valueChanged()
{
    if($('.client_ticket').is(":checked"))
        $("#client-tkt").hide();
    else
        $("#client-tkt").show();
}
</script>


<script>

        $( document ).ready(function() {
            var corporate_id =  1;
            var service_type = 1;
            var_url = '{{ API_BASE_URL }}'+'get_corporate_management_fee'

    $.ajaxSetup({
            headers:{
                    'Authorization': "Token {{request.session.agent_access_token}}",
                    'usertype': {{request.session.login_type}}
                }
        });

        $.post(var_url,{ corporate_id: corporate_id , service_type: service_type },
      function(data)
      {
      management_fee = data["Fees"][0].service_fees_type_value
      $('#mng_fee').val(management_fee);
      $('#oper_mng_fee').val(management_fee);
       });

            $('#ticket_price').keyup(function(event){
                if(event.which != 8 && isNaN(String.fromCharCode(event.which))){
                        event.preventDefault(); //stop character from entering input
                }else{

                    var ticket_price = this.value;
                    var management_fee = $('#mng_fee').val();
                    var tax_perscent_on_management_fee = 18;
                    var tax_perscentage = 0.18
                    var tax_amount_on_management_fee = 0;
                    var total_billing_amount = 0;
                    var cgst = 0.0;
                    var sgst = 0.0;
                    var igst = 0.0;

                    if ($('#mng_fee').val() == "")
                    {
                        management_fee = 100
                        $('#mng_fee').val(management_fee);
                    }

                    tax_amount_on_management_fee =  management_fee * tax_perscentage;

                    management_fee_with_tax =  parseFloat(management_fee) + parseFloat(tax_amount_on_management_fee);
                    total_billing_amount = parseFloat(ticket_price) + parseFloat(management_fee_with_tax)
                    $('#tax_mng_amt').val(tax_amount_on_management_fee);
                    $('#total_billing_amt').val(total_billing_amount);
                    val1 = $("#booking_billing_entity").attr("gst");
                    val2 = $('option:selected',"#cotrav_billing_entity").attr("gst");
                    console.log(val1);
                    console.log(val2);
                    //alert(val1);
                    //alert(val2);
                    match = val1.localeCompare(val2);
                    var v1 = val1.substring(0, 2);
                    var v2 = val2.substring(0, 2);

                    if(v1 == v2)
                    {
                       // alert("value matched");
                        cgst = 9;
                        sgst = 9;
                        $('#management_fee_cgst').val(cgst);
                        $('#management_fee_sgst').val(sgst);
                        cgst_rate = tax_amount_on_management_fee/2;
                        $('#management_fee_cgst_rate').val(cgst_rate);
                        $('#management_fee_sgst_rate').val(cgst_rate);

                    }else{
                        igst = 18;
                       // alert(igst);
                       // alert("value not matched");
                        $('#management_fee_igst').val(igst);
                        $('#management_fee_igst_rate').val(tax_amount_on_management_fee);
                    }

                    $('#cgst').val(cgst);
                    $('#sgst').val(sgst);
                    $('#igst').val(igst);
                    $('#tax_on_management_fee').val(tax_amount_on_management_fee);
                    $('#tax_on_management_fee_percentage').val(tax_perscent_on_management_fee);



                }
            });

             $('#oper_ticket_price,#operator_commission,#oper_cotrav_billing_entity').keyup(function(event){
                if(event.which != 8 && isNaN(String.fromCharCode(event.which))){
                        event.preventDefault(); //stop character from entering input
                }else{
                  var oper_ticket_price = $('#oper_ticket_price').val();
                 var operator_gst_id = $('#operator_gst_id').val();
                  var operator_commission = $('#operator_commission').val();
                  var cgst_val = $('#oper_cgst').val();
                  var sgst_val = $('#oper_sgst').val();
                  var igst_val = $('#oper_igst').val();
                  var gst_tax = 0.0;

                  var val2 = $('option:selected',"#cotrav_billing_entity").attr("gst");
                  var val1 = $('option:selected',"#operator_id").attr("gst");

                    match = val1.localeCompare(val2);
                    var v1 = val1.substring(0, 2);
                    var v2 = val2.substring(0, 2);
                    if(v1 == v2)
                    {

                        $('#cgst_amount').val(amount/2);
                        $('#sgst_amount').val(amount/2);
                    }else{
                         $('#igst_amount').val(amount);
                    }

                  if(cgst_val == 0.0)
                  {
                    gst_tax = 0.18;
                  }
                  else{
                    gst_tax = 0.9;
                  }
                  var gst_paid =  parseFloat(oper_ticket_price) * parseFloat(gst_tax);
                  $('#gst_paid').val(gst_paid);

                }
            });


        });

$("#operator_id,#operator_commission,#oper_cotrav_billing_entity").change(function(){
var opr_gst = $('option:selected', this).attr('gst');
//alert(opr_gst);

var cgst = 0.0;
var sgst = 0.0;
var igst = 0.0;


 val1 = opr_gst ;
 val2 = $('option:selected',"#oper_cotrav_billing_entity").attr("gst");

    console.log(val1);
    console.log(val2);

    //alert(val1);
    //alert(val2);

    match = val1.localeCompare(val2);
    var v1 = val1.substring(0, 2);
    var v2 = val2.substring(0, 2);
    var oper_ticket_price = parseFloat($('#oper_ticket_price').val());
        var amount = parseFloat(oper_ticket_price) * 0.18;

    if(v1 == v2)
    {
       // alert("value matched");
        cgst = 9;
        sgst = 9;
       // alert(cgst);
       // alert(sgst);
 $('#cgst_amount').val(amount/2);
        $('#sgst_amount').val(amount/2);

    }else{

        igst = 18;
        $('#igst_amount').val(amount);
       // alert(igst);

       // alert("value not matched");
    }

     $('#oper_cgst').val(cgst);
     $('#oper_sgst').val(sgst);
     $('#oper_igst').val(igst);


});
</script>




 {% endblock %}