{% extends 'Agent/layout/header.html' %}

{% block content %}

{% if user %}
<!-- start page content -->
{% include 'cotrav_alert_message.html' %}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="text-center">
     <div style="font-size:14px; font-weight:bold;">
         Assign Hotel Booking
         </div>
   </div>

{% for booking in bookings %}
        <div class="row">
            <div class="col-md-3">

                <div class="card">
                    <div class="card-head card-topline-aqua">
                        <header>Booking Details</header>
                    </div>
                    <div class="card-body no-padding height-9">

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Booking Reference No</label>
                            <div class="col-sm-7">
                                <input  class="form-control" type="text" value="{{booking.reference_no}}" readonly>
                            </div>
                        </div>



                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Arrival City</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.from_area_id_name}}" readonly>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Booking Date</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.booking_datetime}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Check-In Date</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.checkin_datetime}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Check-Out Date</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.checkout_datetime}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Cotrav Status</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.cotrav_status}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Client Status</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.client_status}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Reason for Booking</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.reason_booking}}" readonly>
                            </div>
                        </div>


                     </div>
                    </div>
                 </div>


                        <div class="col-md-3">

                <div class="card">
                    <div class="card-head card-topline-aqua">
                        <header>Request Details</header>
                    </div>
                    <div class="card-body no-padding height-9">

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Room Type Requested</label>
                            <div class="col-sm-7">
                                <input  class="form-control" type="text" value="{{booking.room_type_name}}" readonly>
                                <input  class="form-control" type="text" value="{{booking.bucket_priority_1}}" readonly>
                            </div>
                        </div>



                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Room Occupancy</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.hotel_type_name}}" readonly>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Preferred Hotel</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" value="{{booking.preferred_hotel}}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                              <label class="col-sm-5 control-label">No Of Days:</label>
                              <div class="col-sm-7">
                                    <input type="number" name="no_of_days" id="no_of_days" class="form-control" readonly >
                              </div>
                          </div>

                           <div class="form-group row">
                              <label class="col-sm-5 control-label">Bucket Price:</label>
                              <div class="col-sm-7">
                                    <input type="number" name="bucket" id="bucket" class="form-control" value="{{booking.bucket_price_1}}" readonly >
                              </div>
                          </div>



                     </div>
                    </div>
                 </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-head card-topline-aqua">
                        <header>Basic Details</header>
                    </div>
                    <div class="card-body no-padding height-9">
<form method="post" action="/agents/assign-hotel-booking/{{booking.id}}" enctype="multipart/form-data" >
    <input type="hidden" name="booking_id" value="{{booking.id}}">
    <input type="hidden" name="user_id" value="{{user.id}}">
     <input type="hidden" name="current_url" value="{{ request.get_full_path }}">
    <input type="hidden" name="checkin" id="checkin" value="{{ booking.checkin_datetime }}">
    <input type="hidden" name="checkout" id="checkout" value="{{ booking.checkout_datetime }}">
    <input type="hidden" name="tax_on_management_fee" id="tax_on_management_fee" value="0">
    <input type="hidden" name="tax_on_management_fee_percentage" id="tax_on_management_fee_percentage" value="0">
    <input type="hidden" name="management_fee_igst" id="management_fee_igst" value="0">
    <input type="hidden" name="management_fee_cgst" id="management_fee_cgst" value="0">
    <input type="hidden" name="management_fee_sgst" id="management_fee_sgst" value="0">
    <input type="hidden" name="management_fee_igst_rate" id="management_fee_igst_rate" value="0">
    <input type="hidden" name="management_fee_cgst_rate" id="management_fee_cgst_rate" value="0">
    <input type="hidden" name="management_fee_sgst_rate" id="management_fee_sgst_rate" value="0">
    <input type="hidden" name="igst_amount" id="igst_amount" value="0">
    <input type="hidden" name="cgst_amount" id="cgst_amount" value="0">
    <input type="hidden" name="sgst_amount" id="sgst_amount" value="0">

<input  class="form-control" type="hidden"  name="assign_room_type" value="{{booking.room_type_id}}">

       <div class="form-group row">
                                    <label class="col-sm-5 control-label">Portal Used</label>
                                    <div class="col-sm-7">
                                         <select name="portal_used" id="portal_used" class="form-control myselect" required>
                                            <option value="">Select Portal</option>
                                           {% for portal in portals %}
                                           <option value="{{portal.id}}">{{portal.name}}</option>
                                           {% endfor %}
                                       </select>

                                    </div>
                                </div>

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Select Hotel Name</label>
                            <div class="col-sm-7">
                            <select name="assign_hotel_id" id="hotel_name" class="form-control myselect" required>
                                    <option value="">Select hotel</option>
                                   {% for hotel in hotel_operators %}
                                    {% if hotel.service_type_id == 6%}
                                   <option value="{{hotel.id}}" gst="{{hotel.gst_id}}" operator-email="{{hotel.operator_email}}" operator-contact="{{hotel.operator_contact}}" operator-address="{{hotel.operator_address}}">{{hotel.operator_name}}</option>
                                    {% endif %}
                                {% endfor %}
                               </select>
                            </div>
                        </div>


                         <div class="form-group row">
                            <label class="col-sm-5 control-label">Total Room Price</label>
                            <div class="col-sm-7">
                                <input class="form-control" name="total_room_price" id="total_room_price" placeholder="Total Room Price"
                                     type="text" value="{{booking.bucket_price_1|default:'0'}}">
                            </div>
                        </div>

                         <div class="form-group row">
                            <label class="col-sm-5 control-label">Is AC Room</label>
                            <div class="col-sm-7">
                                <select name="is_ac_room" class="form-control myselect" required>
                                     <option value="1">Yes</option>
                                     <option value="0">No</option>
                               </select>

                            </div>
                        </div>

                         <div class="form-group row">
                            <label class="col-sm-5 control-label">Daily Breakfast</label>
                            <div class="col-sm-7">
                                <select name="daily_brakefast" class="form-control myselect" required>
                                     <option value="1">Yes</option>
                                     <option value="0">No</option>
                               </select>

                            </div>
                        </div>


                         <div class="form-group row">
                            <label class="col-sm-5 control-label">Hotel Address</label>
                            <div class="col-sm-7">
                                <input class="form-control" name="hotel_address" id="hotel_address" placeholder="Hotel Address"
                                     readonly  type="text" value="">
                            </div>
                        </div>

                         <div class="form-group row">
                            <label class="col-sm-5 control-label">Hotel Contact</label>
                            <div class="col-sm-7">
                                <input class="form-control" name="hotel_contact" id="hotel_contact" placeholder="Hotel Contact"
                                     readonly  type="text" value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 control-label">Hotel Email</label>
                            <div class="col-sm-7">
                                <input class="form-control" name="hotel_email" id="hotel_email" placeholder="Hotel Email"
                                     readonly  type="text" value="">
                            </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-5 control-label">Voucher Number</label>
                                <div class="col-sm-7">
                                    <input class="form-control" name="voucher_number" placeholder="Voucher Number"
                                         type="text" value="">
                                </div>
                            </div>




                                <div class="form-group row">
                                        <label class="col-sm-5 control-label">Is Prepaid</label>
                                        <div class="col-sm-7">
                                             <select name="is_prepaid" class="form-control myselect" required>
                                                 <option value="1">Yes</option>
                                                 <option value="0">No</option>
                                           </select>

                                        </div>
                                    </div>   

                                    <div class="form-group row">
                                            <label class="col-sm-5 control-label">Agent Booking ID</label>
                                            <div class="col-sm-7">
                                                <input class="form-control" name="agent_booking_id" placeholder="agent booking is"
                                                     type="text" value="">
                                            </div>
                                    </div>  
                                    
                                    <div class="form-group row">
                                            <label class="col-sm-5 control-label">Commission Earned</label>
                                            <div class="col-sm-7">
                                                <input class="form-control" name="commission_earned" placeholder="commisiion earned"
                                                     type="number" value="">
                                            </div>
                                    </div>  


                                    <div class="form-group row">
                                            <label class="col-sm-5 control-label">Comment (If Any)</label>
                                            <div class="col-sm-7">
                                               <textarea class="form-control" name="comment" placeholder="comment if any" ></textarea>
                                               
                                            </div>
                                    </div>

    <div class="form-group row">
                            <label class="col-sm-5 control-label">Send Client SMS</label>
                            <div class="col-sm-7">
                                <select class="form-control" name="is_client_sms">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>

                         <div class="form-group row">
                            <label class="col-sm-5 control-label">Send Client Email</label>
                            <div class="col-sm-7">
                                 <select class="form-control" name="is_client_email">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>

                                    <div class="form-group">
                                            <div class="offset-md-3 col-md-9">
                                                <button type="submit" class="btn btn-info">Submit</button>
                                                <button type="button" onclick="history.back();" class="btn btn-default">Cancel</button>
                                            </div>
                                        </div>


                 

                    </div>
                </div>
            </div>

           <div class="col-md-3">

                    <div class="card">
                      <div class="card-head card-topline-aqua">
                          <header>Billing Details</header>
                      </div>
                      <div class="card-body no-padding height-9">



                          <div class="form-group row">
                              <label class="col-sm-6 control-label">Room Price:</label>
                              <div class="col-sm-6">
                                    <input type="number" name="ticket_price" id="ticket_price" class="form-control" required >
                              </div>
                          </div>

                        <div class="form-group row">
                                <label class="col-sm-6 control-label">Management_fee:</label>
                                <div class="col-sm-6">
                                        <input type="text" name="management_fee" id="mng_fee" class="form-control" readonly >
                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-6 control-label">Tax amount management fee:</label>
                            <div class="col-sm-6">
                                <input type="text" name="tax_mng_amt" id="tax_mng_amt" class="form-control" readonly >
                            </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-6 control-label">Total billing amount</label>
                                <div class="col-sm-6">
                                        <input type="text" name="sub_total" id="total_billing_amt" class="form-control" readonly >
                                </div>
                        </div>


                      {% for c_enttity in c_entitys %}

                          <div class="form-group row">
                                <label class="col-sm-6 control-label">Select Cotrav Billing Entity</label>
                                <div class="col-sm-6">

                                        <select class="form-control" id="cotrav_billing_entity" required name="cotrav_billing_entity">


                                                <option value="{{c_enttity.id}}" gst="{{c_enttity.gst_id}}">{{c_enttity.entity_name}} </option>


                                        </select>

                                </div>
                        </div>

                       {% endfor %}

                        <div class="form-group row">
                                <label class="col-sm-6 control-label">Booking Billing Entity</label>
                                <div class="col-sm-6">

                                        <input type="text" class="form-control" name="bb_entity" gst="{{be_gst}}" id="booking_billing_entity" value="{{be_name}}">

                                </div>
                        </div>



                        <div class="form-group row">
                                <label class="col-sm-6 control-label">CGST (perscentage)</label>
                                <div class="col-sm-6">

                                        <input type="text" class="form-control" name="cgst" id="cgst"  readonly>

                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-6 control-label">SGST (perscentage)</label>
                                <div class="col-sm-6">

                                        <input type="text"  class="form-control" name="sgst" id="sgst"  readonly>

                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-6 control-label">IGST (perscentage)</label>
                                <div class="col-sm-6">

                                        <input type="text" class="form-control" name="igst" id="igst"  readonly>

                                </div>
                        </div>

                          <div class="form-group row browse" >

                          <input class="client_ticket form-control" type="checkbox" name="client_ticket" value="1" onchange="valueChanged()"/>
                            Generate System Ticket
                          </div>
                          <div class="form-group row" id="client-tkt" >
                                <label class="col-sm-6 control-label">Browse Hotel Ticket</label>
                                <div class="col-sm-6">

                                        <input type="file" class="form-control" name="busticketToUpload" id="bus-ticket">
                                </div>
                           </div>


                       </div>
                  </div>
              </div>



             <div class="col-md-3">

                    <div class="card">
                      <div class="card-head card-topline-aqua">
                          <header>Operator Billing Details</header>
                      </div>
                      <div class="card-body no-padding height-9">

                          <div class="form-group row">
                              <label class="col-sm-6 control-label">Room Price:</label>
                              <div class="col-sm-6">
                                    <input type="number" class="form-control" name="oper_ticket_price" id="oper_ticket_price" required >
                              </div>
                          </div>

                          <div class="form-group row">
                              <label class="col-sm-6 control-label">Commission:</label>
                              <div class="col-sm-6">
                                    <input type="number" class="form-control" name="operator_commission" id="operator_commission" required>
                              </div>
                          </div>

                          <div class="form-group row">
                                <label class="col-sm-6 control-label">Commission Type</label>
                                <div class="col-sm-6">
                                        <select class="form-control" id="oper_commission_type" name="oper_commission_type">
                                                <option value="1">Percent</option>
                                                <option value="1">Fixed</option>
                                        </select>
                                </div>
                        </div>

                      {% for c_enttity in c_entitys %}

                          <div class="form-group row">
                                <label class="col-sm-6 control-label">Select Cotrav Billing Entity</label>
                                <div class="col-sm-6">

                                        <select class="form-control" id="oper_cotrav_billing_entity" name="oper_cotrav_billing_entity">


                                                <option value="{{c_enttity.id}}" gst="{{c_enttity.gst_id}}">{{c_enttity.entity_name}} </option>


                                        </select>

                                </div>
                        </div>

                       {% endfor %}


                           <div class="form-group row">
                                <label class="col-sm-6 control-label">CGST (perscentage)</label>
                                <div class="col-sm-6">

                                        <input type="text" class="form-control" name="oper_cgst" id="oper_cgst"  >

                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-6 control-label">SGST (perscentage)</label>
                                <div class="col-sm-6">

                                        <input type="text"  class="form-control" name="oper_sgst" id="oper_sgst"  >

                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-6 control-label">IGST (perscentage)</label>
                                <div class="col-sm-6">

                                        <input type="text" class="form-control" name="oper_igst" id="oper_igst"  >

                                </div>
                        </div>


                          <div class="form-group row">
                                <label class="col-sm-6 control-label">Browse Vendor Ticket</label>
                                <div class="col-sm-6">

                                        <input type="file" class="form-control" name="vendorticketToUpload" id="vendor-bus-ticket">
                                </div>
                           </div>



                       </div>
                  </div>
              </div>


            <div class="col-md-3">
                    <div class="card">
                      <div class="card-head card-topline-aqua">
                          <header>Passenger Details</header>
                      </div>
                      <div class="card-body no-padding height-9">

								{% for passanger in booking.Passangers %}

                                   <div class="form-group row">
                                        <label class="col-sm-6 control-label">Passenger Name</label>
                                        <div class="col-sm-6">
                                                <input type="text" class="form-control" value="{{ passanger.employee_name }}" readonly >
                                        </div>
                                   </div>

                          <div class="form-group row">
                                        <label class="col-sm-6 control-label">Passenger Email</label>
                                        <div class="col-sm-6">
                                                <input type="text" class="form-control" value="{{ passanger.employee_email }}" readonly >
                                        </div>
                                   </div>
                          <div class="form-group row">
                                        <label class="col-sm-6 control-label">Contact Number</label>
                                        <div class="col-sm-6">
                                                <input type="text" class="form-control" value="{{ passanger.employee_contact|default:'' }}"  readonly>
                                        </div>
                                   </div>

                          <div class="form-group row">
                                        <label class="col-sm-6 control-label">Age</label>
                                        <div class="col-sm-6">
                                                <input type="text" class="form-control" value="{{ passanger.age|default:'' }}"  readonly>
                                        </div>
                                   </div>

                          <div class="form-group row">
                                        <label class="col-sm-6 control-label">Gender</label>
                                        <div class="col-sm-6">
                                                <input type="text" class="form-control" value="{{ passanger.gender|default:'' }}"  readonly>
                                        </div>
                                   </div>


					{% endfor %}
                      </div>



							</div>
						</div>



                        <div class="col-md-3">
                    <div class="card">
                      <div class="card-head card-topline-aqua">
                          <header>Spoc Details</header>
                      </div>
                      <div class="card-body no-padding height-9">



                                   <div class="form-group row">
                                        <label class="col-sm-6 control-label">Spoc Name</label>
                                        <div class="col-sm-6">
                                                <input type="text" class="form-control" value="{{ booking.user_name }}" readonly >
                                        </div>
                                   </div>

                          <div class="form-group row">
                                        <label class="col-sm-6 control-label">Spoc Email</label>
                                        <div class="col-sm-6">
                                                <input type="text" class="form-control" value="{{ booking.user_email }}" readonly >
                                        </div>
                                   </div>

                            <div class="form-group row">
                                        <label class="col-sm-6 control-label">Spoc Contact</label>
                                        <div class="col-sm-6">
                                                <input type="text" class="form-control" value="{{ booking.user_contact }}" readonly >
                                        </div>
                                   </div>


                      </div>



							</div>
						</div>

</form>


					</div>

        </div>

 {% endfor %}

    </div>
</div>
<!-- end page content -->


{% else %}
<p>Welcome, new user. Please log in.<a href="/login">Login</a></p>
{% endif %}

<script type="text/javascript">

$('#hotel_name').change(function(){

   var option = $('option:selected', this).attr('operator-address');
   $("#hotel_address").val(option);


   var option1 = $('option:selected', this).attr('operator-email');
   $("#hotel_email").val(option1);

   var option2 = $('option:selected', this).attr('operator-contact');
   $("#hotel_contact").val(option2);


});
 </script>


<script type="text/javascript">
function valueChanged()
{

    if($('.client_ticket').is(":checked"))
        $("#client-tkt").hide();
    else
        $("#client-tkt").show();


}
</script>


<script>

        $( document ).ready(function() {

            var ddStr =  $("#checkin_datetime").val();
			var adStr =  $("#checkout_datetime").val();

            var corporate_id =  1;

            var service_type = 1;

            var_url = '{{ API_BASE_URL }}'+'get_corporate_management_fee'

    $.ajaxSetup({
            headers:{
                    'Authorization': "Token {{request.session.agent_access_token}}",
                    'usertype': {{request.session.login_type}}
                }
        });

        $.post(var_url,{ corporate_id: corporate_id , service_type: service_type },
      function(data)
      {

      management_fee = data["Fees"][0].service_fees_type_value
      $('#mng_fee').val(management_fee);
      $('#oper_mng_fee').val(management_fee);
       });



       $('#total_room_price').keyup(function(event){
                if(event.which != 8 && isNaN(String.fromCharCode(event.which))){
                        event.preventDefault(); //stop character from entering input
                }else{

                var room_price = this.value;
                var checkin = $('#checkin').val();
                var checkout = $('#checkout').val();

                var a = moment(checkin, 'DD.MM.YYYY h:mm');
                var b = moment(checkout, 'DD.MM.YYYY h:mm');

                var c = new Date(a);

                var d = new Date(b);

                // To calculate the time difference of two dates
                var Difference_In_Time = d.getTime() - c.getTime();

                // To calculate the no. of days between two dates
                var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);


                var days = Math.round(Difference_In_Days);
                 var adHour = c.getHours();
				var adMin = c.getMinutes();
				if(adMin > 0)
				{
					if(adHour != '11')
					{
						adHour += 1;
					}
				}
				var ddHour = d.getHours();
				var ddMin = d.getMinutes();
				if(ddMin > 0)
				ddHour += 1;
				if(adHour < 12 && ddHour <= 12)
				days += 1;
				if(adHour < 12 && ddHour > 12)
				{
					days += 2;
				}
				if(adHour >= 12 && ddHour > 12)
				days += 1;
				if(days > 1)
				$('#no_of_days').val(days);
				else
				$('#no_of_days').val(1);



                total_room_price = room_price * days;

                if(Difference_In_Days > 0 )
                {
                    $('#ticket_price').val(total_room_price);
                }else{

                    $('#ticket_price').val(room_price);
                }



                gst_per = 0;

                room_price = parseInt(room_price)

                if( room_price > 0 && room_price < 1000 )
                {
                    gst_per = 0;
                }
                else if( room_price > 1001 && room_price < 2500 )
                {
                    gst_per = 12;

                }else if( room_price > 2501 && room_price < 7500 )
                        {
                            gst_per = 18;
                        }
                        else{
                            gst_per = 28;
                        }

                // ###############

                    var ticket_price = total_room_price;
                    var management_fee = $('#mng_fee').val();
                    var tax_perscent_on_management_fee = 18;
                    var tax_perscentage = 0.18
                    var tax_amount_on_management_fee = 0;
                    var total_billing_amount = 0;
                    var cgst = 0.0;
                    var sgst = 0.0;
                    var igst = 0.0;

                    if ($('#mng_fee').val() == "")
                    {
                        management_fee = 100
                        $('#mng_fee').val(management_fee);
                    }

                    tax_amount_on_management_fee =  management_fee * tax_perscentage;

                    management_fee_with_tax =  parseFloat(management_fee) + parseFloat(tax_amount_on_management_fee);

                    total_billing_amount = parseFloat(ticket_price) + parseFloat(management_fee_with_tax)

                    $('#tax_mng_amt').val(tax_amount_on_management_fee);

                    $('#total_billing_amt').val(total_billing_amount);

                    val1 = $("#booking_billing_entity").attr("gst");
                    val2 = $('option:selected',"#cotrav_billing_entity").attr("gst");

                    console.log(val1);
                    console.log(val2);

                    //alert(val1);
                    //alert(val2);

                    match = val1.localeCompare(val2);

                    var v1 = val1.substring(0, 2);

                    var v2 = val2.substring(0, 2);


                    if(v1 == v2)
                    {
                       // alert("value matched");
                        //cgst = 9;
                        //sgst = 9;
                        if (gst_per == 0)
                        {
                        cgst = 0;
                        sgst = 0;
                        $('#management_fee_cgst').val(cgst);
                        $('#management_fee_sgst').val(sgst);
                        cgst_rate = tax_amount_on_management_fee/2;
                        $('#management_fee_cgst_rate').val(cgst_rate);
                        $('#management_fee_sgst_rate').val(cgst_rate);

                        }else{
                        cgst = (gst_per / 2);

                        sgst = (gst_per / 2);

                        $('#management_fee_cgst').val(cgst);
                        $('#management_fee_sgst').val(sgst);
                        cgst_rate = tax_amount_on_management_fee/2;
                        $('#management_fee_cgst_rate').val(cgst_rate);
                        $('#management_fee_sgst_rate').val(cgst_rate);

                        }

                    }else{

                        //igst = 18;

                        igst = gst_per;

                       $('#management_fee_igst').val(igst);
                        $('#management_fee_igst_rate').val(tax_amount_on_management_fee);
                    }

                    $('#cgst').val(cgst);
                    $('#sgst').val(sgst);
                    $('#igst').val(igst);
                    $('#tax_on_management_fee').val(tax_amount_on_management_fee);
                    $('#tax_on_management_fee_percentage').val(tax_perscent_on_management_fee);


                }

                });






            $('#ticket_price').keyup(function(event){
                if(event.which != 8 && isNaN(String.fromCharCode(event.which))){
                        event.preventDefault(); //stop character from entering input
                }else{

                    var ticket_price = this.value;
                    var management_fee = $('#mng_fee').val();
                    var tax_perscent_on_management_fee = 0.18;
                    var tax_amount_on_management_fee = 0;
                    var total_billing_amount = 0;
                    var cgst = 0.0;
                    var sgst = 0.0;
                    var igst = 0.0;

                    if ($('#mng_fee').val() == "")
                    {
                        management_fee = 100
                        $('#mng_fee').val(management_fee);
                    }

                    tax_amount_on_management_fee =  management_fee * tax_perscent_on_management_fee;

                    management_fee_with_tax =  parseFloat(management_fee) + parseFloat(tax_amount_on_management_fee);

                    total_billing_amount = parseFloat(ticket_price) + parseFloat(management_fee_with_tax)

                    $('#tax_mng_amt').val(tax_amount_on_management_fee);

                    $('#total_billing_amt').val(total_billing_amount);

                    val1 = $("#booking_billing_entity").attr("gst");
                    val2 = $('option:selected',"#cotrav_billing_entity").attr("gst");

                    console.log(val1);
                    console.log(val2);

                    //alert(val1);
                    //alert(val2);

                    match = val1.localeCompare(val2);

                    var v1 = val1.substring(0, 2);

                    var v2 = val2.substring(0, 2);


                    if(v1 == v2)
                    {
                       // alert("value matched");
                        cgst = 9;
                        sgst = 9;

                       // alert(cgst);
                       // alert(sgst);


                    }else{

                        igst = 18;

                       // alert(igst);

                       // alert("value not matched");
                    }

                    $('#cgst').val(cgst);

                    $('#sgst').val(sgst);

                    $('#igst').val(igst);


                }
            });


             $('#oper_ticket_price').keyup(function(event){
                if(event.which != 8 && isNaN(String.fromCharCode(event.which))){
                        event.preventDefault(); //stop character from entering input
                }else{

                  var oper_ticket_price = $('#oper_ticket_price').val();

                 var operator_gst_id = $('#operator_gst_id').val();

                  var operator_commission = $('#operator_commission').val();

                  var cgst_val = $('#oper_cgst').val();

                  var sgst_val = $('#oper_sgst').val();

                  var igst_val = $('#oper_igst').val();

                    var amount = parseFloat(oper_ticket_price) * 0.18;

                   var oper_ticket_price = $('#oper_ticket_price').val();
                   var val2 = $('option:selected',"#cotrav_billing_entity").attr("gst");
                   var val1 = $('option:selected',"#hotel_name").attr("gst");

                    match = val1.localeCompare(val2);
                    var v1 = val1.substring(0, 2);
                    var v2 = val2.substring(0, 2);
                    if(v1 == v2)
                    {

                        $('#cgst_amount').val(amount/2);
                        $('#sgst_amount').val(amount/2);
                    }else{
                         $('#igst_amount').val(amount);
                    }

                  var gst_tax = 0.0;

                  if(cgst_val == 0.0)
                  {
                    gst_tax = 0.18;
                  }
                  else{
                    gst_tax = 0.9;
                  }

                  var gst_paid =  parseFloat(oper_ticket_price) * parseFloat(gst_tax);



                  $('#gst_paid').val(gst_paid);




                }
            });


        });

$("#hotel_name").change(function(){
var opr_gst = $('option:selected', this).attr('gst');
//alert(opr_gst);

var cgst = 0.0;
var sgst = 0.0;
var igst = 0.0;


 val1 = opr_gst ;
    val2 = $('option:selected',"#oper_cotrav_billing_entity").attr("gst");

    console.log(val1);
    console.log(val2);

    //alert(val1);
    //alert(val2);

    match = val1.localeCompare(val2);

    var v1 = val1.substring(0, 2);

    var v2 = val2.substring(0, 2);
    var oper_ticket_price = parseFloat($('#oper_ticket_price').val());
        var amount = parseFloat(oper_ticket_price) * 0.18;
    if(v1 == v2)
    {
        cgst = 9;
        sgst = 9;

        $('#cgst_amount').val(amount/2);
        $('#sgst_amount').val(amount/2);

    }else{
        igst = 18;
        $('#igst_amount').val(amount);
    }

     $('#oper_cgst').val(cgst);
     $('#oper_sgst').val(sgst);
     $('#oper_igst').val(igst);

});
</script>




 {% endblock %}