{% extends 'Agent/layout/header.html' %}

{% block content %}

{% if user %}
<!-- start page content -->
{% include 'cotrav_alert_message.html' %}

<div class="page-content-wrapper">
    <div class="page-content">

        <div class="text-center">
     <div style="font-size:14px; font-weight:bold;">
         Assign Train Booking
         </div>
   </div>

{% for booking in bookings %}

    <form method="post" action="/agents/assign-train-booking/{{booking.id}}" enctype="multipart/form-data">

    <input type="hidden" name="booking_id" value="{{booking.id}}">
    <input type="hidden" name="user_id" value="{{user.id}}">
    <input type="hidden" name="current_url" value="{{ request.get_full_path }}">
    <input type="hidden" name="checkin" id="checkin" value="{{ booking.checkin_datetime }}">
    <input type="hidden" name="checkout" id="checkout" value="{{ booking.checkout_datetime }}">
    <input type="hidden" name="tax_on_management_fee" id="tax_on_management_fee" value="0">
    <input type="hidden" name="tax_on_management_fee_percentage" id="tax_on_management_fee_percentage" value="0">
    <input type="hidden" name="management_fee_igst" id="management_fee_igst" value="0">
    <input type="hidden" name="management_fee_cgst" id="management_fee_cgst" value="0">
    <input type="hidden" name="management_fee_sgst" id="management_fee_sgst" value="0">
    <input type="hidden" name="management_fee_igst_rate" id="management_fee_igst_rate" value="0">
    <input type="hidden" name="management_fee_cgst_rate" id="management_fee_cgst_rate" value="0">
    <input type="hidden" name="management_fee_sgst_rate" id="management_fee_sgst_rate" value="0">


						<div class="col-sm-12">
							<div class="card card-box" >
								<div class="card-head">
									<header>Booking Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">


                        <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" value="{{ booking.reference_no }}" readonly>
					                     <label class = "mdl-textfield__label">Reference No</label>
					                  </div>
						            </div>


                        <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="group_name" placeholder="City Name"
                                     readonly  type="text" value="{{ booking.city_name }}">
					                     <label class = "mdl-textfield__label">City Name</label>
					                  </div>
						            </div>


                        <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="pickup_location" placeholder="Pickup Location"
                                     readonly  type="text" value="{{ booking.pickup_location }}">
					                     <label class = "mdl-textfield__label">Pickup Location</label>
					                  </div>
						            </div>


                        <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="drop_location" placeholder="Drop Location"
                                     readonly  type="text" value="{{ booking.drop_location }}">
					                     <label class = "mdl-textfield__label">Drop Location</label>
					                  </div>
						            </div>


                        <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="pickup_datetime" placeholder="Pickup Datetime"
                                     readonly  type="text" value="{{ booking.pickup_to_datetime }}">
					                     <label class = "mdl-textfield__label">Pickup Date</label>
					                  </div>
						            </div>


                        <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="booking_date" placeholder="Booking Date"
                                     readonly  type="text" value="{{ booking.booking_datetime }}">
					                     <label class = "mdl-textfield__label">Booking Date</label>
					                  </div>
						            </div>


                        <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" id="no_of_seats" name="no_of_seats" placeholder="No Of Seats"
                                     readonly  type="text" value="{{ booking.no_of_seats }}" >
					                     <label class = "mdl-textfield__label">No Of Seats</label>
					                  </div>
						            </div>


                        <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="reason_booking" placeholder="Booking Reason"
                                     readonly  type="text" value="{{ booking.reason_booking }}" >
					                     <label class = "mdl-textfield__label">Booking Reason</label>
					                  </div>
						            </div>


                    </div>
                </div>
            </div>




            <div class="col-sm-12">
							<div class="card card-box" >
								<div class="card-head">

                                    <header>Assign Details: </header>

                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div> <!-- card-head class end -->

                     <div class="card-body row">

                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type="text" name="train_name"  >
					                     <label class = "mdl-textfield__label">Train Name</label>
					                  </div>
						            </div>

                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type="text" name="ticket_no"  >
					                     <label class = "mdl-textfield__label">Train Number</label>
					                  </div>
						            </div>


                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type="text" name="pnr_no"  >
					                     <label class = "mdl-textfield__label">PNR Number</label>
					                  </div>
						            </div>

						  <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
					                <select name="portal_used" class="mdl-textfield__input js-select2" required>
                                           {% for account in accounts %}
                                         <option value="{{account.id}}">{{account.username}}</option>
                                        {% endfor %}
                                    </select>

                                      <label class = "mdl-textfield__label">Account Used*</label>

					                  </div>
						 </div>

						 <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
					                <select name="quota_used" class="mdl-textfield__input js-select2" required>
                                         <option value="General">General</option>
                                         <option value="Tatkal">Tatkal</option>
                                         <option value="Premium Tatkal">Premium Tatkal</option>
                                         <option value="Ladies">Ladies</option>
                                         <option value="Handicap">Handicap</option>
                                    </select>

                                      <label class = "mdl-textfield__label">Quota</label>

					                  </div>
						 </div>

                         <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty">
					                <select name="assign_bus_type_id" class="mdl-textfield__input js-select2" required>
                                           {% for type in types %}
                                         <option value="{{type.id}}">{{type.name}}</option>
                                        {% endfor %}
                                    </select>

                                      <label class = "mdl-textfield__label">Train Type*</label>

					                  </div>
						 </div>


<!--                         <div class="col-lg-2 p-t-20" >-->
<!--						              <div class = "mdl-textfield mdl-textfield&#45;&#45;floating-label txt-full-width is-dirty" >-->
<!--					                     <input class = "mdl-textfield__input" type="text" name="operator_name"  >-->
<!--					                     <label class = "mdl-textfield__label">Operator Name</label>-->
<!--					                  </div>-->
<!--						            </div>-->


<!--                         <div class="col-lg-2 p-t-20" >-->
<!--						              <div class = "mdl-textfield mdl-textfield&#45;&#45;floating-label txt-full-width is-dirty" >-->
<!--					                     <input class = "mdl-textfield__input" type="text" name="operator_contact"  >-->
<!--					                     <label class = "mdl-textfield__label">Operator Contact</label>-->
<!--					                  </div>-->
<!--						            </div>-->


                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type="text" name="seat_no"  >
					                     <label class = "mdl-textfield__label">Seat Number</label>
					                  </div>
						            </div>





                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="boarding_point" type="text" value="{{ booking.boarding_point|default:'' }}" >
					                     <label class = "mdl-textfield__label">Boarding Point</label>
					                  </div>
						            </div>



                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input datetimepicker1" autocomplete="off" name="boarding_datetime" type="text" value="{{ booking.boarding_datetime|default:'' }}" >
					                     <label class = "mdl-textfield__label">Boarding Time</label>
					                  </div>
						            </div>


                         <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                <select name="is_client_sms" class="mdl-textfield__input js-select2" required>
                                           <option value="1">Yes</option>
                                            <option value="0">No</option>
                                    </select>

                                      <label class = "mdl-textfield__label">Send Client SMS</label>

					                  </div>
						            </div>



                         <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                <select name="is_client_email" class="mdl-textfield__input js-select2" required>
                                           <option value="1">Yes</option>
                                            <option value="0">No</option>
                                    </select>

                                      <label class = "mdl-textfield__label">Send Client Email</label>

					                  </div>
						            </div>






                    </div>
                </div>


            </div>


             <div class="col-sm-12">
							<div class="card card-box" >
								<div class="card-head">
									<header>Billing Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div> <!-- card-head class end -->

                                <div class="card-body row">

                           <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input fixed" type="number" decimals="2" name="ticket_price" id="ticket_price" required>
					                     <label class = "mdl-textfield__label">Ticket Price:</label>
					                  </div>
						            </div>

                           <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="management_fee" id="mng_fee" readonly>
					                     <label class = "mdl-textfield__label">Management_fee:</label>
					                  </div>
						            </div>


                          <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="tax_mng_amt" id="tax_mng_amt" readonly>
					                     <label class = "mdl-textfield__label">Tax amount management fee:</label>
					                  </div>
						            </div>



                          <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="sub_total" id="total_billing_amt" readonly>
					                     <label class = "mdl-textfield__label">Total billing amount</label>
					                  </div>
						            </div>



                      {% for c_enttity in c_entitys %}

                          <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                <select id="cotrav_billing_entity" name="cotrav_billing_entity" class="mdl-textfield__input js-select2" required>
                                           <option value="{{c_enttity.id}}" gst="{{c_enttity.gst_id}}">{{c_enttity.entity_name}} </option>
                                    </select>

                                      <label class = "mdl-textfield__label">Select Cotrav Billing Entity</label>

					                  </div>
						 </div>


                       {% endfor %}


                        <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="bb_entity" gst="{{be_gst}}" id="booking_billing_entity" value="{{be_name}}">
					                     <label class = "mdl-textfield__label">Booking Billing Entity</label>
					                  </div>
						            </div>


                        <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="cgst" id="cgst" readonly >
					                     <label class = "mdl-textfield__label">CGST (perscentage)</label>
					                  </div>
						            </div>



                         <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="sgst" id="sgst"  readonly >
					                     <label class = "mdl-textfield__label">SGST (perscentage)</label>
					                  </div>
						            </div>


                         <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="igst" id="igst"  readonly >
					                     <label class = "mdl-textfield__label">IGST (perscentage)</label>
					                  </div>
						            </div>


                         <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input client_ticket" type="file" name="busticketToUpload" id="bus-ticket" >
					                     <label class = "mdl-textfield__label">Browse Train Ticket</label>
					                  </div>
						            </div>



                       </div>
                  </div>
              </div>




           <div class="col-sm-12">
							<div class="card card-box">
								<div class="card-head">
									<header>Passenger Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">

                     {% for passenger in booking.Passangers %}

						 <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input"  name="passg_name" value="{{passenger.employee_name}}"   >
					                     <label class = "mdl-textfield__label">Name:</label>
					                  </div>
						            </div>

						 <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input"  value="{{passenger.employee_email}}"   >
					                     <label class = "mdl-textfield__label">Email:</label>
					                  </div>
						            </div>

						 <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input"  value="{{passenger.employee_contact}}"   >
					                     <label class = "mdl-textfield__label">Contact:</label>
					                  </div>
						            </div>

						 <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input"  value="{{passenger.age}}"   >
					                     <label class = "mdl-textfield__label">Age:</label>
					                  </div>
						            </div>

						 <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input"  value="{{passenger.gender}}"   >
					                     <label class = "mdl-textfield__label">Gender:</label>
					                  </div>
						            </div>


						 <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input"  name="coach_{{passenger.id}}" placeholder="Coach" value="" >
					                     <input class = "mdl-textfield__input"  name="seat_no_{{passenger.id}}" placeholder="SeatNo" value="" >
					                  	<label class = "mdl-textfield__label">Coach/SeatNo:</label>
									  </div>
						            </div>






                    {% endfor %}



                </div>
            </div>
		   </div>


             <div class="col-sm-12">
							<div class="card card-box" >
								<div class="card-head">

                                    <header>Boarding Details: </header>

                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div> <!-- card-head class end -->

                     <div class="card-body row">

						 <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input"  name="boarding_point1" value="{{ booking.boarding_point }}"   >
					                     <label class = "mdl-textfield__label">Boarding Point:</label>
					                  </div>
						            </div>

						 <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input datetimepicker1" autocomplete="off" name="boarding_datetime1" value="{{ booking.boarding_datetime }}"   >
					                     <label class = "mdl-textfield__label">Boarding Time:</label>
					                  </div>
						            </div>



                    </div>
                </div>
            </div>



            <div class="col-sm-12">
							<div class="card card-box"  >
								<div class="card-head">

                                    <header>Spoc Details: </header>

                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div> <!-- card-head class end -->

                     <div class="card-body row">

						 <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input"  name="group_name" value="{{ booking.user_name }}" readonly  >
					                     <label class = "mdl-textfield__label">Spoc Name:</label>
					                  </div>
						            </div>

						 <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input"  name="user_email" value="{{ booking.email }}" readonly  >
					                     <label class = "mdl-textfield__label">Spoc Email:</label>
					                  </div>
						            </div>

						 <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="user_contact" value="{{ booking.user_contact }}" readonly  >
					                     <label class = "mdl-textfield__label">Spoc Contact:</label>
					                  </div>
						            </div>



                    </div>
                </div>
            </div>


<div class="col-sm-12">
							<div class="card card-box"  >
								<div class="card-head">

                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div> <!-- card-head class end -->

                     <div class="card-body row">



                      <div class="col-lg-12"  align="center">
							              	<button class="btn btn-info mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
											  Submit
											</button>

                              <button class="btn btn-danger mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"  >
											  Cancel
											</button>
							            </div>


                     </div>



                 </div>




        </div><!-- row end -->
	</form>
       </div>

    </div>







 {% endfor %}

    </div>
</div>
<!-- end page content -->


{% else %}
<p>Welcome, new user. Please log in.<a href="/login">Login</a></p>
{% endif %}

<script type="text/javascript">

$('#taxi_details').change(function(){
     var taxi_detail = $('#taxi_details option:selected').data('details');
    temp = taxi_detail.split(',');

    if(temp[0] != '' ){
        $("#taxi_reg_no").val(temp[0]);
        $("#garage_location").val(temp[1]);
        $("#garage_distance").val(temp[2]);
     }
     else{
        $("#taxi_reg_no").val('');
        $("#garage_location").val('');
        $("#garage_distance").val('');
     }
});
 </script>

<script type="text/javascript">
function valueChanged()
{

    if($('.client_ticket').is(":checked"))
        $("#client-tkt").hide();
    else
        $("#client-tkt").show();


}
</script>


<script>

        $( document ).ready(function() {

            var corporate_id =  1;

            var service_type = 1;

            var_url = '{{ API_BASE_URL }}'+'get_corporate_management_fee'

    $.ajaxSetup({
            headers:{
                    'Authorization': "Token {{request.session.agent_access_token}}",
                    'usertype': {{request.session.login_type}}
                }
        });

        $.post(var_url,{ corporate_id: corporate_id , service_type: service_type },
      function(data)
      {

      management_fee = data["Fees"][0].service_fees_type_value
      no_of_passanger = $('#no_of_seats').val();
      $('#mng_fee').val(management_fee*no_of_passanger);
      $('#oper_mng_fee').val(management_fee);
       });



            $('#ticket_price').keyup(function(event){
                if(event.which != 8 && isNaN(String.fromCharCode(event.which))){
                        event.preventDefault(); //stop character from entering input
                }else{

                    var ticket_price = this.value;
                    var management_fee = $('#mng_fee').val();
                    var tax_perscent_on_management_fee = 18;
                    var tax_perscentage = 0.18
                    var tax_amount_on_management_fee = 0;
                    var total_billing_amount = 0;
                    var cgst = 0.0;
                    var sgst = 0.0;
                    var igst = 0.0;

                    if ($('#mng_fee').val() == "")
                    {
                        management_fee = 100
                        $('#mng_fee').val(management_fee);
                    }

                    tax_amount_on_management_fee =  management_fee * tax_perscentage;

                    management_fee_with_tax =  parseFloat(management_fee) + parseInt(tax_amount_on_management_fee);

                    total_billing_amount = parseFloat(ticket_price) + parseFloat(management_fee_with_tax)

                    $('#tax_mng_amt').val(tax_amount_on_management_fee);

                    $('#total_billing_amt').val(total_billing_amount);

                    val1 = $("#booking_billing_entity").attr("gst");
                    val2 = $('option:selected',"#cotrav_billing_entity").val();

                    console.log(val1);
                    console.log(val2);

                    //alert(val1);
                    //alert(val2);

                    match = val1.localeCompare(val2);

                    var v1 = val1.substring(0, 2);

                    var v2 = val2.substring(0, 2);


                    if(v1 == v2)
                    {
                       // alert("value matched");
                        cgst = 9;
                        sgst = 9;

                        $('#management_fee_cgst').val(cgst);
                        $('#management_fee_sgst').val(sgst);
                        var cgst_rate = tax_amount_on_management_fee/2;
                        $('#management_fee_cgst_rate').val(cgst_rate);
                        $('#management_fee_sgst_rate').val(cgst_rate);


                    }else{

                        igst = 18;

                        $('#management_fee_igst').val(igst);
                        $('#management_fee_igst_rate').val(tax_amount_on_management_fee);

                    }

                     $('#cgst').val(cgst);

                    $('#sgst').val(sgst);

                    $('#igst').val(igst);

                    $('#tax_on_management_fee').val(tax_amount_on_management_fee);

                    $('#tax_on_management_fee_percentage').val(tax_perscent_on_management_fee);



                }
            });


             $('#oper_ticket_price').keyup(function(event){
                if(event.which != 8 && isNaN(String.fromCharCode(event.which))){
                        event.preventDefault(); //stop character from entering input
                }else{

                  var oper_ticket_price = $('#oper_ticket_price').val();

                 var operator_gst_id = $('#operator_gst_id').val();

                  var operator_commission = $('#operator_commission').val();

                  var cgst_val = $('#oper_cgst').val();

                  var sgst_val = $('#oper_sgst').val();

                  var igst_val = $('#oper_igst').val();

                  var gst_tax = 0.0;

                  if(cgst_val == 0.0)
                  {
                    gst_tax = 0.18;
                  }
                  else{
                    gst_tax = 0.9;
                  }

                  var gst_paid =  parseFloat(oper_ticket_price) * parseFloat(gst_tax);

                  $('#gst_paid').val(gst_paid);




                }
            });


        });

</script>


 {% endblock %}