{% extends 'Agent/layout/header.html' %}

{% block content %}

{% if user %}
<style>

.
.autocomplete-active:hover{
background:white;
}
#myInputautocomplete-list{
z-index:100;
display:block;
cursor: pointer;
list-style:
}
    .autocomplete-items{
     border: solid 3px lightgray;
    overflow: auto;
    padding:8px;
    line-height:30px;
     border-collapse: collapse;
  border-spacing: 0;
 z-index:99
 display:block;
 border-radius:6px;
 background-color:#dee2e6;
 font-size:13px;
  color: #041261;
 }
 .autocomplete-items div:hover,
.autocomplete-active {
  color: #041261;
  background-color:#9ba9f7;


}



</style>

<!-- start page content -->
{% include 'cotrav_alert_message.html' %}
<div class="page-content-wrapper">
    <div class="page-content">

        <div class="text-center">
     <div style="font-size:14px; font-weight:bold;">
         Assign Taxi Booking
         </div>
   </div>

{% for booking in bookings %}

						<div class="col-sm-12">
							<div class="card card-box" >
								<div class="card-head">
									<header>Basic Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">

                        <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" value="{{ booking.reference_no }}" readonly>
					                     <label class = "mdl-textfield__label">Booking Reference No</label>
					                  </div>
						            </div>

                        <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     {% if booking.tour_type == 1 %}
                                     <input readonly class="mdl-textfield__input"name="tour_type" type="text" value="Radio">
                                    {% elif booking.tour_type == 2 %}
                                     <input readonly class="mdl-textfield__input" name="tour_type" type="text" value="Local">
                                    {% else %}
                                    <input readonly class="mdl-textfield__input" name="tour_type" type="text" value="Outstation">
                                    {% endif %}
					                     <label class = "mdl-textfield__label">Tour Type</label>
					                  </div>
						            </div>

                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="city_name" value="{{ booking.city_name }}" readonly>
					                     <label class = "mdl-textfield__label">City Name</label>
					                  </div>
						            </div>


                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text"  name="pickup_location" value="{{ booking.pickup_location }}" readonly>
					                     <label class = "mdl-textfield__label">Pickup Location</label>
					                  </div>
						            </div>


                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" value="{{ booking.drop_location }}" name="drop_location"  readonly>
					                     <label class = "mdl-textfield__label">Drop Location</label>
					                  </div>
						            </div>


                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" value="{{ booking.pickup_datetime }}" name="pickup_datetime"  readonly>
					                     <label class = "mdl-textfield__label">Pickup Date</label>
					                  </div>
						            </div>

                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" value="{{ booking.booking_date }}" name="booking_date"  readonly>
					                     <label class = "mdl-textfield__label">Booking Date</label>
					                  </div>
						            </div>


                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" value="{{ booking.no_of_seats }}" name="no_of_seats"  readonly>
					                     <label class = "mdl-textfield__label">No Of Seats</label>
					                  </div>
						            </div>

                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" value="{{ booking.reason_booking }}" name="reason_booking"  readonly>
					                     <label class = "mdl-textfield__label">Booking Reason</label>
					                  </div>
						            </div>


                    </div>
                </div>
            </div>




          <form method="post" action="/agents/assign-taxi-booking/{{booking.id}}">
                          <input type="hidden" class="col-sm-8 form-control" name="user_id"  value="{{user.id }}">
                          <input type="hidden" class="col-sm-8 form-control" name="booking_id"  value="{{booking.id}}">
                          <input type="hidden" name="current_url" value="{{ request.get_full_path }}">
                         <input type="hidden" name="tour_typ_save" value="{{booking.tour_type}}">




						<div class="col-sm-12">
							<div class="card card-box" >
								<div class="card-head">
									<header>Assign Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">

                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type = "text" name="vendor_booking_id"  readonly>
					                     <label class = "mdl-textfield__label">Reference No/Account Used</label>
					                  </div>
						            </div>


                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" id="operators" type="text" name="operator_id" value="{{booking.operator_name|default:''}}" autocomplete="off" placeholder="Operator Name">
					                     <label class = "mdl-textfield__label">Operator Name</label>
					                  </div>
						            </div>

                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" id="driver_id" type="text" name="driver_id" something="9999999999" value="" autocomplete="off" placeholder="Driver Name">
					                     <label class = "mdl-textfield__label">Driver Name</label>
					                  </div>
						            </div>

                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="driver_contact" id="driver_contact" placeholder="Driver Contact">
					                     <label class = "mdl-textfield__label">Driver Contact</label>
					                  </div>
						            </div>

                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type="text" name="taxi_id" value=""  placeholder="Taxi Reg No">
					                     <label class = "mdl-textfield__label">Taxi Reg No</label>
					                  </div>
						            </div>

                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type="text" name="taxi_model" value=""  placeholder="Taxi Model">
					                     <label class = "mdl-textfield__label">Taxi Model</label>
					                  </div>
						            </div>


                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" type="text" name="taxi_types" value="" placeholder="Taxi Type">
					                     <label class = "mdl-textfield__label">Taxi Type</label>
					                  </div>
						            </div>

                         <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                <select class="mdl-textfield__input js-select2"  name="is_client_sms">
                                           <option value="1">Yes</option>
                                    <option value="0">No</option>
                                    </select>

                                      <label class = "mdl-textfield__label">Send Client SMS </label>

					                  </div>
						            </div>

                        <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                <select class="mdl-textfield__input js-select2"  name="is_client_email">
                                           <option value="1">Yes</option>
                                    <option value="0">No</option>
                                    </select>

                                      <label class = "mdl-textfield__label">Send Client Email </label>

					                  </div>
						            </div>


                         <div class="col-lg-2 p-t-20">
						              <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					                <select class="mdl-textfield__input js-select2" name="is_driver_sms">
                                           <option value="1">Yes</option>
                                    <option value="0">No</option>
                                    </select>

                                      <label class = "mdl-textfield__label">Send Driver SMS </label>

					                  </div>
						            </div>

                    </div>
                </div>
                        </div>

						<div class="col-sm-12">
							<div class="card card-box">
								<div class="card-head">
									<header>Passenger Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">

                         {% for passanger in booking.Passangers %}


                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="passanger_name" placeholder="Name" readonly
                                       type="text" value="{{ passanger.employee_name|default:'' }}">
					                     <label class = "mdl-textfield__label">Passanger Name {{ forloop.counter }}</label>
					                  </div>
						            </div>

                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="contact_email" placeholder="Contact Email" readonly
                                       type="text" value="{{ passanger.employee_email|default:''}}">
					                     <label class = "mdl-textfield__label">Passanger Contact Email {{ forloop.counter }}</label>
					                  </div>
						            </div>

                        <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="contact_number" placeholder="Contact Number" readonly
                                       type="text" value="{{ passanger.employee_contact|default:''}}">
					                     <label class = "mdl-textfield__label">Passanger Contact Number {{ forloop.counter }}</label>
					                  </div>
						            </div>

                        <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="age" placeholder="Age" readonly
                                       type="text" value="{{ passanger.age|default:''}}">
					                     <label class = "mdl-textfield__label">Passanger Age {{ forloop.counter }}</label>
					                  </div>
						            </div>


                       <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="gender" placeholder="Gender" readonly
                                       type="text" value="{{ passanger.gender|default:''}}">
					                     <label class = "mdl-textfield__label">Passanger Gender {{ forloop.counter }}</label>
					                  </div>
						            </div>


                        {% endfor %}

                    </div>
                </div>

            </div>



						<div class="col-sm-12">
							<div class="card card-box" >
								<div class="card-head">
									<header>Spoc Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">


                         <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="spoc_name" readonly  type="text" value="{{ booking.user_name }}">
					                     <label class = "mdl-textfield__label">Spoc Name</label>
					                  </div>
						            </div>

                        <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="user_email" readonly  type="text" value="{{ booking.user_email }}">
					                     <label class = "mdl-textfield__label">Spoc Email</label>
					                  </div>
						            </div>


                       <div class="col-lg-2 p-t-20" >
						              <div class = "mdl-textfield mdl-textfield--floating-label txt-full-width is-dirty" >
					                     <input class = "mdl-textfield__input" name="user_contact" readonly  type="text" value="{{ booking.user_contact }}">
					                     <label class = "mdl-textfield__label">Spoc Contact</label>
					                  </div>
						            </div>

                    </div>
                </div>
            </div>


<div class="col-sm-12">
							<div class="card card-box" >
								<div class="card-head">

                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div> <!-- card-head class end -->

                     <div class="card-body row">



                      <div class="col-lg-12"  align="center">
							              	<button class="btn btn-info mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
											  Submit
											</button>

                              <button class="btn btn-danger mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"  >
											  Cancel
											</button>
							            </div>


                     </div>



                 </div>




        </div><!-- row end -->
</form>
       </div>

    </div>
            </div>

 {% endfor %}


<!-- end page content -->


{% else %}
<p>Welcome, new user. Please log in.<a href="/login">Login</a></p>
{% endif %}

<script type="text/javascript">

$('#taxi_details').change(function(){
     var taxi_detail = $('#taxi_details option:selected').data('details');
    temp = taxi_detail.split(',');

    if(temp[0] != '' ){
        $("#taxi_reg_no").val(temp[0]);
        $("#garage_location").val(temp[1]);
        $("#garage_distance").val(temp[2]);
     }
     else{
        $("#taxi_reg_no").val('');
        $("#garage_location").val('');
        $("#garage_distance").val('');
     }
});
 </script>


<script>
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value ;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/

      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/

        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {

             var arr2 = arr[i].split("|");

          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr2[0].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
                val2 = this.getElementsByTagName("input")[0].value;

                 var arr = val2.split("|");

              inp.value = arr[0];

              if (inp.id == "driver_id")
                {
                    $('#driver_contact').val(arr[1]);
                    $('#taxi_id').val(arr[2]);
                    $('#taxi_model').val(arr[3]);
                    $('#taxi_types').val(arr[4]);
                }

              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

/*An array containing all the country names in the world:*/
var operators = [
{% for operator in operators %}
"{{operator.operator_name}}",
{% endfor %}
]

var drivers = [
{% for drivers in operator_drivers %}
"{{drivers.driver_name}}|{{drivers.driver_contact}}|{{drivers.taxi_reg_no}}|{{drivers.brand_name}} {{drivers.model_name}}|{{drivers.name}}",
{% endfor %}
]

var models = [
{% for model in models %}
"{{model.model_name}}",
{% endfor %}
]

var taxi_types = [
{% for taxi_type in taxi_types %}
"{{taxi_type.name}}",
{% endfor %}
]

var taxis = [
{% for taxi in taxis %}
"{{taxi.taxi_reg_no}}",
{% endfor %}
]

autocomplete(document.getElementById("operators"), operators);
autocomplete(document.getElementById("driver_id"), drivers);
autocomplete(document.getElementById("taxi_id"), taxis);
autocomplete(document.getElementById("taxi_model"), models);
autocomplete(document.getElementById("taxi_types"), taxi_types);
</script>


 {% endblock %}