{% extends 'Agent/layout/header.html' %}

{% block content %}

{% load static %}

{% if user %}
<!-- start page content -->
{% include 'cotrav_alert_message.html' %}

{% for booking in bookings %}
<div class="page-content-wrapper">
    <div class="page-content">


<form method="post" action="/agents/assign-flight-booking/{{booking.id}}" enctype="multipart/form-data">

<div class="text-center">
        <input type="submit" id="submit-data" class="btn btn-info" value="Assign Booking">
    </div>

	 <input type="hidden" name="booking_id" value="{{booking.id}}">
			<input type="hidden" id="corporate_id" value="{{booking.corporate_id}}">
            <input type="hidden" name="user_id" value="{{user.id}}">
            <input type="hidden" name="no_of_passanger" value="{{booking.no_of_seats}}">
            <input type="hidden" id="no_of_seats" name="no_of_seats" value="{{booking.no_of_seats}}">
            <input type="hidden" name="current_url" value="{{ request.get_full_path }}">

            <input type="hidden" name="tax_on_management_fee" id="tax_on_management_fee" value="0">
            <input type="hidden" name="tax_on_management_fee_percentage" id="tax_on_management_fee_percentage" value="0">
            <input type="hidden" name="management_fee_igst" id="management_fee_igst" value="0">
            <input type="hidden" name="management_fee_cgst" id="management_fee_cgst" value="0">
            <input type="hidden" name="management_fee_sgst" id="management_fee_sgst" value="0">
            <input type="hidden" name="management_fee_igst_rate" id="management_fee_igst_rate" value="0">
            <input type="hidden" name="management_fee_cgst_rate" id="management_fee_cgst_rate" value="0">
            <input type="hidden" name="management_fee_sgst_rate" id="management_fee_sgst_rate" value="0">
            <input type="hidden" name="igst_amount" id="igst_amount" value="0">
            <input type="hidden" name="cgst_amount" id="cgst_amount" value="0">
            <input type="hidden" name="sgst_amount" id="sgst_amount" value="0">

			<input type="hidden" name="is_return_flight" value="0">
			<input type="hidden" name="is_return_flight" value="0">
			<input type="hidden" name="is_return_flight" value="0">




	<div class="row">

	<div class="col-md-3">

		<div class="row">

			<div class="col-md-12">

				<div class="card card-box" >
								<div class="card-head">
									<header>Basic Details:  </header>

								</div>
								<div class="card-body row">

									<div class="card-body no-padding height-9">

									<div class="form-group row">
							 			<table class="table table-striped table-bordered bootstrap-datatable datatable responsive">

											<tr>
												<td><label class = "control-label">Booking Booking Id</label></td>
												<td><input class = "form-control" type = "text" value="{{booking.reference_no}}" readonly></td>
											</tr>

											<tr>
												<td><label class = "control-label">From City</label></td>
												<td><input class = "form-control" type = "text" value="{{booking.from_location}}" readonly></td>
											</tr>

											<tr>
												<td><label class = "control-label">To City</label></td>
												<td><input class = "form-control" type = "text" value="{{booking.to_location}}" readonly></td>
											</tr>

											<tr>
												<td><label class = "control-label">Booking Date</label></td>
												<td><input class = "form-control datetimepicker1" type = "text" value="{{booking.booking_datetime}}" readonly></td>
											</tr>

											<tr>
												<td><label class = "control-label">Departure DateTime</label></td>
												<td><input class = "form-control date" type = "text" value="{{booking.departure_datetime}}" readonly></td>
											</tr>

											<tr>
												<td><label class = "control-label">Seat Type</label></td>
												<td><input class = "form-control" type = "text" value="{{booking.usage_type}}" readonly></td>
											</tr>

											<tr>
												<td><label class = "control-label">Preferred Flight</label></td>
												<td><input class = "form-control" type = "text" value="{{booking.preferred_flight}}" readonly></td>
											</tr>

											<tr>
												<td><label class = "control-label">Cotrav Status</label></td>
												<td><input class = "form-control" type = "text" value="{{booking.cotrav_status}}" readonly></td>
											</tr>

											<tr>
												<td><label class = "control-label">Client Status</label></td>
												<td><input class = "form-control" type = "text" value="{{booking.client_status}}" readonly></td>
											</tr>

											<tr>
												<td><label class = "control-label">Reason for Booking</label></td>
												<td><input class = "form-control" type = "text" value="{{booking.reason_booking}}" readonly></td>
											</tr>




										</table>

									</div>


								</div>

					</div>

				</div>


			</div>

		</div>

	</div>

	<div class="col-md-3">

	<div class="row">

			<div class="col-md-12">

				<div class="card card-box" >
								<div class="card-head">
									<header>Onward Flight Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">

									<div class="card-body no-padding height-9">

									<div class="form-group row">
							 			<table class="table table-striped table-bordered bootstrap-datatable datatable responsive">

											<tr>
												<td><label class = "control-label">Flight Type </label></td>
												<td colspan="2"><select name="flight_type" id="flight_type" class="form-control myselect" required>
                                        <option value="Domestic">Domestic</option>
                                        <option value="International">International</option>
                                    </select></td>
											</tr>

											<tr>
												<td><label class = "control-label">Seat Type </label></td>
												<td colspan="2"><select name="seat_type" id="seat_type" class="form-control myselect" required>
                                            <option value="Economy" >Economy</option>
                                           <option value="Corporate Economy" >Corporate Economy</option>
                                           <option value="Premium Economy" >Premium Economy</option>
                                           <option value="Business" >Business</option>
                                    </select></td>
											</tr>

											<tr>
												<td><label class = "control-label">Trip Type </label></td>
												<td colspan="2"><select name="trip_type" id="trip_type" class="form-control myselect" required>
                                           <option value="One Way" >One Way</option>
                                           <option value="Round Trip" >Round Trip</option>
                                    </select></td>
											</tr>

											<tr>
												<td><label class = "control-label">Fare Type </label></td>
												<td colspan="2"><select name="fare_type" id="fare_type" class="form-control myselect" required>
                                           <option value="Refundable" >Refundable</option>
                                           <option value="Non Refundable" >Non Refundable</option>
                                           <option value="Partially Refundable">Partial Refundable</option>
                                    </select></td>
											</tr>

											<tr>
												<td><label class = "control-label">Is Meal Included </label></td>
												<td colspan="2"><select name="meal_is_include" id="meal_is_include" class="form-control myselect" required>
                                           <option value="1" >Yes</option>
                                           <option value="0">No</option>
                                    </select></td>
											</tr>

											<tr>
												<td><label class = "control-label">No. Of Stops</label></td>
												<td colspan="2"><select name="no_of_stops" id="no_of_stop" class="form-control myselect" required>
                                           <option value="0">no stop</option>
                                            <option value="1">1 stop</option>
                                            <option value="2" >2 stop</option>
                                           <option value="3">3 stop</option>
                                    </select></td>
											</tr>


											{% for employee in booking.Passangers %}

											 <input type="hidden" name="employee_booking_id" value="{{employee.id}}">

											<tr>
												<td><label class = "control-label">Ticket Number :</label></td>
												<td colspan="2"><input required class = "form-control" type = "text" name="ticket_number" placeholder="ticket number" value="" ></td>
											</tr>

											{% endfor %}

											<tr>
												<td><label class = "control-label">From</label></td>
												<td colspan="2">
<!--													<input class = "form-control" type = "text" name="from" placeholder="Flight From" value="" >-->
													 <select class="form-control col-sm-8 myselect" name="from" style="width:100%;">
															<option value="">Select From City</option>-->
															{% for airport in airports %}
															<option value="{{airport.city_name}} ({{airport.code}})">{{airport.city_name}}, {{airport.country_name}} ({{airport.code}})</option>
															{% endfor %}
												   </select>

												</td>
											</tr>

											<tr>
												<td><label class = "control-label">To</label></td>
												<td colspan="2">
<!--													<input class = "form-control" type = "text" name="to" placeholder="Flight To" value="" >-->

													<select class="form-control col-sm-8 myselect" name="to" style="width:100%;">
															<option value="">Select To City</option>-->
															{% for airport in airports %}
															<option value="{{airport.city_name}} ({{airport.code}})">{{airport.city_name}}, {{airport.country_name}} ({{airport.code}})</option>
															{% endfor %}
												   </select>

												</td>
											</tr>

											<tr>
												<td><label class = "control-label">Departure Time</label></td>
												<td colspan="2"><input class = "form-control datetimepicker1" autocomplete="off" type = "text" name="departure_time" value="" ></td>
											</tr>

											<tr>
												<td><label class = "control-label">Arrival Time</label></td>
												<td colspan="2"><input class = "form-control datetimepicker1" autocomplete="off" type = "text" name="arival_time" value="" ></td>
											</tr>

											<tr>
												<td><label class = "control-label">Flight Name</label></td>
												<td colspan="2"><input class = "form-control" type = "text" name="flight_name" value="" ></td>
											</tr>

											<tr>
												<td><label class = "control-label">Flight No</label></td>
												<td colspan="2"><input class = "form-control" type = "text" name="flight_no" value="" ></td>
											</tr>

											<tr>
												<td><label class = "control-label">PNR Number</label></td>
												<td colspan="2"><input class = "form-control" type = "text" name="pnr_number" placeholder="PNR Number" value="" ></td>
											</tr>



											<tr>

												<td class="stop1"><input class="form-control"
                                                           type="text" value="Stop 1" readonly></td>
												<td class="stop2"><input class="form-control"
                                                           type="text" value="Stop 2" readonly></td>
												<td class="stop3"><input class="form-control"
                                                           type="text" value="Stop 3" readonly></td>
											</tr>

											<tr>
												<td class="stop1">
<!--													<input class="form-control" name="from" placeholder="From"-->
<!--                                                           type="text" value="">-->
													<select class="form-control myselect" name="from" >
															<option value="">Select From City</option>-->
															{% for airport in airports %}
															<option value="{{airport.city_name}} ({{airport.code}})">{{airport.city_name}}, {{airport.country_name}} ({{airport.code}})</option>
															{% endfor %}
												   </select>

												</td>
												<td class="stop2">
<!--													<input class="form-control" name="from" placeholder="From"-->
<!--                                                           type="text" value="">-->
													<select class="form-control myselect" name="from" >
															<option value="">Select From City</option>-->
															{% for airport in airports %}
															<option value="{{airport.city_name}} ({{airport.code}})">{{airport.city_name}}, {{airport.country_name}} ({{airport.code}})</option>
															{% endfor %}
												   </select>

												</td>
												<td class="stop3">
<!--													<input class="form-control" name="from" placeholder="From"-->
<!--                                                           type="text" value="">-->
												<select class="form-control myselect" name="from" >
															<option value="">Select From City</option>-->
															{% for airport in airports %}
															<option value="{{airport.city_name}} ({{airport.code}})">{{airport.city_name}}, {{airport.country_name}} ({{airport.code}})</option>
															{% endfor %}
												   </select>
												</td>
											</tr>

											<tr>
												<td class="stop1">
<!--													<input class="form-control" name="from" placeholder="From"-->
<!--                                                           type="text" value="">-->
													<select class="form-control myselect" name="to" >
															<option value="">Select From City</option>-->
															{% for airport in airports %}
															<option value="{{airport.city_name}} ({{airport.code}})">{{airport.city_name}}, {{airport.country_name}} ({{airport.code}})</option>
															{% endfor %}
												   </select>

												</td>
												<td class="stop2">
<!--													<input class="form-control" name="from" placeholder="From"-->
<!--                                                           type="text" value="">-->
													<select class="form-control myselect" name="to" >
															<option value="">Select From City</option>-->
															{% for airport in airports %}
															<option value="{{airport.city_name}} ({{airport.code}})">{{airport.city_name}}, {{airport.country_name}} ({{airport.code}})</option>
															{% endfor %}
												   </select>

												</td>
												<td class="stop3">
<!--													<input class="form-control" name="from" placeholder="From"-->
<!--                                                           type="text" value="">-->
												<select class="form-control myselect" name="to" >
															<option value="">Select From City</option>-->
															{% for airport in airports %}
															<option value="{{airport.city_name}} ({{airport.code}})">{{airport.city_name}}, {{airport.country_name}} ({{airport.code}})</option>
															{% endfor %}
												   </select>
												</td>
											</tr>

											<tr>
												<td class="stop1"><input class="form-control datetimepicker1" autocomplete="off" name="arival_time" placeholder="arival_time"
                                                           type="text" value=""></td>
												<td class="stop2"> <input class="form-control datetimepicker1" autocomplete="off" name="arival_time" placeholder="arival_time"
                                                           type="text" value=""></td>
												<td class="stop3"><input class="form-control datetimepicker1" autocomplete="off" name="arival_time" placeholder="arival_time"
                                                           type="text" value=""></td>
											</tr>

											<tr>
												<td class="stop1"><input class="form-control datetimepicker1" autocomplete="off" name="departure_time" placeholder="Departure Time"
                                                           type="text" value=""></td>
												<td class="stop2"> <input class="form-control datetimepicker1" autocomplete="off" name="departure_time" placeholder="Departure Time"
                                                           type="text" value=""></td>
												<td class="stop3"><input class="form-control datetimepicker1" autocomplete="off" name="departure_time" placeholder="Departure Time"
                                                           type="text" value=""></td>
											</tr>

											<tr>
												<td class="stop1"><input class="form-control" name="flight_name" placeholder="Flight Name"
                                                           type="text" value=""></td>
												<td class="stop2"><input class="form-control" name="flight_name" placeholder="Flight Name"
                                                           type="text" value=""></td>
												<td class="stop3"><input class="form-control" name="flight_name" placeholder="Flight Name"
                                                           type="text" value=""></td>
											</tr>

											<tr>
												<td class="stop1"><input class="form-control" name="flight_no" placeholder="Flight No."
                                                           type="text" value=""></td>
												<td class="stop2"><input class="form-control" name="flight_no" placeholder="Flight No."
                                                           type="text" value=""></td>
												<td class="stop3"><input class="form-control" name="flight_no" placeholder="Flight No."
                                                           type="text" value=""></td>
											</tr>

											<tr>
												<td class="stop1"><input class="form-control" name="pnr_number" placeholder="PNR Number"
                                                           type="text" value=""></td>
												<td class="stop2"><input class="form-control" name="pnr_number" placeholder="PNR Number"
                                                           type="text" value=""></td>
												<td class="stop3"><input class="form-control" name="pnr_number" placeholder="PNR Number"
                                                           type="text" value=""></td>
											</tr>



											<tr>
												<td><label class = "control-label">Send Client SMS</label></td>
												<td colspan="2"><select name="is_client_sms" class="form-control myselect" required>
                                           <option value="1">Yes</option>
                                            <option value="0">No</option>
                                    </select></td>
											</tr>

											<tr>
												<td><label class = "control-label">Send Client Email</label></td>
												<td colspan="2"><select name="is_client_email" class="form-control myselect" required>
                                           <option value="1">Yes</option>
                                            <option value="0">No</option>
                                    </select></td>
											</tr>


										</table>

									</div>


								</div>

					</div>

				</div>



			</div>


		</div>


	</div>

		{% if booking.journey_type == 'Round Trip' %}
<div class="col-md-3">

		<div class="row">

			<div class="col-md-12">

				<div class="card card-box" >
								<div class="card-head">
									<header>Return Flight Details: </header>
                                     <div class="tools">

										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>

                                    </div>
								</div>
								<div class="card-body row">

									<div class="card-body no-padding height-9">

									<div class="form-group row">
							 			<table class="table table-striped table-bordered bootstrap-datatable datatable responsive">


											<tr>
												<td><label class = "control-label">Ticket Number :</label></td>
												<td colspan="2"><input required class = "form-control" type = "text" name="ticket_number" placeholder="ticket number" value="" ></td>
											</tr>



											<tr>
												<td><label class = "control-label">From</label></td>
												<td colspan="2">
<!--													<input class = "form-control" type = "text" name="from" placeholder="Flight From" value="" >-->
													 <select class="form-control col-sm-8 myselect" name="from" style="width:100%;">
															<option value="">Select From City</option>-->
															{% for airport in airports %}
															<option value="{{airport.city_name}} ({{airport.code}})">{{airport.city_name}}, {{airport.country_name}} ({{airport.code}})</option>
															{% endfor %}
												   </select>

												</td>
											</tr>

											<tr>
												<td><label class = "control-label">To</label></td>
												<td colspan="2">
<!--													<input class = "form-control" type = "text" name="to" placeholder="Flight To" value="" >-->

													<select class="form-control col-sm-8 myselect" name="to" style="width:100%;">
															<option value="">Select To City</option>-->
															{% for airport in airports %}
															<option value="{{airport.city_name}} ({{airport.code}})">{{airport.city_name}}, {{airport.country_name}} ({{airport.code}})</option>
															{% endfor %}
												   </select>

												</td>
											</tr>

											<tr>
												<td><label class = "control-label">Departure Time</label></td>
												<td colspan="2"><input class = "form-control datetimepicker1" autocomplete="off" type = "text" name="departure_time" value="" ></td>
											</tr>

											<tr>
												<td><label class = "control-label">Arrival Time</label></td>
												<td colspan="2"><input class = "form-control datetimepicker1" autocomplete="off" type = "text" name="arival_time" value="" ></td>
											</tr>

											<tr>
												<td><label class = "control-label">Flight Name</label></td>
												<td colspan="2"><input class = "form-control" type = "text" name="flight_name" value="" ></td>
											</tr>

											<tr>
												<td><label class = "control-label">Flight No</label></td>
												<td colspan="2"><input class = "form-control" type = "text" name="flight_no" value="" ></td>
											</tr>

											<tr>
												<td><label class = "control-label">PNR Number</label></td>
												<td colspan="2"><input class = "form-control" type = "text" name="pnr_number" placeholder="PNR Number" value="" ></td>
											</tr>


											<tr>
												<td><label class = "control-label">Return Flight : No. Of Stops</label></td>
												<td colspan="2"><select name="no_of_stop_rt" id="no_of_stop_rt" class="form-control myselect" required>
                                           <option value="0">no stop</option>
                                            <option value="1">1 stop</option>
                                            <option value="2" >2 stop</option>
                                           <option value="3">3 stop</option>
                                    </select></td>
											</tr>

											<tr>

												<td class="stop1_r"><input class="form-control"
                                                           type="text" value="Stop 1" readonly></td>
												<td class="stop2_r"><input class="form-control"
                                                           type="text" value="Stop 2" readonly></td>
												<td class="stop3_r"><input class="form-control"
                                                           type="text" value="Stop 3" readonly></td>
											</tr>

											<tr>
												<td class="stop1_r">
<!--													<input class="form-control" name="from" placeholder="From"-->
<!--                                                           type="text" value="">-->
													<select class="form-control myselect" name="from" >
															<option value="">Select From City</option>-->
															{% for airport in airports %}
															<option value="{{airport.city_name}} ({{airport.code}})">{{airport.city_name}}, {{airport.country_name}} ({{airport.code}})</option>
															{% endfor %}
												   </select>

												</td>
												<td class="stop2_r">
<!--													<input class="form-control" name="from" placeholder="From"-->
<!--                                                           type="text" value="">-->
													<select class="form-control myselect" name="from" >
															<option value="">Select From City</option>-->
															{% for airport in airports %}
															<option value="{{airport.city_name}} ({{airport.code}})">{{airport.city_name}}, {{airport.country_name}} ({{airport.code}})</option>
															{% endfor %}
												   </select>

												</td>
												<td class="stop3_r">
<!--													<input class="form-control" name="from" placeholder="From"-->
<!--                                                           type="text" value="">-->
												<select class="form-control myselect" name="from" >
															<option value="">Select From City</option>-->
															{% for airport in airports %}
															<option value="{{airport.city_name}} ({{airport.code}})">{{airport.city_name}}, {{airport.country_name}} ({{airport.code}})</option>
															{% endfor %}
												   </select>
												</td>
											</tr>

											<tr>
												<td class="stop1_r">
<!--													<input class="form-control" name="from" placeholder="From"-->
<!--                                                           type="text" value="">-->
													<select class="form-control myselect" name="to" >
															<option value="">Select From City</option>-->
															{% for airport in airports %}
															<option value="{{airport.city_name}} ({{airport.code}})">{{airport.city_name}}, {{airport.country_name}} ({{airport.code}})</option>
															{% endfor %}
												   </select>

												</td>
												<td class="stop2_r">
<!--													<input class="form-control" name="from" placeholder="From"-->
<!--                                                           type="text" value="">-->
													<select class="form-control myselect" name="to" >
															<option value="">Select From City</option>-->
															{% for airport in airports %}
															<option value="{{airport.city_name}} ({{airport.code}})">{{airport.city_name}}, {{airport.country_name}} ({{airport.code}})</option>
															{% endfor %}
												   </select>

												</td>
												<td class="stop3_r">
<!--													<input class="form-control" name="from" placeholder="From"-->
<!--                                                           type="text" value="">-->
												<select class="form-control myselect" name="to" >
															<option value="">Select From City</option>-->
															{% for airport in airports %}
															<option value="{{airport.city_name}} ({{airport.code}})">{{airport.city_name}}, {{airport.country_name}} ({{airport.code}})</option>
															{% endfor %}
												   </select>
												</td>
											</tr>

											<tr>
												<td class="stop1_r"><input class="form-control datetimepicker1" autocomplete="off" name="arival_time" placeholder="arival_time"
                                                           type="text" value=""></td>
												<td class="stop2_r"> <input class="form-control datetimepicker1" autocomplete="off" name="arival_time" placeholder="arival_time"
                                                           type="text" value=""></td>
												<td class="stop3_r"><input class="form-control datetimepicker1" autocomplete="off" name="arival_time" placeholder="arival_time"
                                                           type="text" value=""></td>
											</tr>

											<tr>
												<td class="stop1_r"><input class="form-control datetimepicker1" autocomplete="off" name="departure_time" placeholder="Departure Time"
                                                           type="text" value=""></td>
												<td class="stop2_r"> <input class="form-control datetimepicker1" autocomplete="off" name="departure_time" placeholder="Departure Time"
                                                           type="text" value=""></td>
												<td class="stop3_r"><input class="form-control datetimepicker1" autocomplete="off" name="departure_time" placeholder="Departure Time"
                                                           type="text" value=""></td>
											</tr>

											<tr>
												<td class="stop1_r"><input class="form-control" name="flight_name" placeholder="Flight Name"
                                                           type="text" value=""></td>
												<td class="stop2_r"><input class="form-control" name="flight_name" placeholder="Flight Name"
                                                           type="text" value=""></td>
												<td class="stop3_r"><input class="form-control" name="flight_name" placeholder="Flight Name"
                                                           type="text" value=""></td>
											</tr>

											<tr>
												<td class="stop1_r"><input class="form-control" name="flight_no" placeholder="Flight No."
                                                           type="text" value=""></td>
												<td class="stop2_r"><input class="form-control" name="flight_no" placeholder="Flight No."
                                                           type="text" value=""></td>
												<td class="stop3_r"><input class="form-control" name="flight_no" placeholder="Flight No."
                                                           type="text" value=""></td>
											</tr>

											<tr>
												<td class="stop1_r"><input class="form-control" name="pnr_number" placeholder="PNR Number"
                                                           type="text" value=""></td>
												<td class="stop2_r"><input class="form-control" name="pnr_number" placeholder="PNR Number"
                                                           type="text" value=""></td>
												<td class="stop3_r"><input class="form-control" name="pnr_number" placeholder="PNR Number"
                                                           type="text" value=""></td>
											</tr>





										</table>

									</div>


								</div>

					</div>

				</div>



			</div>


		</div>

</div>
{% endif %}

	<div class="col-md-3">


		<div class="row">

			<div class="col-md-12">

				<div class="card card-box" >
								<div class="card-head">
									<header>Billing Details: </header>

								</div>
								<div class="card-body row">

									<div class="card-body no-padding height-9">

									<div class="form-group row">
							 			<table class="table table-striped table-bordered bootstrap-datatable datatable responsive">

											<tr>
												<td><label class = "control-label">Ticket Price:</label></td>
												<td><input class = "form-control" type="number" name="ticket_price" id="ticket_price" required></td>
											</tr>

											<tr>
												<td><label class = "control-label">Management_fee:</label></td>
												<td><input class = "form-control" type = "text" name="management_fee" id="mng_fee" readonly></td>
											</tr>

											<tr>
												<td><label class = "control-label">Tax amount management fee:</label></td>
												<td><input class = "form-control" type = "text" name="tax_mng_amt" id="tax_mng_amt" readonly></td>
											</tr>

											<tr>
												<td><label class = "control-label">Total billing amount</label></td>
												<td><input class = "form-control" type = "text" name="sub_total" id="total_billing_amt" readonly></td>
											</tr>

											<tr>
												<td><label class = "control-label">Select Cotrav Billing Entity</label></td>
												<td><select id="cotrav_billing_entity" name="cotrav_billing_entity" class="form-control myselect" required>
                                           {% for c_enttity in c_entitys %}
													<option value="{{c_enttity.id}}" gst="{{c_enttity.gst_id}}">{{c_enttity.entity_name}} </option>
											{% endfor %}
                                    </select></td>
											</tr>

											<tr>
												<td><label class = "control-label">Booking Billing Entity</label></td>
												<td><input class = "form-control" type = "text" name="bb_entity" gst="{{be_gst}}" id="booking_billing_entity" value="{{be_name}}"></td>
											</tr>

											<tr>
												<td><label class = "control-label">CGST (perscentage)</label></td>
												<td><input class = "form-control" type = "text" name="cgst" id="cgst" readonly ></td>
											</tr>

											<tr>
												<td><label class = "control-label">SGST (perscentage)</label></td>
												<td><input class = "form-control" type = "text" name="sgst" id="sgst"  readonly ></td>
											</tr>

											<tr>
												<td><label class = "control-label">IGST (perscentage)</label></td>
												<td><input class = "form-control" type = "text" name="igst" id="igst"  readonly ></td>
											</tr>

											<tr>
												<td><label class = "control-label">Generate System Ticket</label></td>
												<td><input class = "form-control client_ticket" type="checkbox" name="client_ticket" value="1" onchange="valueChanged()" ></td>
											</tr>

											<tr>
												<td><label class = "control-label">Browse Bus Ticket</label></td>
												<td><input class = "form-control client_ticket" type="file" name="busticketToUpload" id="bus-ticket" ></td>
											</tr>



										</table>

									</div>


								</div>

					</div>

				</div>




			</div>





		</div>
	</div>

<div class="col-md-3">
		<div class="row">

			<div class="col-md-12">

				<div class="card card-box" >
								<div class="card-head">
									<header>Operator Billing Details: </header>

								</div>
								<div class="card-body row">

									<input type="hidden" id="operator_gst_id">

									<div class="card-body no-padding height-9">

									<div class="form-group row">
							 			<table class="table table-striped table-bordered bootstrap-datatable datatable responsive">

											<tr>
												<td> <label class = "control-label">Operator Name</label></td>
												<td><select name="operator_name" id="operator_id" class="form-control myselect" required>
                                           <option value="">Select Operator Name</option>
                                                {% for operator in flight_operators %}
                                                    <option value="{{operator.id}}" gst="{{operator.gst_id}}">{{operator.operator_name}} ({{operator.operator_contact}})</option>
                                                {% endfor %}
                                    </select></td>
											</tr>

											<tr>
												<td><label class = "control-label">Ticket Price:</label></td>
												<td><input class = "form-control" type="number" name="oper_ticket_price" id="oper_ticket_price"  required ></td>
											</tr>

											<tr>
												<td><label class = "control-label">Commission:</label></td>
												<td><input class = "form-control" type="number" name="operator_commission" id="operator_commission"  required ></td>
											</tr>

											<tr>
												<td><label class = "control-label">Commission Type</label></td>
												<td><select id="oper_commission_type" name="oper_commission_type" class="form-control myselect" required>
                                            <option value="1">Percent</option>
                                            <option value="1">Fixed</option>
                                    </select></td>
											</tr>

											<tr>
												<td><label class = "control-label">Select Cotrav Billing Entity</label></td>
												<td>
												<select id="cotrav_billing_entity1" name="oper_cotrav_billing_entity"  class="form-control myselect" required>
                                           		{% for c_enttity in c_entitys %}
													<option value="{{c_enttity.id}}" gst="{{c_enttity.gst_id}}">{{c_enttity.entity_name}} </option>
												{% endfor %}
                                    			</select>
												</td>
											</tr>

											<tr>
												<td><label class = "control-label">CGST (perscentage)</label></td>
												<td><input class = "form-control" type="number" name="oper_cgst" id="oper_cgst"  readonly ></td>
											</tr>

											<tr>
												<td><label class = "control-label">SGST (perscentage)</label></td>
												<td><input class = "form-control" type="number" name="oper_sgst" id="oper_sgst"  readonly ></td>
											</tr>

											<tr>
												<td><label class = "control-label">IGST (perscentage)</label></td>
												<td><input class = "form-control" type="number" name="oper_igst" id="oper_igst"  readonly ></td>
											</tr>

											<tr>
												<td><label class = "control-label">Browse Vendor Ticket</label></td>
												<td><input class = "form-control" type="file" name="vendorticketToUpload" id="vendor-bus-ticket"  ></td>
											</tr>


										</table>

									</div>


								</div>

					</div>

				</div>




			</div>



			</div>
</div>





		</div>




        </form>
    </div></div>
<!-- end page content -->
{% endfor %}

{% else %}
<p>Welcome, new user. Please log in.<a href="/login">Login</a></p>
{% endif %}

<script type="text/javascript">

  $('.stop2').hide();
  $('.stop1').hide();
  $('.stop3').hide();

  $('.stop2_r').hide();
  $('.stop1_r').hide();
  $('.stop3_r').hide();


$('#no_of_stop').change(function(){

  
  // var option = $('option:selected', this).attr('room-type');

  var option = $('option:selected', this).attr('value');

if(option == 0){
  $('.stop2').hide();
  $('.stop1').hide();
  $('.stop3').hide();
}

  if(option == 1  || option == 2 || option == 3)
  {
    $('.stop1').show();
  }

  if(option == 2 || option == 3)
  {
    $('.stop2').show();
  }
  else {
    $('.stop2').hide();
  }
  if(option == 3)
  {
    $('.stop3').show();
  }
  else{
    $('.stop3').hide();
  }

  
});

$('#no_of_stop_rt').change(function(){

 // var option = $('option:selected', this).attr('room-type');

  var option = $('option:selected', this).attr('value');

if(option == 0){
  $('.stop2_r').hide();
  $('.stop1_r').hide();
  $('.stop3_r').hide();
}

  if(option == 1  || option == 2 || option == 3)
  {
    $('.stop1_r').show();
  }

  if(option == 2 || option == 3)
  {
    $('.stop2_r').show();
  }
  else {
    $('.stop2_r').hide();
  }
  if(option == 3)
  {
    $('.stop3_r').show();
  }
  else{
    $('.stop3_r').hide();
  }

});

 </script>

<script type="text/javascript">
function valueChanged()
{
    if($('.client_ticket').is(":checked"))
        $("#client-tkt").hide();
    else
        $("#client-tkt").show();
}
</script>


<script>
	user_type = {{request.session.agent_login_type}}

	auth_token = "Token {{request.session.agent_access_token}}";

	var url_tax = '{{ API_BASE_URL }}'+'get_corporate_management_tax' ;

	var serve_type = 7 ;

</script>

<script src="{% static 'assets/js/assign_tax.js' %}" ></script>




 {% endblock %}