{% extends 'Agent/layout/header.html' %}

{% block content %}


{% if user %}
<!-- start page content -->

<!-- The Modal -->
<div class="modal fade model_custom_style" id="model_add_new_group" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title-status" id="delete_label">Add New Company Admin Form</h4>
                <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>

            <form action="/agents/add-company-admins/0" enctype="multipart/form-data" method="post">

                <input id="set_admin_id" name="admin_id" type="hidden">
                <input name="user_id" type="hidden" value="{{user.id}}">
                <input name="corporate_id" type="hidden" value="{{user.corporate_id}}">
                <input id="delete_id" name="delete_id" type="hidden">
                 <input type="hidden" name="current_url" value="{{ request.get_full_path }}">
                <!-- Modal footer -->
                <div class="modal-body">

                      <div class="form-group row" id="corporate_id1">
                        <label class="col-sm-5 control-label">Company Name</label>
                        <div class="col-sm-7">

                            <select class="form-control myselect" name="corporate_id" id="corporate_id" style="width:100%;" required>
                                <option value="">Select Company</option>
                               {% for company in companies %}
                                <option value="{{company.id}}">{{company.corporate_name}}</option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>

                    <div class="form-group row" id="name1">
                        <label class="col-sm-5 control-label">Admin Name</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="name" name="name" placeholder="Admin Name" required
                                   type="text">
                        </div>
                    </div>

                    <div class="form-group row" id="email1">
                        <label class="col-sm-5 control-label">Admin Email</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="email" name="email" placeholder="Admin Email" required
                                   type="email">
                        </div>
                    </div>



                    <div class="form-group row" id="contact_no1">
                        <label class="col-sm-5 control-label">Contact</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="contact_no" name="contact_no" placeholder="Contact" required
                                   type="text">
                        </div>
                    </div>

                    <div class="form-group row" id="is_radio1">
                        <label class="col-sm-5 control-label">Radio Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_radio" id="is_radio">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" id="is_local1">
                        <label class="col-sm-5 control-label">Local Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_local" id="is_local">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" id="is_outstation1">
                        <label class="col-sm-5 control-label">Outstation Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_outstation" id="is_outstation">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" id="is_bus1">
                        <label class="col-sm-5 control-label">Bus Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_bus" id="is_bus">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" id="is_train1">
                        <label class="col-sm-5 control-label">Train Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_train" id="is_train">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group row" id="is_hotel1">
                        <label class="col-sm-5 control-label">Hotel Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_hotel" id="is_hotel">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group row" id="is_flight1">
                        <label class="col-sm-5 control-label">Flight Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_flight" id="is_flight">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" id="is_meal1">
                        <label class="col-sm-5 control-label">Meal Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_meal" id="is_meal">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" id="is_water_bottles1">
                        <label class="col-sm-5 control-label">Water Bottles Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_water_bottles" id="is_water_bottles">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" id="is_reverse_logistics1">
                        <label class="col-sm-5 control-label">Reverse Logistics Bookings</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_reverse_logistics" id="is_reverse_logistics">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" id="is_send_email1">
                        <label class="col-sm-5 control-label">Is Send Email?</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_send_email" id="is_send_email">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" id="is_send_sms1">
                        <label class="col-sm-5 control-label">Is Send SMS?</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="is_send_sms" id="is_send_sms">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                     <div class="form-group row" id="has_billing_access1">
                        <label class="col-sm-5 control-label">Has Billing Access?</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="has_billing_access" id="has_billing_access">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" id="delete_btn" type="submit">Save</button>
                </div>
            </form>


        </div>
    </div>
</div>

{% include 'cotrav_alert_message.html' %}
            <div class="page-content-wrapper">
                <div class="page-content">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-topline-aqua">
                                <div class="card-head">
                                    <header><b>Company Admins List</b></pre>

                                    </header>
                                     <div class="row p-b-20">
                            <div class="col-md-6 col-sm-6 col-6">
                                <div class="btn-admin">
                                    <a class="btn btn-info" data-target="#model_add_new_group" data-toggle="modal"
                                       href="#"> Add New Admin <i class="fa fa-plus"></i> </a>
                                </div>
                            </div>
                        </div>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
	                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
	                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>

                                </div>
                                <div class="card-body ">
         <div class="text-center">
             <div style="font-size:14px; font-weight:bold;">
                 All Companies Admins
                 </div>
         </div>
                                  <div class="table-scrollable table-bordered">
                                   <table id="example1" class="display full-width table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Operator Name</th>
                                                <th>Admin Email</th>
                                                <th>Admin Name</th>
                                                <th>Admin Contact No</th>

                                                <th>Edit/Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                        {% for admin in admins %}
                                            <tr>
                                                <td>{{ admin.id }}</td>
                                                <td>{{ admin.corporate_name }}</td>
                                                <td>{{ admin.email }}</td>
                                                <td>{{ admin.name }}</td>
                                                <td>{{ admin.contact_no }}</td>


                                               <td>
                                        <a class="btn btn-tbl-edit btn-xs" href="#" data-toggle="modal" class="btn btn-tbl-delete btn-xs"
                                        data-target="#model_add_new_group"  data-id="{{admin.id}}" data-corporate_id="{{admin.corporate_id}}" data-name="{{admin.name}}" data-email="{{admin.email}}"
                                        data-contact_no="{{admin.contact_no}}" data-cid="{{admin.cid}}" data-is_reverse_logistics="{{admin.is_reverse_logistics}}"
                                        data-is_local="{{admin.is_local}}" data-is_water_bottles="{{admin.is_water_bottles}}" data-is_radio="{{admin.is_radio}}"
                                        data-is_hotel="{{admin.is_hotel}}" data-is_outstation="{{admin.is_outstation}}" data-is_bus="{{admin.is_bus}}"
                                           data-is_send_email="{{admin.is_send_email}}" data-is_send_sms="{{admin.is_send_sms}}" data-has_billing_access="{{admin.has_billing_access}}"
                                        data-is_train="{{admin.is_train}}" data-is_flight="{{admin.is_flight}}" data-is_meal="{{admin.is_meal}}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-tbl-delete btn-xs" data-delete_id="1" data-id="{{admin.id}}" data-name="{{admin.name}}" data-email="{{admin.email}}"
                                        data-contact_no="{{admin.contact_no}}" data-cid="{{admin.cid}}" data-corporate_id="{{admin.corporate_id}}" data-is_reverse_logistics="{{admin.is_reverse_logistics}}"
                                        data-is_local="{{admin.is_local}}" data-is_water_bottles="{{admin.is_water_bottles}}" data-is_radio="{{admin.is_radio}}"
                                        data-is_hotel="{{admin.is_hotel}}" data-is_outstation="{{admin.is_outstation}}" data-is_bus="{{admin.is_bus}}"
                                        data-is_train="{{admin.is_train}}" data-is_flight="{{admin.is_flight}}" data-is_meal="{{admin.is_meal}}"
                                           data-is_send_email="{{admin.is_send_email}}" data-is_send_sms="{{admin.is_send_sms}}" data-has_billing_access="{{admin.has_billing_access}}"
                                           data-target="#model_add_new_group" data-toggle="modal" href="#">
                                            <i class="fa fa-trash-o "></i>
                                        </a>

                                    </td>
                                            </tr>
                                        {% endfor %}
                                            </tbody>
                                        </table>
	                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end page content -->

{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

<script>

        $(".myselect").select2();

        var mymod = $('#corporate_id');

        mymod.select2();

</script>


<script type="text/javascript">
$(function() {
  $('#model_add_new_group').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var id = button.data('id'); // Extract info from data-* attributes
    var corporate_id = button.data('corporate_id');
    var name = button.data('name');
    var email = button.data('email');
    var cid = button.data('cid');
    var contact_no = button.data('contact_no');

    var is_radio = button.data('is_radio');
    var is_local = button.data('is_local');
    var is_outstation = button.data('is_outstation');
    var is_bus = button.data('is_bus');
    var is_train = button.data('is_train');
    var is_hotel = button.data('is_hotel');
    var is_meal = button.data('is_meal');
    var is_flight = button.data('is_flight');
    var is_water_bottles = button.data('is_water_bottles');
    var is_reverse_logistics = button.data('is_reverse_logistics');
    var is_send_email = button.data('is_send_email');
    var is_send_sms = button.data('is_send_sms');
    var has_billing_access = button.data('has_billing_access');

    var delete_id = button.data('delete_id');


    var modal = $(this);

    modal.find('#set_admin_id').val(id);

    if(delete_id == 1){

    modal.find('#delete_id').val(1);

    mymod.val(corporate_id);
    mymod.trigger('change.select2');


    modal.find('#name').val(name);
    modal.find('#email').val(email);
    modal.find('#cid').val(cid);
    modal.find('#contact_no').val(contact_no);

    modal.find('#is_radio').val(is_radio);
    modal.find('#is_local').val(is_local);
    modal.find('#is_outstation').val(is_outstation);
    modal.find('#is_bus').val(is_bus);
    modal.find('#is_train').val(is_train);
    modal.find('#is_hotel').val(is_hotel);
    modal.find('#is_meal').val(is_meal);
    modal.find('#is_flight').val(is_flight);
    modal.find('#is_water_bottles').val(is_water_bottles);
    modal.find('#is_reverse_logistics').val(is_reverse_logistics);
    modal.find('#is_send_email').val(is_send_email);
    modal.find('#is_send_sms').val(is_send_sms);
    modal.find('#has_billing_access').val(has_billing_access);

    $('#delete_label').text("Do You Want to Delete Company Admin ?");
    $('#delete_btn').html("Yes");

    $('#corporate_id1').hide();
    $('#name1').hide();
    $('#email1').hide();
    $('#cid1').hide();
    $('#contact_no1').hide();
    $('#is_radio1').hide();
    $('#is_local1').hide();
    $('#is_outstation1').hide();
    $('#is_bus1').hide();
    $('#is_train1').hide();
    $('#is_hotel1').hide();
    $('#is_meal1').hide();
    $('#is_flight1').hide();
    $('#is_water_bottles1').hide();
    $('#is_reverse_logistics1').hide();
    $('#is_send_email1').hide();
    $('#is_send_sms1').hide();
    $('#has_billing_access1').hide();

    }
    if(typeof name != "undefined")
    {
        mymod.val(corporate_id);
        mymod.trigger('change.select2');
        
    modal.find('#name').val(name);
    modal.find('#email').val(email);
    modal.find('#cid').val(cid);
    modal.find('#contact_no').val(contact_no);

    modal.find('#is_radio').val(is_radio);
    modal.find('#is_local').val(is_local);
    modal.find('#is_outstation').val(is_outstation);
    modal.find('#is_bus').val(is_bus);
    modal.find('#is_train').val(is_train);
    modal.find('#is_hotel').val(is_hotel);
    modal.find('#is_meal').val(is_meal);
    modal.find('#is_flight').val(is_flight);
    modal.find('#is_water_bottles').val(is_water_bottles);
    modal.find('#is_reverse_logistics').val(is_reverse_logistics);
    modal.find('#is_send_email').val(is_send_email);
    modal.find('#is_send_sms').val(is_send_sms);
    modal.find('#has_billing_access').val(has_billing_access);

    modal.find('#delete_id').val('');

    $('#delete_label').text("Company Admin Details");
    $('#delete_btn').html("Save");

    $('#group_auth_id1').show();
    $('#corporate_id1').show();
    $('#name1').show();
    $('#email1').show();
    $('#cid1').show();
    $('#contact_no1').show();
    $('#is_radio1').show();
    $('#is_local1').show();
    $('#is_outstation1').show();
    $('#is_bus1').show();
    $('#is_train1').show();
    $('#is_hotel1').show();
    $('#is_meal1').show();
    $('#is_flight1').show();
    $('#is_water_bottles1').show();
    $('#is_reverse_logistics1').show();
    $('#is_send_email1').show();
    $('#is_send_sms1').show();
    $('#has_billing_access1').show();



    }else{
        $('#model_add_new_group').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        })
    }

    });

});

</script>


{% endblock %}