{% extends 'Agent/layout/header.html' %}

{% block content %}


{% if user %}
			<!-- start page content -->
{% include 'cotrav_alert_message.html' %}
            <div class="page-content-wrapper">
                <div class="page-content">

          <div class="text-center">
             <div style="font-size:14px; font-weight:bold;">
                 Edit Companies Details
                 </div>
         </div>


                    {% for corporate in companys %}
 <form method="post" action="/agents/edit-company/{{corporate.id }}">
      {% csrf_token %}
     <input type="hidden" name="user_id" value="{{user.id}}">
     <input type="hidden" name="corporate_id" value="{{corporate.id}}" >
      <input type="hidden" name="current_url" value="{{ request.get_full_path }}">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>General Information</header>
                                     <button id = "panel-button"
				                           class = "mdl-button mdl-js-button mdl-button--icon pull-right"
				                           data-upgraded = ",MaterialButton">
				                           <i class = "material-icons">more_vert</i>
				                        </button>
				                        <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
				                           data-mdl-for = "panel-button">
				                           <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
				                        </ul>
                                </div>
                                <div class="card-body " id="bar-parent">

                                          <div class="form-group">
                                            <label for="simpleFormEmail">Corporate Name</label>
                                            <input type="text" class="form-control" id="simpleFormEmail" name="corporate_name" placeholder="Corporate Name" value="{{ corporate.corporate_name }}">
                                        </div>

                                        <div class="form-group">
                                            <label for="simpleFormEmail">Corporate Code</label>
                                            <input type="text" class="form-control" name="corporate_code"  placeholder="Corporate Code" value="{{ corporate.corporate_code }}">
                                        </div>

                                        <div class="form-group">
                                            <label for="simpleFormEmail">Contact Name</label>
                                            <input type="text" class="form-control" name="contact_person_name" placeholder="Contact Name" value="{{ corporate.contact_person_name }}">
                                        </div>

                                         <div class="form-group">
                                            <label for="simpleFormEmail">Contact No</label>
                                            <input type="number" class="form-control" name="contact_person_no" placeholder="Contact No" value="{{ corporate.contact_person_no|default:'' }}">
                                        </div>

                                        <div class="form-group">
                                            <label for="simpleFormEmail">Contact Email</label>
                                            <input type="email" class="form-control" name="contact_person_email" placeholder="Enter email address" value="{{ corporate.contact_person_email|default:'' }}">
                                        </div>

                                     <div class="form-group row">
                                                <label class="col-sm-4"  for="simpleFormEmail">Has Billing Spoc Approval Level</label>
                                              <select class="col-sm-8 form-control" name="has_billing_spoc_level">
	                                                <option value="1" {% if corporate.has_billing_spoc_level == 1 %} selected {% endif %}>Yes</option>
	                                                <option value="0" {% if corporate.has_billing_spoc_level == 0 %} selected {% endif %}>No</option>
	                                            </select>
                                            </div>

                                         <div class="form-group row">
                                                <label class="col-sm-4" for="simpleFormEmail">Has Billing Admin Approval Level</label>
                                                <select class="col-sm-8 form-control" name="has_bill_approved_level">
	                                                <option value="1" {% if corporate.has_bill_approved_level == 1 %} selected {% endif %}>Yes</option>
	                                                <option value="0" {% if corporate.has_bill_approved_level == 0 %} selected {% endif %}>No</option>
	                                            </select>
                                            </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>Access Details</header>
                                    <button id = "panel-button2"
				                           class = "mdl-button mdl-js-button mdl-button--icon pull-right"
				                           data-upgraded = ",MaterialButton">
				                           <i class = "material-icons">more_vert</i>
				                        </button>
				                        <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
				                           data-mdl-for = "panel-button2">
				                           <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
				                           <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
				                        </ul>
                                </div>
                                <div class="card-body " id="bar-parent1">

                                        <div class="form-group row">
                                            <label class="col-sm-4 control-label">Has Booking Approval Levels</label>
                                            <div class="col-sm-8">
                                                <select id="has_auth_level" class="form-control" name="has_auth_level">
	                                                <option value="1" {% if corporate.has_auth_level == 1 %} selected {% endif %}>Yes</option>
	                                                <option value="0" {% if corporate.has_auth_level == 0 %} selected {% endif %}>No</option>
	                                            </select>
                                            </div>
                                        </div>

                                     <div style="display: none;" id="no_of_auth_level" class="form-group row">
                                            <label class="col-sm-4 control-label">Select Approval Levels</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="no_of_auth_level">
	                                                <option value="1" {% if corporate.no_of_auth_level == 1 %} selected {% endif %}>1</option>
                                                    <option value="2" {% if corporate.no_of_auth_level == 2 %} selected {% endif %}>2</option>

	                                            </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4 control-label">Has Assessment Codes</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="has_assessment_codes">
	                                               <option value="1" {% if corporate.has_assessment_codes == 1 %} selected {% endif %}>Yes</option>
	                                                <option value="0" {% if corporate.has_assessment_codes == 0 %} selected {% endif %}>No</option>
	                                            </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4 control-label">Radio Bookings</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="is_radio">
	                                               <option value="1" {% if corporate.is_radio == 1 %} selected {% endif %}>Yes</option>
	                                                <option value="0" {% if corporate.is_radio == 0 %} selected {% endif %}>No</option>
	                                            </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4 control-label">Local Bookings</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="is_local">
	                                              <option value="1" {% if corporate.is_local == 1 %} selected {% endif %}>Yes</option>
	                                                <option value="0" {% if corporate.is_local == 0 %} selected {% endif %}>No</option>
	                                            </select>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-sm-4 control-label" >Outstation Bookings</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="is_outstation">
	                                                <option value="1" {% if corporate.is_outstation == 1 %} selected {% endif %}>Yes</option>
	                                                <option value="0" {% if corporate.is_outstation == 0 %} selected {% endif %}>No</option>
	                                            </select>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-sm-4 control-label">Bus Bookings</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="is_bus" >
	                                                <option value="1" {% if corporate.is_bus == 1 %} selected {% endif %}>Yes</option>
	                                                <option value="0" {% if corporate.is_bus == 0 %} selected {% endif %}>No</option>
	                                            </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4 control-label">Train Bookings</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="is_train">
	                                                <option value="1" {% if corporate.is_train == 1 %} selected {% endif %}>Yes</option>
	                                                <option value="0" {% if corporate.is_train == 0 %} selected {% endif %}>No</option>
	                                            </select>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-sm-4 control-label">Hotel Bookings</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="is_hotel">
	                                                <option value="1" {% if corporate.is_hotel == 1 %} selected {% endif %}>Yes</option>
	                                                <option value="0" {% if corporate.is_hotel == 0 %} selected {% endif %}>No</option>
	                                            </select>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-sm-4 control-label">Flight Bookings</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="is_flight">
	                                                <option value="1" {% if corporate.is_flight == 1 %} selected {% endif %}>Yes</option>
	                                                <option value="0" {% if corporate.is_flight == 0 %} selected {% endif %}>No</option>
	                                            </select>
                                            </div>
                                        </div>

                                         <div class="form-group row">
                                            <label class="col-sm-4 control-label">Meal Bookings</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="is_meal">
	                                                <option value="1" {% if corporate.is_meal == 1 %} selected {% endif %}>Yes</option>
	                                                <option value="0" {% if corporate.is_meal == 0 %} selected {% endif %}>No</option>
	                                            </select>
                                            </div>
                                        </div>

                                         <div class="form-group row">
                                            <label class="col-sm-4 control-label">Water Bottles Bookings</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="is_water_bottles">
	                                                <option value="1" {% if corporate.is_water_bottles == 1 %} selected {% endif %}>Yes</option>
	                                                <option value="0" {% if corporate.is_water_bottles == 0 %} selected {% endif %}>No</option>
	                                            </select>
                                            </div>
                                        </div>

                                          <div class="form-group row">
                                            <label class="col-sm-4 control-label">Reverse Logistics</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="is_reverse_logistics">
	                                               <option value="1" {% if corporate.is_reverse_logistics == 1 %} selected {% endif %}>Yes</option>
	                                                <option value="0" {% if corporate.is_reverse_logistics == 0 %} selected {% endif %}>No</option>
	                                            </select>
                                            </div>
                                        </div>

                                     <div class="form-group row">
                                            <label class="col-sm-4 control-label">Self Booking Access</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="has_self_booking_access">
	                                               <option value="1" {% if corporate.has_self_booking_access == 1 %} selected {% endif %}>Yes</option>
	                                                <option value="0" {% if corporate.has_self_booking_access == 0 %} selected {% endif %}>No</option>
	                                            </select>
                                            </div>
                                        </div>

                                     <div class="form-group row">
                                            <label class="col-sm-4 control-label">Will Do Realtime Payment</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="will_do_realtime_payment">
	                                               <option value="1" {% if corporate.will_do_realtime_payment == 1 %} selected {% endif %}>Yes</option>
	                                                <option value="0" {% if corporate.will_do_realtime_payment == 0 %} selected {% endif %}>No</option>
	                                            </select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="offset-md-3 col-md-9">
                                                <button type="submit" class="btn btn-info">Submit</button>
                                                <button type="button" onclick="history.back();" class="btn btn-default">Cancel</button>
                                            </div>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
 </form>
                     {% endfor %}
  </div>
</div>

<!-- end page content -->




{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}


<script type="text/javascript">
 $(function() {
 var getValue=$("#has_auth_level").val();
    if(getValue == '1'){
        $("#no_of_auth_level").show("slow");
    }else{
        $("#no_of_auth_level").hide("slow");
    }

    $("#has_auth_level").on('change',function(){
    var getValue=$(this).val();
    if(getValue == '1'){
        $("#no_of_auth_level").show("slow");
    }else{
        $("#no_of_auth_level").hide("slow");
    }
  });
 });
</script>

{% endblock %}