{% extends 'Agent/layout/header.html' %}

{% block content %}


{% if user %}
<!-- The Modal -->
<div class="modal fade model_custom_style" role="dialog" id="model_add_new_group">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 id="delete_label" class="modal-title-status">Group Details </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <form action="/agents/add-employee/0" method="post" enctype="multipart/form-data" id="form_id">
                <input type="hidden" name="employee_id" id="delete_employee_id">
                <input type="hidden" name="user_id" value="{{user.id}}">
                <input type="hidden" name="delete_id" id="delete_id">



                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button id="delete_btn" type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
            </div>

        </div>
    </div>
</div>


<!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-topline-aqua">
                                <div class="card-head">
                                    <header>ALL CORPORATE EMPLOYEE LIST</header>
                                     <div class="row p-b-20">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <div class="btn-group">
                                                 <a class="btn btn-info" href="/agents/add-employee/0" > Add New <i class="fa fa-plus"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
	                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
	                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="card-body ">



                                  <div class="table-scrollable table-bordered">
                                    <table id="example1" class="display full-width table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Spoc Name</th>
                                                <th>Employee ID</th>
                                                <th>Employee Name</th>
                                                <th>Email</th>
                                                <th>Contact</th>
                                                <th>Age </th>
                                                <th>Gender</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                        {% for employee in employees %}
                                            <tr>
                                                <td>{{ employee.id|default:'' }}</td>
                                                <td>{{ employee.user_name|default:'' }}</td>
                                                <td>{{ employee.employee_cid|default:'' }}</td>
                                                <td>{{ employee.employee_name|default:'' }}</td>
                                                <td>{{ employee.employee_email|default:'' }}</td>
                                                <td>{{ employee.employee_contact|default:'' }}</td>
                                                <td>{{ employee.age|default:'' }}</td>
                                                <td>{{ employee.gender|default:'' }}</td>

                                                <td>
                                                    <a href="/agents/add-employee/{{ employee.id }}" class="btn btn-tbl-edit btn-xs">
                                            <i class="fa fa-pencil"></i>
                                        </a>

                                        <a class="btn btn-tbl-delete btn-xs" data-target="#model_add_new_group"
                                           data-id="{{employee.id}}" data-delete_id="1" data-toggle="modal" href="#">
                                            <i class="fa fa-trash-o "></i>
                                        </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                            </tbody>
                                        </table>
	                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end page content -->





{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

<script type="text/javascript">
$(function() {

var bla = $('#group_id').val();
$('#set_group_id').val(bla);

  $('#model_add_new_group').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var id = button.data('id'); // Extract info from data-* attributes

    var delete_id = button.data('delete_id');
    var modal = $(this);
    modal.find('#delete_employee_id').val(id);
    modal.find('#delete_id').val(1);
    });

});

</script>

{% endblock %}

