{% extends 'Agent/layout/header.html' %}

{% block content %}

{% if user %}
<!-- start page content -->

<!-- The Modal -->
<div class="modal fade model_custom_style" role="dialog" id="model_action">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 id="delete_label" class="modal-title-status">Booking Action</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <form action="/agents/accept-hotel-booking" method="post" enctype="multipart/form-data" id="form_id">
                <input type="hidden" name="booking_id" id="booking_id">
                <input type="hidden" name="user_id" value="{{user.id}}">
                <input type="hidden" name="accept_id" id="accept_id">
                <input type="hidden" name="reject_id" id="reject_id">

                <label>Are you sure you want to Perform Action</label>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button id="delete_btn" type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
            </div>

        </div>
    </div>
</div>

<div class="page-content-wrapper">
    <div class="page-content">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-topline-aqua">
                    <div class="card-head">
                        <header>ALL CORPORATE HOTEL BOOKINGS</header>
                             <div class="row p-b-20">

                                 <div class="row">
                                    <div class="col-md-6">
                                            <div class="btn-group">
                                                <a class="btn btn-info" href="/agents/add-hotel-booking/{{user.corporate_id}}" > Hotel Bookings <i class="fa fa-plus"></i> </a>
                                            </div>
                                    </div>
                                    </div>

                            </div>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body ">



                        <div class="table-scrollable table-bordered">

                            <table id="example1" class="display full-width">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Reference No</th>
                                    <th>City</th>
                                    <th>Area</th>
                                    <th>Booking DateTime</th>
                                    <th>Check-In Date</th>
                                    <th>Check-Out Date</th>
                                    <th>Assessment Code</th>
                                     <th>Preferred Hotel</th>
                                     <th>Client Status</th>
                                    <th>CoTrav Status</th>
                                    <th>Accept/Reject</th>
                                    <th>Hotels Details</th>
                                    <th>SPOC Details</th>
                                    <th>Passenger Details</th>
                                    <th>Details</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for booking in bookings %}
                                <tr>
                                    <td>{{ booking.id }}</td>
                                    <td>{{ booking.reference_no }}</td>
                                    <td>{{ booking.from_city_id }}</td>
                                    <td>{{ booking.from_area_id}}</td>
                                    <td>{{ booking.booking_datetime}}</td>
                                    <td>{{ booking.checkin_datetime }}</td>
                                    <td>{{ booking.checkout_datetime }}</td>
                                    <td>{{ booking.assessment_code }}</td>
                                    <td>{{ booking.preferred_hotel }}</td>



                                     <td>{{ booking.client_status }}</td>
                                    <td>{{ booking.cotrav_status }}</td>


                                     <td>
                                        {% if booking.status_cotrav == 1 %}
                                    <a style="margin-left:10px; background:cadetblue; color:white;" data-target="#model_action" data-id="{{booking.id}}" data-accept_id="1"
                                           data-toggle="modal" class="btn btn-tbl-edit btn-xs">  <i class="fa fa-check"></i> </a>
                                    {% endif %}
                                        <a style="margin-left:10px;" data-target="#model_action" data-id="{{booking.id}}" data-reject_id="1"
                                           data-toggle="modal" class="btn btn-tbl-delete btn-xs" >  <i class="fa fa-trash-o "></i> </a>

                                      {% if booking.status_cotrav == 2 %}
                                         <a href="/agents/assign-hotel-booking/{{booking.id}}" class="btn btn-tbl-edit btn-xs" style="margin-left:10px; background:#6288b1;">  <i class="fa fa-book"></i> </a>

                                    {% endif %}
                                     </td>

                                    {% if booking.operator_name %}
                                    <td>{{ booking.operator_name|default:'' }}<br/>({{ booking.operator_contact|default:'' }})</td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}



                                    <td>{{ booking.user_name }}<br/>({{ booking.user_contact }})</td>

                                     <td>
                                        {% for passanger in booking.Passangers %}
                                        {{ passanger.employee_name|default:'' }} <br/>({{ passanger.employee_contact|default:''}})<br/>
                                        {% endfor %}
                                    </td>



                                    <td>


                                          <a href="/agents/view-hotel-booking/{{ booking.id }}" class="btn btn-tbl-edit btn-xs" style="background:#6288b1;"> <i class="fa fa-search"></i> </a>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end page content -->


{% else %}
<p>Welcome, new user. Please log in.<a href="/login">Login</a></p>
{% endif %}


<script type="text/javascript">
$(function() {

  $('#model_action').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var id = button.data('id'); // Extract info from data-* attributes
    var accept_id = button.data('accept_id');
    var reject_id = button.data('reject_id');

    var modal = $(this);
    modal.find('#booking_id').val(id);

    if(reject_id == 1){
        modal.find('#reject_id').val(1);
    }
    if(accept_id == 1){
        modal.find('#accept_id').val(1);
    }

    });

});



</script>









{% endblock %}