{% extends 'Agent/layout/header.html' %}

{% block content %}

{% if user %}
<!-- start page content -->
{% include 'cotrav_alert_message.html' %}
<!-- The Modal -->
<div class="modal fade model_custom_style" role="dialog" id="add_group_model" >
    <div class="modal-dialog" style="position: relative; z-index: -1;">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4  class="modal-title-status">Assessment Codes Details </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <form action="/agents/assessment_codes/0" method="post" enctype="multipart/form-data" id="model_serialize_update">
                <input type="hidden" name="code_id" id="code_id_edit">
                <input type="hidden" name="user_id" value="{{user.id}}">

                <div class="form-group row" id="corporate_id1">
                        <label class="col-sm-5 control-label">Company Name</label>
                        <div class="col-sm-7">

                            <select class="form-control" name="corporate_id" id="corporate_id" style="width:100%;" required>
                                <option value="">Select Company</option>
                               {% for company in companies %}
                                <option value="{{company.id}}">{{company.corporate_name}}</option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>

                 <div class="form-group row" >
                       <label class="col-sm-5 control-label">Assessment Codes</label>
                            <div class="col-sm-7">
                                <input class="form-control" name="assessment_code" id="assessment_code" placeholder="Assessment Codes" type="text" required>
                            </div>
                    </div>

                 <div class="form-group row" >
                       <label class="col-sm-5 control-label">Assessment Description</label>
                            <div class="col-sm-7">
                                <input class="form-control" name="code_desc" id="code_desc" placeholder="Assessment Description" type="text" required>
                            </div>
                    </div>

                 <div class="form-group row" >
                       <label class="col-sm-5 control-label">From Date</label>
                            <div class="col-sm-7">
                                <input class="form-control datepicker1" autocomplete="off" name="from_date" id="from_date" placeholder="From Date" type="text" required>
                            </div>
                    </div>

                 <div class="form-group row" >
                       <label class="col-sm-5 control-label">To Date</label>
                            <div class="col-sm-7">
                                <input class="form-control datepicker1" autocomplete="off"  name="to_date" id="to_date" placeholder="To Date" type="text" required>
                            </div>
                    </div>

                 <div class="form-group row" >
                       <label class="col-sm-5 control-label">Service From Date</label>
                            <div class="col-sm-7">
                                <input class="form-control datepicker1" autocomplete="off" name="service_from" id="service_from" placeholder="Service From Date" type="text" required>
                            </div>
                    </div>

                 <div class="form-group row" >
                       <label class="col-sm-5 control-label">Service To Date</label>
                            <div class="col-sm-7">
                                <input class="form-control datepicker1" autocomplete="off" name="service_to" id="service_to" placeholder="Service To Date" type="text" required>
                            </div>
                    </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
            </div>

        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal fade model_custom_style" role="dialog" id="model_add_new_group">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 id="delete_label" class="modal-title-status">Are You Want To Activate Back ? </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <form action="/agents/softdeleated_update" method="post" enctype="multipart/form-data" id="form_id">
                <input type="hidden" name="record_id" id="record_id">
                <input type="hidden" name="table_name" id="table_name">
                <input type="hidden" name="user_id" value="{{user.id}}">
                <input type="hidden" name="delete_id" value="1">
                <input type="hidden" name="current_url" value="{{ request.get_full_path }}">
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button id="delete_btn" type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
            </div>

        </div>
    </div>
</div>


<div class="page-content-wrapper">
    <div class="page-content">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-topline-aqua">
                    <div class="card-head">
                        <header>ALL CORPORATE ASSESSMENT CODE LIST</header>
                          <div class="row p-b-20">
                            <div class="col-md-6 col-sm-6 col-6">
                                <div class="btn-group">
                                    <a class="btn btn-info" href="#" data-toggle="modal"
                                       data-target="#add_group_model"> Add New <i class="fa fa-plus"></i> </a>
                                </div>
                            </div>
                        </div>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>

                              <div class="card-body ">
                            <div class = "mdl-tabs mdl-js-tabs">
                                <div class = "mdl-tabs__tab-bar tab-left-side">

                                    <a href = "/agents/assessment_codes/0" class = "mdl-tabs__tab  ">Active Assessment Codes</a>
                                    <a href = "/agents/softdeleated/companies/9" class = "mdl-tabs__tab is-active  ">Inactive Assessment Codes</a>

                                </div>
                            </div>
                        </div>



                    <div class="card-body ">

    <div class="text-center">
     <div style="font-size:14px; font-weight:bold;">
         All Corporate Assessment Codes Details
         </div>
   </div>
                        <div class="table-scrollable table-bordered ">
                            <table id="example1" class="display full-width table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Company Name</th>
                                    <th>Assessment Code</th>
                                    <th>Assessment Description</th>
                                    <th>Active From</th>
                                    <th>Active To</th>
                                    <th>Service From Date</th>
                                    <th>Service To Date</th>
                                    <th>Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for code in codes %}
                                <tr>
                                    <td>{{ code.id }}</td>
                                    <td>{{ code.corporate_name }}</td>
                                    <td>{{ code.assessment_code }}</td>
                                    <td>{{ code.code_desc }}</td>
                                    <td>{{ code.from_date }}</td>
                                    <td>{{ code.to_date }}</td>
                                    <td>{{ code.service_from }}</td>
                                    <td>{{ code.service_to }}</td>

                                    <td>


                                        <a class="btn btn-tbl-edit btn-xs" data-target="#model_add_new_group"
                                           data-id="{{code.id}}" data-delete_id="1" data-toggle="modal" href="#">
                                            <i class="fa fa-check "></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end page content -->
<script type="text/javascript">
   $(".myselect").select2();

   var mymod = $('#corporate_id');
   mymod.select2();


</script>

{% else %}
<p>Welcome, new user. Please log in.<a href="/login">Login</a></p>
{% endif %}


<script type="text/javascript">
$(function() {

  $('#model_add_new_group').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var id = button.data('id'); // Extract info from data-* attributes
    var tbl_name = "corporate_assessment_codes";
    var modal = $(this);
    modal.find('#record_id').val(id);
    modal.find('#table_name').val(tbl_name);
    });

});
</script>


<script>
$( document ).ready(function() {

$('#model_serialize_update')
.each(function(){
$(this).data('serialized', $(this).serialize())
})
    .on('change input', function(){
        $(this)
            .find('input:submit, button:submit')
                .attr('disabled', $(this).serialize() == $(this).data('serialized'))
        ;
     })
.find('input:submit, button:submit')
.attr('disabled', true);

});

$(document.body).on("change",".myselect",function(){
  $('form')
      .find('input:submit, button:submit')
          .attr('disabled', $('#model_serialize_update').serialize() == $('#model_serialize_update').data('serialized'))
  ;
});

</script>
{% endblock %}