{% include "Agent/layout/header.html" %}
{% include "Agent/layout/menu_bar_layout.html" %}


{% if user %}
<!-- start page content -->

<!-- The Modal -->
<div class="modal fade model_custom_style" role="dialog" id="add_taxi_model">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4  class="modal-title-status">Taxi Model Details </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <form action="/agents/taxi-models" method="post" enctype="multipart/form-data" >
                <input type="hidden" name="model_id" id="model_id_add">
                <input type="hidden" name="user_id" value="{{user.id}}">


                 <div class="form-group row" >
                       <label class="col-sm-5 control-label">Brand Name</label>
                            <div class="col-sm-7">
                                <input class="form-control" id="brand_name" name="brand_name" placeholder="Brand Name" type="text" required>
                            </div>
                    </div>

                   <div class="form-group row" >
                       <label class="col-sm-5 control-label">Model Name</label>
                            <div class="col-sm-7">
                                <input class="form-control" id="model_name" name="model_name" placeholder="Model Name" type="text" required>
                            </div>
                    </div>


                 <div class="form-group row" id="corporate_id1">
                        <label class="col-sm-5 control-label">Taxi Type Name</label>
                        <div class="col-sm-7">

                            <select class="form-control myselect" name="taxitype_id" id="taxi_type_id" style="width:100%;" required>
                                <option value="">Select Taxi Type</option>
                               {% for type in types %}
                                <option value="{{type.id}}">{{type.name}}</option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>

                 <div class="form-group row" >
                       <label class="col-sm-5 control-label">No Of Seats</label>
                            <div class="col-sm-7">
                                <input class="form-control" id="no_of_seats" name="no_of_seats" placeholder="No Of Seats" type="text" required>
                            </div>
                    </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
            </div>

        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal fade model_custom_style" role="dialog" id="model_add_new_group">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 id="delete_label" class="modal-title-status">Taxi Model Details </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <form action="/agents/taxi-models" method="post" enctype="multipart/form-data" id="form_id">
                <input type="hidden" name="model_id" id="model_id">
                <input type="hidden" name="user_id" value="{{user.id}}">
                <input type="hidden" name="delete_id" value="1">


                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button id="delete_btn" type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
            </div>

        </div>
    </div>
</div>


<div class="page-content-wrapper">
    <div class="page-content">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-topline-aqua">
                    <div class="card-head">
                        <header>ALL TAXI TYPE LIST</header>
                          <div class="row p-b-20">
                            <div class="col-md-6 col-sm-6 col-6">
                                <div class="btn-group">
                                    <a class="btn btn-info" href="#" data-toggle="modal"
                                       data-target="#add_taxi_model"> Add New <i class="fa fa-plus"></i> </a>
                                </div>
                            </div>
                        </div>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body ">



                        <div class="table-scrollable table-bordered ">
                            <table id="example1" class="display full-width table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Brand Name</th>
                                    <th>Model Name</th>
                                    <th>Taxi Type Name</th>
                                    <th>No Of Seats</th>
                                    <th>Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for taxi_model in taxi_models %}
                                <tr>
                                    <td>{{ taxi_model.id }}</td>
                                    <td>{{ taxi_model.brand_name }}</td>
                                    <td>{{ taxi_model.model_name }}</td>
                                    <td>{{ taxi_model.taxi_type_name }}</td>
                                    <td>{{ taxi_model.no_of_seats }}</td>

                                    <td>

                                        <a class="btn btn-tbl-edit btn-xs" data-target="#add_taxi_model"
                                           data-id="{{taxi_model.id}}" data-brand_name="{{taxi_model.brand_name}}"
                                           data-model_name="{{taxi_model.model_name}}" data-taxi_type_id="{{taxi_model.taxi_type_id}}"
                                           data-no_of_seats="{{taxi_model.no_of_seats}}" data-toggle="modal" href="#">
                                            <i class="fa fa-pencil "></i>
                                        </a>

                                        <a class="btn btn-tbl-delete btn-xs" data-target="#model_add_new_group"
                                           data-id="{{taxi_model.id}}" data-delete_id="1" data-toggle="modal" href="#">
                                            <i class="fa fa-trash-o "></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end page content -->
<script type="text/javascript">
   $(".myselect").select2();
</script>

{% else %}
<p>Welcome, new user. Please log in.<a href="/login">Login</a></p>
{% endif %}

{% include "Company/Admin/layout/footer.html" %}

<script type="text/javascript">
$(function() {

  $('#model_add_new_group').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var id = button.data('id'); // Extract info from data-* attributes


    var modal = $(this);
    modal.find('#model_id').val(id);

    });


    $('#add_taxi_model').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var id = button.data('id'); // Extract info from data-* attributes
    var brand_name = button.data('brand_name');
    var model_name = button.data('model_name');
    var taxi_type_id = button.data('taxi_type_id');
    var no_of_seats = button.data('no_of_seats');

    var modal = $(this);
    modal.find('#model_id_add').val(id);
    modal.find('#brand_name').val(brand_name);
    modal.find('#model_name').val(model_name);
    modal.find('#no_of_seats').val(no_of_seats);
    modal.find('#taxi_type_id').val(taxi_type_id).trigger('change');

    });


});



</script>
