{% extends 'Company/Spoc/layout/header.html' %}
{% load static %}
{% block content %}

{% if user %}
<!-- start page content -->

{% include 'cotrav_alert_message.html' %}

        <!-- start page content -->
       <div class="page-content-wrapper">
    <div class="page-content">
              <div class="row">
                       <div class="col-sm-8 col-md-8 margin_auto">
                          <div class="card card-topline-aqua">
                             <div class="card-head">
                                    <header>Flight Summary</header>

                            </div>
                                <div class="card-body">
                                   <div class="table-wrap">
                                        <div class="table-responsive tblDriverDetail">
                                            {% for flight in flights.FLIGHT %}
                                             <table class="table display product-overview mb-30 table_txt_align" id="support_table1">
                                              <thead>
                                                 <tr>
                                                    <div class="txt-block-1">{{flight.ORG_NAME}} <i class="fa fa-long-arrow-right"></i>{{flight.DES_NAME}} </div>
                                                     <p>{{flight.DEP_DATE}}<br> </p>
                                                          <h5 class="block_txt border-section"> {{flight.FARE_CLASS}} </h5></i>
                                                </tr>
                                             </thead>

                                                <tbody>
                                                    <tr>
                                                        <td >  <img alt="" src="{% static 'assets/img/blog/flight_indigo.png' %}">  {{flight.FLIGHT_NAME}} {{flight.FLIGHT_CODE}}-{{flight.FLIGHT_NO}} <br>
                                                       </td>
                                                        <td >{{flight.DEP_TIME}}<br><p class="font_txt1">{{flight.DEP_DATE}}<br>{{flight.ORG_NAME}}
                                                            <br>{{flight.ORG_NAME}} Airport</p> </td>

                                                        <td>{{flight.DURATION}}  <i class="fa fa-long-arrow-right"></i>  20min <br> <i class="fa fa-exchange"></i> <p class="font_txt1 color_set">{{flight.STOP}} Stop<p></td>

                                                     <td>{{flight.ARRV_TIME}}<br><p class="font_txt1">{{flight.ARRV_DATE}}<br>{{flight.DES_NAME}}
                                                            <br>{{flight.DES_NAME}} Airport</p> </td>

                                                    </tr>
                                                </tbody>

                                                 {% for containg in flights.CON_FLIGHT %}
                                                 <tbody>
                                                    <tr>
                                                        <td >  <img alt="" src="{% static 'assets/img/blog/flight_indigo.png' %}">  {{containg.FLIGHT_NAME}} {{containg.FLIGHT_CODE}}-{{containg.FLIGHT_NO}} <br>
                                                       </td>
                                                        <td >{{containg.DEP_TIME}}<br><p class="font_txt1">{{containg.DEP_DATE}}<br>{{containg.ORG_NAME}}
                                                            <br>{{containg.ORG_NAME}} Airport</p> </td>

                                                        <td>{{containg.DURATION}}  <i class="fa fa-long-arrow-right"></i>  20min <br> <i class="fa fa-exchange"></i> <p class="font_txt1 color_set">{{containg.STOP}} Stop<p></td>

                                                     <td>{{containg.ARRV_TIME}}<br><p class="font_txt1">{{containg.ARRV_DATE}}<br>{{containg.DES_NAME}}
                                                            <br>{{containg.DES_NAME}} Airport</p> </td>

                                                    </tr>
                                                </tbody>

                                                 {% endfor %}

                                            </table>
                                             {% endfor %}
                                        </div>
                                    </div>
                               </div>
                           </div>
                         </div>
                              <div class="col-sm-4 col-md-4">
                       <div class="card card-topline-aqua">
                             <div class="card-head">
                                    <header>Fare Summary</header>
                            </div>
                                <div class="card-body">
                                   <div class="table-wrap">
                                        <div class="table-responsive tblDriverDetail">
                                            {% for fare in flights.FARE %}
                                             <table class="table display product-overview mb-30 table_txt_align" id="support_table2">


                                                <tbody>
                                                   <tr>
                                                       <td class="border-section fare_amt_td"> Base Fare</td>
                                                         <td class="border-section fare_amt_td"><i class="fa fa-inr"></i>{{fare.BASIC_ADT}}</td>
                                                   </tr>
                                                    <tr>
                                                       <td class="border-section fare_amt_td">Service Tax </td>
                                                         <td class="border-section fare_amt_td"><i class="fa fa-inr"></i>{{fare.TAX_ADT}}</td>
                                                   </tr>
                                                    <tr>
                                                       <td class="border-section fare_amt_td"> Total</td>
                                                         <td class="border-section fare_amt_td"><i class="fa fa-inr"> </i>{{fare.TOTAL_ADT}}</td>
                                                   </tr>
                                                   <tr>
                                                       <td class="fare_amt">Total Fare :</td>
                                                         <td class="fare_amt"><i class="fa fa-inr"> </i>{{fare.GRAND_TOTAL}}</td>
                                                   </tr>
                                                <tr>
                                                       <td class="fare_amt">Fare Type :</td>
                                                         <td class="fare_amt">{{fare.REFUNDABLE}}</td>
                                                   </tr>
                                                   <tr>
                                                       Fare Rule : {{fare.FARE_RULE}}
                                                   </tr>

                                                </tbody>

                                            </table>
                                             {% endfor %}


                                        </div>
                                    </div>
                               </div>
                           </div>
                    </div>
                      </div>
<form method="post" action="/Corporate/Spoc/add-flight-booking-self-final/{{user.id}}">
            <div class="col-md-8">
             <div class="card card-topline-aqua">
                    <div class="card-head">
                        <header>Other Details</header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>


    <input type="hidden" name="flightdata" value="{{flights}}">
    <input type="hidden" name="user_id" value="{{user.id}}">
    <input type="hidden" name="corporate_id" value="{{user.corporate_id}}">
    <input type="hidden" name="spoc_id" value="{{user.id}}">
    <input type="hidden" name="group_id" value="{{user.group_id}}">
    <input type="hidden" name="subgroup_id" value="{{user.subgroup_id}}">

{% for flight in flights.FLIGHT %}
    <input type="hidden" name="usage_type" value="Flight">
    <input type="hidden" name="trip_type" value="One Way">
    <input type="hidden" name="seat_type" value="Economy">

    <input type="hidden" name="from_city" value="{{flight.ORG_NAME}}">
    <input type="hidden" name="to_city" value="{{flight.DES_NAME}}">
    <input type="hidden" name="departure_date" value="{{flight.DEP_DATE}}">
{% endfor %}
                    <div class="card-body ">

          {% for corp_acces in corp_access %}
                {% if corp_acces.has_assessment_codes == 1 %}
              <div class="form-group row">
                    <label class="col-sm-4" >Assessment Code*</label>
                     <select id="assessment_code" name="assessment_code" class="form-control col-sm-7 myselect">
                         <option value="">Select Assessment Code</option>
                         {% for assessment in assessments %}
                        <option value="{{assessment.id}}">{{assessment.assessment_code}}</option>
                        {% endfor %}

                    </select>
                </div>

                 <div class="form-group row">
                        <label class="col-sm-4">Assessment City</label>
                        <select class="col-sm-7 form-control myselect" name="assessment_city" id="assessment_cities">
                            <option value="">Select Assessment City</option>
                            {% for city in cities_ass %}
                                <option value="{{city.id}}">{{city.city_name}}</option>
                                {% endfor %}
                        </select>

                </div>

                 {% endif %}
                      {% endfor %}


                 <div class="form-group row">
                    <label class="col-sm-4" >Select Billing Entity*</label>
                     <select id="entity_id" name="billing_entity_id" class="form-control col-sm-7 myselect">
                          <option value="">Select Billing Entity </option>

                         {% for entity in entities %}
                                <option value="{{entity.id}}">{{entity.entity_name}}</option>
                            {% endfor %}

                      </select>
                </div>


        </div>


                </div>
                </div>

                <div class="col-md-8">
             <div class="card card-topline-aqua">
                    <div class="card-head">
                        <header>Passanger Details</header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>

                    <div class="card-body ">
<h4>IMPORTANT : Enter your name as it is mentioned on your passport or any goverment approved Id</h4>

                              <div class="form-group row">
                                <label class="col-sm-2" >Number Of Employees*</label>
                                <select id="no_of_seats" name="no_of_seats" class="form-control col-sm-8 no_of_seats myselect">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5" style="display: none">5</option>
                                    <option value="6" style="display: none">6</option>
                                </select>
                            </div>

                               <div class="form-group row" id="emp_row_1">
                                    <label class="col-sm-2" >Employee 1</label>
                                     <select id="employee_id_1" name="employee_id_1" class="form-control col-sm-2 myselect" required>
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="text" name="emp_id_1" id="emp_id_1" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_1" id="employee_name_1" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_1" id="employee_contact_1" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_1" id="employee_email_1" class="form-control col-sm-2" placeholder="Email">
                                </div>

                              <div class="form-group row" id="emp_row_2" >
                                    <label class="col-sm-2" >Employee 2</label>
                                     <select name="employee_id_2" id="employee_id_2" class="form-control col-sm-2 myselect">
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                  <input type="text" name="emp_id_2" id="emp_id_2" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_2" id="employee_name_2" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_2" id="employee_contact_2" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_2" id="employee_email_2" class="form-control col-sm-2" placeholder="Email">
                                </div>

                              <div class="form-group row"  id="emp_row_3" >
                                    <label class="col-sm-2" >Employee 3</label>
                                     <select name="employee_id_3" id="employee_id_3" class="form-control col-sm-2 myselect">
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                  <input type="text" name="emp_id_3" id="emp_id_3" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_3" id="employee_name_3" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_3" id="employee_contact_3" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_3" id="employee_email_3" class="form-control col-sm-2" placeholder="Email">
                                </div>

                              <div class="form-group row"  id="emp_row_4">
                                    <label class="col-sm-2" >Employee 4</label>
                                     <select name="employee_id_4" id="employee_id_4" class="form-control col-sm-2 myselect">
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                   <input type="text" name="emp_id_4" id="emp_id_4" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_4" id="employee_name_4" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_4" id="employee_contact_4" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_4" id="employee_email_4" class="form-control col-sm-2" placeholder="Email">
                                </div>

                               <div class="form-group row"  id="emp_row_5">
                                    <label class="col-sm-2" >Employee 5</label>
                                     <select name="employee_id_5" id="employee_id_5" class="form-control col-sm-2 myselect">
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                   <input type="text" name="emp_id_5" id="emp_id_5" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_5" id="employee_name_5" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_5" id="employee_contact_5" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_5" id="employee_email_5" class="form-control col-sm-2" placeholder="Email">
                                </div>

                               <div class="form-group row"  id="emp_row_6">
                                    <label class="col-sm-2" >Employee 6</label>
                                     <select name="employee_id_6" id="employee_id_6" class="form-control col-sm-2 myselect">
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_cid}}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="text" name="emp_id_6" id="emp_id_6" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_6" id="employee_name_6" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_6" id="employee_contact_6" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_6" id="employee_email_6" class="form-control col-sm-2" placeholder="Email">
                                </div>

                          </div>

                  <div class="form-group">
                    <div class="offset-md-3 col-md-9">
                        <button type="submit" class="btn btn-info">Submit</button>
                        <button type="button" onclick="history.back();" class="btn btn-default">Cancel</button>
                    </div>
                </div>

                </div>
                </div>






</form>
                  </div>
            </div>
             <!-- end page content -->




{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

<script type="text/javascript">
$(document).ready(function() {
$('#emp_row_2').hide();
$('#emp_row_3').hide();
$('#emp_row_4').hide();
$('#emp_row_5').hide();
$('#emp_row_6').hide();
    var emp_len = $('#employee_id_1 > option').length;
       for (var i=emp_len;i<7;i++) {
       var valueToCompare = $("#no_of_seats option[value='"+i+"']").text();
            if(valueToCompare == i) {
                $("#no_of_seats option[value='"+i+"']").attr("disabled", "disabled");
            }
       }
});

$("#employee_id_1").change(function()
    {
    	$("#emp_id_1").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_1").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_1").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_1").val($(this).find("option:selected").attr("emp_email"));
    });

$("#employee_id_2").change(function()
    {
    	$("#emp_id_2").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_2").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_2").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_2").val($(this).find("option:selected").attr("emp_email"));
    });

$("#employee_id_3").change(function()
    {
    	$("#emp_id_3").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_3").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_3").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_3").val($(this).find("option:selected").attr("emp_email"));
    });

$("#employee_id_4").change(function()
    {
    	$("#emp_id_4").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_4").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_4").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_4").val($(this).find("option:selected").attr("emp_email"));
    });

$("#employee_id_5").change(function()
    {
    	$("#emp_id_5").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_5").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_5").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_5").val($(this).find("option:selected").attr("emp_email"));
    });

    $("#employee_id_6").change(function()
    {
    	$("#emp_id_6").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_6").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_6").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_6").val($(this).find("option:selected").attr("emp_email"));
    });

$(".no_of_seats").change(function()
    {

    	var no_of_seats = $(this).val();

    	if(no_of_seats > 0){
           for(i=1;i<=no_of_seats;i++)
            {
                $('#emp_row_'+i).show();
                $("#employee_id_"+i).attr('required',true);

            }
            var j = parseInt(no_of_seats) + 1;
			for(j=j; j<=6; j++)
			{
				$('#emp_row_'+j).hide();
				$("#employee_id_"+j).attr('required',false);

			}
    	}
    });


 var input = document.getElementById('pickup_location');
 var autocomplete = new google.maps.places.Autocomplete(input);

 var input = document.getElementById('drop_location');
 var autocomplete = new google.maps.places.Autocomplete(input);



</script>
<script id="hello-data" type="application/json">{"hello": "world"}</script>


{% endblock %}