{% extends 'Company/Spoc/layout/header.html' %}

{% block content %}

{% if user %}
			<!-- start page content -->
{% include 'cotrav_alert_message.html' %}

            <div class="page-content-wrapper">
                <div class="page-content">

                                                              <div class="text-center">
                     <div style="font-size:14px; font-weight:bold;">
                        Add Hotel Booking
                     </div></div>

 <form method="post" action="/Corporate/Spoc/add-hotel-booking/{{user.id}}" enctype="multipart/form-data">
      {% csrf_token %}
                <input type="hidden" class="col-sm-8 form-control" name="cotrav_agent_id"  value="{{user.id }}">
            <input type="hidden" name="user_id" value="{{user.id}}">
            <input type="hidden" name="corporate_id" value="{{user.corporate_id}}">
            <input type="hidden" name="spoc_id" value="{{user.id}}">
            <input type="hidden" name="group_id" value="{{user.group_id}}">
            <input type="hidden" name="subgroup_id" value="{{user.subgroup_id}}">
      <input type="hidden" name="current_url" value="{{ request.get_full_path }}">

        <div class="row">
            <div class="col-md-5">
                <div class="card card-topline-aqua">
                    <div class="card-head">
                        <header>ADD BUS BOOKING</header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body ">

                                            <div class="form-group row">
                                                    <label class="col-sm-4">From City</label>
        
                                                    <select class="col-sm-8 form-control myselect" name="from_city" id="from_city"  required>
                                                        <option value="">Select City</option>
                                                        {% for city in cities %}
                                                            <option value="{{city.id}}">{{city.city_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                
                                            </div>

                                            <div class="form-group row">
                                                    <label class="col-sm-4" >City Area</label>
                                                    <select class="col-sm-8 form-control myselect" name="city_area" id="city_area"  required>
                                                        <option value="">Select City Area</option>
                                                       {% for city in cities %}
                                                            <option value="{{city.id}}">{{city.city_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                
                                            </div>

                                            <div class="form-group row">
                                                    <label class="col-sm-4">Preferred Hotel Area</label>
                                                <input type="text" class="col-sm-8 form-control" name="preferred_hotel_area" id="preferred_hotel_area">
<!--                                                    <select class="col-sm-8 form-control myselect" name="preferred_hotel_area" id="preferred_hotel_area"  required>-->
<!--                                                        <option value="">Select Hotel Area</option>-->
<!--                                                        {% for city in cities %}-->
<!--                                                            <option value="{{city.id}}">{{city.city_name}}</option>-->
<!--                                                        {% endfor %}-->
<!--                                                    </select>-->
                                                
                                            </div>

                                        <div class="form-group row">
                                                <label class="col-sm-4">Check In DateTime</label>
                                                <input type="text" class="col-sm-8 form-control date-format" name="check_in_date">
                                        </div>
    
                                        <div class="form-group row">
                                                <label class="col-sm-4">Check Out DateTime</label>
                                                <input type="text" class="col-sm-8 form-control date-format" name="check_out_date">
                                        </div>  
                                        
                                        
                                        <div class="form-group row">
                                                <label class="col-sm-4">Room type (Priority 1)</label>
                                                <select class="col-sm-8 form-control myselect" name="room_type_priority1" id="room_type_priority1"  required>
                                                    <option value="">Select Room Type</option>
                                                    {% for room_type in room_types %}
                                                        <option value="{{room_type.id}}">{{room_type.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            
                                        </div>

                                        <div class="form-group row">
                                                <label class="col-sm-4">Room type (Priority 2)</label>
    
                                                <select class="col-sm-8 form-control myselect" name="room_type_priority2" id="room_type_priority2"  required>
                                                <option value="">Select Room Type</option>
                                                    {% for room_type in room_types %}
                                                <option value="{{room_type.id}}">{{room_type.name}}</option>
                                                {% endfor %}
                                                </select>
                                            
                                        </div>

                                        <div class="form-group row">
                                                <label class="col-sm-4" for="room_occupancy">Room Occupancy</label>
    
                                                    <select class="col-sm-8 form-control myselect" name="room_occupancy" id="room_occupancy"  required>
                                                       <option value="">Select Room Occupancy</option>
                                                        {% for hotel_type in hotel_types %}
                                                <option value="{{hotel_type.id}}">{{hotel_type.name}}</option>
                                                {% endfor %}
                                                </select>
                                            
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-4">Preferred Hotel</label>
                                            <input type="text" class="col-sm-8 form-control" name="preferred_hotel"  placeholder="Preferred Hotel">
                                        </div>

                                      {% for corp_acces in corp_access %}
                                {% if corp_acces.has_assessment_codes == 1 %}
                                        <div class="form-group row">
                                            <label class="col-sm-4">Assessment Code</label>
                                            <select class="col-sm-8 form-control myselect" name="assessment_code" id="assessment_code">
                                                <option value="">Select Assessment Code</option>
                                                {% for assessment in assessments %}
                                                <option value="{{assessment.id}}">{{assessment.assessment_code}}</option>
                                                {% endfor %}
                                                </select>

                                        </div>



                                        <div class="form-group row">
                                                <label class="col-sm-4">Assessment City</label>
                                                <select class="col-sm-8 form-control myselect" name="assessment_city" id="assessment_cities">
                                                    <option value="">Select Assessment City</option>
                                                    {% for city in cities_ass %}
                                                        <option value="{{city.id}}">{{city.city_name}}</option>
                                                        {% endfor %}
                                                </select>
                                            
                                        </div>

                                     {% endif %}
                              {% endfor %}

                                        

                                        <div class="form-group row">
                                                <label class="col-sm-4">Billing Entity</label>
                                                <select class="col-sm-8 form-control myselect" name="billing_entity" id="entity_id"  required>
                                                    <option value="">Select Billing Entity</option>
                                                    {% for entity in entities %}
                                                        <option value="{{entity.id}}">{{entity.entity_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-sm-4">Reason for Booking</label>
                                            <input type="text" class="col-sm-8 form-control" name="reason_for_booking" placeholder="Reason for Booking" required>
                                        </div>




                                </div>
                            </div>
                        </div>




                          <div class="col-md-7">
                               <div class="card card-topline-aqua">
                                <div class="card-head">
                                                   <header>SPOC and Passanger Details</header>
                                                   <div class="tools">
                                                       <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                                       <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                                       <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                                   </div>
                                               </div>
                                               <div class="card-body ">
                           
                                                          <div class="form-group row">
                                <label class="col-sm-2" >Number Of Employees*</label>
                                <select id="no_of_seats" name="no_of_seats" class="form-control col-sm-8 no_of_seats myselect">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5" style="display: none">5</option>
                                    <option value="6" style="display: none">6</option>
                                </select>
                            </div>

                               <div class="form-group row" id="emp_row_1">
                                    <label class="col-sm-2" >Employee 1</label>
                                     <select id="employee_id_1" name="employee_id_1" class="form-control col-sm-2 myselect" required>
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="text" name="emp_id_1" id="emp_id_1" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_1" id="employee_name_1" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_1" id="employee_contact_1" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_1" id="employee_email_1" class="form-control col-sm-2" placeholder="Email">
                                </div>

                              <div class="form-group row" id="emp_row_2" >
                                    <label class="col-sm-2" >Employee 2</label>
                                     <select name="employee_id_2" id="employee_id_2" class="form-control col-sm-2 myselect">
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                  <input type="text" name="emp_id_2" id="emp_id_2" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_2" id="employee_name_2" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_2" id="employee_contact_2" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_2" id="employee_email_2" class="form-control col-sm-2" placeholder="Email">
                                </div>

                              <div class="form-group row"  id="emp_row_3" >
                                    <label class="col-sm-2" >Employee 3</label>
                                     <select name="employee_id_3" id="employee_id_3" class="form-control col-sm-2 myselect">
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                  <input type="text" name="emp_id_3" id="emp_id_3" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_3" id="employee_name_3" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_3" id="employee_contact_3" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_3" id="employee_email_3" class="form-control col-sm-2" placeholder="Email">
                                </div>

                              <div class="form-group row"  id="emp_row_4">
                                    <label class="col-sm-2" >Employee 4</label>
                                     <select name="employee_id_4" id="employee_id_4" class="form-control col-sm-2 myselect">
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                   <input type="text" name="emp_id_4" id="emp_id_4" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_4" id="employee_name_4" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_4" id="employee_contact_4" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_4" id="employee_email_4" class="form-control col-sm-2" placeholder="Email">
                                </div>

                               <div class="form-group row"  id="emp_row_5">
                                    <label class="col-sm-2" >Employee 5</label>
                                     <select name="employee_id_5" id="employee_id_5" class="form-control col-sm-2 myselect">
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_contact}}</option>
                                        {% endfor %}
                                    </select>
                                   <input type="text" name="emp_id_5" id="emp_id_5" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_5" id="employee_name_5" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_5" id="employee_contact_5" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_5" id="employee_email_5" class="form-control col-sm-2" placeholder="Email">
                                </div>

                               <div class="form-group row"  id="emp_row_6">
                                    <label class="col-sm-2" >Employee 6</label>
                                     <select name="employee_id_6" id="employee_id_6" class="form-control col-sm-2 myselect">
                                         <option value="">Select Employee</option>
                                        {% for employee in employees %}
                                        <option value="{{employee.id}}" emp_id="{{employee.employee_cid}}" emp_cnt="{{employee.employee_contact}}" emp_name="{{employee.employee_name}}" emp_email="{{employee.employee_email}}">{{employee.employee_name}}/{{employee.employee_cid}}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="text" name="emp_id_6" id="emp_id_6" class="form-control col-sm-2" placeholder="Employee Id">
                                   <input type="text" name="employee_name_6" id="employee_name_6" class="form-control col-sm-2" placeholder="Name">
                                    <input type="text" name="employee_contact_6" id="employee_contact_6" class="form-control col-sm-2" placeholder="Contact No">
                                    <input type="text" name="employee_email_6" id="employee_email_6" class="form-control col-sm-2" placeholder="Email">
                                </div>
                           
                                                     </div>
                           
                                             <div class="form-group">
                                               <div class="offset-md-3 col-md-9">
                                                   <button type="submit" class="btn btn-info">Submit</button>
                                                   <button type="button" onclick="history.back();" class="btn btn-default">Cancel</button>
                                               </div>
                                           </div>
                           
                                           </div>
                                           </div>
                           
                        </div>

 </form>
  </div>
</div>

<!-- end page content -->




{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

<script>
$(window).on("load", function () {
var_url = '/api/'+'cities'
    $.ajaxSetup({
            headers:{
                'Authorization': "Token {{request.session.spoc_access_token}}",
                'usertype': 4
            }

        });

     $.post(var_url,{},
      function(data)
      {
       //alert(data['Cities']);
       if(data['Cities'].length != 0){
        entities = data['Cities'];
        $('#current_city_id').append($("<option value=''>Select Billing Entity</option>"));
         for (var i=0;i<entities.length;i++) {
            $('#from_city').append($("<option value='"+entities[i].id+"'>"+entities[i].city_name+"</option>"));
            $('#city_area').append($("<option value='"+entities[i].id+"'>"+entities[i].city_name+"</option>"));
         }
       }else{
        alert('No Entity Available')
       }
       });

});

$( document ).ready(function() {
    $('#emp_row_2').hide();
    $('#emp_row_3').hide();
    $('#emp_row_4').hide();
    $('#emp_row_5').hide();
    $('#emp_row_6').hide();

    var emp_len = $('#employee_id_1 > option').length;
       for (var i=emp_len;i<7;i++) {
       var valueToCompare = $("#no_of_seats option[value='"+i+"']").text();
            if(valueToCompare == i) {
                $("#no_of_seats option[value='"+i+"']").attr("disabled", "disabled");
            }
       }

});

$("#employee_id_1").change(function()
    {
    	$("#emp_id_1").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_1").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_1").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_1").val($(this).find("option:selected").attr("emp_email"));
    });

$("#employee_id_2").change(function()
    {
    	$("#emp_id_2").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_2").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_2").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_2").val($(this).find("option:selected").attr("emp_email"));
    });

$("#employee_id_3").change(function()
    {
    	$("#emp_id_3").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_3").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_3").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_3").val($(this).find("option:selected").attr("emp_email"));
    });

$("#employee_id_4").change(function()
    {
    	$("#emp_id_4").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_4").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_4").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_4").val($(this).find("option:selected").attr("emp_email"));
    });

$("#employee_id_5").change(function()
    {
    	$("#emp_id_5").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_5").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_5").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_5").val($(this).find("option:selected").attr("emp_email"));
    });

    $("#employee_id_6").change(function()
    {
    	$("#emp_id_6").val($(this).find("option:selected").attr("emp_id"));
    	$("#employee_name_6").val($(this).find("option:selected").attr("emp_name"));
    	$("#employee_contact_6").val($(this).find("option:selected").attr("emp_cnt"));
    	$("#employee_email_6").val($(this).find("option:selected").attr("emp_email"));
    });

$(".no_of_seats").change(function()
    {

    	var no_of_seats = $(this).val();

    	if(no_of_seats > 0){
           for(i=1;i<=no_of_seats;i++)
            {
                $('#emp_row_'+i).show();
                $("#employee_id_"+i).attr('required',true);

            }
            var j = parseInt(no_of_seats) + 1;
			for(j=j; j<=6; j++)
			{
				$('#emp_row_'+j).hide();
				$("#employee_id_"+j).attr('required',false);

			}
    	}
    });




</script>





{% endblock %}