{% extends 'Company/Spoc/layout/header.html' %}

{% block content %}

{% for Dashboard in dataDashboard %}
{% if user %}

<!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">


			               		<div class="row state-overview">
				                  <div class="col-lg-2">
			                        <div class="info-box bg-b-purple">
							            <span class="info-box-icon"><i class="material-icons">person</i></span>
							            <div class="info-box-content">
							              <span class="info-box-text">Total Active Users</span>
							              <span class="info-box-number">{{Dashboard.total_active_users}}</span>
							            </div>
							          </div>
								  </div>

									<div class="col-lg-2">
			                        <div class="info-box bg-b-green">
							            <span class="info-box-icon"><i class="material-icons">alarm_on</i></span>
							            <div class="info-box-content">
							              <span class="info-box-text">Total Bookings Done</span>
							              <span class="info-box-number">{{Dashboard.total_bookings_count}}</span>
							            </div>
							          </div>
								  </div>

									<div class="col-lg-2">
			                        <div class="info-box bg-b-black">
							            <span class="info-box-icon"><i class="material-icons">new_releases</i></span>
							            <div class="info-box-content">
							              <span class="info-box-text">Upcoming Trips</span>
							              <span class="info-box-number">{{Dashboard.uc_total_bookings_count}}</span>
							            </div>
							          </div>
								  </div>

									<div class="col-lg-2">
			                        <div class="info-box bg-b-yellow">
							            <span class="info-box-icon"><i class="material-icons">report</i></span>
							            <div class="info-box-content">
							              <span class="info-box-text">Bookings- Pending</span>
							              <span class="info-box-number">{{Dashboard.tom_total_bookings_count}}</span>
							            </div>
							          </div>
								  </div>

									<div class="col-lg-2">
			                        <div class="info-box bg-b-blue">
							            <span class="info-box-icon"><i class="material-icons">info</i></span>
							            <div class="info-box-content">
							              <span class="info-box-text">Invoice- Pending</span>
							              <span class="info-box-number">{{Dashboard.pi_total_bookings_count}}</span>
							            </div>
							          </div>
								  </div>


									<div class="col-lg-2">
			                        <div class="info-box bg-b-green">
							            <span class="info-box-icon"><i class="material-icons">local_atm</i></span>
							            <div class="info-box-content">
							              <span class="info-box-text">Total Invoice Amount</span>
							              <span class="info-box-number">{{Dashboard.total_invoice_amount}}</span>
							            </div>
							          </div>
								  </div>

		                    </div>



                 <div class="row">
                        <div class="col-md-4">
                            <div class="card card-topline-lightblue">
                                <div class="card-head">
                                    <header>Total Bookings Done</header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
	                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
	                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="row">
                                         <canvas id="canvasTaxiBookings" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>


					   <div class="col-md-4">
                            <div class="card card-topline-lightblue">
                                <div class="card-head">
                                    <header>Invoice Pending</header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
	                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
	                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="card-body " id="chartjs_pie_parent3">
                                    <div class="row">
                                         <canvas id="canvasUCBookings" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>


					   <div class="col-md-4">
                            <div class="card card-topline-lightblue">
                                <div class="card-head">
                                    <header>Invoice Amount</header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
	                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
	                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="card-body " id="chartjs_pie_parent2">
                                    <div class="row">
                                         <canvas id="canvasTOMBookings" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                    <div class="row">

                        <div class="col-md-6">

                             <div class="card card-topline-lightblue">
                                <div class="card-head">
                                    <header>Six Months Booking Summary</header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
	                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
	                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="card-body " >
                                    <div class="row">
                                        <div class="tools" id="result-graph-container-3">

                                        <select name="month" id="month3">
                                            <option value="1">Jan</option>
                                            <option value="2">Feb</option>
                                            <option value="3">Mar</option>
                                            <option value="4">Apr</option>
                                            <option value="5">May</option>
                                            <option value="6">Jun</option>
                                            <option value="7">Jul</option>
                                            <option value="8">Aug</option>
                                            <option value="9">Sep</option>
                                            <option value="10">Oct</option>
                                            <option value="11">Nov</option>
                                            <option value="12">Dec</option>
                                        </select>

                                        <select name="year" id="year3">
                                            <option value="2010">2010</option>
                                            <option value="2011">2011</option>
                                            <option value="2012">2012</option>
                                            <option value="2013">2013</option>
                                            <option value="2014">2014</option>
                                            <option value="2015">2015</option>
                                            <option value="2016">2016</option>
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020" selected >2020</option>
                                        </select>



                                        <!--<button onclick="callMonthWiseSummery(2020,1)">Months View</button>-->

                                        </div>

                                        <canvas id="booking-chart-by-months" ></canvas>
                                        <!--<canvas id="chartjs_bar2"></canvas>-->
                                        <div class="tools">
                                        <span onclick="prev3()"><i class="fa fa-arrow-circle-left fa-3x" ></i></span>
                                        <span onclick="next3()"><i class="fa fa-arrow-circle-right fa-3x" ></i></span>

                                        <input type="hidden" name="yr" id="yr-3" value="2019">
                                        <input type="hidden" name="mnt" id="mnt-3" value="7">

										<input type="hidden" name="yr" id="yr" value="2019">
                                        <input type="hidden" name="mnt" id="mnt" value="7">



                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>











                    </div>
    <!--Chart JS-->
{% load static %}
    <script src="{% static 'assets/plugins/chart-js/Chart.bundle.js' %}" ></script>
    <script src="{% static 'assets/plugins/chart-js/utils.js' %}" ></script>

{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}

<script>

	/*Taxi Bookings*/
	  var ctx = document.getElementById("canvasTaxiBookings");
	  var data = {
		labels: ["Taxi","Bus","Train","Hotel","Flight"],
		datasets: [{
		  data: [{{Dashboard.taxi_bookings_count}},{{Dashboard.bus_bookings_count}},{{Dashboard.train_bookings_count}},{{Dashboard.hotel_bookings_count}},{{Dashboard.flight_bookings_count}}],
		  backgroundColor: ["#455C73","#9B59B6","#BDC3C7","#26B99A","#3498DB"],
		  hoverBackgroundColor: ["#34495E","#B370CF","#CFD4D8","#36CAAB","#49A9EA"]

		}]
	  };
	  var canvasUCBookings = new Chart(ctx, {
		type: 'doughnut',
		tooltipFillColor: "rgba(51, 51, 51, 0.55)",
		data: data
	  });



	/*Upcoming Bookings*/
	  var ctx = document.getElementById("canvasUCBookings");
	  var data = {
		labels: ["Taxi","Bus","Train","Hotel","Flight"],
		datasets: [{
		  data: [{{Dashboard.pi_taxi_bookings_count}},{{Dashboard.pi_bus_bookings_count}},{{Dashboard.pi_train_bookings_count}},{{Dashboard.pi_hotel_bookings_count}},{{Dashboard.pi_flight_bookings_count}}],
		  backgroundColor: ["#455C73","#9B59B6","#BDC3C7","#26B99A","#3498DB"],
		  hoverBackgroundColor: ["#34495E","#B370CF","#CFD4D8","#36CAAB","#49A9EA"]

		}]
	  };
	  var canvasUCBookings = new Chart(ctx, {
		type: 'doughnut',
		tooltipFillColor: "rgba(51, 51, 51, 0.55)",
		data: data
	  });

	  	   /*Today/Tomorrow Bookings*/
	  var ctx = document.getElementById("canvasTOMBookings");
	  var data = {
		labels: ["Taxi","Bus","Train","Hotel","Flight"],
		datasets: [{
		  data: [{{Dashboard.taxi_invoice_amount}},{{Dashboard.bus_invoice_amount}},{{Dashboard.train_invoice_amount}},{{Dashboard.hotel_invoice_amount}},{{Dashboard.flight_invoice_amount}}],
		  backgroundColor: ["#455C73","#9B59B6","#BDC3C7","#26B99A","#3498DB"],
		  hoverBackgroundColor: ["#34495E","#B370CF","#CFD4D8","#36CAAB","#49A9EA"]

		}]
	  };
	  var canvasTOMBookings = new Chart(ctx, {
		type: 'doughnut',
		tooltipFillColor: "rgba(51, 51, 51, 0.55)",
		data: data
	  });

</script>

<script>

function slice2(array, chunk, offset) {
    var subarray = [];
    for (var i = 0; i<chunk; i++) {
        var ind = (offset + i) % array.length;
        subarray.push(array[ind]);
    }

    return subarray;
}



/* javascript for booking summery */

    function next3(){

    v_yr = parseInt(document.getElementById("yr-3").value);
    v_month = parseInt(document.getElementById("mnt-3").value);
    console.log('####');
    console.log(v_yr);
    console.log(v_month);
    console.log('####');


    if (v_month == 12)
    {
        document.getElementById("mnt-3").value = 1;
        document.getElementById("yr-3").value = v_yr + 1 ;
        v_month = 1
    }else{
        document.getElementById("mnt-3").value = v_month+1;
        v_month = v_month+1;
    }

    //ctx1.destroy();
    callMonthWiseBookingsSummery(v_yr,v_month);
}

function prev3(){
    v_yr = parseInt(document.getElementById("yr-3").value);
    v_month = parseInt(document.getElementById("mnt-3").value);
    console.log('####');
    console.log(v_yr);
    console.log(v_month);
    console.log('####');

    if (v_month == 1)
    {
        document.getElementById("mnt-3").value = 12;
        document.getElementById("yr-3").value = v_yr - 1;
        v_month = 12;
    }else{

        document.getElementById("mnt-3").value = v_month-1;

        v_month = v_month-1;
    }

    //ctx1.destroy();
    callMonthWiseBookingsSummery(v_yr,v_month);
}

    function callMonthWiseBookingsSummery(yr,mnt)
    {

        var_url = '/api/'+'spoc_dashboard_bookings_for_six_months'
    $.ajaxSetup({
            headers:{
                'Authorization': "Token {{request.session.spoc_access_token}}",
                'usertype': 4
            }

        });

$.post(var_url,{'year':yr,'month':mnt},
      function(data)
      {

       // alert(data);

         var chk = mnt;

        taxi_ar = [];
        bus_ar = [];
        train_ar = [];
        flight_ar = [];
        hotel_ar = [];

        var chk_ar = [];
        var chkk_ar = [];


        chk_ar.push(chk);
        taxi_ar.push(chk);
        bus_ar.push(chk);
        train_ar.push(chk);
        flight_ar.push(chk);
        hotel_ar.push(chk);
        for(i=1;i<=5;i++)
        {
            if(chk == 1)
            {
                chk = 13;
            }
            chk--;
            taxi_ar.push(chk);
            bus_ar.push(chk);
            train_ar.push(chk);
            flight_ar.push(chk);
            hotel_ar.push(chk);

            chk_ar.push(chk);

        }

        console.log(chk_ar);
        taxi_arr = [];
        bus_arr = [];
        train_arr = [];
        flight_arr = [];
        hotel_arr = [];

        chk_arr = [];
        taxi = [];
        bus = [];
        train = [];
        flight = [];
        hotel = [];
        console.log('###');
        console.log(data['Sales']);

        for (k=0;k<data['Sales'].length;k++)
        {
        for (i=0;i<data['Sales'][k].length;i++)
        {

            switch(k){

            case 0:
            var a = taxi_ar.indexOf(data['Sales'][k][i].m);
                if ( a != -1 )
                {
                taxi_ar[a] = data['Sales'][k][i].taxi_total;
                taxi_arr.push(a);
                }

                break;

            case 1:
             console.log(data['Sales'][k][i].m);
            var a = bus_ar.indexOf(data['Sales'][k][i].m);
                if ( a != -1 )
                {
                bus_ar[a] = data['Sales'][k][i].bus_total;
                bus_arr.push(a);
                }

                break;

            case 2:

            var a = train_ar.indexOf(data['Sales'][k][i].m);
                if ( a != -1 )
                {
                train_ar[a] = data['Sales'][k][i].train_total;
                train_arr.push(a);
                }

                break;

            case 3:

            var a = flight_ar.indexOf(data['Sales'][k][i].m);
                if ( a != -1 )
                {
                flight_ar[a] = data['Sales'][k][i].flight_total;
                flight_arr.push(a);
                }

                break;

            case 4:

            var a = hotel_ar.indexOf(data['Sales'][k][i].m);
                if ( a != -1 )
                {
                hotel_ar[a] = data['Sales'][k][i].hotel_total;
                hotel_arr.push(a);
                }

                break;

                    }

        }

        }



        for(l=1;l<=5;l++)
        {


        switch(l) {
  case 1:

    for (j=0;j<taxi_ar.length;j++)
        {

        b = taxi_arr.indexOf(j);
            if ( b == -1 )
            {
            taxi_ar[j] = 0;
            }

        }
    break;
  case 2:
    for (j=0;j<bus_ar.length;j++)
        {

        b = bus_arr.indexOf(j);
            if ( b == -1 )
            {
            bus_ar[j] = 0;
            }

        }
    break;
  case 3:
    for (j=0;j<train_ar.length;j++)
        {

        b = train_arr.indexOf(j);
            if ( b == -1 )
            {
            train_ar[j] = 0;
            }

        }
    break;
  case 4:
    for (j=0;j<flight_ar.length;j++)
        {

        b = flight_arr.indexOf(j);
            if ( b == -1 )
            {
            flight_ar[j] = 0;
            }

        }
    break;
  case 5:
    for (j=0;j<hotel_ar.length;j++)
        {

        b = hotel_arr.indexOf(j);
            if ( b == -1 )
            {
            hotel_ar[j] = 0;
            }

        }
    break;
  default:
    // code block

}



        }

        taxi = taxi_ar.reverse();
        bus = bus_ar.reverse();
        train = train_ar.reverse();
        flight = flight_ar.reverse();
        hotel = hotel_ar.reverse();


        month_wise_bookings_summery(taxi,bus,train,flight,hotel,yr,mnt,chk_ar);


       });





    }


    function month_wise_bookings_summery(taxi,bus,train,flight,hotel,yr,mnt,chk_ar) {

    var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

if(chk_ar[5] > 1)
{
mnth = parseInt(chk_ar[5]-1);
}else{
mnth = parseInt(12);
}
ar = slice2(MONTHS,6,mnth);

//ar = [MONTHS[chk_ar[0]],MONTHS[chk_ar[1]],MONTHS[chk_ar[2]],MONTHS[chk_ar[3]],MONTHS[chk_ar[4]],MONTHS[chk_ar[5]]]

//alert(ar);

//alert(current);


     var color = Chart.helpers.color;
     var barChartData3 = {
         labels: ar,
         datasets: [{
             label: 'Taxi',
             backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
             borderColor: window.chartColors.red,
             borderWidth: 1,
             data: [
                 taxi[0],taxi[1],taxi[2],taxi[3],taxi[4],taxi[5]
             ]
         }, {
             label: 'Bus',
             backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
             borderColor: window.chartColors.blue,
             borderWidth: 1,
             data: [
                bus[0],bus[1],bus[2],bus[3],bus[4],bus[5]
             ]
         },{
             label: 'Train',
             backgroundColor: color(window.chartColors.orange).alpha(0.5).rgbString(),
             borderColor: window.chartColors.green,
             borderWidth: 1,
             data: [
                 train[0],train[1],train[2],train[3],train[4],train[5]
             ]
         },{
             label: 'Flight',
             backgroundColor: color(window.chartColors.pink).alpha(0.5).rgbString(),
             borderColor: window.chartColors.pink,
             borderWidth: 1,
             data: [
                 flight[0],flight[1],flight[2],flight[3],flight[4],flight[5]
             ]
         },{
             label: 'Hotel',
             backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
             borderColor: window.chartColors.yellow,
             borderWidth: 1,
             data: [
                 hotel[0],hotel[1],hotel[2],hotel[3],hotel[4],hotel[5]
             ]
         }

         ]

     };

        if (typeof window.myBar3 != "undefined")
        {

        window.myBar3.destroy();

        }else{

        //alert("not exist");

        }



         var ctx3 = document.getElementById("booking-chart-by-months").getContext("2d");
         window.myBar3 = new Chart(ctx3, {
             type: 'bar',
             data: barChartData3,
             options: {
              "animation": {
                            "duration": 1,
                            "onComplete": function() {
                                                        var chartInstance = this.chart,
                                                        ctx = chartInstance.ctx;

                                                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                                                        ctx.textAlign = 'center';
                                                        ctx.textBaseline = 'bottom';

                            this.data.datasets.forEach(function(dataset, i) {
                                                              var meta = chartInstance.controller.getDatasetMeta(i);
                                                              meta.data.forEach(function(bar, index) {
                                                                var data = dataset.data[index];
                                                                Math.round(Number(data)) == 0 ?

                                                                ctx.fillText('', bar._model.x, bar._model.y - 10) :

                                                                ctx.fillText(data, bar._model.x, bar._model.y - 10);

                                                              });
                                                            });
                                                          }
                                                        },
                                                        legend: {
                                                          "display": false
                                                        },
                                                        tooltips: {
                                                          "enabled": true
                                                        },



                scales: {
                            yAxes: [{
                        scaleLabel: {
                        display: true,
                        labelString: 'Total No Of Bookings'
                                    }
                                    }]
                        },
                 responsive: true,
                 legend: {
                     position: 'top',
                 },
                 title: {
                     display: true,
                     text: 'Six Months Bookings Summary'
                 }
             }
         });


         }



</script>

<script>

$('#year3').change(callBookingsChartByMonth);

$('#month3').change(callBookingsChartByMonth);

function callBookingsChartByMonth(){

 var month = $("#month3 :selected").val();
    var year = $("#year3 :selected").val();

 var_url = '/api/'+'spoc_dashboard_bookings_by_month'
    $.ajaxSetup({
            headers:{
                'Authorization': "Token {{request.session.spoc_access_token}}",
                'usertype': 4
            }

        });

$.post(var_url,{'month':month,'year':year},
      function(data)
      {

       taxi_dt = parseInt(data['Sales'][0].taxi);
       bus_dt = parseInt(data['Sales'][0].bus);
       train_dt = parseInt(data['Sales'][0].train);
       flight_dt = parseInt(data['Sales'][0].flight);
       hotel_dt = parseInt(data['Sales'][0].hotel);

      /* barChartData.datasets[0].data = [ taxi_dt ];
       barChartData.datasets[1].data = [ bus_dt ];
       barChartData.datasets[2].data = [ train_dt ];
       barChartData.datasets[3].data = [ flight_dt ];
       barChartData.datasets[4].data = [ hotel_dt ];*/

       BookingsChartByMonth(taxi_dt,bus_dt,train_dt,flight_dt,hotel_dt);


       });

}

function BookingsChartByMonth(taxi_dt,bus_dt,train_dt,flight_dt,hotel_dt){

     if (typeof window.myBar3 != "undefined")
        {
        window.myBar3.destroy();

        }else{

        //alert("not exist");

        }

    var mnt = parseInt($("#month :selected").val());
    var year = parseInt($("#year :selected").val());

    var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
     var color = Chart.helpers.color;

     month = MONTHS[mnt-1];

       var barChartData4 = {
         labels: [month],
         datasets: [{
             label: 'Taxi',
             backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
             borderColor: window.chartColors.red,
             borderWidth: 1,
             data: [
                taxi_dt
             ]
         }, {
             label: 'Bus',
             backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
             borderColor: window.chartColors.blue,
             borderWidth: 1,
             data: [
                bus_dt
             ]
         },{
             label: 'Train',
             backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
             borderColor: window.chartColors.green,
             borderWidth: 1,
             data: [
                train_dt
             ]
         },{
             label: 'Flight',
             backgroundColor: color(window.chartColors.pink).alpha(0.5).rgbString(),
             borderColor: window.chartColors.pink,
             borderWidth: 1,
             data: [
                flight_dt
             ]
         },{
             label: 'Hotel',
             backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
             borderColor: window.chartColors.yellow,
             borderWidth: 1,
             data: [
                hotel_dt
             ]
         }

         ]

     };

        title_text = month + ' Bookings Summery'

         var ctx3 = document.getElementById("booking-chart-by-months").getContext("2d");
         window.myBar3 = new Chart(ctx3, {
             type: 'bar',
             data: barChartData4,
             options: {

              "animation": {
                            "duration": 1,
                            "onComplete": function() {
                                                        var chartInstance = this.chart,
                                                        ctx = chartInstance.ctx;

                                                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                                                        ctx.textAlign = 'center';
                                                        ctx.textBaseline = 'bottom';

                            this.data.datasets.forEach(function(dataset, i) {
                                                              var meta = chartInstance.controller.getDatasetMeta(i);
                                                              meta.data.forEach(function(bar, index) {
                                                                var data = dataset.data[index];

                                                                Math.round(Number(data)) == 0 ?

                                                                ctx.fillText('', bar._model.x, bar._model.y - 10) :

                                                                ctx.fillText(data, bar._model.x, bar._model.y - 10);

                                                              });
                                                            });
                                                          }
                                                        },
                                                        legend: {
                                                          "display": false
                                                        },
                                                        tooltips: {
                                                          "enabled": true
                                                        },


                scales: {
                          yAxes: [{
                           scaleLabel: {
                        display: true,
                        labelString: 'Total Sales In Lacs'
                                    },
                            display: true,
                            gridLines: {
                              display: true
                            },

                          }],
                          xAxes: [{
                            gridLines: {
                              display: true
                            },
                            ticks: {
                              beginAtZero: true
                            }
                          }]
                        },

                 responsive: true,
                 legend: {
                     position: 'top',
                 },
                 title: {
                     display: true,
                     text: title_text
                 }
             }
         });

    }


</script>


<script>

    $(document).ready(function() {


    var d = new Date();

    var date = d.getDate();
    var month = d.getMonth() + 1; // Since getMonth() returns month from 0-11 not 1-12
    var year = d.getFullYear();

    v_yr = parseInt(year);
    v_month = parseInt(month);

    document.getElementById("yr-3").value = v_yr;
    document.getElementById("mnt-3").value = v_month;

    /*callMonthWiseSummery(v_yr,v_month);*/

    callMonthWiseBookingsSummery(v_yr,v_month);

    //city_wise_summery();

    /*callChartByCity();*/

     	var today_date = new Date();

		var six_month_back = moment().subtract(180, 'days').calendar();

		var date2 = new Date(six_month_back);

		today_date_value = today_date.getFullYear()  + '-' + ('0' + (today_date.getMonth() + 1)).slice(-2) + '-' + ('0' + today_date.getDate()).slice(-2) ;

		date3 = date2.getFullYear()  + '-' + ('0' + (date2.getMonth() + 1)).slice(-2) + '-' + ('0' + date2.getDate()).slice(-2) ;

		var from_date = date3;

		var to_date = today_date_value;

		document.getElementById("to_date").defaultValue = to_date;
		document.getElementById("from_date").defaultValue = from_date;

    /*callTaxAmountTable(from_date,to_date);*/


	});

</script>



{% endfor %}
{% endblock %}





