{% extends 'Operator/layout/header.html' %}

{% block content %}

{% if user %}

<!-- The Modal -->
<div class="modal fade model_custom_style" role="dialog" id="model_add_new_group">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 id="delete_label" class="modal-title-status">Are You Want To Delete Operator Driver ? </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <form action="/operator/delete-operator-driver/{{user.id}}" method="post" enctype="multipart/form-data" id="form_id">
                <input type="hidden" name="driver_id" id="driver_id">
                <input type="hidden" name="user_id" value="{{user.id}}">
                <input type="hidden" name="delete_id" value="1">
 <input type="hidden" name="current_url" value="{{ request.get_full_path }}">
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button id="delete_btn" type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
            </div>

        </div>
    </div>
</div>

 {% include 'cotrav_alert_message.html' %}
<!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-topline-aqua">
                                <div class="card-head">
                                    <header>ALL OPERATORS DRIVERS</header>
                                        <div class="row p-b-20">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <div class="btn-group">
                                                <a class="btn btn-info" href="/operator/add-operator-driver/0" > Add New <i class="fa fa-plus"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
	                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
	                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="card-body ">



                                                <div class="text-center">
                 <div style="font-size:14px; font-weight:bold;">
                     Operator Drivers Details
                     </div>
            </div>
                                  <div class="table-scrollable table-bordered">
                                    <table id="example1" class="display full-width table-striped">
                                        <thead>
                                            <tr>
                                                <th>Operator Name</th>
                                                <th>Driver Name</th>
                                                <th>Driver Contact</th>
                                                <th>Driver Email</th>
                                                <th>Driver Licence_no </th>
                                                <th>Fcm Regid</th>
                                                <th>Taxi No</th>

                                                <th>Action</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                        {% for driver in op_drivers %}
                                            <tr>
                                                <td>{{ driver.operator_name }}</td>
                                                <td>{{ driver.driver_name }}</td>
                                                <td>{{ driver.driver_contact }}</td>
                                                <td>{{ driver.driver_email|default:'' }}</td>
                                                <td>{{ driver.licence_no|default:'' }}</td>
                                                <td>{{ driver.fcm_regid|default:'' }}</td>
                                                <td>{{ driver.taxi_reg_no|default:'' }}</td>

                                                 <td>
                                                    <a href="/operator/add-operator-driver/{{ driver.id }}" class="btn btn-tbl-edit btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>

                                                    <a class="btn btn-tbl-delete btn-xs" data-target="#model_add_new_group"
                                                       data-id="{{driver.id}}" data-delete_id="1" data-toggle="modal" href="#">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                            </tbody>
                                        </table>
	                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end page content -->





{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}


<script type="text/javascript">
$(function() {

  $('#model_add_new_group').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var id = button.data('id'); // Extract info from data-* attributes
    var modal = $(this);
    modal.find('#driver_id').val(id);
    });

});



</script>


{% endblock %}