{% extends 'main_base.html' %}

{% block content %}

{% load static %}

<section class="page-title-section2 bg-img cover-background" data-background="{% static 'img/bg/bg9.jpg' %}">
                          <div class="square-title margin-10px-bottom">
                            <h1 class="alt-font text-uppercase text-black font-weight-600 no-margin font-size50 md-font-size42 sm-font-size32 width-100 font-txt" style="color: #000000;position: relative;bottom: 90px;">Effortless Corporate travel</h1>
                        </div>
                      <p class="width-55 sm-width-75 xs-width-95 center-col" style="color: #000000;font-size: 15px; font-weight: 700;  position: relative; bottom: 85px; background: #ffffff91;opacity: 0.8;">Our truly proactive and dedicated team of professionals with years of experience and operational capability offer unparalleled travel management service to our clients.</p>
                    
           
        </section>
        <!-- start project section -->
           <section>
            <div class="container">
                <div class="row">

                    <!-- start about left section -->
                    <div class="col-lg-5 col-md-12 sm-margin-30px-bottom">

                        <div class="section-heading title-style5 left half">
                     
                            <h4 class="font-weight-600">About Cotrav</h4>
                            
                        </div>

                        <p>Co-Trav is an ISO certified travel solutions provider. In the last 5 years, we have strived to deliver distinctive corporate travel experiences keeping in mind the unique travel needs of each business. We understand that there is no one-size-fits-all approach in travel and offer flexible and comprehensive travel solutions to ease travel management for our clients. <br><br>

We provide end-to-end solutions – from pre-trip processes like approval to making bookings, compliance, and analytics, up to post-travel reconciliation and expense management – for your organization. CoTrav's holistic solutions leverage the latest travel technology to make booking, travel, and reconciliation seamless.<br>

With operations spread across 300 cities in India, we have a full-fledged customer care support operating 24x7 and 365 days to serve you better.
</a>
                    </div>
                    <!-- end about left section -->

                    <!-- start about right section -->
                    <div class="col-lg-7 col-md-12">
                        <div class="about-carousel margin-100px-left sm-margin-50px-left xs-no-margin-left">
                            <div class="owl-carousel owl-theme">
                                <div class="item"><img src="{% static 'img/interior/interior-about-01.jpg' %}" alt="" /></div>
                                <div class="item"><img src="{% static 'img/interior/interior-about-02.jpg' %}" alt="" /></div>
                               
                            </div>
                        </div>
                    </div>
                    <!-- end about right section -->

                </div>
            </div>

        </section>
        <!-- end about section -->


        <!-- end why cotrav section -->
       
        <!-- start video section -->
       <section class="parallax " id="parallax2" data-overlay-dark="6" data-background="{% static 'img/bg/bg134.jpg' %}">
            <div class="container text-center">
                <div class="section-heading half white">
                    <h1>Who we are? </h1>
                    <p class="alignment">Blending years of expertise with the right technology, CoTrav is a one-of-its-kind solution that fulfills all of your travel needs.</p>
                    <div  class="img-align">
                         <a href="#"><img src="{% static 'img/logos/android app.png' %}"></a>
                 </div>
                 
              
            </div>
        </section>
        <!-- end advice section -->

    <section class="bg-very-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-12 margin-50px-bottom sm-no-margin-bottom">
                        <h5 class="alt-font text-uppercase font-size32 md-font-size30 sm-font-size24 xs-font-size22 title-style8">Cotrav Features</h5>
                    </div>
                    <div class="col-lg-7 col-sm-12 margin-50px-bottom sm-margin-30px-bottom">
                        <div class="display-table height-100">
                            <div class="display-table-cell vertical-align-middle">
                                <p class="no-margin-bottom font-size16 line-height-28 sm-font-size15 sm-line-height-26 border-left border-color-light-black sm-no-border-left padding-20px-tb sm-no-padding padding-50px-left">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <!-- start services item -->
                    <div class="col-lg-3 col-md-6 sm-margin-30px-bottom">
                        <div class="bg-white border border-width-2 border-color-extra-light-gray text-center padding-30px-tb sm-padding-25px-tb xs-padding-20px-all feature-box9">
                            <div class="display-inline-block margin-20px-bottom xs-margin-10px-bottom"><i class="fa fa-group" style="font-size:36px; color:#000000;"></i></div>
                            <div class="alt-font text-extra-dark-gray margin-10px-bottom" style="font-weight: 600;"> Employee Management</div>
                            <p class="width-75 md-width-90 xs-width-100 center-col no-margin-bottom">Complete Business solution for your company infrastructures.The template design to fit with your ideal design.</p>
                        </div><br>
                    </div>
                    <!-- end services item -->
                    <!-- start services item -->
                    <div  class="col-lg-3 col-md-6 sm-margin-30px-bottom">
                        <div class="bg-white border border-width-2 border-color-extra-light-gray text-center padding-30px-tb sm-padding-25px-tb xs-padding-20px-all feature-box9">
                            <div class="display-inline-block margin-20px-bottom xs-margin-10px-bottom"><i class="fa fa-industry" aria-hidden="true"  style="font-size:36px; color:#000000;"></i></div>
                            <div class="alt-font text-extra-dark-gray margin-10px-bottom" style="font-weight: 600;">    Designation Management</div>
                            <p class="width-75 md-width-90 xs-width-100 center-col no-margin-bottom">Complete Business solution for your company infrastructures.The template design to fit with your ideal design.</p>
                        </div><br>
                    </div>
                    <!-- end services item -->
                    <!-- start services item -->
                    <div class="col-lg-3 col-md-6 xs-margin-30px-bottom">
                        <div class="bg-white border border-width-2 border-color-extra-light-gray text-center padding-30px-tb sm-padding-25px-tb xs-padding-20px-all feature-box9">
                            <div class="display-inline-block margin-20px-bottom xs-margin-10px-bottom"> <i class="fa fa-check-square-o font-size42 md-font-size40 sm-font-size38 xs-font-size32 " style="font-size:36px; color:#000000;"></i> <i class="fa fa-ban" style="font-size:36px; color:#000000;"></i></div>
                            <div class="alt-font text-extra-dark-gray margin-10px-bottom" style="font-weight: 600;"> Approval And Rejections</div>
                            <p class="width-75 md-width-90 xs-width-100 center-col no-margin-bottom">Complete Business solution for your company infrastructures.The template design to fit with your ideal design.</p>
                        </div><br>
                    </div>
                    <!-- end services item -->
                    <!-- start services item -->
                    <div class="col-lg-3 col-md-6 xs-margin-30px-bottom">
                        <div class="bg-white border border-width-2 border-color-extra-light-gray text-center padding-30px-tb sm-padding-25px-tb xs-padding-20px-all feature-box9">
                            <div class="display-inline-block margin-20px-bottom xs-margin-10px-bottom" ><i class="fa fa-file" aria-hidden="true" style="font-size:36px; color:#000000;"></i></div>
                            <div class="alt-font text-extra-dark-gray margin-10px-bottom" style="font-weight: 600;"> Passenger Reports </div>
                            <p class="width-75 md-width-90 xs-width-100 center-col no-margin-bottom">Complete Business solution for your company infrastructures.The template design to fit with your ideal design.</p>
                        </div><br>
                    </div>

                        <div class="col-lg-3 col-md-6">
                        <div class="bg-white border border-width-2 border-color-extra-light-gray text-center padding-30px-tb sm-padding-25px-tb xs-padding-20px-all feature-box9">
                            <div class="display-inline-block margin-20px-bottom xs-margin-10px-bottom" ><i class="fas fa-wallet"  style="font-size:36px; color:#000000;"></i></div>
                            <div class="alt-font text-extra-dark-gray margin-10px-bottom" style="font-weight: 600;">     Self Booking Facility using payment gateway</div>
                            <p class="width-75 md-width-90 xs-width-100 center-col no-margin-bottom">Complete Business solution for your company infrastructures.The template design to fit with your ideal design.</p>
                        </div><br>
                    </div>

                      <div class="col-lg-3 col-md-6">
                        <div class="bg-white border border-width-2 border-color-extra-light-gray text-center padding-30px-tb sm-padding-25px-tb xs-padding-20px-all feature-box9">
                            <div class="display-inline-block margin-20px-bottom xs-margin-10px-bottom" ><i class="fa fa-credit-card"  style="font-size:36px; color:#000000;"></i></div>
                            <div class="alt-font text-extra-dark-gray margin-10px-bottom" style="font-weight: 600;">  Pay options: Net banking, Credit and debit cards</div>
                            <p class="width-75 md-width-90 xs-width-100 center-col no-margin-bottom">Complete Business solution for your company infrastructures.The template design to fit with your ideal design.</p>
                        </div><br>
                    </div>

                       <div class="col-lg-3 col-md-6">
                        <div class="bg-white border border-width-2 border-color-extra-light-gray text-center padding-30px-tb sm-padding-25px-tb xs-padding-20px-all feature-box9" style="    height: 88%;">
                            <div class="display-inline-block margin-20px-bottom xs-margin-10px-bottom" ><i class="fas fa-receipt"  style="font-size:36px; color:#000000;"></i></div>
                            <div class="alt-font text-extra-dark-gray margin-10px-bottom" style="font-weight: 600;"> Ledger Statement Employee, Designation and Department wise </div>
                            <p class="width-75 md-width-90 xs-width-100 center-col no-margin-bottom">Complete Business solution for your company infrastructures.The template design to fit with your ideal design.</p>
                        </div> <br>
                    </div>


                      <div class="col-lg-3 col-md-6">
                        <div class="bg-white border border-width-2 border-color-extra-light-gray text-center padding-30px-tb sm-padding-25px-tb xs-padding-20px-all feature-box9"  style="    height: 88%;">
                            <div class="display-inline-block margin-20px-bottom xs-margin-10px-bottom"><i class="fas fa-book" style="font-size:36px; color:#000000;"></i> <i class="fas fa-times-circle" style="font-size:36px; color:#000000;"></i></div>
                            <div class="alt-font text-extra-dark-gray margin-10px-bottom"  style="font-weight: 600;"> Booking and Cancel Reports</div>
                            <p class="width-75 md-width-90 xs-width-100 center-col no-margin-bottom">Complete Business solution for your company infrastructures.The template design to fit with your ideal design.</p>
                        </div><br>
                    </div>

                    
                     <div class="col-lg-3 col-md-6">
                        <div class="bg-white border border-width-2 border-color-extra-light-gray text-center padding-30px-tb sm-padding-25px-tb xs-padding-20px-all feature-box9">
                            <div class="display-inline-block margin-20px-bottom xs-margin-10px-bottom"><i class="fas fa-file-invoice" style="font-size:36px; color:#000000;"></i></div>
                            <div class="alt-font text-extra-dark-gray margin-10px-bottom"  style="font-weight: 600;"> Invoices Management</div>
                            <p class="width-75 md-width-90 xs-width-100 center-col no-margin-bottom">Complete Business solution for your company infrastructures.The template design to fit with your ideal design.</p>
                        </div><br>
                    </div>

                     <div class="col-lg-3 col-md-6">
                        <div class="bg-white border border-width-2 border-color-extra-light-gray text-center padding-30px-tb sm-padding-25px-tb xs-padding-20px-all feature-box9">
                            <div class="display-inline-block margin-20px-bottom xs-margin-10px-bottom" ><i class="fas fa-cogs" style="font-size:36px; color:#000000;"></i></div>
                            <div class="alt-font text-extra-dark-gray margin-10px-bottom" style="font-weight: 600;">     Payment Gateway Integration</div>
                            <p class="width-75 md-width-90 xs-width-100 center-col no-margin-bottom">Complete Business solution for your company infrastructures.The template design to fit with your ideal design.</p>
                        </div>
                    </div>
                  <!-- end services item -->
                </div>
            </div>
        </section>
        <!-- end features section -->

        

        <section>
            <div class="container">
                <div class="section-heading">
                    <h3>Our Team</h3>
                    <p class="width-55 sm-width-75 xs-width-95">
                       We'r smart, We'r hard working, We'r easy to talk to,and we love a challenge</p>
                </div>
                <div class="owl-carousel owl-theme" id="services-carousel">
                    <div class="service-box">
                        <div class="img-holder"><img  src="{% static 'img/content/services/team.png' %}"></div>
                        <div class="clearfix service-inner-box">
                            <div class="service-icon-box"></div>
                            <div class="service-content-box">
                                <h3>Vinod Kumar</h3>
                                <p>Co-Founder and CTO</p>
                            </div>
                        </div>
                    </div>
                     <div class="service-box">
                        <div class="img-holder"><img  src="{% static 'img/content/services/team_1.png' %}"></div>
                        <div class="clearfix service-inner-box">
                            <div class="service-icon-box"></div>
                            <div class="service-content-box">
                               <h3>Varsharani Tandale</h3>
                                <p>Project manager</p>
                            </div>
                        </div>
                    </div>

                     <div class="service-box">
                        <div class="img-holder"><img  src="{% static 'img/content/services/team_2.png' %}"></div>
                        <div class="clearfix service-inner-box">
                            <div class="service-icon-box"></div>
                            <div class="service-content-box">
                               <h3>balwant Chauhan</h3>
                                <p>Web-Developer</p>
                            </div>
                        </div>
                    </div>

                     <div class="service-box">
                        <div class="img-holder"><img  src="{% static 'img/content/services/team_3.png' %}"></div>
                        <div class="clearfix service-inner-box">
                            <div class="service-icon-box"></div>
                            <div class="service-content-box">
                               <h3>sanket sudhakar chiprikar</h3>
                                <p>Web-Developer</p>
                            </div>
                        </div>
                    </div>

                       <div class="service-box">
                        <div class="img-holder"><img  src="{% static 'img/content/services/team_4.png' %}"></div>
                        <div class="clearfix service-inner-box">
                            <div class="service-icon-box"></div>
                            <div class="service-content-box">
                               <h3>Siddhart jain</h3>
                                <p>Frontend-Developer</p>
                            </div>
                        </div>
                    </div>

                     <div class="service-box">
                        <div class="img-holder"><img  src="{% static 'img/content/services/team_5.png' %}"></div>
                        <div class="clearfix service-inner-box">
                            <div class="service-icon-box"></div>
                            <div class="service-content-box">
                               <h3>Shreyash Pattewar</h3>
                                <p>Mobile App Devloper</p>
                            </div>
                        </div>
                    </div>
                     <div class="service-box">
                        <div class="img-holder"><img  src="{% static 'img/content/services/team_6.png' %}"></div>
                        <div class="clearfix service-inner-box">
                            <div class="service-icon-box"></div>
                            <div class="service-content-box">
                               <h3>Baliram Kore</h3>
                                <p>Mobile App Devloper</p>
                            </div>
                        </div>
                    </div>
                    
                   
                </div>
            </div>
        </section>
        <!-- end service section -->




{% endblock %}