{% extends 'main_base.html' %}

{% block content %}

{% load static %}
{% include 'cotrav_alert_signup.html' %}

 <!-- start main-wrapper section -->
    <div class="main-wrapper">
             <!-- start registration form -->
        <section class="parallax position-relative box-hover" data-overlay-dark="6" data-background="{% static 'img/bg/bg-login.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 center-col">
                        <div class="bg-white padding-30px-all sm-padding-20px-all border border-width-5">
                            <div class="section-heading section-heading2">
                                <h3>Sign-Up</h3>

                            </div>
                            <form action="signup" method="POST" class="registration-form">
                                <div class="row">
                                     
                                    <div class="col-11">
                                         <img src="{% static 'img/logos/6.png' %}" id="contact_icon1">
                                        <input type="text" name="corporate_name" id="company_Name" required="required" placeholder="Name Of Your Company *" maxlength="70" class="medium-input input_signupform">
                                        <span class="err_msg">{{err_msg}}</span>
                                    </div>

                                       <div class="col-11">
                                         <img src="{% static 'img/logos/7.png' %}" id="contact_icon1">
                                        <input type="text" name="corporate_location" id="company_location" required="required" placeholder="Location *" value="{{city}}" maxlength="70" class="medium-input input_signupform">
                                    </div>
                                     <div class="col-11">
                                         <img src="{% static 'img/logos/1.png' %}" id="contact_icon1">
                                        <input type="text" name="contact_person_name" id="Name" required="required" placeholder="Contact Person *" value="{{name}}" maxlength="70" class="medium-input input_signupform">
                                    </div>
                                      <div class="col-11">
                                            <img src="{% static 'img/logos/3.png' %}" id="contact_icon1">
                                        <input type="text" name="contact_person_no" id="phone" placeholder="Contact Number" maxlength="10" value="{{number}}" class="medium-input input_signupform">
                                    </div>
                                    <div class="col-11">
                                         <img src="{% static 'img/logos/2.png' %}" id="contact_icon1">
                                        <input type="email" name="contact_person_email" id="Contact_email" required="required" placeholder="Contact Email *" value="{{email}}" maxlength="70" class="medium-input input_signupform">
                                    </div>

                                    <div class="col-11">
                                        <img src="{% static 'img/logos/2.png' %}" id="contact_icon1">
                                        <select name="Hear_About_Us" class="medium-input input_signupform" required>
                                            <option value="">How Did You Hear About Us?</option>
                                            <option value="Website">Website</option>
                                            <option value="news paper">News Paper</option>
                                            <option value="Email">Email</option>
                                            <option value="mobile sms">Mobile SMS</option>
                                        </select>

                                   </div>
                                    <input type="hidden" value="Sign Up" name="Lead_Source">

                                    <div class="col-11">
                                       <img src="{% static 'img/logos/8.png' %}" id="contact_icon1">
                                        <textarea name="message" rows="5" placeholder="Message:" data-constraints="@NotEmpty" value="{{message}}" class="medium-input input_signupform"></textarea>
                                    </div>
                                 
                                    <div class="col-12">
                                        <button class="butn theme medium" type="submit"><span>Sign-Up</span></button>
                
                                    </div>
                                </div>
                            </form>
                        
                        </div>
                        
                    </div>
                </div>

            </div>
        </section>
        <!-- end registration form -->

    </div>
    <!-- end main-wrapper section -->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCstbhex4F6X2-AXz3B1sR1oRvxssE3sc&libraries=places"></script>

<script>
  var company_location = document.getElementById('company_location');
  var autocomplete = new google.maps.places.Autocomplete(company_location);

</script>

{% endblock %}