{% extends 'main_base.html' %}

{% block content %}

{% load static %}

  <section class="page-title-section2 bg-img cover-background" data-background="{% static 'img/bg/bg_support.jpg' %}">

        </section>

          <section class="bg-light-gray">
            <div class="container">

                <div class="row">

                    <div class="col-lg-5 col-md-12 sm-margin-50px-bottom xs-margin-30px-bottom">
                        <img src="{% static 'img/content/contant-left01.jpg' %}" alt="" class="border-radius-5 box-shadow-primary">
                    </div>

                    <div class="col-lg-7 col-md-12">
                        <div class="padding-70px-left md-padding-50px-left sm-no-padding">
                            <div class="display-table-cell vertical-align-middle width-100">
                                <h4>Our passion us to work hard and deliver outstanding results.</h4>
                                <p class="sm-width-85 xs-width-90">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus.</p>

                                <div class="width-65 xs-width-85">
                                    <ul class="list-style-5 margin-25px-bottom xs-margin-20px-bottom">
                                        <li>Successful marketing</li>
                                        <li>Business strategy</li>
                                        <li>Take better decisions</li>
                                        <li>Working materials formate</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            <section>
            <div class="container">
                <div class="section-heading">
                    <h3>We Provide Faster Service</h3>
                    <p class="width-55 sm-width-75 xs-width-95">Business consulting excepteur sint occaecat cupidatat consulting non proident, sunt in culpa qui officia deserunt laborum Market.</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 sm-margin-20px-bottom">
                        <div class="service-simple">
                            <div class="overflow-hidden">
                                <img alt="img" src="{% static 'img/content/services/s-1.jpg' %}" />
                            </div>
                            <div class="service-simple-inner">
                                <h4>Business Growth</h4>
                                <div class="separator-line-horrizontal-full bg-medium-gray margin-10px-top margin-20px-bottom"></div>
                                <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt reprehenderit.</p>
                                <a href="javascript:void(0)" class="butn theme small"><span>Learn More</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 sm-margin-20px-bottom">
                        <div class="service-simple">
                            <div class="overflow-hidden">
                                <img alt="img" src="{% static 'img/content/services/s-2.jpg' %}" />
                            </div>
                            <div class="service-simple-inner">
                                <h4>Financial Analysis</h4>
                                <div class="separator-line-horrizontal-full bg-medium-gray margin-10px-top margin-20px-bottom"></div>
                                <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt reprehenderit.</p>
                                <a href="javascript:void(0)" class="butn theme small"><span>Learn More</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="service-simple">
                            <div class="overflow-hidden">
                                <img alt="img" src="{% static 'img/content/services/s-3.jpg' %}" />
                            </div>
                            <div class="service-simple-inner">
                                <h4>Success Report</h4>
                                <div class="separator-line-horrizontal-full bg-medium-gray margin-10px-top margin-20px-bottom"></div>
                                <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt reprehenderit.</p>
                                <a href="javascript:void(0)" class="butn theme small"><span>Learn More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

         <section class="parallax bg-color"  >
            <div class="container text-center">
                <div class="section-heading half white" >
                    <h4 id="black-color">Contact Support</h4>
                    <p id="black-color">You are our valuable customer. Let us know your query and we shall get back to you within 24 hours
                 </p>
                </div>
                <a href="cotrav/contact.html" class="butn theme white-hover"><span>Contact Us</span></a>
            </div>
        </section>

        <section class="parallax bg-color_1">
            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-md-12 margin-30px-bottom">

                        <div class="row">
                            <div class="col-12">
                                <div class="section-heading left white txt_align">
                                   <h4 id="black-color">Contact Support</h4>
                                 <p id="black-color">You are our valuable customer. Let us know your query and we shall get back to you within 24 hours
                                </div>
                            </div>


                        </div>

                    </div>

                    <div class="col-lg-6 col-md-12 offset-lg-1">
                        <div class="contact-form-box bg-white padding-30px-all sm-padding-20px-all border border-width-8">
                            <h5 class="font-size18">Let's talk about your business.</h5>
                            <form method="post" action="{ static 'bat/rd-mailform.php' %}" class="mailform off2">
                                <input type="hidden" name="form-type" value="contact">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" name="name" placeholder="Your Name:" data-constraints="@LettersOnly @NotEmpty">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="phone" placeholder="Telephone:" data-constraints="@Phone">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="email" placeholder="Email:" data-constraints="@Email @NotEmpty">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea name="message" rows="3" placeholder="Message:" data-constraints="@NotEmpty"></textarea>
                                    </div>
                                    <div class="mfControls col-md-12">
                                        <button type="submit" class="butn">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>



{% endblock %}