{% extends 'main_base.html' %}

{% block content %}

{% load static %}


       <!-- start home slider -->
        <div class="home-business-slider text-center owl-carousel">
            <div class=" screen-height bg-img" data-overlay-dark="1" data-background="{% static 'img/bg/bg-home.jpg' %}">
                <div class="opacity-extra-medium bg-extra-dark-gray z-index-2"></div>
                <div class="absolute-middle-center z-index-3 width-60 md-width-95 sm-width-100 padding-15px-lr">
                    <div class="banner-desc margin-40px-top">
                        <div class="square-title margin-10px-bottom">
                            <h1 class="alt-font text-uppercase text-black font-weight-600 no-margin font-size50 md-font-size42 sm-font-size32 width-100 font-txt">Corporate Travel Simplified</h1>
                        </div>
                        <p class="text-center text-black center-col fontsize16 font-weight-300 margin-10px-bottom line-height-28 width-55 sm-width-75 xs-width-95 width-100 font-txt_weight">CoTrav is a B2B SaaS Platform based end-to-end travel management company offering seamless, cashless and paperless corporate travel solutions. 
                          Your comfort and safety are our priority. With a strategic approach, we cater to all types of travel bookings, compliance and data management through integrated applications for a seamless travel experience for users and admins. 
                        
 
                        </p>

                         <button type="button" class="butn-style3 theme grey-hover butn_theme_white btn-align" data-toggle="modal" data-target="#myModal">
                       Book a Demo 
                  </button>

<!-- Modal -->
               <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2Label" aria-hidden="true">
                <div class="modal-dialog model2" role="document">
                <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="myModal2Label">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
      </div>
      <div class="modal-body">
          <div class="col-sm-12">
                                        <input type="text" name="name" placeholder=" Name:" data-constraints="@LettersOnly @NotEmpty">
                                    </div>

                                    <div class="col-sm-12">
                                        <input type="text" name="email" placeholder="Phone Number:" data-constraints=" @phone">
                                    </div>
                                     <div class="col-sm-12">
                                        <input type="text" name="email" placeholder="Email:" data-constraints="@Email @NotEmpty">
                                    </div>
                                    <div class="col-sm-12">
                                        <textarea name="message" rows="5" placeholder="Message:" data-constraints="@NotEmpty"></textarea>
                                    </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

            <script>
             $('#myModal2').on('shown.bs.modal', function () {
               $('#myInput').trigger('focus')
             })
         </script>

                  </form>

                      <p class="info_txt" style="position: relative;bottom: 13px;">Call US : +919881102875</p>

                    </div>

               </div>
            </div>
        </div>

       <!-- end home slider -->


 <section class="bg-light-gray">
            <div class="container">
                <div class="section-heading">
                    <h3 class="title-style2">Our Services</h3>
                    <p class="width-55 sm-width-75 xs-width-95 center-col">Our truly proactive and dedicated team of professionals with years of experience and operational capability offer unparalleled travel management service to our clients.</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                        <div class="services-block-three">
                            <a href="hotel">
                                <div class="padding-15px-bottom">
                                      <img src="{% static 'img/logos/hotel.png' %}">

                                </div>
                                <h4>    Hotel Bookings</h4>

                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                        <div class="services-block-three">
                            <a href="travel">
                                <div class="padding-15px-bottom">
                                   <img src="{% static 'img/logos/flight.png' %}">

                                </div>

                                <h4>Flight/Bus/Train Bookings</h4>

                            </a>
                        </div>
                    </div>
                    <div class="services-block-three col-lg-4 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                        <div class="services-block-three">
                            <a href="cab">
                                <div class="padding-15px-bottom">
                                    <img src="{% static 'img/logos/taxi.png' %}">
                                </div>
                                <h4>Cab Travel Management </h4>

                            </a>
                        </div>
                    </div>
              

                    

                    <div class="services-block-three col-lg-4 col-md-6 xs-margin-20px-bottom">
                        <div class="services-block-three">
                            <a href="visa">
                                <div class="padding-15px-bottom">
                                   <img src="{% static 'img/logos/visa.png' %}">
                                </div>
                                <h4>Visa Services</h4>

                            </a>
                        </div><br>
                    </div>
                    <div class="services-block-three col-lg-4 col-md-6">
                        <div class="services-block-three">
                            <a href="ticketing">
                                <div class="padding-15px-bottom">
                                       <img src="{% static 'img/logos/travel_remb.png' %}">
                                </div>
                                <h4>Travel reimbursement</h4>

                            </a>
                        </div><br>
                    </div>
                       <div class="services-block-three col-lg-4 col-md-6">
                        <div class="services-block-three">
                            <a href="mice" style="height: 152px;">
                                <div class="padding-15px-bottom">
                                 <img src="{% static 'img/logos/meeting.png' %}">
                                </div>
                                <h4> Meetings, Incentives, Conferences, and Events(MICE).</h4>

                            </a>
                        </div><br>
                    </div>

                </div>

            </div>
        </section>


           <section>
            <div class="container">
                <div class="section-heading">
                    <h3>How we work</h3>
                </div>
            </div>
            <div class="container-fluid no-padding sm-padding-15px-lr">
                <div class="horizontaltab tab-style7">
                    <ul class="resp-tabs-list hor_1">
                        <li>Booking</li>
                        <li>Travel</li>
                        <li>Billing</li>
                      
                    </ul>
                    <div class="resp-tabs-container hor_1 no-padding">
                        <div>

                            <div class="container sm-no-padding">
                                <div class="row">
                                    <div class="col-lg-6 sm-margin-20px-bottom sm-text-center">
                                        <div class="box-shadow-large padding-15px-all">
                                            <img src="{% static 'img/content/content_book.png' %}" alt="" class="sm-width-100" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="padding-30px-left md-padding-20px-left sm-no-padding-left">
                                            <h5>Booking</h5>
                                            <p>Holistic 24x7 booking management solution to meet all your travel needs</p>

                                            <ul class="list-style-16">
                                                <li><span style="font-weight: 700;">OmnichannelBooking -</span> Seamlessly make bookings on CoTrav through the internet, user app or offline through our dedicated relationship managers or email</li>
                                                <li><span style="font-weight: 700;"> Integrated Solutions -</span>All bookings are directly sent to your system through APIintegration with your HRMS system</li>
                                                <li><span style="font-weight: 700;"> Book on-the-go -</span>CoTrav’s booking app can be accessed by users directly to make or revise bookings on the go</li>
                                                
                                            </ul>-

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div>

                            <div class="container sm-no-padding">
                                <div class="row">
                                    <div class="col-lg-6 order-lg-1 order-2">
                                        <div class="padding-30px-right md-padding-20px-right sm-no-padding-right">
                                            <h5>Travel</h5>
                                            <p>Travel hassle-free with our state-of-the-art connected systems</p>

                                            <ul class="list-style-16">
                                                <li><span style="font-weight: 700;"> Trip management – </span> Our Mobile App now enablesusers to access all details on upcoming trips at the click of a button. Booking</li>
                                                <li><span style="font-weight: 700;">Tracking feature  – </span>For us, your safety is above all. Safeguard your employee’s safety using our tracking feature </li>
                                                <li><span style="font-weight: 700;">  24x7 assistance  – </span>Our dedicated relationship managers are always available for your assistance. </li>
                                               
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 order-lg-2 order-1 sm-text-center sm-margin-20px-bottom">
                                        <div class="box-shadow-large padding-15px-all">
                                            <img src="{% static 'img/content/content_travel.png'  %}" alt="" class="sm-width-100" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div>

                            <div class="container sm-no-padding">
                                <div class="row">
                                    <div class="col-lg-6 sm-margin-20px-bottom sm-text-center">
                                        <div class="box-shadow-large padding-15px-all">
                                            <img src="{% static 'img/content/content_billing.png' %}" alt="" class="sm-width-100" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="padding-30px-left md-padding-20px-left sm-no-padding-left">
                                          <h5>Billing</h5>
                                            <p>Be on top of your travel expenses real-time </p>

                                            <ul class="list-style-16">
                                                <li><span style="font-weight: 700;">Customized Reporting – </span> Receive periodiccustomized MIS and Billing Reports as per yourunique policy requirements </li>

                                                <li><span style="font-weight: 700;">Online Workflows  – </span>Skip time-consuming physical verifications and verify all bills using our centralized and transparent online billing process </li>

                                                <li><span style="font-weight: 700;">   Statutorily Compliant  – </span>Our dedicated relationship managers are always available for your assistance.Every bill issued is GST and Tax compliant, ensuring full transparency. </li>
                                               
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div>

                          

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-theme">
            <div class="container">
                <div class="text-center section-heading white">
                    <h3 style="color: black;">CoTrav Benefits </h3>
                     <p class="width-55 sm-width-75 xs-width-95 center-col" style="color: #616161;">One-stop solution provider for end-to-end Corporate Travel Management </p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="feature-block1 line last-paragraph-no-margin">
                            <div class="icon">
                               <img src="{% static 'img/content/icon_1.png' %}" style="margin-bottom: 20px;">
                            </div>
                            <h5 class="title" style="color: #616161;"> Integrated Solutions</h5>
                            <p style="color: #616161; font-weight: 500;">Book online or offline. Integrated travel solutions empower you to manage travel seamlessly.</p>
                        </div>
                    </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="feature-block1 xs-no-margin-bottom last-paragraph-no-margin">
                            <div class="icon">
                                 <img src="{% static 'img/content/icon_2.png' %}" style="margin-bottom: 20px;">
                            </div>
                            <h5 class="title" style="color: #616161;"> Transparent Billing</h5>
                            <p style="color: #616161; font-weight: 500;">No hidden costs or charges. Experience GST-enabled comprehensive billing of all travel expenses together.    </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="feature-block1 line last-paragraph-no-margin">
                            <div class="icon">
                                 <img src="{% static 'img/content/icon_3.png' %}" style="margin-bottom: 20px;">
                            </div>
                            <h5 class="title" style="color: #616161;"> Guaranteed Safety</h5>
                            <p style="color: #616161; font-weight: 500;">Your safety is our priority. We deploy certified cars and work with verified drivers to ensure your safety. </p>
                        </div>
                    </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="feature-block1 xs-no-margin-bottom last-paragraph-no-margin">
                            <div class="icon">
                                  <img src="{% static 'img/content/icon_4.png' %}" style="margin-bottom: 20px;"\
                                  >
                            </div>
                            <h5 class="title" style="color: #616161;">  24*7 Support</h5>
                            <p style="color: #616161; font-weight: 500;">We are available 24*7. Manage all your travel bookings effortlessly, with our dedicated relationship managers. </p>
                        </div>
                    </div>



                </div>
            </div>
        </section>

                <section class="bg-light-gray">
            <div class="container">

                <div class="section-heading">
                    <h3 class="font-weight-600" >Why Cotrav</h3>
                    <p class="width-55 sm-width-75 xs-width-95 center-col">Our flexible processes are customized to align with your travel policies to ensure smooth expense management. But the benefits of partnering with CoTravare numerous does not end there.</p>
                </div>

                <div class="owl-carousel owl-theme testmonial-style5">
                    <div class="row testmonials-style5 sm-text-center">
                        <div class="col-md-12 col-lg-4 sm-margin-15px-bottom">
                            <img alt="image" src="{% static 'img/testmonials/t-4.png' %}">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <div class="data">
                                 <strong class="font_increase"> Wide Network Coverage</strong> <p>Dedicated local teams and relationship managers available 24*7 </p>
                               <a href="#"><span>Read More</span></a>

                            </div>
                        </div>
                    </div>
                    <div class="row testmonials-style5 sm-text-center">
                        <div class="col-md-12 col-lg-4 sm-margin-15px-bottom"><img alt="image" src="{% static 'img/testmonials/t-5.png' %}">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <div class="data">
                                 <strong class="font_increase">  Cost-effective Solutions</strong><p>Best negotiated prices offering access to services at affordable costs</p>
                              <a href="#"><span>Read More</span></a>

                            </div>
                        </div>
                    </div>
                    <div class="row testmonials-style5 sm-text-center">
                        <div class="col-md-12 col-lg-4 sm-margin-15px-bottom">
                            <img alt="image" src="{% static 'img/testmonials/t-6.png' %}">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <div class="data">
                               <strong class="font_increase">  Connected Travel Technology</strong> <p>Real-time MIS and Dashboard to manage all your travel bookings </p>
                            <a href="#"><span>Read More</span></a>

                            </div>
                        </div>

                    </div>

                       <div class="row testmonials-style5 sm-text-center">
                        <div class="col-md-12 col-lg-4 sm-margin-15px-bottom">
                            <img alt="image" src="{% static 'img/testmonials/t-7.png' %}">
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <div class="data">
                               <strong class="font_increase">  Best-in-Class Service</strong>  <p>Unparalleled quality standards to ensure your travels are hassle-free</p>
                            <a href="#"><span>Read More</span></a>

                            </div>
                        </div>
                     </div>

                          
                </div>
            </div>
        </section>

        <!-- end why cotrav section -->

        <!-- start video section -->
        <section class="parallax" data-overlay-dark="6" data-background="{% static 'img/bg/bg1234.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 order-2 order-lg-1 sm-margin-30px-top xs-margin-20px-top">
                        <h4 class="text-white font-size40 line-height-60 sm-font-size36 xs-font-size32 xs-line-height-50 text-right letter-spacing-1 no-margin">
                            <span class="sm-text-center no-margin-bottom sm-width-100 sm-display-inline-block">
                                    Cotrav Corporate Travel Simplified Video
                                    </span>
                                </h4>
                    </div>
                    <div class="col-lg-5 order-1 order-lg-2">
                        <div class="display-table height-100 text-center center-col">
                            <div class="display-table-cell vertical-align-middle story-video">
                                <div class="display-inline-block vertical-align-middle z-index-1 text-left margin-30px-bottom">
                                    <a class="video video_btn" href="{% static 'video/CoTrav_video.mp4' %}"><i class="fas fa-play font-size18 xs-font-size16"></i>
                            </a>
                                </div>
                                <div class="vertical-align-middle display-inline-block margin-ten-left">
                                    <a href="{% static 'video/down-time.mp4' %}" class="text-theme-color border-bottom border-color-light-white">
                                     Video Presentation </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end video section -->
         <!-- start department section -->

        <!-- end department section -->

               <section class="no-padding xs-padding-40px-tb bg-extra-dark-gray">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">

                        <div class="padding-ten-all md-padding-eight-all xs-no-padding">

                            <div class="section-heading title-style5 left white" >
                                <h4 id="sections_title2"> STATS</h4>

                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-12 margin-50px-bottom sm-margin-30px-bottom">
                                    <div class="feature-flex-square last-paragraph-no-margin">
                                        <div class="clearfix">
                                            <div class="feature-flex-square-icon">
                                                 <img src="{% static 'img/content/state_1.png' %}" >
                                            </div>
                                            <div class="feature-flex-square-content">
                                                <h4><a href="javascript:void(0)"  class="text-black">300+ Cities</a></h4>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 margin-50px-bottom sm-margin-30px-bottom">
                                    <div class="feature-flex-square last-paragraph-no-margin">
                                        <div class="clearfix">
                                            <div class="feature-flex-square-icon">
                                                <img src="{% static 'img/content/state_2.png' %}" >
                                            </div>
                                            <div class="feature-flex-square-content">
                                                <h4><a href="javascript:void(0)" class=".text-white">  15000+ Hotel Partnerships</a></h4>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 xs-margin-30px-bottom">
                                    <div class="feature-flex-square last-paragraph-no-margin">
                                        <div class="clearfix">
                                            <div class="feature-flex-square-icon">
                                               <img src="{% static 'img/content/state_3.png' %}" >
                                            </div>
                                            <div class="feature-flex-square-content">
                                                <h4><a href="javascript:void(0)" class=".text-white"> 30000+ Cab tie-ups</a></h4>
                                             
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="feature-flex-square last-paragraph-no-margin">
                                        <div class="clearfix">
                                            <div class="feature-flex-square-icon">
                                              <img src="{% static 'img/content/state_4.png' %}" >
                                            </div>
                                            <div class="feature-flex-square-content">
                                                <h4><a href="javascript:void(0)" class=".text-white">  100000+ Travels Requests Fulfilled</a></h4>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 no-padding-right sm-display-none">

                        <div class="position-relative height-100 cover-background bg-img" data-overlay-dark="0" data-background="{% static 'img/interior/feature-04.gif' %}"></div>

                    </div>

                </div>
            </div>

        </section>




{% endblock %}
