
   
{% extends 'main_base.html' %}

{% block content %}

{% load static %}
      
      

        <section>
            <div class="container">

                <!-- Start Product Section -->
                <div class="row margin-90px-bottom md-margin-70px-bottom sm-margin-50px-bottom">
                    <div class="col-lg-5 sm-text-center sm-margin-30px-bottom">

                        <!-- product left start -->
                        <div >
                            <img class=" margin-30px-bottom" id="xzoom-magnific" src="{% static 'img/shop/preview/02_product.jpg' %}"  />
                          
                        </div>
                        <!-- product left end -->

                    </div>
                    <div class="col-lg-7 padding-40px-left sm-padding-15px-lr">
                        <div class="product-detail">
                            <h3 class="margin-8px-bottom">Hotel Bookings </h3>
                            <div class="bg-theme separator-line-horrizontal-full margin-20px-bottom"></div>
                         
                            <p>Your home away from home with a wide array of options to suit every budget – Economy, Mid-Segment, and Premium. Our 30000+  hotel partnerships across India ensure that you have access to the best prices, whether it is budget-friendly hotels with Oyo or Treebo or with 5-star hotel properties. We also offer service apartments and leased guest house options for clients who do not want a homelier experience for their travels. </p>

                      </div>
                    </div>
                </div>
                <!-- End Product Section -->

                <!-- Start Product Description -->
                <div class="row" style="position: relative;bottom: 75px;">
                 <h3 class="margin-8px-bottom" style="    position: relative;left: 46%;font-size: 25px;">Why CoTrav</h3>
                    <div class="col-12">
                        <div class="horizontaltab tab-style5">
                            <ul class="resp-tabs-list hor_1 text-left">
                                <li>   Competitive Pricing</li>
                                  <li>    24x7 Support</li>
                                    <li>  Customized Plans</li>
                                      <li>    GST Compliance</li>
                               

                            </ul>
                            <div class="resp-tabs-container hor_1">
                                <div>
                                    <p>CoTrav’s pre-negotiated rates ensure you get the best possible pricing across segments </p>
                                   

                                </div>
                                <div>
                                    <p>We have a dedicated customer support team available at all times toassist yourteams with 24*7 hotel check-ins and check-outs. </p>
                                

                                </div>
                                <div>
                                    <p>You could also customize hotel bookings to include dinner + breakfast plans to offer a complete experience to your teams. </p>
                                  

                                </div>
                                <div>
                                    <p>Being a GST registered vendor across multiple states, we provide hotel booking bills with detailed reports to claim GST input benefits. </p>
                                    
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Product Description -->

            

            </div>
        </section>

     {% endblock %}