<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <p>We will be glad to work with your esteem organisation. we have taken your sign up query.

            One of the TaxiVaxi Corporate team person will contact you within the next 24 hours and take things forward.
            
    </br>
</br>   
            
            Regards,
 </br>       
            TaxVaxi Corporate</p>
    
</body>
</html>