

   
{% extends 'main_base.html' %}

{% block content %}

{% load static %}
      
      

        <section>
            <div class="container">

                <!-- Start Product Section -->
                <div class="row margin-90px-bottom md-margin-70px-bottom sm-margin-50px-bottom">
                    <div class="col-lg-5 sm-text-center sm-margin-30px-bottom">

                        <!-- product left start -->
                        <div >
                            <img class=" margin-30px-bottom" id="xzoom-magnific" src="{% static 'img/shop/preview/03_product.jpg' %}"  />
                          
                        </div>
                        <!-- product left end -->

                    </div>
                    <div class="col-lg-7 padding-40px-left sm-padding-15px-lr">
                        <div class="product-detail">
                            <h3 class="margin-8px-bottom">Ticketing  </h3>
                            <div class="bg-theme separator-line-horrizontal-full margin-20px-bottom"></div>
                            <p>1.     Flight Ticketing <br>2.     Train Ticketing <br>3.     Bus Ticketing </p>
                            <p>Your home away from home with a wide array of options to suit every budget – Economy, Mid-Segment, and Premium. Our 30000+  hotel partnerships across India ensure that you have access to the best prices, whether it is budget-friendly hotels with Oyo or Treebo or with 5-star hotel properties. We also offer service apartments and leased guest house options for clients who do not want a homelier experience for their travels. </p>

                      </div>
                    </div>
                </div>
                <!-- End Product Section -->

                <!-- Start Product Description -->
                <div class="row" style="position: relative;bottom: 75px;">
                 <h3 class="margin-8px-bottom" style="    position: relative;left: 46%;font-size: 25px;">Why CoTrav</h3>
                    <div class="col-12">
                        <div class="horizontaltab tab-style5">
                            <ul class="resp-tabs-list hor_1 text-left">
                                <li>      Competitive Pricing and Corporate Offers</li>
                                  <li>     Low Cancellation Charges</li>
                                    <li>   GST Benefits</li>
                                      <li>     Single Interface User App</li>
                               

                            </ul>
                            <div class="resp-tabs-container hor_1">
                                <div>
                                    <p>Access the best price for flight, train, or bus ticketswith CoTrav’s bulk negotiated prices across sectors.</p>
                                   

                                </div>
                                <div>
                                    <p>Reschedule or cancel your booking depending on changing travel plans with minimal cancellation charges through CoTrav. </p>
                                

                                </div>
                                <div>
                                    <p>Easily avail input credit for all your ticketing expenses with our MIS reports detailing GST components for your convenience. </p>
                                  

                                </div>
                                <div>
                                    <p>Users can find all boarding passes, ticket information for all their upcoming travel plans with our one-stop User App.  </p>
                                    
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Product Description -->

            

            </div>
        </section>

 {% endblock %}