

   
{% extends 'main_base.html' %}

{% block content %}

{% load static %}
      
      

        <section>
            <div class="container">

                <!-- Start Product Section -->
                <div class="row margin-90px-bottom md-margin-70px-bottom sm-margin-50px-bottom">
                    <div class="col-lg-5 sm-text-center sm-margin-30px-bottom">

                        <!-- product left start -->
                        <div >
                            <img class=" margin-30px-bottom" id="xzoom-magnific" src="{% static 'img/shop/preview/05_product.jpg' %}"  />
                          
                        </div>
                        <!-- product left end -->

                    </div>
                    <div class="col-lg-7 padding-40px-left sm-padding-15px-lr">
                        <div class="product-detail">
                            <h3 class="margin-8px-bottom">Travel Reimbursement  </h3>
                            <div class="bg-theme separator-line-horrizontal-full margin-20px-bottom"></div>
                            <p>No more tedious paperwork or manual efforts with Cotrav’s automated travel reimbursement solutions. Go error-free andsave time and effort of your employees as you gain more control and visibility on your team’s travel expenses.Streamline business travel expense processing and tracking with our connected solutions.
 </p>

                      </div>
                    </div>
                </div>
                <!-- End Product Section -->

                <!-- Start Product Description -->
                <div class="row" style="position: relative;bottom: 75px;">
                 <h3 class="margin-8px-bottom" style="    position: relative;left: 46%;font-size: 25px;">Why CoTrav</h3>
                    <div class="col-12">
                        <div class="horizontaltab tab-style5">
                            <ul class="resp-tabs-list hor_1 text-left">
                                <li>    EnhancedProductivity</li>
                                  <li>    Customized Approval Matrix</li>
                                    <li>  On-time Payment</li>
                                      <li>      Improved Accuracy</li>
                               

                            </ul>
                            <div class="resp-tabs-container hor_1">
                                <div>
                                    <p> Minimize employee efforts and empower them to submit expense reports on-the-go. Instead, they can focus more on their core commercial activities.  </p>
                                   

                                </div>
                                <div>
                                    <p>Tweak approval workflows to match your internal policies and manage exceptions at ease. </p>
                                

                                </div>
                                <div>
                                    <p>Enhance the turnaround time of your reimbursement processes with our automated checks and balances and payback your employees on-time. </p>
                                  

                                </div>
                                <div>
                                    <p> There is no chance of miscalculations since every expense submitted is automatically processed with zero manual intervention, making it error-free.   </p>
                                    
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Product Description -->

            

            </div>
        </section>

       {% endblock %}