
   
{% extends 'main_base.html' %}

{% block content %}

{% load static %}
      
   

      

        <section>
            <div class="container">

                <!-- Start Product Section -->
                <div class="row margin-90px-bottom md-margin-70px-bottom sm-margin-50px-bottom">
                    <div class="col-lg-5 sm-text-center sm-margin-30px-bottom">

                        <!-- product left start -->
                        <div >
                            <img class=" margin-30px-bottom" id="xzoom-magnific" src="{% static 'img/shop/preview/04_product.jpg' %}"  />
                          
                        </div>
                        <!-- product left end -->

                    </div>
                    <div class="col-lg-7 padding-40px-left sm-padding-15px-lr">
                        <div class="product-detail">
                            <h3 class="margin-8px-bottom">Visa Services  </h3>
                            <div class="bg-theme separator-line-horrizontal-full margin-20px-bottom"></div>
                            <p>Our services extend beyond just booking your flights or accommodation. Travel carefree with Cotrav’s visa services. 
Every country has different requirements, fees, and processing time for Indian Residents travelling abroad. We provideupdated information on visa norms and specifications for each country and also assist you through the entire process from documentation till approval.
 </p>

                      </div>
                    </div>
                </div>
                <!-- End Product Section -->

                <!-- Start Product Description -->
                <div class="row" style="position: relative;bottom: 75px;">
                 <h3 class="margin-8px-bottom" style="    position: relative;left: 46%;font-size: 25px;">Why CoTrav</h3>
                    <div class="col-12">
                        <div class="horizontaltab tab-style5">
                            <ul class="resp-tabs-list hor_1 text-left">
                                <li>     Passport assistance</li>
                                  <li>     Comprehensive Visa Services</li>
                                    <li>   Data Confidentiality</li>
                                      <li>     Competitive pricing</li>
                               

                            </ul>
                            <div class="resp-tabs-container hor_1">
                                <div>
                                    <p> If you are not a passport holder (or you want to renew it), you can count on us to simplify the process for you. </p>
                                   

                                </div>
                                <div>
                                    <p>Whether it is a first-time visa, renewal visa, or replacement visas in case of theft, our teams promptly service them all. </p>
                                

                                </div>
                                <div>
                                    <p>We prioritize your privacy. All personal information remains protected and shall not be misused. </p>
                                  

                                </div>
                                <div>
                                    <p> Access our visa services offered by our dedicated team of experts at cost-effective prices.   </p>
                                    
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Product Description -->

            

            </div>
        </section>

        {% endblock %}