{% extends 'Agent/layout/header.html' %}

{% block content %}

{% if user %}
<!-- start page content -->
                               <!-- The Modal -->
                               <div class="modal fade model_custom_style" role="dialog" id="lead_details">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                            
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4  class="modal-title-status">Lead Details </h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                        
                                           
                                            <div id="div1">
                            
                            
                                            </div>
                            
                                                            
                                       
                                        </div>
                            
                                    </div>
                                </div>
                            </div>
                            
                            
<!-- The Modal -->

<!-- The Modal -->
<div class="modal fade model_custom_style" role="dialog" id="model_add_new_group">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 id="delete_label" class="modal-title-status">Assign Lead To Agent </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <form action="/agents/lead-assigned" method="post" enctype="multipart/form-data" id="form_id">
                <input type="hidden" name="lead_id" id="group_id">
                <input type="hidden" name="ag_name" id="ag_name">
                <input type="hidden" name="agent_email" id="agent_email">
                <input type="hidden" name="contact_no" id="contact_no">
                <input type="hidden" name="Contact_Name" id="Contact_Name">
                <input type="hidden" name="Company_Name" id="Company_Name">
                <input type="hidden" name="Contact_Number" id="Contact_Number">
                <input type="hidden" name="Contact_Email" id="Contact_Email">
                 <div class="form-group row" id="corporate_id1">
                        <label class="col-sm-5 control-label">Agent Name</label>
                        <div class="col-sm-7">

                            <select class="form-control myselect" name="agent_id" id="corporate_name" style="width:100%;" required>
                                <option value="">Select Agent</option>
                               {% for agent in agents %}
                                <option value="{{agent.id}}" ag_name="{{agent.user_name}}" email="{{agent.email}}" contact_no="{{agent.contact_no}}">{{agent.user_name}} ({{agent.emp_id}})</option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button id="delete_btn" type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
            </div>

        </div>
    </div>
</div>

<div class="page-content-wrapper">
        <div class="page-content">

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-topline-aqua">
                        <div class="card-head">
                            <header>Leads</header>
                               <div class="row p-b-20">
                                <div class="col-md-6 col-sm-6 col-6">
                                    <div class="btn-group">
                                         <a class="btn btn-info" href="/agents/lead-create" > Create New Lead <i class="fa fa-plus"></i> </a>
                                    </div>
                                </div>
                            </div>


                            <div class="tools">
                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body ">

{% include 'cotrav_alert_message.html' %}

         <div class="text-center">
         <div style="font-size:14px; font-weight:bold;">
             All Leads
             </div>
    </div>

                          <div class="table-scrollable table-bordered">
                        {% if leads  %}      
                            <table id="example1" class="display full-width table-striped">
                                <thead>
                                    <tr>
<!--                                        <th>ID</th>-->
                                        <th>Customer Name</th>
                                        <th>Company Name</th>
                                        <th>Contact Number</th>
                                        <th>Email</th>
                                        <th>Location</th>
                                        <th>Assigned Sales Person </th>
                                        <th>Status</th>
                                        <th>Assign/Reassign</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                {% for lead in leads  %}
                                    <tr>
<!--                                        <td>{{ lead.id }}</td>-->
                                        <td>{{ lead.Contact_Name }}</td>
                                        <td>{{ lead.Company_Name }}</td>
                                        <td>{{ lead.Contact_Number }}</td>
                                        <td>{{ lead.Contact_Email }}</td>
                                        <td>{{ lead.Company_Location }}</td>
                                        <td>{{ lead.user_name|default:'Not Assigned' }}</td>
                                        <td>{{ lead.Status|default:'Lead Created' }}</td>


                                        <td> <a class="btn btn-tbl-edit btn-xs" data-target="#model_add_new_group" title="Assign Agent"
                                           data-id="{{lead.id}}" data-cmp="{{lead.Company_Name}}" data-cmpname="{{lead.Contact_Name}}"
                                             data-cmpno="{{lead.Contact_Number}}" data-cmpmail="{{lead.Contact_Email}}"   data-toggle="modal" href="#">
                                            <i class="fa fa-check " title="Assign Agent"></i>
                                        </a></td>


                                        <td style="display: inline-flex;">




                                <a href="/agents/lead-update/{{lead.id}}" class="btn btn-tbl-edit btn-xs lead-update" data-id={{lead.id}} >

                                
                                    <i class="fa fa-pencil" title="edit-lead"></i>
                                </a>

                                <a href="/agents/lead-delete/{{lead.id}}" class="btn btn-tbl-delete btn-xs lead-delete" data-id={{lead.id}} >
                                        <i class="fa fa-trash-o " title="delete-lead"></i>
                                </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                    </tbody>
                                </table>

 

                                {% else %}
          <p>There are no Leads in the library.</p>
        {% endif %} 


                              </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end page content -->

{% else %}
    <p>Welcome, new user. Please log in.<a href="/login">Login</a> </p>
{% endif %}
    

<script>
        $(document).ready(function(){
         
          $("a.lead-detail").click(function(){
            var lead_id = $(this).data("id");
          $("#div1").load("/agents/lead-detail/"+lead_id);

        });


        });
</script>
<script type="text/javascript">
$(function() {

  $('#model_add_new_group').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var id = button.data('id'); // Extract info from data-* attributes
    var Company_Name = button.data('cmp');
    var Contact_Name = button.data('cmpname');
    var Contact_Number = button.data('cmpno');
    var Contact_Email = button.data('cmpmail');

    var modal = $(this);
    modal.find('#group_id').val(id);
    modal.find('#Company_Name').val(Company_Name);
    modal.find('#Contact_Name').val(Contact_Name);
    modal.find('#Contact_Number').val(Contact_Number);
    modal.find('#Contact_Email').val(Contact_Email);

    });





});

$("#corporate_name").change(function()
    {
        var ag_name = $(this).find("option:selected").attr("ag_name");
        var asas = $(this).find("option:selected").attr("email");
        var contact_no = $(this).find("option:selected").attr("contact_no");
         $('#agent_email').val(asas);
         $('#contact_no').val(contact_no);
         $('#ag_name').val(ag_name);
    });

</script>

{% endblock %}

